[2018-02-14 16:04] mdouchin commented on #260
You should change the `#header` background not the `#logo`

[2018-02-15 09:43] josemvm commented on #741
hi @rmarzocchi84

for the tile cache you can set a common `Cache root directory` for all your repositories, in my account, lizmap configuration, services

lizmap stores temporarily data as you can see here: https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/clean_vartmp.sh

in this issue i'm talking about `uploads` folder

[2018-02-15 09:55] josemvm commented on #776
hi @morvan80

as a workarround, i.e.,  you can create a group named `Elettori totali` above your `Elettori totali` layer in your qgis project

[2018-02-16 11:38] rmarzocchi84 commented on #741
Ok. But I do not understand how set the `Cache root directory`

[2018-02-16 12:05] josemvm commented on #741
Lizmap configuration
Generic
Services
![imagem](https://user-images.githubusercontent.com/10053874/36306898-a075432a-1311-11e8-8036-164b320ea98e.png)

[2018-02-19 09:48] mfangain opened #777 "Filter doesn't work with Internet Explorer"
Nothing happens after clicking on filter button.
It works properly with Google Chrome and Mozilla Firefox.

It seems that a change occurred between 30 January (it was ok at this date) and 8 February.

Thanks.

[2018-02-19 10:37] rldhont commented on #777
Which IE version is affected ?
Can you provide, some IE error messages ?

[2018-02-19 13:58] mfangain commented on #777
Here is the error with IE11 :

![image](https://user-images.githubusercontent.com/32867483/36381218-341ef1f0-1585-11e8-95f1-2cec2f2642d7.png)

[2018-02-21 15:24] jqt-ing opened #780 "ldap authentification"
Hi,

I have en issue with the ldap module for LIZMAP. I have read [lizmap documentation](https://docs.3liz.com/en/install/linux.html#ldap-authentication)

I have download with the module, and copy the directory "ldapdao" in the path "/var/www/lizmap-web-client-3.1.6/lizmap/lizmap-modules/".

I followed the instructions:

But when I run `Run php lizmap/install/installer.php`, I have the error:

wha

[2018-02-22 12:37] zoidable opened #781 "seeding script: tilematrixset not found"
hi there,

since updating to 3.1.8, apparently the cache is gone and in the seeding script, i get the following error message:

the var/log/error.log states:

cheers,
tobias

[2018-02-23 11:23] rldhont commented on #781
what is the result of the command:
[code]

[2018-02-23 11:28] rldhont commented on #780
It's an error in the Documentation.

The step

has to be done after the `php lizmap/install/installer.php`

Remove
[code]

And launch `php lizmap/install/installer.php`

[2018-02-23 11:31] rldhont commented on #776
@morvan80 is it an issue in the legendGraphics ?

[2018-02-23 11:33] rldhont commented on #775
@jlstanus we have tested QGS 3 with LWC, it is not full featured with QGIS 3 but it is usable.

[2018-02-23 11:35] rldhont commented on #772
The left dock has a width depending on the content with a max-width to 30% of the screen.

In your example the ledtf dock is empty, so the width is equal to the dock title width.

[2018-02-23 11:37] rldhont commented on #772
The GetFeatureInfo seems to do not responds. Which LWC version do you use ?
Can you take a look at the dev console to see the GetFeatureInfo request and take a look at the QGIS Server log ?

[2018-02-23 11:39] rldhont commented on #771
It is not possible.

Do you want to support this feature's dev ?

[2018-02-23 11:45] rldhont commented on #761
AN issue has been opened in the plugin

[2018-02-23 11:45] #761 closed

[2018-02-23 11:47] josemvm commented on #780
the documentation has been updated in github
https://github.com/3liz/lizmap-documentation/blob/master/source/install/linux.rst#ldap-authentication

it needs to be uploaded to the documentation page

[2018-02-23 11:47] rldhont commented on #760
No special step, jsut be sure to have all packages installed, and for your issuer, be sure the directory `temp/lizmap` in the lizmap-web-client has to be writable by the web group and the user used to install lizmap.

[2018-02-23 11:47] #760 closed

[2018-02-23 11:48] rldhont commented on #757
@news24lor The issue is due to the way qgis server is packaged. If you can build your own qgis server it's ok.

[2018-02-23 11:48] #757 closed

[2018-02-23 11:51] rldhont commented on #738
What do you want exactly ?

[2018-02-23 11:52] rldhont commented on #736
QGIS Server needs to be fixed!

[2018-02-23 11:58] josemvm commented on #738
if i well understood https://github.com/3liz/lizmap-web-client/commit/636e4baa113099b3e7c22be888d844e796683efc, lizmap should also send notifications about these events:
 `[item:login]`, `[item:viewmap]`, `[item:print]` and `[item:popup]`

[2018-02-23 11:58] quelo1972 commented on #772
**@rldhont**

Now I've installed the master but I tried also the 3.1.6

How can I do this?

[2018-02-23 12:00] zoidable commented on #781
the capabilities are working as they should, e.g. in this case:

[2018-02-24 14:58] #781 closed

[2018-02-24 15:01] rldhont commented on #772
with Firefox `Ctrl+Maj+k`

[2018-02-24 15:03] rldhont commented on #754
@josemvm do you have an url to test it ?

[2018-02-24 15:06] rldhont commented on #753
@gioman it's a limitation because the QGIS Project does not provide the available CRSes of the WMS.

To enhance LM we have to enhance the plugin to provide the available CRSes.

[2018-02-24 15:10] rldhont commented on #750
@gioman do you think something has been fixed in QGIS ?

[2018-02-24 15:29] #749 closed

[2018-02-24 15:34] rldhont commented on #741
@josemvm Lizmap Checks if the `Cache root directory` exists, is directory and is writable.
If not the system temporary directory is used.

[code]

[2018-02-24 15:47] gioman commented on #753
@rldhont got it. Do you want me to add a note on docs in the meantime?

[2018-02-24 15:57] gioman commented on #750
@rldhont Hi René-Luc, thanks for the answer. This is not solved at all. The whole story is in the original description of this ticket, and as far as I know in QGIS 3 is still valid. Bringing back the "none" value for the "map" option for a legend item seems to me very important, not also because of its clear general utility (otherwise there is mo way to print a *fixed* legend with a QGIS Server Ge

[2018-02-26 08:28] rldhont commented on #753
@gioman docs enhancements are welcome!

[2018-02-26 08:35] rldhont commented on #715
@aeduard do you updated lwc and tested the issue ?

[2018-02-26 11:48] josemvm commented on #754
hi @rldhont

I built new test projects and the result was different... for now, i close this issue
thanks

[2018-02-26 11:48] #754 closed

[2018-02-26 11:53] josemvm commented on #741
i think there should be some warning if the directory is not writable or it doesn´t exist because when the cache expires or is cleared the information is lost...

[2018-02-26 17:50] gioman commented on #753
@rldhont I cannot find any reference to "Get Images directly from WMS Server" in the master docs, can you confirm?

[2018-02-27 07:43] quelo1972 commented on #772
**@rldhont**
Ok when I click on an element in the map, in the console tab network response I have:

[code]
But **nothing** in the popup.

[2018-02-27 09:20] rmarzocchi84 commented on #756
Sorry. The montpellier project have some problem. Actually I have update php5.6 to php 7.0 and lizmap 3.15 to 3.16 and the montpellier project works fine. Anyway the spatialite editing do not works.

In apache I see the following error:
`*** Error in `/usr/sbin/apache2': munmap_chunk(): invalid pointer: 0x000056092a269755 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0

[2018-02-27 10:43] rldhont commented on #701
@josemvm fixed by @SenequeC with 96c2df7fde4d67cdcb4b5aa614ce91f4235c32ed

[2018-02-27 10:43] #701 closed

[2018-02-27 12:37] rmarzocchi84 opened #783 "Locate by layer very slow and do not works with PostGIS and spatialite"
I recently do an update of my server from QGIS-Server 2.14 to 2.18 and php5.5 to php 7.0
Now the locate by layer function is very slow if I have a large number of entity (e.g. 25'000)
Using a postgis layer apache2 crash

How can I do it more quickly?

With old qgis server and php 5.6 it is slow but it works.

[2018-02-27 13:49] rmarzocchi84 commented on #783
Moreover I see the following strange behaviour.  sing spatialite or postgis the output of the WFS GetFeature request do not contain the id, while using an ESRI shapefile it contain the id

POSTGIS REQUEST
https://www.gishosting.gter.it/lizmap-web-client/lizmap/www/index.php/lizmap/service/?repository=dorota&project=mappa_incidenti&SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFeature&TYPENAME=municipo&OUTP

[2018-02-27 13:57] rmarzocchi84 commented on #559
Perhaps is the same problem of my issue #783 ?

[2018-02-27 14:41] jlstanus commented on #559
I m very sorry but i don't remrmber how i solved the problem.
@rmarzocchi84  Do you use docker?  Maybe you have to restart the container with your DB and with LWC.

[2018-02-27 15:23] josemvm commented on #701
the new icon doesn't appear here...

[2018-02-27 15:24] aeduard commented on #715
No, I didn't update the client, the bug is still there. So far is not so important to make the update.

[2018-02-27 16:29] gioman commented on #783
@rmarzocchi84 see https://issues.qgis.org/issues/18249#note-1

[2018-02-27 16:32] gioman commented on #783
@rmarzocchi84 cannot confirm here, see https://issues.qgis.org/issues/18247#note-9

[2018-02-27 17:34] rmarzocchi84 commented on #783
So It seem a problem of qgis serverEng. Roberto MarzocchiGter srlSent by my Android phoneIl 27 feb 2018 17:30, Giovanni Manghi <notifications@github.com> ha scritto:
Now the locate by layer function is very slow if I have a large number of entity (e.g. 25'000)

@rmarzocchi84 see https://issues.qgis.org/issues/18249#note-1

—You are receiving this because you were mentioned.Reply to this email dire

[2018-02-28 10:10] josemvm commented on #714
hi @rldhont
could you help me here, please?

[2018-02-28 11:39] #752 closed

[2018-02-28 11:57] gioman commented on #752
@rldhont thanks!

[2018-02-28 13:11] rldhont commented on #382
Fixed by 70c6ff0

[2018-02-28 13:11] #382 closed

[2018-03-01 11:04] josemvm commented on #593
hi @rldhont @mdouchin
if you want i can provide an url to check the problem

[2018-03-02 14:51] #700 closed

[2018-03-02 14:54] #163 closed

[2018-03-02 14:57] rldhont commented on #163
Enhancement has been merged. For those who make tests, installer.php has to be launch.

[2018-03-02 14:58] rldhont commented on #619
Does #774 fixed this issue ?

[2018-03-02 15:10] rldhont commented on #741
@josemvm In the config controller, lizmap verifiying the directory and an error.
[code]
Do you need some texts in the log ?

[2018-03-02 15:15] josemvm commented on #741
hi @rldhont

i think that lizmap should not cache data if the directory doesn't exist or it's not writeable, and in this case it should inform the user with an warning message...

[2018-03-02 15:23] rldhont commented on #741
Lizmap can't warn the user for each tiled not cached! It's an information the lizmap admins.

I'd like to have other advice on this point:
* Does lizmap has to cache in the temp directory if the configured directory is not writable ?

@mdouchin @gioman @jonnyforestGIS @pcav what is your opinion ?

[2018-03-02 15:26] rldhont commented on #702
@mbernasocchi has you test and fix this issue ?

[2018-03-02 15:43] rldhont commented on #671
@lionelbargeot I don't want that JS client get the password. It will be better to use lizmap as a proxy without QGIS Server.

[2018-03-02 15:50] jonnyforestGIS commented on #741
Hi @rldhont ,

i think the warning's only need to be in the admin side. This is a kind of issue that lizmap admin need to deal not the user.

Why you need to save in the temp folder? When you as admin know where is the folders and you can redirect the cache? I missing something?

Do you have an example to specific the need of this procedure?

Cheers,
João

[2018-03-02 15:59] josemvm commented on #741
hi

i'm just talking about lizmap edition and multimedia files caching, so i think this case should be treated as a particular way

[2018-03-02 16:07] mfangain opened #785 "Print composer : issue by using some settings"
- Map Item is empty if I fix the extent in print composer :

![image](https://user-images.githubusercontent.com/32867483/36907320-aa901b32-1e38-11e8-878e-ccbeb7556827.png)

- Follow visibility preset is not included

- Fix scale is not included

![image](https://user-images.githubusercontent.com/32867483/36908650-211538f2-1e3c-11e8-9ef1-63a8ff9d5b3a.png)

Thanks.

[2018-03-02 16:10] rldhont commented on #741
It's not the cache directory but the media directory of the layer in which files are stored. I have updated the title

[2018-03-02 16:12] robibrazze opened #786 "map extent"
I setting in box initial map extent "set from project properties"
but in the webmap it is possible move the background' map
out of the setting.
I tried setting "set from map canvas" but it is the same.

Tanks

[2018-03-02 16:12] rldhont commented on #785
Firstly it has to be test directly with QGIS Server. Then, we have to enhance Lizmap to be aware of this configuration.

[2018-03-02 16:13] rldhont commented on #786
Can you provide some URL and configuration ?
Thanks

[2018-03-02 16:25] robibrazze commented on #786
http://94.130.187.94/webgis/index.php/view/map/?repository=repo1&project=fontanili1

[2018-03-02 16:25] #644 closed

[2018-03-02 16:25] #702 closed

[2018-03-02 16:29] mfangain opened #787 "Attribute table panel is reduced too quick"
Is it possible to wait a few seconds (between 2 and 5?) before reducing attribute table panel?

It often surprises users during their first step with lizmap.

Thanks.

[2018-03-02 16:36] rldhont commented on #786
I invite you to define a larger max scale. You defined the max scale to 70000, but this scale is to small to covering the extent you defined.

[2018-03-02 16:41] pcav commented on #741
Saving in user data `temp` seems risky to me - or am I missing something?

[2018-03-02 16:43] mfangain opened #788 "Allow to order projects"
I know that the projects order is based on the repositories id. But this one is automatically generated when creating a new repository, and it depends on WHEN we need it.

It would be useful to choose the order of display in website.

Thanks.

[2018-03-02 16:51] robibrazze opened #789 "feature reques selection popup"
is possible change the highlight of the selection popup
(in case of geometri point)
![selection](https://user-images.githubusercontent.com/28442671/36910212-61c92db4-1e40-11e8-86cf-4394aff06502.JPG)
Because if i have more point nearest i don't  understand which one I have selected.
is possible highlight only icon of the popup selection?
Another solution could be change the pointer arrow in little

[2018-03-02 17:04] robibrazze commented on #786
Ok, now the max scale is 100000, but  I would like the map to be blocked at the viewing limits
http://94.130.187.94/webgis/index.php/view/map/?repository=repo1&project=fontanili1

[2018-03-03 11:53] josemvm commented on #789
hi @robibrazze

this feature was recently implemented, as you can see here https://github.com/3liz/lizmap-web-client/commit/d7e5022e2dd8143e12edafdc14152e10a8a551d1

[2018-03-03 12:17] josemvm opened #790 "popup - remove the highlight feature when closing & increase the radius of the highlighted point"
- when the user closes the popup, the highlighted features remains on the map

-  increase the radius of the highlighted point, if possible. the symbol becomes imperceptible with current radius:

![imagem](https://user-images.githubusercontent.com/10053874/36934120-37fa05b6-1edc-11e8-90c1-07e2e300d59c.png)   ![imagem](https://user-images.githubusercontent.com/10053874/36934124-57a64050-1edc-11e8-9

[2018-03-03 12:29] josemvm commented on #790
after closing the popup, the popup icon should be hidden ![imagem](https://user-images.githubusercontent.com/10053874/36934211-291470de-1ede-11e8-9e91-f79d6d6beb44.png)

[2018-03-03 14:12] rldhont commented on #789
Is it the same as feature request: highlight on info #684 ?

[2018-03-03 14:26] rldhont commented on #772
It seems that Lizmap does not transform the XML to HTML.

Can you take a look at the logs `lizmap/var/log/error.log` ?

[2018-03-03 14:32] josemvm commented on #714
@rldhont can you take a look?

[2018-03-03 15:39] #787 closed

[2018-03-03 15:41] rldhont commented on #741
@pcav I have missed understood the issue.

[2018-03-03 16:20] quelo1972 opened #791 "Error 500 version 3.1.8"
Hi,
I've installed the versione 3.1.8 but when I go to the main web page i have
`Error 500. A technical error has occured. Sorry for this trouble.`
in the error.log I have
`2018-03-03 17:19:27     192.168.23.171  error   2018-03-03 17:19:27     [18]    Unknown module in the selector "view~default:index@classic"        /opt/www/lizmap-web-client-3.1.8/lib/jelix/core/selector/jSelectorActFast.class.

[2018-03-03 16:23] quelo1972 commented on #791
I've configured LWC to authenticate with Active Directory and to use Postgresql for the project and logging as the previous 3.1.6 successfully configured.

[2018-03-03 19:44] josemvm opened #792 "lwc - fresh install (master branch) - not working"
error during installation:

browser error:

Sorry, the requested page doesn't exist
Page generated by Jelix.

[2018-03-03 22:13] rldhont commented on #791
do you do `php limzap/install/installer.php` ?

[2018-03-03 22:15] rldhont commented on #792
The lizmap installation not welle finished so Lizmap is not installed and available.

[2018-03-04 09:27] #571 closed

[2018-03-04 09:27] #741 closed

[2018-03-06 08:36] quelo1972 opened #793 "Service non disponible?!?"
I have installed LWC 3.1.8 (basic configuration as the installation manual) but when I click on the demo project it not work, see the attached screenshot:
![cattura](https://user-images.githubusercontent.com/28729838/37021969-bb857bee-2121-11e8-9b75-8e516a7c3233.PNG)

[2018-03-06 08:48] quelo1972 commented on #793
qgis-server is installed...
`root@SRVLNXWINTRA01:~# dpkg -l | grep qgis-server
ii  libqgis-server3.0.0                   1:3.0.0+24xenial-ubuntugis                               amd64        QGIS - shared server library
ii  qgis-server                           1:3.0.0+24xenial-ubuntugis                               amd64        QGIS server providing various OGC services`
what should i check?

[2018-03-06 08:52] opbernardo opened #794 "Add a fonction in lizmap-web-client: export layer in *.KML"
Hi,
Is it possible to export a layer to *.kml, in lizmap-web-client?
Thank you.
Orlando

[2018-03-06 09:10] quelo1972 commented on #793
Ho un sospetto... siccome ho installato qgis-server python-qgis from launchpad adding in sources.list the following line

[code]

ho visto che dopo un aggiornamento si è passati alla versione 3.0 the problem can be this?

[2018-03-06 09:52] quelo1972 commented on #793
I suspect ... as I installed qgis-server python-qgis from launchpad adding in sources.list the following line
[code]
I saw that after an update has been passed to version 3.0, that this is the problem?

[2018-03-06 10:23] gioman commented on #793
@quelo1972
have you replaced the path in

http://yourip/cgi-bin/qgis_mapserv.fcgi?map=/path/to/project.qgs&service=WMS&request=GetCapabilities

with a real patch pointing to a qgis project file?

should work I guess, but I won't suggest using qgis 3 until it will become a ltr.

[2018-03-06 10:27] quelo1972 commented on #793
have you replaced the path in
http://yourip/cgi-bin/qgis_mapserv.fcgi?map=/path/to/project.qgs&service=WMS&request=GetCapabilities
with a real patch pointing to a qgis project file?

Yes

How can I downgrade to the LTR 2.18 in ubuntu 16.04 LTS release? I do not see it among the available packages.

[2018-03-06 10:29] gioman commented on #793
@quelo1972 remove all installed qgis packages, use

deb https://qgis.org/ubuntugis-ltr xenial main

[2018-03-06 10:36] quelo1972 commented on #793
@gioman
Done! now it works!

We found out that lizmap does not work with qgis-server 3.0! :)

[2018-03-06 16:38] quelo1972 opened #795 "spatialite warning"
The editing on spatialite layers seems to work but in error.log I have this warning can you tell me if it's a problem and then how to fix it?

`2018-03-06 17:26:58     192.168.23.171  warning 2018-03-06 17:26:58     [2]     SQLite3::loadExtension(): /var/www/sqlite3_ext/libspatialite.so: undefined symbol: sqlite3_spatialite_init     /opt/www/lizmap-web-client-3.1.8/lib/jelix/plugins/db/sqlite3/sql

[2018-03-06 16:48] rldhont commented on #795
It's just a warning, because spatialite can be provide as `libspatialite.so` or `mod_spatialite.so`, lizmap tests the two files and warn for the one not available.

[2018-03-06 16:48] #795 closed

[2018-03-06 17:17] rmarzocchi84 opened #796 "log_detail table on postgresql (possible bug?)"
I us postgresql for log table and I see a strange error in lizmap probably due to this file:

[https://github.com/3liz/lizmap-web-client/blob/55c0a869a7c8d610d91e1a0faf8fde8d81647488/lizmap/modules/lizmap/daos/logDetail.dao.xml](https://github.com/3liz/lizmap-web-client/blob/55c0a869a7c8d610d91e1a0faf8fde8d81647488/lizmap/modules/lizmap/daos/logDetail.dao.xml)

DATETIME('now') is probably a sqlite

[2018-03-07 12:38] buoncri commented on #792
in addiction to this, it seems near same bug is in installing with postgres. This is the message:

`
luca@vespucci:/var/www/mylizmap$ sudo php lizmap/install/installer.php
Installation start..
[notice] Installation starts for the entry point index
All modules dependencies are ok
[error] An error occured during the installation of the module jacl2db: invalid query (ERRORE:  la INSERT o l'UPDATE sul

[2018-03-07 13:17] laurentj commented on #619
The improvements allow the user to register itself, and so he choice himself his password. And he receives an email to validate his account. The administrator is receiving also an email when the user has created his account.

The user has now also the possibility to reset his password.

We can say that this issue is fixed.

[2018-03-07 13:40] #544 closed

[2018-03-07 15:21] josemvm opened #797 "carry [UI] Clear button to the [Feature] Embed controller"
hi

please carry the new [UI] clear button https://github.com/3liz/lizmap-web-client/pull/784 to the [feature] embed controller https://github.com/3liz/lizmap-web-client/pull/699

![imagem](https://user-images.githubusercontent.com/10053874/37100437-d82a9cf8-221a-11e8-94bb-e5bcdf3d0936.png)  ===>>> ![imagem](https://user-images.githubusercontent.com/10053874/37100020-caa37df8-2219-11e8-8074-470f27

[2018-03-07 15:26] laurentj commented on #574
Documentation done. https://github.com/3liz/lizmap-documentation/commit/b89e1e98bff569321158548906bfe34326acad43

[2018-03-07 15:26] #574 closed

[2018-03-07 16:08] josemvm commented on #797
this is just a suggestion for both cases...

![imagem](https://user-images.githubusercontent.com/10053874/37103203-96092522-2221-11e8-88d0-98813a5e4639.png)

[2018-03-07 16:21] josemvm opened #798 "edition - geometric toolbar/reshape polygon"
hi @rldhont just to remind you https://github.com/3liz/lizmap-web-client/commit/445eacf8c828111f1087a3ba09865b8512303574

@jancelin said on 22 Dec 2017:

other tools work
sever demo & projet test to view

___
according to my tests:
PostgreSQL
- it's not possible reshape the existing features
- for new features (before saving), **reshape just for subtract portions**
- as @jancelin said, it's not po

[2018-03-08 10:55] Cww7 opened #799 "Fond IGN"
Bonjour,

Je dispose d'une clé IGN pour l'affichage du fond de plan IGN mais celui-ci ne s'affiche pas, juste un fond blanc pour les 4 couches disponibles (photo, plan, scan et cadastre). Il y a pourtant bien la signature 'Géoportail' en bas à droite et je peux afficher ces cartes en WMS directement dans QGIS.
J'utilise le protocole referer.
D'où peut venir ce problème ?

[2018-03-08 10:59] mdouchin commented on #799
QGIS Server ne semble pas réussir à charger ces couches. Selon les version de QGIS Server, il peut y avoir des souci si les URL des couches WMS sont en https . Si c'est le cas, essayez d'utiliser l'URL IGN avec http (en clair) pour voir si cela corrige le souci

[2018-03-08 16:09] #792 closed

[2018-03-08 17:12] laurentj commented on #792
Both issues are fixed. thanks for your reports

[2018-03-08 17:17] laurentj opened #800 "Regression: no more admin user"
In the master branch, no admin user is created when installing Lizmap. It was done with the jauthdb module but it is replaced by jcommunity. jcommunity is able to create the admin, but it does not know required field (firstname etc..) so the creation fails if we set the defaultuser install parameter.

The default password is also too short.

[2018-03-08 22:36] jlstanus commented on #800
Same issue

[2018-03-09 09:51] laurentj opened #801 "Regression: cannot login when password is lower than 8 characters"
When migrating Lizmap from 3.1 to the master branch, existing users in the database may have password less than 8 characters (which is bad ;-)). However, the password field in the login form provided by the new module jCommunity has a constraint on the minimal length (8 characters). So users cannot sign in.

Will be fixed in the next version of jCommunity.

[2018-03-09 10:05] josemvm commented on #801
we have the **lizadmin** user, lizadmin password (8 characters)... but no admin rights... it can become an administrator (?)...

[2018-03-09 10:20] SenequeC opened #802 "Edition - When you are editing you should be able to do other things"
When you are editing for example a point and you want to do measure something you will close the panel and do your thing. In this case both tools will be activated at the same time, it would be great to deactivate the edition mode when his panel is closed to avoid conflict.
A popup that warn you that you have the edition mode activated with the window closed would be great too.

[2018-03-09 11:05] laurentj commented on #801
If by admin rights, you mean rights to manage users and their rights, these rights was own by the "admin" user. However, because of a regression, this user is not created. see #800

[2018-03-09 12:08] #800 closed

[2018-03-09 12:08] #801 closed

[2018-03-11 18:36] josemvm opened #804 "locating tool on qgis server 2.18 - montpellier project"
some problems detected:

- the refresh button desn't work
- the tool doesn't highlight the geometry if it's set `displayGeom": "True`
- "Tram Lines" layer - the tool crashes after first location

thanks

[2018-03-12 10:48] elyparker opened #805 "CACHE_STATUS":"off" error"
hi receive often the following error on log of apache
generally it is associated to long time of load map

i enabled cache in apache and in lizmap (file)  but the problem continue

[code]

[2018-03-12 12:40] #797 closed

[2018-03-13 07:46] quelo1972 opened #807 "Error when run the installer"
What it means when I run the installer and exit the following error?
[code]

[2018-03-13 09:46] mkazmiers opened #808 "cannot access to dashboard for user admin"
Hi,

In the lizmap dashboard, with the admin user, we've updated rights for a custom user group we've created ('crige_users'). After the update, the dashboard is not showing anything for the admin user on the admin.php as you can see below

![image](https://user-images.githubusercontent.com/16324693/37334179-73b9fa4e-26ab-11e8-8c4c-813ba93d2e4c.png)

We can still log in, projects are still usable

[2018-03-13 10:52] mkazmiers commented on #808
We have found some error in the error.log close to the issue #332 .

Could it be related with a jelix error?

[2018-03-13 12:59] quelo1972 commented on #807
ok ... sorry ... the php-xml package was missing!
You can close the issue.

[2018-03-13 13:55] mkazmiers commented on #808
Update : we've updated rights for the admin & users user_group by updating the sqlite DB. The dashboard can be accessed again - good.

Though, the rights for all the others groups seems to have been erased, which might be a consequence of the sequence described above !

Any suggestion would be great so as we don't want to repeat it and loose again our sqlite db..!
Thanks

[2018-03-14 21:20] josemvm opened #809 "Sender address of e-mails - "Sender address of e-mails" field is invalid"
hi

when the user change same value in lizmap configuration, just like "QGIS server version", the "root@localhost" default value is not valid

no problems if the we change from "root@localhost" default value to "root@localhost.localdomain" default value

[2018-03-15 10:58] mfangain opened #810 "Editing geometry - mobile mode"
Hi,

on mobile telephone screen, it's very difficult to move a point.
Instead of this, we move the entiere map and our point is still at the same position.

I tried to change this option :
![image](https://user-images.githubusercontent.com/32867483/37459327-005cdc4e-2848-11e8-9258-01dedf797cb8.png)

But it isn't taken into account when editing.

Thanks,

MFANGAIN

[2018-03-15 11:28] josemvm opened #811 "atlas popup - montpellier project"
hi @mdouchin

please add this feature to the montpellier project

thanks in advance

[2018-03-15 13:50] robibrazze opened #812 "modify the popup "informazioni""
hi, in which file .js is possible modify the title and the text  what show
in the popup "informazioni"?
![cattura](https://user-images.githubusercontent.com/28442671/37467307-27076b26-2860-11e8-847e-fd4fe494778f.PNG)

[2018-03-15 15:29] quelo1972 commented on #772
Nothing in the error.log or in the dev console.
I tried to replicate it on another identical machine with ubuntu 16.04 LTS and the popup works. the only difference is that on the machine where the popup does not work is installed php 7.2 (from external repository) instead of the official 7.0 provided by ubuntu. Maybe there is an incompatibility with php > 7.0?

[2018-03-15 16:17] news24lor opened #813 "Error in administration area: the anonymous flag is not saved"
I have the latest version of lizmap from GitHub. I have a strange problem in the administration part: Lizmap doesn't save the "anonymous" flag in the various Repositories when I press Save. In the five sections where you can choose permissions (see repository, see link, ...) the "anonymous" flag is not saved. All other flags work but this is not saved. I checked the file "jauth.db" and the anonymo

[2018-03-15 16:38] #813 closed

[2018-03-15 17:36] mdouchin commented on #811
Done in 9dc91f94

[2018-03-15 21:51] josemvm commented on #811
thanks @mdouchin

i'm testing qgis server 2.18 and when i try to print the popup contents i get these apache errors:

`[Thu Mar 15 21:46:25.678654 2018] [fcgid:warn] [pid 16988] [client 127.0.0.1:53196] mod_fcgid: error reading data, FastCGI server closed connection`

`[Thu Mar 15 21:46:25.679212 2018] [core:error] [pid 16988] [client 127.0.0.1:53196] End of script output before headers: qgis_maps

[2018-03-16 10:07] josemvm commented on #811
on qgis server 2.14 everything works fine!
nice feature :-)

[2018-03-16 10:34] mdouchin commented on #811
I also have problems in last 2.18, but for some projects only (Montpellier demo): some requests return the PDF, but for some QGIS segfault (same query...) I could not find any valid reason. It is not a Lizmap issue, but a QGIS one. @rldhont

[2018-03-16 11:43] josemvm commented on #804
on qgis server 2.14 the clear button desn't work properly too

the clear button on the header menu works fine

[2018-03-16 12:22] josemvm commented on #811
@mdouchin

Is it possible to print according to active layers, styles layers, transparency layers, filter features?

[2018-03-16 12:47] josemvm commented on #811
like print tool...

[2018-03-16 13:01] mdouchin commented on #811
I would like to keep it this way, at least for the next release. When the editor configures an atlas, I think he does not want the export PDF to be too different from the original composer settings. This is why I chose not to change anything yet.

Please open a ticket in atlasprint plugin for this feature request

[2018-03-16 15:49] jancelin opened #814 "3.2pre.180212: Module inconnu dans le sélecteur "jcommunity~login:index@classic""
Hi,
I have an error in my docker-lizmap:latest container (that matches the lizmap master)
When opening index.php
[code]
and the errorlog:
[code]
no problem to access the admin interface.
lizmap version: 3.2pre.180212
Any ideas?

[2018-03-17 01:09] news24lor opened #815 "Problem with embedded maps"
I use embedded maps and noticed one thing to correct.
If I select a layer in the layers list, the window that should open on the right with the possibility to select transparency and more, goes under the layer window and therefore really unusable.

Can you correct this problem?

Thanks

[2018-03-18 09:40] guenterw commented on #805
hi

i have the same problem and my lizmap-client is very slow

how do you enable the cache in apache (V 2.4.18) and in lizmap?

[2018-03-18 13:32] elyparker commented on #805
for apache
sudo a2enmod file_cache
[a guide](https://www.digitalocean.com/community/tutorials/how-to-configure-apache-content-caching-on-ubuntu-14-04)

and in lizmap option in aadmi account set as file caching

but the error ther is always

[2018-03-18 14:27] guenterw commented on #805
thanks,
i have the same: enabled cache in apache and in lizmap (file)

but the error is only in my projects.
in the montpellier-project in the same lizmap-installation there is no error in the logfile!

have you tried the same with the montpellier-project?

[2018-03-18 18:37] elyparker commented on #805
no i not tried, i deleted it
but whas is the cause of problem?

[2018-03-19 08:43] guenterw commented on #805
i don't know about the difference

[2018-03-19 08:52] SenequeC commented on #815
I added a picture of the problem to help to analyze the problem.

![image](https://user-images.githubusercontent.com/33847726/37585917-fdf592c8-2b5a-11e8-9c35-94e1b7c0be74.png)

[2018-03-19 09:12] josemvm commented on #815
small size...

[2018-03-19 09:19] news24lor commented on #815
![screenshot](https://user-images.githubusercontent.com/33484600/37587196-e7aa2250-2b5e-11e8-8809-0af2b7505ced.jpg)

[2018-03-19 09:29] josemvm commented on #815
![imagem](https://user-images.githubusercontent.com/10053874/37587687-ecc463ec-2b57-11e8-8b14-8f09e12df986.png)

[2018-03-19 09:48] news24lor commented on #815
Selecting the layer, the INFORMATION window (INFORMAZIONI in italian) is below the main one, as you can see from the screenshot: you can see it even if it is a little blurred.
Your INFORMATION window is on the right as in the normal full-screen maps. The problem is only in the maps embedded in the HTML page.

[2018-03-20 08:06] jancelin commented on #814
fonctionne de nouveau...

[2018-03-20 08:06] #814 closed

[2018-03-21 08:47] jlstanus opened #816 "[BUG] Using jauth.db with jcommunity upgrade"
Hello,

I'm testing 3.2pre with my existing projects under LWC 3.1 and 3.2 before jcommunity upgrade.

As mentionned in [issues docker-lizmap](https://github.com/jancelin/docker-lizmap/issues/41), we cannot use the lizmap_var directory created with an old version of LWC.

If we have hundrerd users in jauth.db, we need a tool to (auto-) convert the old to the new.

So, how to export from old and im

[2018-03-21 10:18] josemvm commented on #811
@mdouchin

about this feautre, i think it's very important to print the highlight geometry for the current feature (because sometimes the printing becomes difficult to read)

but the qgis server lost this ability a long time ago... https://github.com/3liz/lizmap-web-client/issues/464

for while, the alternative could be the possibility of using the filter tool... as here https://github.com/3liz/qg

[2018-03-21 14:35] FRANCOSIBILLINI commented on #536
I have the same problem. Did you solved??

windows 7 - apache 2.4 - php 5.6.3.4 (NTS) fast CGI - mod_spatialite-4.3.0a-win-x86

[2018-03-22 10:20] josemvm opened #818 "popup/dataviz - montpellier project"
the box plot freezes...
![imagem](https://user-images.githubusercontent.com/10053874/37764824-86a6f308-2dba-11e8-8a8d-6277f7c40a29.png)

[2018-03-22 10:35] mdouchin commented on #818
Hi @josemvm you are too impatient ;)
I needed to update the Montpellier project in order to use the new options (see laster master plugin)

Done in 6cca00dc

[2018-03-22 10:51] josemvm commented on #818
sorry @mdouchin ;-)

there's still something wrong...

![imagem](https://user-images.githubusercontent.com/10053874/37766433-d16bf9e8-2dbe-11e8-968a-c999aceba07f.png)

many thanks for your work!

[2018-03-22 11:25] mdouchin commented on #818
c55137b7 Please re-test (CTR + R )

[2018-03-22 11:41] josemvm commented on #818
very nice!, you are the best :-)

can you take a look here;
![imagem](https://user-images.githubusercontent.com/10053874/37768427-7b24f4ca-2dc5-11e8-95e0-d640af9953d9.png)

`Plotly.newPlot(id, conf.data, conf.layout, {displayModeBar: false});`

thanks

[2018-03-22 13:24] rldhont commented on #818
@mdouchin can be closed ?

[2018-03-22 13:42] rldhont commented on #812
The title and the text is extracted from the WMS GetCapabilities. You can update the QGIS Project properties to update it.

[2018-03-22 13:45] #793 closed

[2018-03-22 13:45] rldhont commented on #794
@opbernardo @gioman documentation needed ?

[2018-03-22 13:49] rldhont commented on #804
@josemvm which lizmap version ?

[2018-03-22 13:51] #807 closed

[2018-03-22 13:57] rldhont commented on #810
The problem is the way UI manage touchscreen.

[2018-03-22 14:15] josemvm commented on #804
@rldhont master version

[2018-03-26 11:47] jonnyforestGIS opened #820 "[Installer][Windows] Batch for Windows SO equal to clean_vartmp.sh when upgrade between Lizmap 3.x versions"
Hi guys,

i made this .bat script can you try in your machines and give feedback?

This is equal to the clean_vartmp.sh but for windows.

[code]

Regards,
João

[2018-03-27 10:13] mdouchin opened #821 "Migration 3.1 > 3.2 - errors when PostgreSQL is used as auth/acl backend"
Steps to reproduce

* install release_3_1 with a profile defining a PostgreSQL connection for jauth. (e.g. in a local database)
* backup data with lizmap/install/backup.sh
* migrate into release_3_2 by replacing lib (or checkout into branch release_3_2)
* run installer `php lizmap/install/installer.php`

Following PostgreSQL errors where encountered

[code]

then

[code]

I bypass the errors with

[2018-03-27 13:20] jlstanus commented on #816
This SQL has corrected the problem of old jauth.db with existing users.
I have only added the new fields in _jlx_user_ :
`ALTER TABLE jlx_user ADD status INTEGER DEFAULT '';
ALTER TABLE jlx_user ADD keyactivate VARCHAR(50) DEFAULT '';
ALTER TABLE jlx_user ADD request_date datetime DEFAULT '';
ALTER TABLE jlx_user ADD create_date datetime DEFAULT '';
UPDATE jlx_user SET status = 1;
UPDATE jlx_user

[2018-03-27 14:40] jonnyforestGIS commented on #233
@rldhont  I think this issue can be close. Regards Joao

[2018-03-27 14:40] #233 closed

[2018-03-28 10:56] virtusmankind commented on #713
I have the same error, but in error.log (in lizmap/var/log) there is this row at the end:

2018-03-28 12:45:39	79.5.167.55	warning	2018-03-28 12:45:39	[2]	SQLite3::query(): Unable to prepare statement: 1, no such column: usr.status	/var/www/lizmap-web-client-master/lib/jelix/plugins/db/sqlite3/sqlite3.dbconnection.php	112

2018-03-28 12:45:39	79.5.167.55	error	2018-03-28 12:45:39	[403]	query non v

[2018-03-28 11:32] josemvm opened #823 "atlas module - imperceptible text (white color)"
hi

Districts of Montpellier blod

![imagem](https://user-images.githubusercontent.com/10053874/38026323-a8e3ecd2-3283-11e8-95d2-00de439876bb.png)

thanks

[2018-03-28 12:20] mdouchin commented on #823
Done with fa0e9574 on release_3_2 and master . Please check and close if ok

[2018-03-28 13:50] lraes opened #824 "impression quadrillée lors de la generation du pdf"
Bonjour,
Est-il possible d'enlever le quadrillage lorsqu'on génère une impression ?
Testé sur plusieurs viewer pdf mais le quadrillage est à chaque fois présent.
Merci

[2018-03-28 15:22] mfangain opened #825 "Filter by user doesn't work anymore"
Hi,
In one project, I used the fonction "filter by user", to restrict the access to the data.
I observe today that it doesn't work anymore. I don't see any error message, but all users can see all data in spite of settings.

Thanks.

MFANGAIN

[2018-03-29 14:47] mdouchin commented on #743
It has been added in current master and in branch release_3_2, which means it will be available in Lizmap 3.2. Please use the last master version of the lizmap plugin to correctly set these new options.

Please not there is a pending PR on the aggregation of pie plots https://github.com/3liz/lizmap-web-client/pull/822

[2018-03-29 14:47] #743 closed

[2018-03-29 21:50] laurentj commented on #809
Which version of Lizmap?

[2018-03-30 07:28] josemvm commented on #809
master version @laurentj

[2018-03-30 07:41] mdouchin commented on #821
Tested and approved. No more errors.

But after the migration, I cannot find the link to retrieve the password (in index.php login page). I will open a new issue

[2018-03-30 08:06] jlstanus opened #826 "[Enhancement] Filter only the children"
In Montpellier demo, this feature would loook like this :
* filter button on children
* all the _quartiers_ are showed and clickable
* but you see only the _subquartier_ of the _quartier_ selected
Advantage is less data showed or/and not confusing with similar children data not delimited as the _quartier_in this case  but however related.

![image](https://user-images.githubusercontent.com/402354/

[2018-03-30 09:19] #821 closed

[2018-03-30 12:15] laurentj commented on #809
I will replace the default value by an empty value, and will improve the form to enable or disable some fields that depend of the email.

[2018-04-03 11:31] adelchia opened #827 "media in lizmap"
I am using GGIS 2.14.22, QGIS server 2.14 and Lizmap 3.1.8.
The image put in photo subfolder of media folder aren't visible in popup (auto). I followed the instructions in:
https://docs.3liz.com/en/publish/advanced_lizmap_config.html#media-in-lizmap
In  popup window I only see the icon; if I see the path of icon,  it is:
http://192.168.1.113/lizweb/index.php/view/media/getMedia?repository=repo100&

[2018-04-04 21:06] josemvm opened #828 "timestamp (without time zone) - data type"
hi

difference (**T**) between postgreSQL table values
``2018-04-04 21:43:53``

and lizmap table/popup values
``2018-04-04T21:43:53``

thanks

[2018-04-05 09:40] josemvm opened #829 "attribute table - misaligned columns"
hi

![imagem](https://user-images.githubusercontent.com/10053874/38358576-8cc6392a-38bd-11e8-9c96-f8cf92c16327.png)

![imagem](https://user-images.githubusercontent.com/10053874/38358635-b93a28ae-38bd-11e8-9187-d617251ef187.png)

thanks for your attention

[2018-04-05 10:05] laurentj opened #830 "Fix ldapdao module with 3.2"
It seems that the ldapdao module has some issues with the beta of 3.2.

see https://github.com/jelix/ldapdao-module/issues/7

[2018-04-07 14:09] rldhont commented on #828
What is the context ? What do you mean ? Do you have an issue in table display, in edition ?

[2018-04-07 14:14] rldhont commented on #827
If you change the IP or domainName, you have to clean the temp directory. To do so, just use:
[code]

[2018-04-07 14:17] rldhont commented on #824
Quelle version de Lizmap et de QGIS Server utilisez-vous ? Cette erreur a été corrigé dans les dernières version 3.* de lizmap.

[2018-04-07 14:19] josemvm opened #831 "bookmark tool - fix header"
hi

![imagem](https://user-images.githubusercontent.com/10053874/38455945-a7ab353c-3a76-11e8-8406-1e537311836e.png)

![imagem](https://user-images.githubusercontent.com/10053874/38455954-bf78f5fa-3a76-11e8-8e80-625c97afe347.png)

please fix header
thanks

[2018-04-07 14:31] josemvm commented on #828
the context is the data table values and popup values presented by lizmap
popup
![imagem](https://user-images.githubusercontent.com/10053874/38456048-ed2f9b9c-3a77-11e8-8f8f-6bcad7af448e.png)
attribbute table
 ![imagem](https://user-images.githubusercontent.com/10053874/38456094-5d863c8e-3a78-11e8-91ed-c096b92c6e51.png)

a **T** between date and time

[2018-04-07 14:42] rldhont commented on #825
Does the filter concerned a layer with a space in the name ?

[2018-04-07 14:45] josemvm commented on #828
postgreSQL table
``2018-04-04 21:43:53``

[2018-04-07 17:30] adelchia commented on #827
Ok, right!! Thanks to you I remember now  what I learned from Paolo Cavallini.
Wonderful!
I'll work there tomorrow.
Thank you very much
Adelchi

[2018-04-07 17:30] #827 closed

[2018-04-09 12:32] josemvm commented on #455
the polygon tool works!
start with a simple click, next click, next click, ..., and end with double click
the problem arises when you click on a feature that has an enabled popup...

it would be necessary to disable the popup tool when using the polygon for slection...

[2018-04-09 13:32] mfangain commented on #825
Hi,
Yes, there's a space in the name.
When I replace it by '_' for example, it works properly.

Thank you.

MFANGAIN

[2018-04-12 15:35] zoidable opened #832 "attribution url incorrect"
hi,

in the attribution-box, when the attribution is derived from qgis layer description metadata, its url is appended to the one from the lizmap app, e.g. www.lizmap-app.com/index.php/view/map/www.layer-description-url.com

![error](https://user-images.githubusercontent.com/34126484/38687833-e4b25c30-3e77-11e8-9db8-8ac6434c46b5.PNG)

cheers
tobias

[2018-04-13 09:28] news24lor opened #833 "A request for enhanced safety"
In the embedded map I can make choices about what to show. The problem is that there is always a full-screen icon that I would not like to see.
Can I hide the icon 'Open the map in full screen'?

Thanks
![screenshot](https://user-images.githubusercontent.com/33484600/38727587-c20a4684-3f0d-11e8-82ef-342b9672494b.jpg)

[2018-04-13 11:49] laurentj opened #834 "Error message on the new login page is unreadable"
The text of the message is red on a red background...

[2018-04-16 14:33] lraes commented on #824
J'utilise la version 2.18 de qgis server et 3.1 pour lizmap.
* Je suis sous Windows 10

[2018-04-18 15:24] Andrea996 opened #835 "Problem in printing baselayer OSM and Google"
Hi, we have a problem with printing.
We can not print Openstreet and Google baselayers
Do you know how to solve?

[2018-04-20 15:43] gioman commented on #793
@quelo1972

it turns that LM work fine with QGIS Server 3, it is/was QGIS Server 3 that was not ok

See: https://github.com/qgis/QGIS/pull/6502

if you install QGIS Server 3 master is ok.

From what I can see because of changes in the QGIS 3 print composer likely it will be needed to change LM accordingly in the way it builds the GetPrint requests. @rldhont

[2018-04-23 20:28] zlanich commented on #740
@josemvm @rldhont Hey there, I've been struggling for DAYS trying to get Spatialite working through the built-in pdo_sqlite that comes with php7.2 on Debian, and I can't for the life of me find a solution. Did you get this working?

Here's what I'm doing:

- Installed php 7.2 through `apt-get`
- Set ini's `sqlite3.extension_dir=/var/www/sqlite3_ext` (shows up in `phpinfo()`)
- `apt-get install lib

[2018-04-23 22:04] zlanich commented on #740
UPDATE: So I was able to load it using a raw `SQLite3` instance it like so:
[code]

The issue is that Laravel relies on PDO and there's no way (that I know of) to actually call `->loadExtension('mod_spatialite.so');` using `pdo_sqlite`, so you have to use `SELECT load_extension('mod_spatialite');`, which is definitely disabled since I get an `unauthorized` error.

I'm even open to somehow recompil

[2018-04-24 08:08] rldhont commented on #824
Avez-vous défini un quadrillage dans votre composition ?

[2018-04-24 08:09] rldhont commented on #820
Can you create a PR ?

[2018-04-24 08:28] jonnyforestGIS commented on #820
Hi @rldhont  i will try in the end of the week.

[2018-04-24 15:26] mathieubossaert opened #836 "Is there a way to create a list of user accounts"
Good evening,

I implement Lizmap to help wine growers to proceed to self-diagnostics of their practices.
I use "filter by user" functionality and I need to create an account for each wine grower.
Is there a way or a command I can use to create users from a list of emails.

Thanks a lot,

mathieu

[2018-04-24 15:46] mathieubossaert opened #837 "How to hide child tables from editing list"
In my project I have about 10 spatial layers which can be edited : parcelle, haie, mare, foret, muret and so one.
Once a abject is created in one of those layers, I had a child to describe the state of the drawn object, one line for one year.
To do that I need to make child tables writable which appear in the editing list. In the image below I would like to hide all tables begining with "suivi".
!

[2018-04-25 08:03] ribelinu opened #838 "[FEATURE] Interrogation Multicritères - Multicriteria query"
Bonjour,
est il possible de faire une sélection multicritères ?
un formulaire de recherche avec plusieurs champs, case à cocher, fourchette de dates et un bouton 'rechercher' qui afficherait les entités sélectionnées ? sinon y a t-il un moyen de contourner cette limitation ?

merci d'avance

[2018-04-25 09:49] nboisteault commented on #838
Bonjour,
La recherche dans la table attributaire repose sur la bibliothèque javascript datatables dont vous pouvez trouver la doc [ici](https://datatables.net/manual/index).

Vous pouvez étendre lizmap avec du javascript en créant vos champs de recherche et en utilisant les fonctions de datatables afin de créer votre recherche personnalisée.

[2018-04-25 11:29] jlstanus commented on #432
@mibalas See https://github.com/jancelin/docker-lizmap/issues/40 i did this for the jessie debian image

[2018-04-25 14:33] ribelinu commented on #838
Merci Nicolas pour ta réponse et pour le lien !
aurais tu un exemple de carte publiée avec ce mode de fonctionnement ?

[2018-04-25 14:57] mathieubossaert opened #839 "Lizmap should display a message when tring to delete an objetc referenced in a child table"
Trying to delete an object, I get a success massage but the object reappears.
It is normal because I have foreign key between tables and the object is referenced in a "child" table.

On database side, I don't want to active "ON DELETE CASCADE" clause to avoid drama.

A good thing should be to catch the related error from the PostgreSQL Server server and to ask user to start by deleting child tuple

[2018-04-25 19:55] Gustry commented on #540
Indeed, it's working as expected with `Value Relation widget`. I will go and check the lizmap documentation. Thanks.

These widgets are so similar. I think I was mixed with translation not 100% correct between these widgets with QGIS in french and documentation in English.

[2018-04-26 07:59] nboisteault commented on #838
Malheureusement je n'ai pas d'exemple avec ce mode de fonctionnement.

Le Mercredi, Avril 25, 2018 16:33 CEST, ribelinu <notifications@github.com> a écrit:
 
Merci Nicolas pour ta réponse et pour le lien !
aurais tu un exemple de carte publiée avec ce mode de fonctionnement ?
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread. 

 

[2018-04-27 06:40] mdouchin commented on #838
Hi,

We have already thought about developping this "selection based on form" feature, like in QGIS. We would probably need to find some funding or some resources to achieve it in a shorter time.

Basically, what we will do
* enhance the form builder to allow to use it in another goal than editing
* add robust methods in the backend to provide needed info based on each field content for the layer:

[2018-04-27 11:13] jhcardoso opened #840 ""NO GEOMETRY VIEWS" NOT DISPLAYED IN LIZMAP "ATTRIBUTE TABLE""
HI, i've tested in many ways putting "no geometry postgres views" for a lizmap project showed in "attribute table" but it doesn´t work.
Surprisingly, only works for "no geometry tables", not for "no geometry views"...

Any solution?
Thanks

[2018-04-30 13:34] mdouchin commented on #836
There is no Lizmap command yet to do so (import a list of users). You can have a look at jelix documentation: https://docs.jelix.org/fr/manuel/droits2/configuration#gerer-les-utilisateurs-dans-les-groupes

@laurentj do you know if such an import command if feasible with the new jcommunity module ?

[2018-04-30 16:10] mathieubossaert commented on #836
Thnak you @mdouchin !
I will have a look at this. It already seems helpfull.

[2018-05-01 07:17] lraes commented on #824
non pas du tout.
je vais essayer d'installer la dernière version de LWC.

[2018-05-02 13:58] jhcardoso commented on #840
I've found out. It´s only about inexisting id field on table.

[2018-05-08 21:44] camillemonchicourt opened #842 "Legend display problem"
I installed Lizmap-web-client 3.2beta1 (Debian 9 with PHP7) and I am having a display problem of legends.

They are OK in my QGIS project :

![qgis-legend](https://user-images.githubusercontent.com/4418840/39784656-79749094-5319-11e8-97ca-2aa1a8b242d7.png)

But the legend image isn't displayed correctly in my Lizmap-web-client project (with Chrome or Firefox) :

![lizmap-legend](https://user-image

[2018-05-09 07:44] rldhont commented on #842
It's a QGIS Server issue.
Is it the same for all your project ? Which QGIS server version do you use ?

[2018-05-09 13:37] camillemonchicourt commented on #842
Yes it is the same on all my Lizmap projects.
Not sure which version of QGIS server I am using but in Lizmap admin, it says :

[code]

It is on a Debian 9 server and I had some issues with installing QGIS server that I noted here : https://github.com/PnX-SI/Ressources-techniques/blob/master/Lizmap/install-debian9.rst

[2018-05-09 13:43] Gustry commented on #842
Some fonts are missing on the server?

To know the QGIS Server version: 'apt cache policy qgis-server'should be enough I think.

[2018-05-09 13:46] josemvm commented on #842
`apt-cache policy qgis-server` :-)

[2018-05-09 13:47] camillemonchicourt commented on #842
Hum yes looks like a Font problem.
``apt-cache policy qgis-server`` answers :

[code]

[2018-05-09 13:56] etrimaille commented on #842
Hum, you are already using QGIS 3 on your server. I haven't tried it yet.
Might be good to have a look on QGIS Server 2.18? Did you use lizmap plugin on QGIS 3 too?

[2018-05-09 16:01] jlstanus commented on #742
Problem about double quotes?
_You want single quotes not double quotes around strings, double quotes
make delimited identifiers, and "" isn't a meaningful identifier._

[2018-05-09 16:14] camillemonchicourt commented on #842
Oh OK, I didnt noticed that. I thought I was using QGIS server 2.18.
I did my projects on QGIS 2.18, that's maybe why. I will try with QGIS 3 but I heard Lizmap is not yet ready for QGIS 3.
Don't know how to change my QGIS server 3 to 2.18.
Thanks.

[2018-05-09 17:31] Gustry commented on #842
I saw that about Lizmap on QGIS 3: https://github.com/3liz/lizmap-plugin/tree/master_3

You can uninstall everything I guess, change your APT repository to LTR and install qgis-server again.

[2018-05-10 20:18] camillemonchicourt commented on #842
OK I should rather have used QGIS-server 2.18 indeed. But now that I am on QGIS-server 3 I will test with the QGIS 3 plugin. Thanks for the link.

[2018-05-11 18:59] adelchia opened #843 "Range map scale with baselayer OSM"
Good evening. I use lizmap 3.1.11 and Qgis 2.18.  I set in lizmap plugins, map options, a map scale of 900.000. When I enable baselayer OSM, the scale interval in the webgis project is between 18.056 and 57.7791. I want to see the whole project and so I need a scale equal to 700.000. Is there a way to do it?
Thank you.

[2018-05-11 19:18] adelchia commented on #843
Sorry, I use lizmap 3.1.8

[2018-05-11 20:35] gioman commented on #843
@adelchia short answer: it depends. If you use baselayers from tiled services (osm, google, bing, etc), your qgis project will be automatically set to EPSG:3857 (because you can't reproject such layers) and you are locked to the following levels/scales:

20 : 1128.497220
19 : 2256.994440
18 : 4513.988880
17 : 9027.977761
16 : 18055.955520
15 : 36111.911040
14 : 72223.822090
13 : 144447.644200
12 :

[2018-05-12 15:38] gioman commented on #842
From what I have seen from some quick test I also expect some issues when printing (GetPrint requests) with QGIS Server 3.

[2018-05-12 15:52] adelchia commented on #843
@gioman Ok, thanks a lot.  I looked the link. It's not an easy solution for me but I'll try.

[2018-05-13 06:15] TotalNoobOnGIS opened #844 "[Feature] QGIS layer action support - partial ?"
Would it be possible to run QGIS layer actions from lizmap ?

Then the actions like python commands and SQL query related processing would be enabled from the web (and executed on the QGIS server side)

Scenario in QGIS:
- by using identify tool user selects a layer object
- attribute table appears, with pull down menu containing a user defined layer actions
- user can run defined layer actions (l

[2018-05-14 05:23] mathieubossaert opened #845 "The geometry type does not match! Error"
Hi,

I face a bug I tried to understand by checking data in my PostGIS database... I Just want to edit PostGIS tables and for som of them, I can't save data because of this error message.
Here is my table definition. Table has been truncated.

[code]

Do you have any idea ?

Huge thanks :-)

Mathieu

[2018-05-14 05:26] mathieubossaert commented on #845
Seems to be relative to this function but I can't find the problem.

https://github.com/3liz/lizmap-web-client/blob/ae24ae5b86a048cbce5acee536350c07c111b514/lizmap/modules/lizmap/classes/qgisVectorLayer.class.php#L346

[2018-05-14 07:11] jlstanus commented on #742
So it's a QGIS server error?

[2018-05-14 07:25] mdouchin commented on #845
What is the error message please ?

[2018-05-14 07:32] mathieubossaert commented on #845
Hi @mdouchin,

"**The geometry type does not match!**". appars when I try to save the new feature.

[2018-05-14 07:38] mdouchin commented on #845
Do you have the query written in your `lizmap/var/logs/error.log` ? If so, you could try to copy paste that in your SQL tool and investigate further

[2018-05-14 08:12] josemvm commented on #742
hi @jlstanus

it's a lizmap error
`lizmap-web-client-master/lizmap/var/log/error.log`

[2018-05-14 08:29] mathieubossaert commented on #845
I do not have any message relative to this problem. Logs are "on" but nothing appears, neither on the database side...

[2018-05-14 08:30] mathieubossaert commented on #845
Maybe my logs are not well configured...

[2018-05-14 10:10] mdouchin commented on #845
it must an error inside Lizmap, not related to a wrong SQL syntax. Can you paste here the datasource of your layer ( from the General tab of the layer properties dialog)

[2018-05-14 10:13] mathieubossaert commented on #845
here it is :
dbname='ecodiag' host=192.168.1.119 port=5432 user='dba' sslmode=disable key='id' srid=2154 type=LineString table="saisie"."bande_enherbee" (geometrie) sql=

[2018-05-14 14:43] jlstanus opened #846 "[BUG] Edition when using filter by user return "invalid input syntax for type boolean""
[code]
![image](https://user-images.githubusercontent.com/402354/40004324-b6c79db2-5795-11e8-8f87-b034ef85cfa1.png)

When using filter by user, it returns an "invalid input syntax for type boolean". And cannot save
Without filter, edition works

EDIT1: same problem with filter on groups
EDIT2: no issue in 3.1.11 (same project, data and DB)

Version: 3.2beta1

[2018-05-14 21:14] #831 closed

[2018-05-14 21:14] #832 closed

[2018-05-15 09:28] josemvm commented on #831
thanks @rldhont 👍

[2018-05-16 09:49] rldhont opened #847 "Updating Jelix in release_3_1"
An issue in jelix/jacl2db has been fixed in release_3_2 and needs to be backborted to release_3_1.

[2018-05-16 10:42] news24lor opened #848 "Error when I create new account"
I have entered the registration option for new users but I always have an error when I create a new user. I can't get anyone registered.

The log gives me this error:
`2018-05-16 12:34:41	192.107.61.196	error	2018-05-16 12:34:41	[403]	query not valid (NOT NULL constraint failed: jlx_user.street (INSERT INTO jlx_user (
usr_login,usr_email,usr_password,firstname,lastname,organization,phonenumber,str

[2018-05-16 12:06] #847 closed

[2018-05-16 13:56] #848 closed

[2018-05-16 14:08] mathieubossaert commented on #845
L'erreur est renvoyée ici contrairement à ce que j'ai mentionné plus haut : https://github.com/3liz/lizmap-web-client/blob/d914f17d5e372ed6c3e7f4eb0a3bd046e2404dc5/lizmap/modules/lizmap/controllers/edition.classic.php#L961

$value contient ceci  :
`ST_GeomFromText('LINESTRING(750326.904363714 6294367.941679799,749420.3447046095 6290004.405641499,753965.9347403175 6289268.980299428,754887.087317965

[2018-05-16 14:31] #692 closed

[2018-05-16 14:44] #820 closed

[2018-05-16 14:57] josemvm commented on #692
thanks @rldhont !

[2018-05-16 15:53] mathieubossaert commented on #845
Found but not yet solved : error is due to another table with the same name in another schema with generic geometry(geometry,2154) column.

https://github.com/3liz/lizmap-web-client/blob/d914f17d5e372ed6c3e7f4eb0a3bd046e2404dc5/lizmap/modules/lizmap/controllers/edition.classic.php#L427

[2018-05-16 16:45] rldhont commented on #845
It's necessary to test `f_table_schema`as we do it for views' primary keys, isn't it @mdouchin ?

[2018-05-17 09:11] josemvm opened #850 "attribute table - url field containing a html file"
hi

when i click on the url **Itinerário**
![imagem](https://user-images.githubusercontent.com/10053874/40166076-91b152da-59b5-11e8-88e3-90a46655ebcd.png)

the browser shows only this **Google Maps** button and i need to click on the button to get the google page
![imagem](https://user-images.githubusercontent.com/10053874/40166127-b6878912-59b5-11e8-8b08-ad70c4052493.png)

but if the (**i**) info

[2018-05-17 10:55] jonnyforestGIS commented on #820
@rldhont thanks. Sorry i have some work to do and i forgot to do PR. Cheers

[2018-05-17 15:56] #845 closed, assigned to nobody

[2018-05-17 17:43] news24lor opened #851 "Error in installer in the last version"
Hello
I have a problem with the latest versions of lizmap that I didn't have in the versions a few weeks ago.
When I run installer.php I have a jelix error and lizmap doesn't install. This error was not present a few weeks ago and everything was installed.
The same error is present with php 5.6.x and php 7.2.x.
This is the log from the terminal:

[code]

[2018-05-18 07:48] rldhont commented on #851
Error when merging Jelix from 3.1 in 3.2. The `module.xml` files have not been updated.

[2018-05-18 07:57] dmarteau opened #852 "Installer not returning correct exit code"
The command
[code]
On installation failure, the command should return an exit code >= 1, not 0.

Running:
[code]
On failure the result is:
[code]

[2018-05-18 08:09] #851 closed

[2018-05-18 08:41] #796 closed

[2018-05-18 10:49] news24lor opened #853 "Error during registration of an external visitor"
Hi

Thanks for all bugs resolved: I can install Lizmap.

Now I have a problem with an external visitor.
When the visitor enters his information for registration and presses 'Create an account' there is an error of type 500 in the server ( Error 500. A technical error has occured ) and the lizmap log has this information:

In the user list, the new visitor is present with all the data and there is

[2018-05-18 12:30] rldhont commented on #853
the template `jcommunity~mail_registration` is only available in en_US and fr_FR. So what is your config for:
* `availableLocales`
* `fallbackLocale`

The `fallbackLocale` is defined in the lizmap sources to `en_US`. In the case if a lack of translation or template localized, the `en_US` is used.

[2018-05-18 15:08] news24lor commented on #853
I already use this language. In mainconfig.ini.php I have:

locale=en_US
charset=UTF-8

Where is the error?

[2018-05-18 23:44] news24lor commented on #853
I checked for these 2 variables and tried to change them in the file lizmap/var/config/mainconfig.ini.php:

The other variable is always set to en_US.

The error remains and is always the same.

[2018-05-19 14:04] rldhont commented on #853
It's not explain in the lizmap documentation, but you don't have to update the `mainconfig.ini.php`. If you need to update variables, you can do it in `localconfig.ini.php`.

What is your `fallbackLocale` variable ?

[2018-05-19 14:13] rldhont commented on #839
which lizmap version ?

[2018-05-21 10:10] news24lor commented on #853
This variable is not present in the file `localconfig.ini.php`.
I have inserted it:

I restarted and now I have the layout in English, better because before it was in Italian and there were problems, for example with the question below "Are you human?" wanted answers in English while with answers in Italian there was always error.

I tried to create a new visitor user and the previous error disapp

[2018-05-21 11:51] morvan80 opened #854 "problems with viewing in google chrome"
Hello,
I noticed that a project opened with Firefox the order of the layers display is correct, but the same project opened with google chrome is different.
In short, if a layer placed above all as in the qgis project when it is opened with Firefox the display is correct while instead on chrome others are displayed above it.
Thank you

[2018-05-21 13:59] news24lor commented on #853
Now it works with these changes.

I have insert in `localconfig.ini.php`

I have modified `mainconfig.ini.php`

Optional for smtp:

Now the email arrives and after the 'admin' give the validation to the new user.

It's a bit difficult but it works

[2018-05-22 06:32] mathieubossaert commented on #839
3.1.1 I will test on a fresh update.

[2018-05-22 09:13] news24lor commented on #853
Rectification: with the changes reported before the email arrives regularly to the visitor who can validate his account directly.
I also confirm that, although the application is multilingual, in practice the function `jcommunity~mail_registration` for registration is only in French and English (the question of "Are you human" can only be answered in English and French and any other language by mi

[2018-05-22 13:17] laurentj commented on #389
Zip format does not include informations about permissions on files and directories (at least in the ZIP version used by lizmap). So this is the tool you are using to unzip which sets these permissions 700/600. See if there are options in your tool to set default permissions on extracted files/directories.

However, improvements could be done into the Jelix code to set permissions into the ZIP fil

[2018-05-22 17:52] dmarteau opened #856 "Configuration should not mix static and dynamic configuration"
Lizmap should not store runtime data in the same config files  as static config.

This lead to unecessary complexity when trying to re-deploy or upgrade lizmap installation with predefined configuration:  like module configuration - This makes Lizmap not Docker/Container  friendly.

[2018-05-22 19:01] Gustry commented on #856
I think I got this issue too.
I was using https://github.com/3liz/lizmap-docker but the code of lizmap is included in the image. I wanted a dev environment with the code mounted in the container (easier to checkout a specific branch etc). I started my own dockerfile, but I got some issues because the configuration relies on files which are included in lizmap itself so it was not easy to have the i

[2018-05-23 05:49] rldhont commented on #856
@dmarteau Which lizmap conifg is static and dynamic ? In which file is lizmap mixing static and dynamic config ?

[2018-05-23 05:52] rldhont commented on #854
Can you provide screenshors: FF, Chorme and QGIS ?
Which lizmap web client is concerned ?

[2018-05-23 05:55] rldhont commented on #853
@news24lor do not change `availableLocales=` in `mainconfig.ini.php`.

Your report probably means that the documentation is not up to date and we have to update the loacales to translate.

[2018-05-23 05:56] rldhont commented on #850
Hi @josemvm do you mean that the popups load the html that comes from the URL ?

[2018-05-23 08:16] mathieubossaert commented on #839
the message "The deletion has failed!" appears in lizmap 3.1.11.

[2018-05-23 08:28] josemvm commented on #850
yes @rldhont

when I click on button from the **popup** it directly loads the google maps page

![imagem](https://user-images.githubusercontent.com/10053874/40412051-227ab8a2-5e6a-11e8-900c-664a14ae52fd.png)

when I click on button from the **attribute table** (without having the (i) information dock activated) it loads the same button in browser

![imagem](https://user-images.githubusercontent.co

[2018-05-23 08:40] news24lor commented on #853
Yes I know.
This is a only temporary solution for me. I'll change it.

In normal use all languages are fine. The layout in the own language is great. The administrator can also create as many users as he wants.
The problem is only with external visitors, not English or French, who register: that module "Are you human? is not translated and causes errors.

[2018-05-23 15:00] dassau opened #857 "lizmap 3 support for QGIS 3 desktop and server"
Hi,

does lizmap 3 support QGIS 3 desktop and server. Would you think it can be used in a professional environment already? And is the lizmap plugin already available for QGIS 3?

Reason is, I would like to use some new QGIS 3 server features together with the lizmap client.

Thanks a lot for your assessment
Otto

[2018-05-23 16:40] Gustry commented on #857
Just giving some links:
Have a look to this issue: https://github.com/3liz/lizmap-plugin/issues/91
And this branch for the plugin: https://github.com/3liz/lizmap-plugin/tree/master_3

[2018-05-24 05:36] TotalNoobOnGIS opened #858 "OSM nominatim search problem - ?http / https ?"
Search in my lizmap setup stopped working. (nominatim with OSM)
And so did the QuickFinder plugin in QGIS.
Was not able to search locations using nominatim.

**I was able to get Quickfinder working in QGIS desktop
by setting a plugin service setting from http:// to https://**
I would have tried the same for lizmap - not able to figure out how ... :(

Any help appreciated

Lizmap setup i have, is n

[2018-05-24 07:51] mathieubossaert opened #859 "Delete impossible on PostGIS with lizmap 3.1.11"
Hi,
I try to delete a row in a child/related table and I get the error "Lizmap cannot get the feature data with WFS"

![capture d ecran_2018-05-24_09-43-21](https://user-images.githubusercontent.com/1642645/40471482-1df9a6d0-5f37-11e8-9898-b867bbc7ad68.png)
When I insert or try to delete a rox, lines appear in lizmap/var/log/error.log :
`2018-05-24 09:28:06	37.173.55.40	notice	2018-05-24 09:28:06

[2018-05-24 09:02] nboisteault commented on #858
I have the same problem.

[2018-05-24 12:44] morvan80 commented on #854
screenshors: FireFox
![firefox](https://user-images.githubusercontent.com/35898831/40486049-7aa29972-5f60-11e8-8d74-6339d70df950.jpg)
screenshors: Chrome
![chrome](https://user-images.githubusercontent.com/35898831/40486074-8f10cd66-5f60-11e8-8b8f-609e7a4b73b8.jpg)
"See the CATASTALI layer with FF is positioned above all, inveco son chrome is positioned in the middle of other layers. "of course th

[2018-05-24 13:04] Gustry commented on #858
Same problem. I made the PR above to fix the problem, it's working fine now.

[2018-05-24 15:05] mfangain opened #861 "problem with displaying symbol svg for point layer"
Hi,

Sometimes Lizmap displays symbols svg, sometimes not.
It doesn't seem to depend on scale or position.

![image](https://user-images.githubusercontent.com/32867483/40494170-823ccf4a-5f74-11e8-9bbb-1cd0f867af1c.png)

![image](https://user-images.githubusercontent.com/32867483/40494198-91eb3d1e-5f74-11e8-8762-2d1b211da62d.png)

Thanks.

MFANGAIN

[2018-05-25 04:49] TotalNoobOnGIS commented on #858
Did that change to that file. No success for me...

Is there some additional things one should do after the modification.

Or is there dependencies related eg. Ssl enable from apache or php or ?

[2018-05-25 07:31] nboisteault commented on #858
Did you check your firewall ?
You can try wget on some https url to debug.

[2018-05-25 09:10] rldhont commented on #861
It's a known QGIS Server issue.

[2018-05-25 09:12] rldhont commented on #859
Can you provide a part of the GeoJSON ?

[2018-05-25 09:13] rldhont commented on #859
@mathieubossaert this is it https://stackoverflow.com/questions/43815484/warning-json-decode-integer-overflow-detected ?

[2018-05-25 09:20] rldhont commented on #854
Are you able to reproduce the issue in other projects or in a simple one ?
Is the order of layer is inverted in chrome ?
Do you use in the QGIS Project configured layer order, the layer tree order is different than the map layer order ?

[2018-05-25 11:10] mathieubossaert commented on #859
Maybe it could be a bbox problem :
[code]

[2018-05-25 11:58] mathieubossaert commented on #859
OK I changed QGIS-server and back to 2.14 it works.

[2018-05-25 12:01] mathieubossaert opened #862 "Lizmap 3.1.11 / QGISServer 2.18 : info popup is ok but clicking on edit button opens the form for another feature"
Hi, here is a bug  I solved by downgrading from QGIS Server 2.18 to 2.14 :

When I clik on a feature, I can see the good information about the feature, when i want to edit it, it opens the form for another feature (with a wrong id).

[2018-05-25 12:30] #852 closed

[2018-05-25 13:01] Gustry commented on #858
Maybe try with CURL on your server to see what is happening? Lizmap is using curl for the Nominatim request : https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/controllers/osm.classic.php#L41

Nominatim switched to HTTPS for all requests: https://lists.openstreetmap.org/pipermail/geocoding/2018-January/001918.html

[2018-05-25 13:17] Gustry opened #863 "List of issues according to QGIS Server version"
According to other issues #859, #862, and some personal experiences, is-it possible to have a kind of wiki page of known bugs for QGIS 2.14, 2.18, 3.X ?

I'm currently setting up a new lizmap instance and it's difficult to make a choice between these QGIS versions. It would be nice to know which bugs are known when we use a specific QGIS version.

A kind of list like this:
* 2.14 :
* 2.18 :
  * De

[2018-05-25 13:59] rldhont commented on #863
Hi @Gustry

QGIS 2.18 is recommended.
* Delete impossible on PostGIS with lizmap 3.1.11 #859 has to be fixed in QGIS Server 2.18
* Info popup is ok but clicking on edit button opens the form for another feature #862 is due to the way QGIS (not especially QGIS Server) is defined and managed FeatureID. A FeatureID has to be an integer, so if you use integer, no bigint or other type, you will have no

[2018-05-25 14:16] rldhont commented on #858
fixed by 17f326889612a6870eb9491a62d985cb59a755c4

[2018-05-25 14:16] #858 closed

[2018-05-25 14:17] mathieubossaert commented on #863
Do you mean the type of the primary key in PostGIS ? Because my primary keys serial are integer.

[2018-05-25 14:18] rldhont commented on #862
It's a QGIS Server FeatureID issue. If the primary key is not an integer and only an integer, featureID can't be used has an identifier. So we need to fix QGIS Server and Lizmap.

[2018-05-25 14:20] rldhont commented on #863
If in QGIS, the type is QLongLong, it's not a simple integer and we have an issue.

[2018-05-25 14:29] mathieubossaert commented on #863
Sorry @rldhont  but in the attribute panel, type is int, and I c'ant find Qlong or Qlonglong in the qgs file.

[2018-05-25 16:19] dmarteau commented on #856
Exemple: the file localConfig.ini.php contains module configuration which is static: i.e the configuration is defined at launch-time. But this file contains also, run-time configuration set from the lizmap client user configuration (hash for credentials).

Configuration set from the interface is set by the lizmap admin user, the configuration for module is set usually by the sysadmin, these are tw

[2018-05-26 00:55] news24lor opened #864 "Error messages from Lizmap logs"
### What is the bug?
These types of errors are reported by the Lizmap logs and give useful information.
Analyzing 'lizmap/var/log/messages.log' I always found this line indicating an error:

[code]

Analyzing 'lizmap/var/log/error.log' instead, I have found these messages many times:

[code]

These are warning or notice messages, but they are more or less errors. Some of these are just alerts and

[2018-05-26 13:02] rldhont commented on #864
Issue introduced by b2d81bc882297236e3b07bdf41b5447c624729cc

[2018-05-26 14:01] rldhont commented on #850
@josemvm how the popup is build ? do you define an iframe to display the HTML ?

[2018-05-26 14:34] #864 closed

[2018-05-26 14:40] rldhont commented on #862
@mathieubossaert can you provide come screenshot or more information about the primary key and the feature id:
* screenshot of the fields tab of the layer properties window
* screenshot of the popup (see the primary key value)
* screenshot of the edition form (see the primary key value)
* the url generated by lizmap to get the edition form (with your browser web tools)

Or can you give us a link t

[2018-05-26 16:46] TotalNoobOnGIS commented on #858
**Thank you @Gustry to point me to the right direction.**

In my case
commit #860 was not enough.

As my setup is operating in internal network i havent use https before on this server.
PHP CURL was present ok
But without proper certificate stuff to verify remote end certificates

After few failed attempts to configure those, i gave up and
**for this specific purpose i did totally disable PKI-secu

[2018-05-26 17:09] josemvm commented on #850
hi @rldhont

it's a

`"popupTemplate": "",`
`"popupSource": "auto", `

i've no iframe in my html file
[code]

thanks

[2018-05-27 16:35] rldhont commented on #859
I have fixed QGIS Server 2.18 and 3.2 for this integer overflow!
* 3.2 https://github.com/qgis/QGIS/commit/c8a5992b2b85b061823a0b32013bc7289d9015f7
* 2.18 https://github.com/qgis/QGIS/commit/efce338b52485c6c7caf9cb8a971caf83b5cd5fa

[2018-05-27 16:37] rldhont commented on #850
What is exactly the field value ? an URL or some HTML ?

If it's an URL, I don't know how the html is displayed in the popup.

[2018-05-27 16:40] rldhont commented on #846
@jlstanus do you have the full UPDATE SQL in the log ? Can you display it ? I'd like to see which is exactly the SQL error.

[2018-05-27 17:08] morvan80 commented on #854
Salve,
Il problema si conferma su tutti i progetti.
L'ordine dei livelli su Fire Fox e Explorer sono corretti in base alla mappa di qgis, mentre su chrome risulta diverso come in foto.
No l'ordine dei layer è uguale nel progetto qgis a quello che viene visualizzato in lizmap, il problema e che in chrome pur essendo sopra a tutti "Catastali" vengono sovrapposti altri layer.
Grazie

[2018-05-28 07:20] jlstanus commented on #846
[code]

Firefox gives me this error:

[2018-05-28 08:38] josemvm commented on #850
the field value is something like this:
`media/googleMaps2/1_gm2.html`

the html contents:
[code]

[2018-05-28 09:45] rldhont commented on #862
@mathieubossaert is`"gid"` defined as the primary key in the datasource of the layer ? Can you take a look at the `path` in the General Tab ?

[2018-05-28 09:52] laurentj commented on #853
This is a bug in Jelix. The fallbackLocal parameter is not taken account to retrieve a template. The template must exists in all supported language by the application. Or it should exists for all languages, i.e. not in a language directory.

I'll fix that.

[2018-05-28 09:53] mathieubossaert commented on #862
Here is the datasource :
`dbname='ll' host=www.xxx.yyy.zzz port=5432 user='toto' sslmode=disable key='gid' srid=2154 type=MultiPolygon table="mdo"."affiche_repro_site" (geometrie) sql=`

mdo.affiche_repro_site is a view.

[2018-05-28 09:58] rldhont commented on #862
@mathieubossaert can you test the WFS GetFeature request with the featureID ?
http://localhost:8082/websig/lizmap/www/index.php/lizmap/service/?project=mdo_admin&repository=mdo&SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFature&TYPENAME=affiche_repro_site&featureId=affiche_repro_site.446

[2018-05-28 10:05] mathieubossaert commented on #862
[code]

[2018-05-28 10:21] rldhont commented on #862
Can you test ? http://localhost:8082/websig/lizmap/www/index.php/lizmap/service/?project=mdo_admin&repository=mdo&SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFature&TYPENAME=affiche_repro_site
And search for 446 ?

[2018-05-28 10:45] mathieubossaert commented on #862
Result is empty.
When I ask for the getcapabilities, I can see that the layer is referenced as :
[code]

[2018-05-28 10:49] mathieubossaert commented on #862
So if I ask for  : http://localhost:8082/websig/lizmap/www/index.php/lizmap/service/?project=mdo_admin&repository=mdo&SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFeature&TYPENAME=Sites_de_repro
I get thi response for site n 446 :
[code]

[2018-05-28 16:42] #834 closed

[2018-05-29 14:51] laurentj commented on #853
Documentation has been improved about configuration files and localization settings: https://docs.3liz.com/en/install/configuration.html

[2018-05-29 14:51] #853 closed

[2018-05-29 15:35] #856 closed

[2018-05-29 22:09] #846 closed

[2018-05-29 22:13] rldhont commented on #828
How this value is displyed in QGIS (not postgresql) ?

[2018-05-29 22:23] rldhont commented on #850
@josemvm Attribute table is based on WFS, so it displays raw data. In GetFeatureInfo, Lizmap do some magic formating.

[2018-05-29 22:28] rldhont commented on #862
Hi @mathieubossaert If the `mdo.affiche_repro_site` is a **view**, QGIS build it's own FeatureId based on QGIS internal index of the first read of the feature. FeatureId is a mess!

[2018-05-29 22:35] josemvm commented on #828
hi @rldhont

the value is displayed in qgis with **'T**' character, between date and time!...

[2018-05-30 07:16] mathieubossaert commented on #862
So is it a regression of QGIS ? Because it works fine with 2.14... and it's not so rare to use views and rules or triggers to edit data.

[2018-05-30 07:59] Gustry commented on #863
Ok, thanks for your inputs.

[2018-05-30 07:59] #863 closed

[2018-05-30 09:27] gioman commented on #862
@mathieubossaert unfortunately not the first one affecting qgis server 2.18 compared to 2.14

[2018-05-30 10:27] gioman commented on #863
@Gustry I find very bad the following two regressions in QGIS Server 2.18 (one is really in Desktop, but is affecting directly Server):

1) in print composer is not possible anymore to add a legend that is not linked to a specific map object, this made impossible to do GetPrint requests producing a legend that is "fixed" (so does not depend on what layers are listed in the request). This option ha

[2018-05-30 14:27] news24lor opened #866 "A new error in the latest release"
### What is the bug?
I installed the latest version from GitHub but I have a new error at the start, not present before:
'Error in the main configuration. A plugin doesn't exist'

### Steps to reproduce the issue

At the beginning

### Expected behavior

No error at the start

### Screenshots and logs
This is the 'errors.log'

array ( )

[code]
### Environment

 - last GitHub version:
 - QGIS 2.18

[2018-05-31 05:44] rldhont commented on #835
How did you do to have this baselayers print ?
Which Lizmap Web Client version ?
Which QGIS Server version ?
Does the server need a proxy to acces external data ?

[2018-05-31 06:04] rldhont commented on #783
lizmap can't detect the QGIS Server version because there is no request to get this information.

[2018-05-31 06:34] Alexandr06 commented on #793
@gioman
vous pouvez développer encore un peu plus svp ? parce qu'en fait actuellement j'ai un problème au niveau de l'impression sur lizmap et je crois que c'est de ça que vous parlez :)

[2018-05-31 07:02] Alexandr06 commented on #793
@gioman
can you develop a little more please? because I actually have a problem with lizmap printing, and I think that's what you're talking about :)

[2018-05-31 08:54] gioman commented on #547
@cimbach you must install a fake xserver. With QGIS 2.18 this become a requirement on Linux Desktop too (it was already on a headless server installation): https://www.itopen.it/qgis-server-setup-notes/

[2018-05-31 09:03] gioman commented on #793
@Alexandr06 I have not tested qgis server 3 extensively but from what I have seen in QGIS 3 Desktop the way the map objects (in a print layout) are numbered is different if compared to QGIS 2.*. So when building a GetPrint request LM will need to take into account this change. At the moment it uses the numbering as it is in QGIS 2 and of course the result is not correct (in the simplest case, 1 ma

[2018-05-31 09:18] gioman commented on #835
@Andrea996 you cannot print directly what in Lizmap you add as baselayers. You need to use a documented trick: use hidden (WMS) layers:

https://docs.3liz.com/en/publish/advanced_lizmap_config.html#allow-printing-of-external-baselayers

[2018-05-31 12:07] Alexandr06 commented on #793
@gioman thank you for your answer, excuse me I'm not very well explained, in fact, the settings of my server are:
win7 x64 bit, apache2.4, php7.1, lizmap3.1 qgis 2.18, qgis server 2.18.
but when I want to print with a qgis layout template that I customized according to the map I want to have as a result, the server sends me "Internal server error", in the file error.log I "[Thu May 31 13: 48: 46.2

[2018-05-31 12:16] Alexandr06 commented on #793
https://github.com/gioman dcdcc

[2018-05-31 13:12] laurentj commented on #866
Hi,

We already had this kind of report, but I never succeded to reproduce the issue.

This is not a useful response sorry :) Since the error appear "at the begining", please describe what you did to install lizmap: did you change some configuration file, what did you change etc...

And "latest github version" is not useful too: we have 4 "github version", one for each branch (master, 3.2, 3.1, 3.

[2018-05-31 13:47] laurentj commented on #836
warning, the documentation pointed by @mdouchin is to give rights to user, not to create accounts.

@mdouchin since there is no existing tools into jelix to import many users, everything is possible :) A script should be written.

[2018-05-31 14:59] news24lor commented on #866
The log is complete without the first part of the path.
I have download the master version of 20150529.
I have made all steps like previous versions for installing, master of 20150518 and previous.
The master version of 20150518 worked.
The master version of 20150529 does not work and has this new error.

[2018-05-31 15:53] laurentj commented on #866
Is this a date? If yes, did you mean instead **2018**0529?

[2018-05-31 16:02] news24lor commented on #866
Yes, sorry

[2018-05-31 16:05] laurentj commented on #866
Full reinstall? or only an update? Which steps please?

I really need **your** list of steps to try to reproduce your issue: what you have done exactly, commands after commands, from the unarchive step to the step before the launch of your browser. And what was the initial context: did you restore your previous configuration files or not, did you start from cleaned files etc..

I need some details

[2018-05-31 19:53] NoAtaraxie opened #868 "Affichage couche issue d'une base de données"
Bonjour à tous,

Je vous explique mon problème.

J'ai installé lizmap  et une base de données sur deux serveurs différents. J'ai bien configurer le serveur de BDD il écoute sur toutes les IP et j'arrive bien à me connecter en commande psql depuis le serveur ou est installé lizmap. Quand je transferts mon projet qgis fait avec mes couches Postgis sur lizmap, il m'affiche bien la légende mais n'affi

[2018-05-31 23:21] news24lor commented on #866
Hi @laurentj

It's a full reinstall from master, downloaded from GitHub

I have followed step by step the install file [https://github.com/3liz/lizmap-web-client/blob/master/INSTALL.md](url)

I have tested two master, before and after, and the problem is from the installer.php

MASTER of 20180518 - Lizmap works
This is the output from terminal of installer.php

[code]

MASTER of 20180529 - Lizmap

[2018-06-01 08:29] gioman commented on #793
@Alexandr06 I see you are on Windows, so you are out of luck. Explanation: on Linux headless installation (no GUI) to make the QGIS Server GetPrint requests was always necessary to install a fake xserver. At some point in QGIS Server 2.18 this become mandatory also for installations on Desktops. Unfortunately this has affected the Windows packages/installers meaning that QGIS Server 2.18 expect a

[2018-06-01 11:44] #559 closed

[2018-06-01 11:51] rldhont commented on #828
So it will be an enhancement in Lizmap (and probably in QGIS too).

[2018-06-01 11:52] NoAtaraxie commented on #868
Il s'agissait d'un problème de projection.

Bon courage.

[2018-06-01 11:52] #868 closed

[2018-06-01 12:23] #866 closed, assigned to laurentj

[2018-06-01 12:40] #730 closed

[2018-06-01 14:31] laurentj opened #870 "Reorganize the configuration page"
### Is your feature request related to a problem? Please describe

Options we can configure into the configuration page are more and more numerous at each versions. And we have also the list of maps into this page.

So the configuration page start to become big, and not easy to read and use.

### Describe the solution you'd like

I will propose a patch to separate options into several categories.

[2018-06-01 14:35] laurentj opened #871 "UI: Some configuration options should be disabled if email is not set"
If the sender email is not set, the option to enable the account creation for example should be disabled and set to off.

[2018-06-01 14:36] laurentj commented on #809
The issue is fixed, but the improvements I talked about will be done later, see #871

[2018-06-01 14:36] #809 closed

[2018-06-01 14:45] nboisteault opened #872 "Filter a non spatial layer doesn't filter related layer with cascading"
It is not possible to filter a non spatial layer and have a related layer filtered with cascading.
 - Lizmap version: master

I've seen this in code :
[lizmap 3.0 and 3.1](https://github.com/3liz/lizmap-web-client/blob/release_3_0/lizmap/www/js/attributeTable.js#L2223)
[lizmap 3.2](https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/attributeTable.js#L2340)

The comment says :

[2018-06-01 14:50] rldhont commented on #872
@nboisteault do you mean that 3.2 do the works and not 3.0 and 3.1 ?

[2018-06-01 14:56] nboisteault commented on #872
I've just tested master 'live' but the only difference I see in `updateMapLayerDrawing` between those versions is the commented out part. I've tested master with this part uncomment as suggested but that doesn't change behaviour.

[2018-06-01 19:36] nboisteault commented on #872
OK I realized that I forgot to create the second relation to make filter working both sides, the behaviour is correct now. @rldhont : nevertheless parts of the code we talked about by phone should be looked more deeply as they might cause other issues.

[2018-06-01 19:36] #872 closed

[2018-06-03 21:29] morvan80 opened #873 "Update from version 3.1.11 to 3.1.12"
Hello,
after consulting the guide for the version 3.x update when he tells me to replace the files, which ones should I replace?

Upgrading between 3.x versions

From 3.0 versions to upper, there is no need to backup data.

Simply replace lizmap files and call:

sudo lizmap/install/clean_vartmp.sh
php lizmap/install/installer.php
sudo lizmap/install/clean_vartmp.sh

[2018-06-04 07:54] Alexandr06 commented on #793
thank you @gioman oman yes I see what you say and I want to stay on version 2.14 of qgis, except that it does not exist anymore! when I try to install it from Osgeo there's only 2.18 and 3.0...

[2018-06-04 08:52] gioman commented on #793
@Alexandr06 I'm not sure if with osgeo4w there is any procedure to install obsolete packages, I haven't looked into it myself yet. I would be more interested in a clear fix of this regression, I even asked some professional support to QGIS developer (and also the official packager), but for different reasons they do not seem very interested (or have time) in tackling this matter.

[2018-06-05 17:19] rldhont opened #874 "OSM Stamen Toner is added to GetPrint even if corresponding layer is not defined"
### What is the bug?

The OSM Stamen Toner layer is added to GetPrint even if corresponding layer is not defined in the QGIS project.

### Steps to reproduce the issue

1. Activate OSM Stamen Toner baselayer in Lizmap Plugin
2. Do not defined a layer osm-stamen-toner in the QGIS project
3. In lizmap web client set the base layer to OSM Stamen Toner
4. Activate the print and launch one
5. The resul

[2018-06-05 18:59] rldhont opened #875 "WFS layers with a QGIS shortName are not supported by Lizmap"
### What is the bug?
If you publish a layer with a shortName to a WFS, Lizmap does not considered the layer has defined in the WFS

### Steps to reproduce the issue

1. Add a shortName to a vector layer in QGIS
2. Publish this layer to WFS
3. Request the WFS GetCapabilities of the project with Lizmap-Web-Client
4. Request the WFS GetFeature with the shortName provided by the WFS Capabilities
5. Se

[2018-06-05 19:24] #874 closed

[2018-06-05 19:24] #875 closed

[2018-06-06 06:38] jlstanus commented on #748
Second workaround is to use _media/themes/default/css_ and add the _map.css_ with this content :
[code]

[2018-06-06 08:55] josemvm commented on #742
![imagem](https://user-images.githubusercontent.com/10053874/41027719-b15e79e0-696f-11e8-8c8b-cee93927e124.png)

[2018-06-06 09:01] josemvm commented on #491
just for remember you @rldhont @mdouchin :-)

[2018-06-06 10:00] mfangain opened #876 "Lizmap 3.1.11 : search by address (nominatim or google) don't work anymore"
### What is the bug?
Any result when searching an address :
![image](https://user-images.githubusercontent.com/32867483/41031337-a89eff94-6980-11e8-9900-e501b04c0a65.png)

### Steps to reproduce the issue

1. Enter an address
2. Enter
3. nothing happens
4. Click on "close" don't work either

### Expected behavior

### Screenshots and logs

development tools display this error :
![image](https://us

[2018-06-06 10:21] mathieubossaert commented on #862
OK I think it could explain a bug we have with QGIS Desktop 2.18.

I expose a spatial view to my colleagues. When I select some features on the map, the good feautures are selected into the attribute table. When I ask for a zoom to selected from the attribute table, zommed feature is a wrong one.
Problem is "solved" by replacing the view by a materialized view...

[2018-06-06 15:35] Gustry commented on #876
Are you sure it happens with google too?
In your screenshot, we can read 'Nominatim' and it's already fixed: https://github.com/3liz/lizmap-web-client/issues/858

[2018-06-07 10:34] mfangain commented on #876
I see the same problem with google, but indeed the error is different :
![image](https://user-images.githubusercontent.com/32867483/41094577-000382ea-6a4f-11e8-9719-81f90383c728.png)

So I'm waiting for version 3.1.12 ;-)

Thanks!

[2018-06-07 10:34] #876 closed

[2018-06-07 15:02] news24lor opened #878 "Editing PostGIS layer does not work"
### What is the bug?

In a my test I've seen that the editing of PostGIS layer does not work in last master of Lizmap (20180605).
It's also impossible to view the whole table of data of PostGIS layer.

The editing of a Spatialite layer works very well

### Steps to reproduce the issue

I view PostGIS layer on Lizmap and I view the attribute of that object.
When I select the editing button there is

[2018-06-07 15:21] Gustry commented on #876
3.1.12 has been released already:
https://github.com/3liz/lizmap-web-client/releases/tag/3.1.12

[2018-06-07 16:08] laurentj opened #879 "Install fails when the tables of Lizmap already exist"
### What is the bug?

When we install Lizmap from scratch, but the database contains already tables for log or other data, the installation fails: `invalid query (table "log_detail" already exists)`.

### Steps to reproduce the issue

1. install lizmap
2. remove installer.ini.php to simulate installation from scratch (databases in vars/db should be kept)
3. relaunch the installer
4. See error

###

[2018-06-07 20:59] Gustry opened #880 "One request is a wrong URL"
### What is the bug?

When I load the main lizmap map http://localhost:8082/index.php/view/map/?repository=papillon&project=projet_218 one request leads to a 404 after a very long time:

![screenshot from 2018-06-07 16-53-49](https://user-images.githubusercontent.com/1609292/41125848-ab8c550a-6a73-11e8-97c5-89a92a967e0b.png)

[code]

My firefox tab is still spinning until the request is finished.

[2018-06-08 09:29] cimbach commented on #547
Thanks @gioman, I finally get the print working on my desktop Ubuntu.
Following your link was still giving me a servor error as soon as _FcgidInitialEnv DISPLAY ":99"_ was added either to /etc/apache2/mods-enabled/fcgid.conf or to  /etc/apache2/sites-enabled/000-default.conf
Then I found out this issue https://github.com/3liz/lizmap-web-client/issues/432 where @rldhont kindly add that this final s

[2018-06-08 09:36] gioman commented on #547
@cimbach I understand, and this raises the question about why this is not yet a dependency for the qgis server installer/package...

[2018-06-11 09:45] GohanSSj2 opened #882 "[3.3pre] Error running set_rights.sh - temp/lizmap not exists"
Hi,

When i install LWC 3.3pre, an error occure when I run command line "lizmap/install/set_rights.sh www-data www-data".
lizmap/install/../../temp/lizmap not exists.

I create directory lizmap-web-client-master/temp/lizmap and  script runs correctly.

Folder ./temp/lizmap exists in 3.1.12 version.

**Solution :**
create the directory in project or change `$SCRIPTDIR/../../temp/lizmap` by `$SCRIPT

[2018-06-11 09:54] rldhont commented on #878
Is the layer accessible through localhost for lizmap ?

[2018-06-11 09:57] rldhont commented on #873
You simply have to replace all the lizmap-web-client sources.

like that:
[code]

[2018-06-11 10:02] morvan80 commented on #873
doing so would lose all user settings, repositories etc?

[2018-06-11 10:23] news24lor commented on #878
Hi @rldhont

Yes, it is in localhost.

In QGIS, PostGIS layer works and I see the data.
In Lizmap the same layer does not work with an error in jelix plugin

[2018-06-11 14:09] robibrazze opened #883 "Activate tooltip automatically"
hi,
has someone been able to automatically activate the Tooltip command for a chosen layer with js?
If the function like many users of lizamap  we could organize a fundraising...
Thanks
Roberto

[2018-06-11 21:39] Gustry opened #884 "Jelix as a submodule ?"
### Is your feature request related to a problem? Please describe
Is-it possible to switch to a git submodule for jelix?

It would make it much easier I think for me to have the git source tree of jelix inside lizmap instead of having a static copy of Jelix. It would allow developers to make patches to Jelix straight from the lizmap environment.

Just a question. Feel free to close if it's not pos

[2018-06-12 19:23] Gustry opened #887 "Hide field future action after save feature"
### Is your feature request related to a problem? Please describe
Since Lizmap 3.2, it seems there is a new feature to prompt if the user wants to close or reopen the form at the end:
![screenshot from 2018-06-12 15-01-28](https://user-images.githubusercontent.com/1609292/41311261-c267e816-6e51-11e8-9824-316ee9061d6f.png)

### Describe the solution you'd like

Is-there a way to set the default beh

[2018-06-12 19:26] Gustry opened #888 "Use the default expression value in calendar field"
### Describe the solution you'd like

In QGIS Desktop on the right panel, I put the default expression `now()`. It would be nice if Lizmap could follow the expression too by having the date of the day:

![screenshot from 2018-06-12 15-24-30](https://user-images.githubusercontent.com/1609292/41312325-be8c94a0-6e54-11e8-805c-737f69156a8c.png)

[2018-06-12 19:35] Gustry opened #889 "'today' button is not working"
### What is the bug?

In my form, the button `today` is not working. Nothing happens:
![today_button](https://user-images.githubusercontent.com/1609292/41312643-95bc8dfe-6e55-11e8-9d86-e0624c5a673c.gif)

### Expected behavior

The today button should fill the correct date and close the calendar.

### Environment

 - Lizmap version: 3.2 updated today
 - QGis version: 2.18.20
 - OS (windows, linux,

[2018-06-12 21:03] Gustry opened #890 "Value relation doesn't respect the expression display"
### What is the bug?

Lizmap doesn't respect the expression display:
![screenshot from 2018-06-12 16-44-07](https://user-images.githubusercontent.com/1609292/41317022-f4869fd0-6e61-11e8-8303-b5c169affdf6.png)

It stays empty in lizmap.
![selection_001](https://user-images.githubusercontent.com/1609292/41317092-26023c40-6e62-11e8-9245-a148d643dbc3.png)

If I set just a field, it works.

### Expecte

[2018-06-13 10:39] jlstanus opened #891 "Long unibloc attribute value"
### What is the bug?

Very long Attributes values without space are out of the box. I have to keep the no-space

### Steps to reproduce the issue

1. Go to 'Pop Up'

### Expected behavior
Return to the line
By example on a _non_ alpha numeric character

### Screenshots and logs
![image](https://user-images.githubusercontent.com/402354/41346265-492c837a-6f06-11e8-979c-cea900f9969d.png)

### Environ

[2018-06-14 09:13] laurentj commented on #830
Documentation [is done](https://docs.3liz.com/en/install/ldap.html)

[2018-06-14 09:13] #830 closed

[2018-06-14 09:20] laurentj commented on #884
I already work with git sub modules on some project, this is too complex. This is a complex command, so a complex workflow. Developers should know well this command (and this is not the case for most of them) else it is easy to break something. It would complexify too our continuous integration, the build of Docker images etc...

A best solution is to use Composer (package system for PHP). The upc

[2018-06-14 09:20] #884 closed

[2018-06-14 15:56] rldhont commented on #890
Same fix as #888 we need some thing to evaluate expression or translate it in JS.

[2018-06-14 16:02] mdouchin commented on #890
I am indeed creating a QGIS server plugin as a proof of concept which adds a new WMS request EvaluateExpression which returns the evaluated expression. Not tested yet.

[2018-06-15 09:30] jaitor1 opened #892 "Google Maps showing "For development purposes only""
I guess it has nothing to do with lizmap and is something about Google Maps API but I can't find info on google about it. Maybe it has already happened to you.

Since Today I can see the message "For development purposes only" in every lizmap.

You can check in this map:

http://eudala2.getxo.eus/lizmap/lizmap-web-client-master/lizmap/www/index.php/view/map/?repository=getxo&project=getxo_portales

[2018-06-15 09:36] josemvm commented on #888
![imagem](https://user-images.githubusercontent.com/10053874/41461380-76261292-7087-11e8-847d-4c58cd402150.png)

https://github.com/3liz/lizmap-web-client/issues/828

[2018-06-15 09:44] jaitor1 commented on #892
Where can I change the Google Maps API? I have a new Google Maps Javascript API Code to try it and see if this fixes the problem...

[2018-06-15 12:54] rldhont commented on #892
Hi @jaitor1
The Google Maps API Key has to be added in the map configuration in the Lizmap-plugin.
Google is now very strict with Maps, and do some restriction if the key is not well used.

[2018-06-15 13:09] jaitor1 commented on #892
Which is the Map Configuration File? I can't find it

[2018-06-15 13:18] jaitor1 commented on #892
Ok, I found where to insert it.
Is there a possibility to insert the API Kery somewhere in the code/config file and make it valid for all the maps? Past and Future?

[2018-06-16 13:11] rldhont commented on #882
Has been fixed by 447873a989a07e0ee5da8c8e20ed06f2d9eb72af and the commit b9fff6f29ab9b0ac7046ae7eda72748d5d168ba7 does prevent to come back.

[2018-06-16 13:11] #882 closed

[2018-06-16 13:27] rldhont commented on #880
Is it the only one link with this host name error ?
Can you clean the lizmap temp directory ?

[2018-06-16 13:29] rldhont commented on #878
Can you take a look at the lizmap log ? `lizmap/var/log/error.log`

[2018-06-16 13:30] rldhont commented on #873
@morvan80 not at all, the settings and repositories are not in the source code.

[2018-06-16 13:32] rldhont commented on #859
Will be available in 2.18.21 on friday 22th of june.

[2018-06-16 18:11] news24lor opened #893 "The 'Change your password' button has disappeared"
### What is the bug?
In the last GitHub version (20180614) the 'Change your password' button in disappeared

In previous versions there has always been the button to change the default password

### Steps to reproduce the issue

Install last GitHub version (20180614). Enter in Lizmap and press Login button. The first time enter:
user: admin
pw:   admin

Enter the administration area and at top rig

[2018-06-18 17:52] news24lor commented on #878
Hi @rldhont

The only error is this one inside error.log

[code]

And also in Lizmap it's impossible to view the relation data of a pg layer.
I see only the data of pg layer

The error is the same, the jelix driver.

I use PostgreSQL 10.4 and Postgis 2.4.4

[2018-06-19 08:52] morvan80 commented on #873
Thank you

[2018-06-19 13:06] rldhont commented on #617
some feedback ?

[2018-06-19 13:10] rldhont commented on #616
2 commits will probaby fixed the issue:
* d54f9d41ccd4153c919ca63d6684b2753216e510 Map - Use a selection token to avoid too big WMS urls
* 27d2119e290a737ccff2c78e3592203d0de39aba Fix PHP file_get_contents for POST

[2018-06-19 13:29] rldhont commented on #765
@jancelin do you have multi schema with same name ?

Do you have tested last release_3_2 ?

[2018-06-19 13:31] #790 closed

[2018-06-19 13:53] jlstanus opened #894 "edit attributes of Big geometry returns an error"
### What is the bug?
When try to edit attributes of complex geometries, this cannot be commited. Click on the save button returns an error.

### Steps to reproduce the issue

1. Go to [test site](https://www.gate-16.xyz)  with usr : test and pwd testtest
2. Click on 124652 spatial object
3. Edit this object from the popup and add any value
4. See error
 * error	An error has been raised when saving

[2018-06-19 14:03] rldhont commented on #894
The error is explicit. One field is defined in your database as a varchar(254), so even if this field is not updatable for user the value provided by lizmap is too big.

[2018-06-19 14:49] jlstanus commented on #894
- OK found the problematic feature with the lenght() function in Qgis.
- I didn't see this error because the field lenght is 254 (it has been 'naturally' truncated by qgis) so not grater than 254
- the reasoni was thiking it s big geometry it s because there are more informations for big geometries
![image](https://user-images.githubusercontent.com/402354/41603747-e53b2e34-73dd-11e8-8e36-357400fc8

[2018-06-19 15:44] Gustry commented on #889
Ah yes, you are correct, sorry.
I'm not the only one who thought it was a bug. IMHO, it's confusing from the user experience point of view.

As it's related to JQuery, feel free to close. I'm not sure what you can do about this behavior.

[2018-06-19 22:44] ilamarengo opened #895 "Issues with tooltip if CRS is not EPSG:4326"
### What is the bug?
hello, i am trying to add the tooltip to some layers in a project and i am failing.
Layers are in postgresql, QGIS version is LTR 2.18.17, OS is windows, Lizmap is the latest release, i use firefox as browser.

I had a look at the DEMO, montpellier and i can see that tooltip works fine for both shape files and sqlite files, hence i don't think it s a bug per se but certainly t

[2018-06-20 07:41] rldhont commented on #895
Do you have publised the layer in WFS ? Do you have verified that the request GetFeature returning good GeoJSON ?

[2018-06-20 08:20] josemvm commented on #790
thanks @rldhont 👍

[2018-06-20 08:58] ilamarengo commented on #895
yes i did,

Hello and thanks for you prompt reply.

So, if i export the file as GEOJSON i get a proper file: i can import into QGIS and see it properly with the entire attribute table.

Yes i have activate the WFS and WMS capabilities and if i copy and paste the following in firefox

http://148.251.22.181/cgi-bin/qgis_mapserv.fcgi?
map=/home/gmanghi/www/saeri_webgis/lizmap/install/dplus052/saint_h

[2018-06-20 10:05] ilamarengo commented on #895
further on the mail i sent.
i tried the WMS link generated by lizmap and it works fine, i can see all the layers i generated in the project and i can upload them in QGIS.
see attachment

what is the url i should then use only for WFS?
was what i sent in the previous email correct?

Many thanks!

![wms-sainthelena](https://user-images.githubusercontent.com/17223497/41651962-44841ff2-7458-11e8-96fa-

[2018-06-20 11:36] rldhont commented on #895
The WFS layer is the same but replace WMS by WFS.

[2018-06-20 13:15] ilamarengo commented on #895
Hello and thanks for your advice.

i followed it but now the error message that i obtain from QGIS is "unexpected end of file"

i still can't figure out what i am missing.

________________________________
From: rldhont <notifications@github.com>
Sent: 20 June 2018 08:36:19
To: 3liz/lizmap-web-client
Cc: Ilaria Marengo; Author
Subject: Re: [3liz/lizmap-web-client] issues with tooltip (#895)

The W

[2018-06-20 13:23] rldhont commented on #895
Do you have some messages in your Browser Dev tools ?
Do you have some error in lizmap ? Does @gioman can help  you ?

[2018-06-20 13:30] ilamarengo commented on #895
Hmm Lizmap doesn't show any error message.

Not sure where to check the error messages in the Browser Dev Tool.

Yes, i am in touch with @gioman and he can help me.

thanks, will keep you posted

________________________________
From: rldhont <notifications@github.com>
Sent: 20 June 2018 10:23:32
To: 3liz/lizmap-web-client
Cc: Ilaria Marengo; Author
Subject: Re: [3liz/lizmap-web-client] issues wit

[2018-06-20 13:59] rldhont commented on #889
You're not the only one who thought it was a bug. I'll take look to fix it.

[2018-06-20 15:59] josemvm commented on #798
@rldhont i have tested this code without success...

[2018-06-21 07:43] mdouchin opened #896 "Print error when selecting features in more than 1 layer"
### What is the bug?

Print does not work when using a selection on more than 1 layer.

### Steps to reproduce the issue

1. Use the demo Montpellier project
2. Select district and tram lines with the selection tool
3. Open the print tool and submit
4. 500 error for the getPrint request

The Lizmap log show there is a problem with the cache key :+1:

[code]
We should replace the ; by _ in the cach

[2018-06-21 08:03] jancelin commented on #765
harg....
warning	2018-06-21 10:01:33	[2]	file_get_contents(http://qgiserverD/cgi-bin/qgis_mapserv.fcgi): failed to open stream: HTTP request failed! HTTP/1.1 500 Internal Server Error
	/var/www/websig/lizmap/modules/lizmap/classes/lizmapProxy.class.php	121

[2018-06-21 09:06] josemvm commented on #500
wrong spatial location (far faraway or opposite hemisphere) on exports!...

QGIS Server: 2.14
Lizmap: 3.2

[2018-06-21 09:34] gioman commented on #895
@rldhont hi, I gave it a try. QGIS Server/Desktop 2.18.20, latest stable LM. WFS/GeoJSON is all ok. No error on the dev console in Firefox. As far as I can see (tested with the Montpellier demo project) tooltips only work if the layer is in EPSG:4326. Try with SousQuartiers, it won't work. The moment you save a copy of it in 4326, then for this copy tooltips will work (Quartiers and Tramstops work

[2018-06-21 09:42] ilamarengo opened #897 "Align projects thumbnails horizontally instead of vertically"
I am trying to change the way the project thumbnails are display in the main page of all lizmap projects.
I know that it is possible as i have seen the demo example
https://demo.lizmap.com/lizmap_3_1/
i read the source page and i compared with my lizmap projects page (where the thumbnails are displayed vertically and therefore people need to scroll down to find the latest project) and i can spot o

[2018-06-21 11:41] rldhont commented on #897
In the demo all the projects are in one repository.

[2018-06-21 12:36] jancelin commented on #765
@rldhont
always the message:

[code]

I don't understand, while the primary key is manually stipulated in the Qgis file when importing a Postgis view.

[code]

[2018-06-21 12:37] rldhont commented on #765
@jancelin thanks to reactivate this issue!

[2018-06-21 12:46] rldhont commented on #706
@Yolecomte have you tested with last versions ?

[2018-06-21 14:06] Yolecomte commented on #706
@rldhont Thk's for your feedback.
Answer is no... The company which I worked for when I face this problem isn't ready to upgrade for now. But I will make a try with a fresh installation on my own computer with the problematics datas.
I give some feedbacks as soon as possible!

[2018-06-21 15:52] ilamarengo commented on #897
great, thank you for your help

________________________________
From: rldhont <notifications@github.com>
Sent: 21 June 2018 08:42:01
To: 3liz/lizmap-web-client
Cc: Ilaria Marengo; Author
Subject: Re: [3liz/lizmap-web-client] Align projects thumbnails horizontally instead of vertically (#897)

In the demo all the projects are in one repository.

—
You are receiving this because you authored the th

[2018-06-22 09:30] #798 closed

[2018-06-22 09:37] nboisteault opened #898 "[UI] Point masked by bottom dock when zooming on"
### What is the bug?
Point features are partially masked by top of the bottom dock when zooming on.

### Steps to reproduce the issue

1. Load a point layer in attribute table tool
2. Click on 'zoom' for one of the point feature
3. Point is masked by top of the bottom dock

### Expected behavior
I think the point should be clearly visible on the map. If we put bottom dock height at 48% and not 50%

[2018-06-22 11:42] rldhont commented on #896
has been fixed, needs to be merged

[2018-06-22 12:19] josemvm commented on #790
popup tool doesn´t highlight features

[2018-06-22 13:51] rldhont commented on #14
@mdouchin already done in 3.2.0 ?

[2018-06-22 13:53] rldhont commented on #160
I'll close this issue, because an edition toolbar has been introduced in 3.2.0. You can open enhancement to get specific tool.

[2018-06-22 13:53] #160 closed

[2018-06-22 13:55] rldhont commented on #475
I close this issue because, the atlas is available in the popup if a plugin is installed server side. Document needs to be updated

[2018-06-22 13:55] #475 closed

[2018-06-22 13:59] rldhont commented on #136
I close it because it has been done

[2018-06-22 13:59] #136 closed

[2018-06-22 14:01] rldhont commented on #510
@Spitfiire do you have a PR to provide this feature ?

[2018-06-22 14:04] rldhont commented on #426
@nboisteault can you provide a PR for this enhancement ?

[2018-06-22 14:21] rldhont commented on #587
It was a bug and has been fixed in release_3_0 and release_3_1

[2018-06-22 14:21] #587 closed

[2018-06-22 14:23] rldhont commented on #581
Has been done!

[2018-06-22 14:23] #581 closed

[2018-06-22 14:32] rldhont commented on #898
Not so easy to do!

[2018-06-22 14:33] rldhont commented on #897
If you think the documentation is not clear, please, fill free to update it https://github.com/3liz/lizmap-documentation

[2018-06-22 14:33] #897 closed

[2018-06-22 15:14] nboisteault commented on #426
@rldhont I'll take look next week.

[2018-06-22 17:42] adelchia opened #899 "Edit layer empty in lizmap plugin"
Lizmap 3.1.8 – Qgis 2.18 – OS UBUNTU
When I click on "add layer" (aggiungi layer) in lizmap plugin (you can see the image) I can not find any Qgis level to edit. Is it the bug or other settings problem? Tank you.
![schermata del 2018-06-22 19-39-02](https://user-images.githubusercontent.com/37080380/41790821-109d5250-7654-11e8-841d-5e82be39a20f.png)

[2018-06-23 14:01] rldhont commented on #742
How to reproduce this issue ?

[2018-06-23 16:16] rldhont commented on #899
If the issue concerning Lizmap-plugin, please use the repository https://github.com/3liz/lizmap-plugin to open an issue about it.

[2018-06-23 16:16] #899 closed

[2018-06-23 16:31] rldhont commented on #895
@gioman I can't reproduced this issue. I have simply added SousQuartiers in tooltips without reprojection and it works!

I'm using QGIS Server 2.18.20 and lizmap 3.1.12

[2018-06-23 16:37] #765 closed

[2018-06-23 16:37] #896 closed

[2018-06-23 19:27] mdouchin opened #901 "Edition - replace tablename with layername"
Just seen there are 2 calls on tablename in lizmap/modules/lizmap/controllers/edition.classic.php , which is not set and must be replaced with layerName. Do you agree @rldhont  ?

[2018-06-23 23:00] Gustry opened #902 "Support ZM and Z values"
### Is your feature request related to a problem? Please describe

When data are stored in Postgresql, lizmap is using the `geometry_columns` view to fetch informations about the geometric field:
https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/classes/qgisVectorLayer.class.php#L221

But if a layer contains a Z or ZM values in the geometry, then the `geometry_column` is

[2018-06-24 09:48] rldhont commented on #901
I'm agree

[2018-06-24 10:01] rldhont commented on #895
In the lizmap admin, what is the value defined for qgis server version ?

[2018-06-24 15:52] gioman commented on #895
@ilamarengo please check if in the Lizmap configurations (after logging as admin) the QGIS Server version is set as ">= 2.18"

[2018-06-25 08:43] jancelin commented on #765
Thanks @rldhont , Working :)

[2018-06-25 09:20] rldhont commented on #902
It is a bug to fix but also an enhancement for lizmap poit of view.
Thansk for this feedback.

[2018-06-25 12:29] mdouchin commented on #902
Thanks for raising this issue. Indeed at present Lizmap cannot edit complex geometries like 3D or Z or M.

What about an update on X and Y ? Should we set the additional dimension (ex: Z) to 0.0 ? Should we keep it ? Should we provide a (complex) way,  like in QGIS, to let the user edit the third coordinate in a table ?

[2018-06-25 13:03] Gustry commented on #902
This doesn't work currently. I currently have a trigger to add altitude to my point. But lizmap is creating a XY point while my database takes a XYZ point. We can't change the data type even if we are usign a trigger: https://stackoverflow.com/questions/36870972/using-before-insert-trigger-to-change-the-datatype-of-incoming-data-to-match-t

I actually don't mind if we can't edit Z or M in lizmap.

[2018-06-26 11:36] dmarteau opened #903 "Layer names disappear when clicking twice on 'deploy all'"
### What is the bug?
Some layers name disappear (everytime with wps computed layers names)

### Steps to reproduce the issue
1. Click twice on 'deploy all'

### Expected behavior
Layers name shord not disappear

### Screenshots and logs
<img width="203" alt="capture_d_ecran_2018-06-26_a_12 52 26" src="https://user-images.githubusercontent.com/1822286/41908951-f120dfec-7945-11e8-8526-01334c4a18c9.p

[2018-06-26 15:23] #895 closed

[2018-06-26 15:23] #903 closed

[2018-06-26 15:48] rldhont commented on #893
You can reactivate it by changes the group rights for admins and users

Before:
![screenshot-2018-06-26-17-46-administration](https://user-images.githubusercontent.com/1575538/41923935-1402e474-7969-11e8-878e-254fee4f0d7a.png)

After:
![screenshot-2018-06-26-17-47-administration](https://user-images.githubusercontent.com/1575538/41923958-200f35a6-7969-11e8-9465-191fe9fd70dc.png)

[2018-06-26 15:48] rldhont commented on #893
@laurentj do you think we can update it by default ?

[2018-06-26 15:58] josemvm commented on #903
fixed https://github.com/3liz/lizmap-web-client/issues/551

[2018-06-26 16:00] rldhont commented on #551
@josemvm This has been fixed by fa6b3ff ?

[2018-06-26 16:02] josemvm commented on #551
yes @rldhont
thanks

[2018-06-26 16:03] rldhont commented on #551
ok

[2018-06-26 16:03] #551 closed

[2018-06-27 07:44] #901 closed

[2018-06-27 08:34] nboisteault commented on #805
Lizmap 3.1.3
QGIS Server 2.18
I have the same logs in /var/log/syslog when Lizmap do some GetMap request. It writes a line for every getMap of every project. Strangely the domain name in the log is always the one of the first project in my project list. I'm looking more deeply.

[2018-06-27 09:04] #879 closed

[2018-06-27 10:39] josemvm opened #905 "selection tool & refresh button"
### Is your feature request related to a problem? Please describe
when you have multiple selections relative to multiple layers (e.g. Quartiers and Points of interest), to remove all selections you have to go back to each layer to do this and click "Unselect all" from selection tool panel

### Describe the solution you'd like
the refresh button could clear all selected geometries of all layers fro

[2018-06-27 12:10] josemvm commented on #790
now, to highlight the geometries it requires the "**Add geometry to feature response**" on "OWS server", project properties

- when the user closes the popup, the highlighted features remains on the map - **solved**
- increase the radius of the highlighted point, if possible. the symbol becomes imperceptible with current radius - **the selection tool highlights the points more pleasantly**
![image

[2018-06-27 12:17] josemvm commented on #798
hi @rldhont
please, can you review this commit?
- it's not possible reshape the existing features
- for new features (before saving) - reshape only for subtract portions

thanks

[2018-06-27 14:51] josemvm commented on #798
hi @mdouchin

- now it's possible to use the node tool for both existing features and new features

- the reshape tool only works for subtract on new features
- for existing features the reshape tool (subtract) **only works on SQLite and not on postgreSQL**
- for add it doesn´t work in any way

i agree that the tool should be documented and i can contribute to do it

[2018-06-27 15:31] #871 closed

[2018-06-28 07:21] morvan80 opened #906 "WMS url"
Hello,
is it possible to escape a layer from the WMS url?

[2018-06-28 07:33] SenequeC commented on #898
Fixed by #907.

[2018-06-28 07:48] nboisteault commented on #898
Thanks @SenequeC !

[2018-06-28 10:41] rldhont commented on #893
@laurentj no need to install ldap authentication to have, password change disabled.

[2018-06-28 10:51] laurentj commented on #893
ok i found it : the ldapdao module is always enabled in fact :-/. A fix is coming.

[2018-06-29 08:37] laurentj opened #909 "With ldap enabled, the "change password" button for admin is not available"
### What is the bug?

The "change password" button for admin is not available when the ldapdao module is activated. For other users, it is normal as we cannot change the ldap password (it is not implemented), but the feature is needed for the admin user as this user is not a ldap user.

A temporary  fix is to go in the rights management for the user admin, and give him the right that allow to chan

[2018-06-29 08:38] laurentj commented on #893
This issue is fixed, the button is back. But there is an other issue related to this button when ldap is enabled, issue #909

[2018-06-29 08:38] #893 closed

[2018-06-29 08:41] laurentj commented on #893
When updated Lizmap, be sure that there is no "ldapdao.access=2" and no "jauth.access=2" into index/config.ini.php, admin/config.ini.php, cmdline/scripts.ini.php and mainconfig.ini.php (anyway, in a normal update, these files should be overwritten by those provided by lizmap). Check also localconfig.ini.php.

[2018-06-29 11:01] guigui26 opened #910 "Impossible de voir ma carte sous Lizmap"
Bonjour,
j'ai suivi la documentation "éditeur puis administrateur" pour installer Lizmap sur un Windows 10 en local.
J'ai créé mon projet sous Qgis (avec des données vecteur et raster)
J'ai activé le serveur OWS dans Qgis.
J'ai paramétré le plugin lizmap. A l'issue, j'obtiens bien un fichier de configuration (.cfg) dans le répertoire de mon projet.
J'ai copier coller l'ensemble du dossier au même

[2018-06-29 11:03] guigui26 commented on #910
Je précise qu'en dessous du nom du répertoire, si je clique sur Voir, je n'ai que le bandeau du haut mais pas la carte ....

[2018-06-29 11:20] jlstanus commented on #910
Vérifie

- les droits du répertoire projet/données que ce soit bien read pour utilisateurs et groupes
- vérifie les logs
- que la couche apparait dans l'arbre

Envoie un max de capture et logs

[2018-06-29 11:41] gioman opened #911 "Additional export/download formats do not show in LMWC(?)"
### What is the bug?

I Installed the QGIS Server plugin

https://github.com/3liz/qgis-wfsOutputExtension

as the documentation explains, and in the GetCapabilities of the WFS service I indeed see the additional formats:

[code]

### Steps to reproduce the issue

see above.

### Expected behavior
Is expected to see the additional formats automatically also in LMWC? or it is needed some additional

[2018-06-29 13:47] rldhont commented on #911
Are the WFS Capabilties is the same in lizmap and in QGIS Server ?
Do you have clear the `/temp/lizmap` directory with `lizmap/install/clean_vartmp.sh` ?

[2018-06-29 13:48] rldhont commented on #880
@Gustry have you clear the lizmap temp directory ?

[2018-06-29 13:48] mdouchin commented on #829
@josemvm please try with last master after 4bf4951

[2018-06-29 13:49] nboisteault commented on #426
The feature already exists. I've updated documentation to explain how to enable it here : https://github.com/3liz/lizmap-documentation/pull/98

[2018-06-29 13:50] rldhont commented on #910
Pouvez-vous nous indiquer la configuration de votre répertoire ? (chemin, titre)
Pouvez-vous nous fournir une impression écran de votre page d'accueil lizmap ?

[2018-06-29 13:51] rldhont commented on #910
Avez-vous regarder le log d'erreurs de Lizmap, `lizmap/var/log/errors.log` ?

[2018-06-29 13:52] rldhont commented on #906
What do you mean by `escape` a layer from the WMS URL ?

If the layer is in the WMS GetCapabilities, it is accessible through WMS.

[2018-06-29 13:58] gioman commented on #911
@rldhont you are right, from within LM the WFS Capabilities do not show the additional formats (even after running the clean tmp script). Not sure if I understand what it going on here (what I'm doing wrong). Any tip?

[2018-06-29 14:01] rldhont commented on #688
can you provide the project ?

[2018-06-29 14:14] josemvm commented on #829
fixed! :-)
thanks @mdouchin

[2018-06-29 14:16] guigui26 commented on #910
Merci de vos retours
voici des captures du paramétrage
"que la couche apparait dans l'arbre"?, désolé je ne comprends pas. Pouvez vous me préciser davantage ?
Je regarde le répertoire des logs
Faut il que le nom donné répertoire dans le client lizmap soit le meme que le nom du projet Qgis ?
Merci de votre aide
![repertoire-data](https://user-images.githubusercontent.com/40691279/42097190-c9178784-

[2018-06-29 14:16] #829 closed

[2018-06-29 14:30] #910 closed

[2018-06-29 20:09] Gustry commented on #902
I made the PR in lizmap plugin to warn the user that he will lose Z M values when editing: https://github.com/3liz/lizmap-plugin/pull/107

[2018-06-29 20:15] Gustry commented on #880
Sorry I forgot to check. I will do ASAP.
BTW I'm not sure about will lizmap temp directory.

[2018-06-30 12:31] rldhont commented on #880
use the `clean_vartmp.sh` script.

[2018-07-02 14:15] Gustry commented on #902
And finally I updated my opened PR on lizmap-documentation:
https://github.com/3liz/lizmap-documentation/pull/96

[2018-07-02 14:17] jancelin opened #913 "bug url images when moving a project to a different folder?"
Why can't I see images simply by moving a project to a different folder?

https://lizmap.sig.inra.fr/websig/lizmap/www/index.php/view/media/getMedia?repository=demo&project=atlas&path=media%2Fupload%2FProjet_plantation%2Fphoto%2Fphoto_chemin%2FIMG_20180516_100939.jpg
Working
https://lizmap.sig.inra.fr/websig/lizmap/www/index.php/view/media/getMedia?repository=public&project=atlas&path=media%2Fuplo

[2018-07-02 14:37] rldhont commented on #913
Did you move or copy the `media/upload` folder in the public repository ?

[2018-07-02 14:38] jancelin commented on #913
Harg....
My first idea!!! but is it not feasible to share media?

[2018-07-02 14:39] gioman commented on #911
@rldhont I guess could be an Apache misconfiguration on my side, am I correct? thanks in advance for any tip you can leave. Cheers.

[2018-07-02 14:39] rldhont commented on #913
you can create link folder, I have made fixes about this capability.

[2018-07-02 14:41] jancelin commented on #913
I try...

[2018-07-02 14:42] rldhont commented on #911
Use `clean_vartmp.sh` or update the `*.qgs` files.

[2018-07-02 15:03] jancelin commented on #913
Yep, thanks!!!

[2018-07-02 15:04] rldhont commented on #913
Can you update the documentation ?

[2018-07-02 15:06] jancelin commented on #913
Ok
just for track...

[code]

[2018-07-02 15:06] #913 closed

[2018-07-02 15:52] #911 closed

[2018-07-02 17:34] mdouchin opened #914 "Ldapdao : the user cannot log in more than one time"
### What is the bug?

When ldapdao is active on a PostgreSQL profile, a user can connect one time only. The second connection leads to a "wrong user or password message".

### Steps to reproduce the issue

1. install Lizmap with a PostgreSQL user profile and ldapdao active
2. log as a user, the deconnect: OK
3. log in again as the same user : Lizmap shows a connexino error (not bug but the red mes

[2018-07-03 13:17] rldhont commented on #914
Without LDAP, the user DAO is defined by the lizmap modules: https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/daos/user.dao.xml

@laurentj:
* is the same DAO used by ldapdao ?
* would the solution be to create a dedicated DAO for LDAP, with a default value for status to 1 ?

[2018-07-03 13:56] josemvm commented on #688
yes @rldhont
please, check your mail box

[2018-07-03 14:06] rldhont commented on #688
First time of access to the table, raw data are displayed. After reloaded the page, the table displays link.
It 's strange

[2018-07-03 14:10] josemvm commented on #688
displays link because you click on feature whose media field is not filled

[2018-07-03 14:10] rldhont commented on #688
I have understand the issue. If the column started by an empty string, the first cell does not contain string, the datatable does not activate the replacement of string by link! @mdouchin ping

[2018-07-03 14:12] josemvm commented on #688
that's right @rldhont

[2018-07-03 14:37] josemvm commented on #688
it's a regression from 3.1

[2018-07-03 14:52] rldhont commented on #688
@josemvm can you test the PR *[BUGFIX] Attribute table cell renderer* #915 ?

[2018-07-03 15:01] josemvm commented on #688
solved!!!
thanks @rldhont :-)

[2018-07-03 16:12] rldhont commented on #854
@morvan80 can you provide an access to the map ?

[2018-07-03 20:08] laurentj commented on #914
[yes](https://github.com/3liz/lizmap-web-client/blob/master/lizmap/var/config/admin/auth.coord.ini.php#L119)

no

[This is already done](https://github.com/3liz/lizmap-web-client/blob/master/lib/vendor-modules/ldapdao/plugins/auth/ldapdao/ldapdao.auth.php#L209)

I will investigate...

[2018-07-03 20:39] Gustry commented on #880
I don't have the same setup using a port http://localhost:8082/ and I can't reproduce right now. I will check again this ticket if it occurs again. Thanks.

[2018-07-03 20:39] #880 closed

[2018-07-03 20:53] #914 closed

[2018-07-03 21:51] #909 closed

[2018-07-03 22:06] laurentj commented on #808
I cannot reproduce the issue. Probably some steps are missing from the issue description.

You can reopen the issue if it occurs again.

[2018-07-03 22:06] #808 closed

[2018-07-04 07:10] morvan80 commented on #854
www.sitland.eu

[2018-07-04 08:16] rldhont commented on #854
@morvan80 can you update your lizmap-web-client to 3.1.12 ?

[2018-07-04 08:18] morvan80 commented on #854
the use i use is 3.1.12

[2018-07-04 09:54] josemvm commented on #714
hi @rldhont

i'm sorry for the noise... but please can you take a look at this script?

thanks

[2018-07-04 12:11] rldhont commented on #854
@mdouchin: @SenequeC has reproduced it. To soleve it we need to provide the right order from project.

[2018-07-04 13:22] josemvm commented on #742
@rldhont you can see these sql errors using my url and credentials that i sent to you yesterday

[2018-07-04 13:37] rldhont commented on #742
@josemvm I don't understand what you mean by *attribute table, slecting main feature* and *editing from attribute table*. Can you give me the way to reproduce the freeze ?

[2018-07-04 14:22] josemvm commented on #742
@rldhont the freeze situation only happens sometimes (after refactoring edition controller)...

but when you click on Data tool, "Pontos de Amostragem", Detail, any feature - these sql errors occur, before freezing:

[code]

after that, click on edition and edit a child - on this behavior sometimes the editor waiter sometimes freezes and crashes the lwc

i don't know if you can have sql errors on

[2018-07-04 15:49] rldhont commented on #854
I will probably have a solution but needs to be tested on projects to avoid regression.

[2018-07-04 19:42] josemvm commented on #742
you can see these logs in LWC, admin, logs
these errors happen after refactoring editon controller and this doesn´t happen in the 3.1 ver.

![imagem](https://user-images.githubusercontent.com/10053874/41027719-b15e79e0-696f-11e8-8c8b-cee93927e124.png)

i think these errors are the cause of the problem "freeze and crash"...

[2018-07-04 20:16] rldhont commented on #742
@gioman can you test 04ac82821565f570b0071a5049a50b62774216a9 ?

[2018-07-05 10:39] josemvm opened #918 "data tool - align dock top with layers dock top"
![imagem](https://user-images.githubusercontent.com/10053874/42318256-56bba7cc-8046-11e8-8b14-4dc78838a5aa.png)

thanks in advance

[2018-07-05 12:39] #688 closed

[2018-07-05 12:39] #854 closed

[2018-07-05 12:39] #898 closed

[2018-07-05 12:42] rldhont commented on #816
@laurentj this issue still remains ?

[2018-07-05 13:00] mdouchin opened #919 "Edition - bug for creation of feature containing a hidden boolean field with no default value"
### What is the bug?

An error occured when saving a new object which contains a boolean hidden field with not default value.

### Steps to reproduce the issue

1. Create a table in PostgreSQL with a boolean field with no default value
2. Add it in QGIS and configure the boolean field with Hidden edit type.
3. Publish it on a Lizmap map with edition enabled for the layer
4. Create a new feature, a

[2018-07-05 13:42] josemvm commented on #918
3.1 and, probably, 3.0

[2018-07-05 13:53] josemvm commented on #742
@rldhont in my case the error has disappeared
soon i will explore this project and ASAP i will give you feedback

thanks

[2018-07-06 07:28] morvan80 commented on #906
I explain better, I need to display a layer in the project but to block the display on the wms used in qgis (not to do it download locally)
Thank you

[2018-07-06 11:35] jlstanus commented on #816
Now it's ok.

Thanks

[2018-07-09 15:01] ribelinu opened #921 "Hide or show layers according profiles"
Hi,
That will be cool if it is possible to hide or show layers according profiles

To edit a layer is already dependant of profiles.

it will be useful in the case of layers for admin users,

regards

[2018-07-10 07:23] dmarteau opened #922 "Implement php/REST command for creating new repository as back office management"
### Is your feature request related to a problem? Please describe
Develop back-office tools for project management.

### Describe the solution you'd like
- A php command to add new lizmap repository
- Support command with REST API

This could be a starter for a larger move for managing Lizmap on server side or with REST.

[2018-07-10 08:05] jlstanus opened #923 "Feature to create link with hash to share hidden or restricted acces project"
### Is your feature request related to a problem? Please describe
Often, the project is not so confidential and can be shared with any people interested that get the link
The link is an alternative to authentification

### Describe the solution you'd like
To generate a link with hash without the name of the project and gives acces to a restricted project (or hidden project)
The admin could manage

[2018-07-10 10:26] mfangain opened #924 "Attribute table is empty for an external WFS layer"
### What is the bug?
Lizmap displays well objects on the map and popup,  but attribute table is empty (see image above).
I've tried with differents sources and several layers, the same problem occurs.

### Screenshots and logs
![image](https://user-images.githubusercontent.com/32867483/42503706-ace6ff1a-8439-11e8-908d-48e0a710cd7e.png)

### Environment

 - Lizmap version: 3.1.12
 - QGis version: 2

[2018-07-11 09:05] dmarteau opened #925 "Lizmap must use a semantically correct json"
### What is the bug?
Lizmap and Lizmap plugin produre and consumme a jso which is not semantically correcte (even
if the syntax is ok)

### Steps to reproduce the issue
- Generate a Lizmap configuration with the Lizmap plugin.
- Look at entry like: `{ "toggled": "True" }`

### Expected behavior
Boolean values should be `true` or `false` not `"True"` or `"False"`

### Environment
 - Lizmap version:

[2018-07-11 09:19] rldhont commented on #925
This issue has to be fixed in 3.1.x and here the JS code and PHP has to well understand boolean.

[2018-07-12 08:20] mdouchin opened #926 "ldapdao - add users to default "users" group, and do not remove them on group sync"
When using ldapdao module, with the group synchronization, Lizmap remove the user from the default "users" group. This

This "users" group should be considered as the "admins" group, and not subject to synchronization. Without this feature, the ldap administrator should create a "Lizmap users" ldap group, and put ALL the users in his organization in it, which is a bit cumbersome.

We need this "us

[2018-07-12 09:32] robibrazze opened #927 "INSERT IMAGE INTO A LAYER LEGEND"
Hi,
how is possible insert a personal image in a layer legend
(layer categorized) too view all simbol?
Thanks!
![legend](https://user-images.githubusercontent.com/28442671/42624893-c12a3d82-85c6-11e8-9ffb-cd135bc6c97f.JPG)

[2018-07-12 11:11] josemvm commented on #927
hi @robibrazze

yes, it's possible, you must use svg symbols

[2018-07-13 14:16] virtusmankind opened #928 "'Loading map' animation in map content"
### Is your feature request related to a problem? Please describe

While a map (and its layers of course) is loading, map content is white.

### Describe the solution you'd like

It would be useful and friendly to show an animation gif/static message on the screen like 'download_layer.gif' animation in layers panel while loading

### Describe alternatives you've considered

### Additional context

[2018-07-14 09:03] morvan80 commented on #854
Hi, I have updated to version 3.1.13 but the problem persists.
Thank you

[2018-07-15 08:38] rldhont commented on #918
fixed

[2018-07-15 08:38] #918 closed

[2018-07-16 13:46] rldhont commented on #854
@morvan80 it seems that your QGIS server as some issues:
[code]

[2018-07-16 14:33] josemvm opened #929 "popup tool - no longer highlights the geometries"
### What is the bug?
popup tool no longer highlights the geometries

### Steps to reproduce the issue

see Montpellier project

### Environment

 - Lizmap version: 3.2
 - QGis version: 2.14, 2.18
 - OS (windows, linux, macOS, android..): linux
 - Browser (Firefox, Chrome...): firefox
 - Lizmap data stored into Sqlite (default)? Postgresql? Mysql? sqlite

thanks

[2018-07-16 14:33] josemvm opened #930 "atlas tool - no longer zooms to the geometries"
### What is the bug?
atlas tool no longer zooms to the geometries

### Steps to reproduce the issue

see Montpellier project

### Environment

 - Lizmap version: 3.2
 - QGis version: 2.14, 2.18
 - OS (windows, linux, macOS, android..): linux
 - Browser (Firefox, Chrome...): firefox
 - Lizmap data stored into Sqlite (default)? Postgresql? Mysql? sqlite

thanks

[2018-07-17 15:02] nboisteault commented on #747
Same issue with 'Value Relation' widget.

@mdouchin when you say it would be heavy, you think about the case where we query each layers client side isn't it?

With SQL layers we could also join one layer with other layers containing key/values server side. Layers would have to be  be on the same database though.

[2018-07-19 09:39] SenequeC commented on #930
Hi, i think it's just a change in parameter of in the plugin Lizmap for the project.
'Zoom to feature' option is set to 'center' instead of 'zoom'. So it's probably not a bug but just a change.

[2018-07-19 09:50] SenequeC commented on #929
Hi, when you click on the 'select' button of the popup the feature is not highlighting itself ? I have no problem on my side.

[2018-07-19 11:46] Bray-N opened #932 "Search location doesn't work behind a webproxy"
### What is the bug?

If lizmap is behind a web proxy for http requests, location searching is KO, with PHP or Curl.

### Expected behavior

![image](https://user-images.githubusercontent.com/41430958/42940255-13b3af38-8b59-11e8-934c-c452d5f39c53.png)

### Screenshots and logs

![image](https://user-images.githubusercontent.com/41430958/42940245-08ad1dae-8b59-11e8-87e0-cc42e4a81968.png)

Works wit

[2018-07-19 22:40] news24lor opened #933 "Does Lizmap support a custom CRS?"
I'm trying to view a multiband raster file with a custom CRS. In QGIS it works well while in Lizmap it doesn't work. I have also selected the custom CRS in the properties but it is not visible.
I then did a test converting the file into a standard coordinate system and Lizmap saw it.
I ask you if Lizmap supports custom CRS, since I have many large raster files with their own CRS.

Thanks

[2018-07-20 04:51] gerald2545 commented on #440
really interested in this feature....I will have a look

[2018-07-20 05:21] gerald2545 commented on #440
quick answer to test
in LWC > mapj.js, replace

var cyclemap = new OpenLayers.Layer.OSM('osm-cyclemap',
            ["https://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
            "https://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
            "https://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]
            ,options
            );
with
var cyclemap = new OpenLayers.Layer.OS

[2018-07-20 07:33] rldhont commented on #930
The Montpellier project config has been changed with center and not zoom.

[2018-07-20 07:35] rldhont commented on #929
The Montpellier porject has been changed, the option to provide geometries in GetFeatureInfo has not been activated.

[2018-07-20 08:37] laurentj commented on #922
REST API means to have a strong authentication system.

For a first iteration, I propose to create only a php command

[2018-07-20 09:15] gioman commented on #933
@news24lor I remember this was an issue in old versions of LM, I always assumed it was fixed in LM3 but may be I'm wrong, or may be it regressed.

[2018-07-20 09:22] josemvm commented on #930
thanks @SenequeC and @rldhont !

[2018-07-20 09:22] #930 closed

[2018-07-20 09:35] josemvm commented on #929
@rldhont are you talking about "Add geometry to feature response" option in project properties, OWS server?

[2018-07-20 09:43] rldhont commented on #929
@josemvm yes, it is.

[2018-07-20 09:45] josemvm commented on #929
thanks @SenequeC and @rldhont !

[2018-07-20 09:45] #929 closed

[2018-07-20 10:52] josemvm commented on #811
more tests on QGIS server 2.18.21

apache errors:

[code]

lizmap error:

[code]

thanks

[2018-07-20 12:06] rldhont commented on #922
Implemented

To create a repository definition, the command line is:
[code]

Then to add rights you can use the command line `acl2right`:
[code]

For example, create the `test` repository and add view rights to all users
[code]

The other rights for lizmap repositories are:

* lizmap.tools.edition.use
* lizmap.tools.displayGetCapabilitiesLinks
* lizmap.tools.layer.export
* lizmap.tools.loginFilter

[2018-07-21 19:47] gerald2545 commented on #440
interested in a pull request?
nobody else is working on it?

[2018-07-23 07:09] morvan80 commented on #854
after updating to version 3.1.13 and updated the https certificate did not work properly anymore, now I have reset everything to version 3.1.12 and it works all regularly.

[2018-07-26 08:16] lymankj opened #935 "How to connect a project to local Postgresql database?"
Hi, when trying to load a project containing two layers from the localhost postgresql database, the postgresql log is full of errors about www-data not having permission or roles to access, login, etc. This was surprising because I assumed that lizmap would use the user name and password in the project.qgs file to connect to the database and not the user name of the apache2 user. Note that the pro

[2018-07-26 08:19] gioman commented on #935
@lymankj LM uses indeed the connection informations are they are saved inside the QGIS project. Check (yo can edit the .qgs file with a text editor) if the project file has the connection informations saved in it.

[2018-07-26 08:43] lymankj commented on #935
Hi, that's what I thought but the postgresql error log is still ::
`2018-07-25 22:30:52 HST [8474-1] www-data@mydb FATAL:  role "www-data" is not permitted to log in`

[2018-07-26 08:47] gioman commented on #935
@lymankj when you created the postgis connections in QGIS have selected to save both username and password? It seems that you haven't.

[2018-07-26 08:57] lymankj commented on #935
Sorry my mistake! The postgresql errors are from a few minutes ago.
Even though I explicitly told QGIS desktop to use the old credential format for the project file it still saved the password in some sort of cipher (dekstop v3.2). However, this now creates an error in the apache2 error log stating:
[code]
I suspect this could be a project.cfg error due to using QGIS 3.2 on the desktop and QGIS 2.

[2018-07-26 08:58] gioman commented on #935
@stick with QGIS LTR (2.18) on both ends.

[2018-07-26 09:06] lymankj commented on #935
OK! THANKS for your help I will give that a try!

[2018-07-26 09:53] nboisteault commented on #87
Maybe a feedback label should be created for this kind of issue.

[2018-07-26 09:55] nboisteault commented on #116
This issue can be closed ?

[2018-07-26 09:58] #116 closed

[2018-07-26 10:11] nboisteault commented on #139
Il semble que la limitation puisse venir de la configuration du serveur web. En diminuant le volume de donnée vous arrivez à obtenir plus d'objets.
Concernant la création d'une barre de progression, vous pouvez ouvrir un autre ticket.

[2018-07-26 10:11] #139 closed

[2018-07-26 10:44] dmarteau commented on #922
Command are working but do not send the correct exit error code:

If a repository cannot be created:
[code]
The return code is still 0 ! It should be at least 1

The command `lizmap/cmd.php acl2right` should not send error if the rights are already set (idempotence should not be consdered as error).

Other possible improvements

* The output message `---Add a right` is not very useful; it should b

[2018-07-26 12:43] nboisteault commented on #144
Pour plus d'info voir la partie sur l'optimisation de la [doc](https://docs.3liz.com/fr/publish/advanced_lizmap_config.html#optimizing-lizmap).

[2018-07-26 12:43] #144 closed

[2018-07-26 12:46] nboisteault commented on #145
Reopen issue if needed.

[2018-07-26 12:46] #145 closed

[2018-07-26 12:57] nboisteault commented on #155
This issue is related to https://github.com/3liz/lizmap-web-client/issues/747

[2018-07-26 13:04] nboisteault commented on #184
@veroniqueC is your issue still ocurring ? Reopen issue if needed.

[2018-07-26 13:04] #184 closed

[2018-07-26 13:06] nboisteault commented on #190
@GitMorin does your issue still occur ? Reopen issue if needed.

[2018-07-26 13:06] #190 closed

[2018-07-26 13:15] nboisteault commented on #237
Is it still the case with last Lizmap version ?

[2018-07-27 07:57] nboisteault commented on #259
I don't have problems with last versions of LWC.

[2018-07-27 07:57] #259 closed

[2018-07-27 08:05] nboisteault commented on #260
All changes can be done with CSS as explain in [doc](https://docs.3liz.com/en/publish/advanced_lizmap_config.html#creating-simple-themes).
Look at this [example](https://eau-angouleme.arb-na.fr/) where the whole head is modified.

[2018-07-27 08:05] #260 closed

[2018-07-27 08:18] nboisteault commented on #329
Reopen if you want to share what you did to solve your problem.

[2018-07-27 08:18] #329 closed

[2018-07-27 08:20] nboisteault commented on #338
@pcav do you still have this issue ?

[2018-07-27 08:22] #347 closed

[2018-07-27 08:24] #367 closed

[2018-07-27 08:30] #412 closed

[2018-07-27 08:34] #459 closed

[2018-07-27 08:41] #496 closed

[2018-07-27 08:53] nboisteault commented on #538
@loic74 does your issue still occur ?

[2018-07-27 08:57] nboisteault commented on #540
Fixed in LWC 3.2.

[2018-07-27 08:57] #540 closed

[2018-07-27 08:59] nboisteault commented on #543
@CARUN974 does this issue still occur ? Reopen issue if needed.

[2018-07-27 08:59] #543 closed

[2018-07-27 09:05] nboisteault commented on #553
@chanteclair12 does your issue still occur ? Reopen issue if needed.

[2018-07-27 09:05] #553 closed

[2018-07-27 09:06] #557 closed

[2018-07-27 09:09] nboisteault commented on #603
@pigreco reopen issue if issue still occurs.

[2018-07-27 09:09] #603 closed

[2018-07-27 09:12] nboisteault commented on #628
@jonoGIS reopen if issue still occurs.

[2018-07-27 09:12] #628 closed

[2018-07-27 09:32] ribelinu opened #936 "Cascading combo boxes in a form to add or modify data ?"
Hi,
is it possible to have cascading combo boxes in the form (Value Relation)  when a user add or modify a data ?
i try in Qgis with python code (just add), but I could not get the code to work in LWC

regards

[2018-07-27 10:15] #426 closed

[2018-07-27 13:22] #529 closed

[2018-07-27 13:29] nboisteault commented on #534
@ambreLy Reopen if issue still occurs.

[2018-07-27 13:29] #534 closed

[2018-07-27 13:33] nboisteault commented on #539
@rmarzocchi84 Reopen if issue still occurs.

[2018-07-27 13:33] #539 closed

[2018-07-27 13:35] nboisteault commented on #564
@daniloprocaccini Reopen if issue still occurs.

[2018-07-27 13:35] #564 closed

[2018-07-27 13:38] #570 closed

[2018-07-27 13:40] #582 closed

[2018-07-27 13:42] #586 closed

[2018-07-27 13:43] #588 closed

[2018-07-27 13:46] nboisteault commented on #591
@Strappy74 Reopen if issue still occurs.

[2018-07-27 13:46] #591 closed

[2018-07-27 13:48] #613 closed

[2018-07-27 13:49] #618 closed

[2018-07-27 13:50] #622 closed

[2018-07-27 13:54] #625 closed

[2018-07-27 13:55] #629 closed

[2018-07-27 13:55] #632 closed

[2018-07-27 14:03] nboisteault commented on #653
Reopen if issue still occurs.

[2018-07-27 14:03] #653 closed

[2018-07-27 14:06] nboisteault commented on #656
@80ben Reopen if issue still occurs.

[2018-07-27 14:06] #656 closed

[2018-07-27 14:09] nboisteault commented on #657
@giusme Reopen if issue still occurs.

[2018-07-27 14:09] #657 closed

[2018-07-27 14:10] nboisteault commented on #665
@shapley Reopen and give an url to test if issue still occurs.

[2018-07-27 14:10] #665 closed

[2018-07-27 14:14] nboisteault commented on #669
@pcav Reopen if issue still occurs.

[2018-07-27 14:14] #669 closed

[2018-07-27 14:16] #672 closed

[2018-07-27 14:18] #675 closed

[2018-07-27 14:19] #691 closed

[2018-07-27 14:20] #694 closed

[2018-07-27 14:22] nboisteault commented on #722
@ludovico85 Please reopen if issue still occurs.

[2018-07-27 14:22] #722 closed

[2018-07-27 14:24] #729 closed

[2018-07-27 14:39] nboisteault commented on #833
Can you give us all the steps to reproduce your issue ?

[2018-07-27 14:43] #54 closed

[2018-07-27 14:46] nboisteault commented on #392
@pcav Does issue still occurs ?

[2018-07-27 14:57] news24lor commented on #833
Hi @nboisteault
My request is only for embedded maps: Lizmap inside a normal web page. The first two icon are right (layer and info). I want to hide the third icon, "Open the map in full screen", only hide. This option is not present inside Lizmap web client and Lizmap plugin. It's more safe.

Thanks

[2018-07-27 15:05] nboisteault commented on #833
You mean you put Lizmap in an iframe ? Do you use this [script](https://github.com/3liz/lizmap-web-client/blob/55c0a869a7c8d610d91e1a0faf8fde8d81647488/lizmap/install/qgis/media/js/montpellier/toggleFullscreenViaLogo.js.example) ?

[2018-07-30 13:48] mtiozzo opened #937 "problem access projects via web url specifying user account"
I updated lizmap from 3.1 to 3.2. now I have a problem with the connection strings I used to see projects in php page, via iframe.
the string can access the repository but fails to authenticate the user.
the string used is the following:
http://SERVER/lm/index.php/jauth/login/in?login=USER&password=PASSWORD.&auth_url_return=%2Flm%2Findex.php%2Fview%2Fmap%2F%3Frepository%3D1%26project%3DBONIFICHE

[2018-08-02 07:35] rldhont commented on #937
The module to manage authentication has changed in lizmap-web-client 3.2

The URL to authentication is: http://SERVER/lm/index.php/auth/login/in

[2018-08-02 07:42] rldhont commented on #440
Fixed by #934 with mannually cherry-pick to release_3_2

[2018-08-02 07:42] #440 closed

[2018-08-02 07:47] rldhont commented on #933
Hi @news24lor ,
For helping you about this issue, can you provide a test URL ?
Have you tested the WMS directly from QGIS Server ?

[2018-08-02 08:01] rldhont commented on #892
@jaitor1 this could be an enhancement, I change the title of this issue and keep it for futur development.

[2018-08-02 08:47] mtiozzo commented on #937
I tried to change the links with your suggestion but still it does not work yet, I have to enable some services? or it's just a loggin string problem

http://SERVER/lm/index.php/auth/login/in?login=USER&password=PASSWORD.&auth_url_return=%2Flm%2Findex.php%2Fview%2Fmap%2F%3Frepository%3D1%26project%3DBONIFICHE

http://SERVER/lm/index.php/view/map/?repository=7&project=base4/auth/login/in?login=USER

[2018-08-02 08:52] rldhont commented on #937
The params have also changed:
* auth_login
* auth_password
* auth_url_return

[2018-08-02 09:44] mtiozzo commented on #937
I tried various combination of commands, using both the straight format you suggested and than tried mixing it with the old and the new (also tried the old plain format with new path and parameters).

Exemple:
http://SERVER/lm/index.php/auth/login/in?auth_login=USER&auth_password=PASSWORD.&auth_url_return=%2Flm%2Findex.php%2Fview%2Fmap%2F%3Frepository%3D1%26project%3Dproject

None of them has work

[2018-08-02 10:29] rldhont commented on #937
With lizmap 3.2, you can't do it like that, you need to generate a form (the html page) that contains a token to secure the authentication.

[2018-08-02 10:44] mtiozzo commented on #937
I need to call a lizmap on a php page.
I had thought about using iframe with the connection string I had sent to you previously.
so you can no longer use that string specifying your username and password. quite right?
so the only world to proceed is passing the session, ldap, etc ...
quite right?
Thanks

[2018-08-02 11:44] news24lor commented on #933
HI @rldhont
I don't have a public link unfortunately, sorry.
Files with a custom projection are netcdf multiband while other files, vector and raster have standard projections.
In QGIS I created new WMS, WCS and WFS links by inserting this simple QGIS Server link:

http://localhost/qgis-mapserv/qgis_mapserv.fcgi?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities&map=/www/path_of_qgis_projects/mypro

[2018-08-02 15:24] josemvm commented on #892
hi @jaitor1
how did you solve this embarrassment?

all google base maps are unusable for now!

[2018-08-02 15:31] josemvm commented on #892
until yesterday everything was fine here...

[2018-08-02 15:33] jaitor1 commented on #892
You have to insert Google Maps API key in Lizmap plugin's config in each QGIS map

[2018-08-02 15:35] gioman commented on #892
and now the get a key you will need to leave your Credit Card infos to Google...

[2018-08-02 15:38] josemvm commented on #892
@jaitor1
please, can you show us how you solved the problem?

[2018-08-02 15:40] gioman commented on #892
https://manifesto.co.uk/google-maps-api-pricing-changes/

https://goo.gl/images/t97ZUB

[2018-08-03 10:24] armagaet commented on #414
@nboisteault the solution you post is really useful, thanks!
I've tried it on my personal lizmap project, I correctly add the WMS on the map, but then I'm not able to show the layer inside the layer menu: how have you achieved that?
I'm trying to hack your code but is really hard ;)

To be more precise, I open a lizmap.dock and inside it I load an iframe with a window to choose the WMS url and the

[2018-08-03 11:08] lraes commented on #824
Bonjour,
Non car j'ai tout réinstallé (derniere version apache, php, et surtout lizmap)
ainsi je m'aperçois que les impressions ne sont plus quadrillées.
Merci
Cordialement

[2018-08-03 17:29] gaowudao opened #940 "how to configure wps service in the lizmap web client"
Dear friend,

I can run lizmap web client, but i don't know how to configure wps configuration in php.ini. Can you give a specific example: including wps_url, wps_rootDirectories, redis_port and ows_url. I am a beginner about how to configure wms, wps service.

Thank you very much.

[wps]
wps_url=http://wps:8080
wps_rootDirectories=/projects/wps
redis_host=localhost
redis_port=6379
redis_key_prefi

[2018-08-06 07:53] nboisteault commented on #824
Parfait. Merci pour votre retour.

[2018-08-06 07:53] #824 closed

[2018-08-06 08:42] nboisteault commented on #414
@armagaet `addLayer()` is an OpenLayers method to add a layer but it won't change the switcher at left. You need to find a Lizmap method to do that. Maybe you can add your layers in `layerConfig` object the same way external WMS layers (look at `externalWmsToggle` and `externalAccess` in code) are added by Lizmap plugin and then reload the switcher (`createSwitcher()` maybe ?).

[2018-08-06 10:51] armagaet commented on #414
@nboisteault thanks for the tip.
I'll have a look inside the code of LizMap to find the functions you cited.
Anyway I find really "obscure" the code of LizMap, there is no documentation or API guide...

By the way, right now I'm trying to let recognize the legend of my added WMS because it seems OL2 is not able to load it correctly (only for some services I've got this problem), and I'm not able t

[2018-08-06 11:32] nboisteault commented on #414
I find Lizmap code very clear. Like any other code you need time to dig in it. What are the URL and layer of the WMS you want to add ?

[2018-08-06 11:52] armagaet commented on #414
For the WMS I've solved it right now thanks to this thread (if anyone could be interested):
[](http://www.geoext.org/pipermail/users/2010-January/000462.html)
(I was using GeoExt to create the legend for another project)

Now I will focus on the problem inside LizMap and I will let you know, in case this problem could interest someone else.

By the way the URL of the WMS I would like to load in Li

[2018-08-06 12:01] josemvm commented on #414
hi @nboisteault

in this url case and for e.g. xxx layer, how can we add this layer to the LWC?

thanks

[2018-08-06 13:07] nboisteault commented on #414
Sorry I have not coded anything in LWC but what I would try to do is :

- At startup, create a button which open a window when you click on it. In this window their would be a text input to write the WMS URL and a button to query the WMS like the example in my [comment](https://github.com/3liz/lizmap-web-client/issues/414#issuecomment-260961213).

- The user choose a layer then we add it to `layer

[2018-08-06 14:35] armagaet commented on #414
I'm trying to add my layer to: `lizMap.config.layers` and `lizMap.layers`, because the object `layerConfig` is not accessible from my external js code.
I get a call to my code in `lizmap/responses/myHtmlMapResponse.class.php` as `$this->addJSLink($bp.'js/riccardo.js');`

I don't know if this is the right way. Then in my code `riccardo.js` I add the `lizMap.addDock()` function that add my button on

[2018-08-06 14:41] mdouchin commented on #414
@armagaet We have not published all functions in Lizmap API.

We are aware of improvements to make to

* Lizmap API
* Javascript code architecture, to make it easier to grab
* Need to migrate to OpenLayers 5

We have planed to do this work, but have yet no fundings to support this kind of work. If you can provide some help in this area, this could benefit to all users.

For your question, it is in

[2018-08-07 12:09] josemvm commented on #742
hi @rldhont

after some tests, i have checked that the edition waiter doesn't close...
the transaction is completed and there are no errors in lizmap errors.log file

![imagem](https://user-images.githubusercontent.com/10053874/43774429-f78ed624-9a40-11e8-8fc7-074d430c2035.png)

thanks

[2018-08-08 10:56] gerald2545 opened #941 "column name in database and alias"
Hi
instead displaying the name of the columns of the table of the database which contain my records, I wuold like to display the aliases, defined in QGIS, in the edition form as well as in the popup

I manage to display theses aliases in the edition form, but when clicking on one of the object on the map, the popup which displays the data linked to it uses the name of the columns instead of the al

[2018-08-08 11:13] gerald2545 commented on #941
sorry, my question is in french as I asked the georezo forum before.
Do you want me to translate in english?

[2018-08-08 16:48] laurentj commented on #937
The url should start with  `http://SERVER/lm/admin.php/auth/login/in`, not `http://SERVER/lm/index.php/auth/login/in`. This is why you have a 404 error.

Then parameters should be `?auth_login=USER&auth_password=PASSWORD&auth_url_return=%2Flm%2Findex.php%2Fview%2Fmap%2F%3Frepository%3D1%26project%3Dproject`. However as rldhont said, the token parameter is missing and you cannot forge it yourself.

[2018-08-09 12:02] jonnyforestGIS opened #942 "[Lizmap Master] Printing Montpellier Project"
### What is the bug?
Don't print map of Montepillier Project

### Steps to reproduce the issue
1. Open Montepellier Project
2. Select a print area
3. Fill description map
4. Open New Window to print and give blank page

### Expected behavior
PDF print of template map of Montepillier.

### Logs
2018-08-09 12:52:27	::1	warning	2018-08-09 12:52:27	[2]	file_get_contents(http://localhost/qgis/qgis_maps

[2018-08-14 15:50] robibrazze opened #943 "MAPBOX LAYER X,Y,Z DOES'T SHOW"
Hi, i insert basemap created whit mapbox studio
(https://api.mapbox.com/styles/v1/robibrazze/cj9smkic4265m2srq3wg9vkx2/tiles/256/{z}/{x}/{y}@2x?access_token=pk.ey myapikey)
in qgis 2.18.14 whit the connection tile server (x,y,z).
In lizmap set the layer as baselayer but the webmap don't show this layer.
(see http://94.130.187.94/webgis/index.php/view/map/?repository=repo5&project=prova_wms)

N.B.:

[2018-08-14 16:10] jonnyforestGIS commented on #331
Hi guys,
i found in the site that is necessary to have API key authentication. They have different price plans. [Free plan](https://openweathermap.org/price)
So is not so open anymore.

One of the ways is to have api key and add as tile:
`https://tile.openweathermap.org/map/{layer}/{z}/{x}/{y}.png?appid={api_key}`

[See](https://openweathermap.org/api/weathermaps#library)

Regards
João

[2018-08-17 07:44] helene-rossignol opened #944 "problem using WMTS restricted access without being connected to lizmap"
Hi,
I've published some projects in Lizmap web client and I want to use their wmts in another application. First, to avoid these projects appear in my Lizmap home page, I restricted their access by using a specific login/password and built my wmts request with these login/password, for example : _http://192.168.XXX.XXX/lm/index.php/lizmap/service/?repository=xxxxxx&project=xxxxx&SERVICE=WMTS&VERSI

[2018-08-17 09:07] helene-rossignol commented on #944
Thanks for your answer Mickaël ! You're right I've copied the URL with the login/password directly from QGIS... I will see if I succeed doing something with the authorization basic you indicate.

[2018-08-20 09:35] rldhont commented on #922
@dmarteau The exit error code has been fixed.

For the `acl2right`, I invite you to open an issue directly in jelix repository https://github.com/jelix/jelix

[2018-08-20 09:46] rldhont commented on #926
@laurentj gentle ping

[2018-08-20 09:52] rldhont commented on #941
Can you translate and give us some information like:
 - Lizmap version:
 - QGis version:
 - OS (windows, linux, macOS, android..):
 - Browser (Firefox, Chrome...):
 - Lizmap data stored into Sqlite (default)? Postgresql? Mysql?

[2018-08-20 14:51] rldhont commented on #742
can you take a look at the requests with de browser dev tools ?

[2018-08-20 15:09] rldhont commented on #937
The way you want to integrate lizmap needs to deactivate security in authentication form https://docs.jelix.org/en/manual/jforms/security

To do so you need to overload the jcommunity login form https://github.com/3liz/lizmap-web-client/blob/master/lib/vendor-modules/jcommunity/forms/login.form.xml or to create a controller to do the authentication and the redirection.

To overloading the form you

[2018-08-21 10:43] josemvm commented on #742
very nice! thanks a lote @rldhont :-)

[2018-08-21 11:13] #742 closed

[2018-08-21 11:13] #922 closed

[2018-08-21 11:13] rldhont commented on #742
@josemvm you can update your install

[2018-08-21 14:35] rldhont commented on #926
@mdouchin PR #945 merged in release_3_2, can you test it ?

[2018-08-23 07:39] Cww7 opened #946 "Pivot table"
Hi,

I can not use the pivot function in lizmap. In Qgis, everything works perfectly: I have 2 tables linked by 2 relations to a pivot table. When I add a child to a table, a new record is added to my pivot table.

In lizmap, I add my three attribute tables and check "Pivot Table?" for my pivot table. But when I display the data of my table 1, I see only the data of the pivot table and not that of

[2018-08-23 11:44] mdouchin opened #947 "Tile cache seeding - Need to run capabilities before running seeding script"
### What is the bug?

On some server, when trying to run the seeding script, we get an error.

[code]

It seems running the capabilities script beforehand is the way to solve it

[code]

[2018-08-23 13:07] #902 closed

[2018-08-29 07:45] mtiozzo commented on #937
thank you for the help you are giving me.
I followed all the steps you gave me to change the configuration of the jelix form.
more or less it works for my needs at this time.
the only thing is when I load the page where the iframe is present at the first loading lizmap directs me to the login page, I have to reload the page because the map is loaded.
do you have any suggestions how to solve?

than

[2018-08-30 10:25] rldhont opened #948 "Not well form table name in giving geometry format type"
### What is the bug?
This issue following #904 force geometry to Z and/or M when saving from lizmap which fixing the issue #902 Support ZM and Z values.

The request to get the exact geometry type fails in the case of schema or table name with upper case.

### Steps to reproduce the issue

1. Define a schema or a table in the Postgres Database with upper case
2. Add the layer with upper case in sc

[2018-08-30 11:49] rldhont commented on #943
It's an issue in QGIS Server https://docs.qgis.org/2.18/en/docs/user_manual/working_with_ogc/server/getting_started.html#cascading-ogc-layers it's the same for WMS or WFS layers.

[2018-08-30 11:50] rldhont commented on #942
Do you have the QGIS Server log ?

[2018-08-30 12:09] rldhont commented on #932
How did you exactly fix it ? Can you provide a Pull-Request ?

[2018-08-30 12:15] rldhont commented on #687
@josemvm you'd like to do cascading deletion, isn't it ?

[2018-08-30 12:25] rldhont commented on #616
Can we closed this issue ?

[2018-08-30 12:26] #547 closed

[2018-08-30 12:35] Gustry commented on #617
@rldhont As a tip, in my own repo, I'm using a label "Candidate for closing", so a few weeks later, I can loop in this list and I know that I can safely close this issue if no more feedbacks are coming. My 2 cents ;-)

[2018-08-30 12:37] Gustry commented on #948
Sorry for that. Is your commit already fixing this issue?

[2018-08-30 12:45] laurentj commented on #14
@reluc the urls.xml.dist contains some URLs declaration, but this was a work in progress. I have a (very old) branch that contains more fix in order to be able to activate significant url, but i did not finished.

So there are still some work to do. It is definitively for a futur version, not for 3.2, except if you want to delay the release of 3.2

[2018-08-30 12:52] rldhont commented on #14
ok move to 3.3

[2018-08-30 12:55] rldhont commented on #948
@Gustry yes

[2018-08-30 13:30] jlstanus commented on #616
Yes

[2018-08-30 13:30] #616 closed

[2018-08-30 13:52] Bray-N commented on #932
It's a very ugly fix, and working only for curl method...

[github-lizmap-3.1.12-proxy.patch.txt](https://github.com/3liz/lizmap-web-client/files/2336390/github-lizmap-3.1.12-proxy.patch.txt)

[2018-09-03 08:35] Cww7 opened #950 "Edition bug"
Bonjour,

J'utilise Lizmap 3.2 et postgresql 9.6. Lorsque je modifie une table sous lizmap, après avoir appuyé sur "enregistrer", la barre bleue charge indefiniment. Si je souhaite de nouveau modifier un objet, j'ai le message "Êtes-vous certain de vouloir annuler l'édition de cet objet ? Les modifications faites sur l'objet en cours d'édition seront perdues."

Dans le log de Lizmap, ce message ap

[2018-09-03 08:40] rldhont commented on #950
Can you update your issue with this template:
[code]

[2018-09-03 14:31] robibrazze opened #951 "Insert photo when there isn't connection"
Insert from the web with the function "editing data" a georeferite photo without having to click a point on the map, but automatically converting the coordinates of the photo into geometry ... it would be very useful for environmental monitoring.
This function would be very useful where there is no internet coverage and the photo insertion is done at home.
Do you think it is a function that can be

[2018-09-04 08:28] Cww7 commented on #950
### What is the bug?
When I edit a table, after pressing "save", the blue bar loads indefinitely. If I want to change an object again, I have the message "Are you sure you want to cancel the editing of this object?" Changes made to the object being edited will be lost. "
The changes are however saved in the database

### Steps to reproduce the issue
1.  Add the layer in the 'data' tool
2. Add the

[2018-09-04 09:07] dmarteau commented on #925
Now 3.2 is out, what is the status ?

[2018-09-05 07:53] Abelon38 opened #952 "GWC and Geoserver not accepting WMS/WMTS fron Lizmap?"
Hi!

I am trying to use a WMW generated by Lizmap on Goesrever and is not working. Geowebcache crashes when inserting the WMS link from Lizmap. This is the link fron my Lizmap:

http://qgis.nacka.se/index.php/lizmap/service/?repository=nackasbakgrund&project=nackasbakgrund&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities

It works well on QGIS desktop. Any adea on what may be wrong?

Regards and

[2018-09-06 20:46] andrerjesus opened #953 "Search in large datasets"
Hi, i'm using LIZMAP 3.1.14 and QGIS Server 3.2.2 on Ubuntu 18.04.

Everything is working marvelously, except the search tool.

I configured it to search in a PostgreSQL 9.6 table with 200.000+ records. It does work, but it takes 38 seconds to load the map, every single time i open it. The table has both unique index on the column and spatial index for the table. I tried using Quick Finder plugin

[2018-09-07 07:43] mdouchin opened #954 "Edition - Geometry must not be modified if the user has not edited it"
### What is the bug?

When the user edit a feature, but has not changed the geometry, Lizmap adds the geometry in the UPDATE query. We should not dot it, as the geometry precision could be changed by Lizmap (decimal truncated, etc.)

It can changed the topology of the data, which must be prevented

To be tested with PostgreSQL and SQlite

[2018-09-07 07:56] mdouchin opened #955 "Redirect to the map after authentication when coming from direct URL or permalink"
When we want to give a direct URL to a Lizmap map, which is protected with login/password, Lizmap redirects to the login form, but then after submitting the form, Lizmap redirect to the project page (Lizmap home).

Lizmap should redirect to the previously accessed map.

[2018-09-07 12:50] rldhont commented on #950
@Cww7 this issue has been probably fixed in RC3. Can you update your lizmap version ?

[2018-09-07 14:12] mdouchin opened #957 "Edition - When modifying an existing feature, timestamp data is not filled in the form with edity type date/time"
### What is the bug?

The edition forms show the field with multiple enties for each date and time elemnts (day, month, hour, etc.). The data for all the input is empty, which means the data can be lost when submitting the form.

### Steps to reproduce the issue

* publish a postgresql layer with a timestamp field with no default value, and add it in edition tool
* choose the edit type "calendar"

[2018-09-07 14:40] mdouchin opened #958 "Edition - Error when saving an uneditable empty boolean field"
### What is the bug?

When adding (creation) a new feature in a edition layer with a boolean field (with no default value set in database), Lizmap returns an error like `La saisie de "actif" est invalide`.
This field is not editable, so must not be clickable by the user

1. It seems the user can click it when he shoud not
2. the value of the field is set to 't' but should not be set. There is no d

[2018-09-07 14:43] sylsta opened #959 "Project name that contain '-' are not seen by lizmap engine"
### What is the bug?
Project name that contain '-' are not seen by lizmap engine

### Steps to reproduce the issue
Put a *.qgs and qgs.cfg that contains a '-'

### Expected behavior
n/a

### Screenshots and logs
n/a

### Environment
 - Lizmap version: 3.1.14
 - QGis version: 3.2
 - OS (windows, linux, macOS, android..): Debian 9
 - Browser (Firefox, Chrome...): Firefox, Chrome
 - Lizmap data store

[2018-09-07 14:45] mdouchin opened #960 "Edition - Add the QGIS edit type Unique values"
### Describe the solution you'd like

In QGIS, there is an edit type "unique values" which scans the distinct values of a field, and let the user have
* a combo box if the field is not editable
* a autocomplete text field if editable

We should add this possibility in Lizmap

[2018-09-07 14:55] mdouchin opened #961 "Edition - Add the cascading comboboxes with reference relation"
### Describe the solution you'd like

In QGIS, the edit type relation reference let the user decide if he wants to have cascading comboboxes by setting the filter parameter.

This could be awesome in Lizmap.

[2018-09-07 15:17] mdouchin opened #962 "Edition -Should we reactivate the client side jelix checks and not submit the form is not passed"
Since version 3.2, the Jelix form displayed when editing a layer feature can be submitting even if client-side javascript checks have not been passed.

Issue : when the form is then submitted, all the values are lost !
We should etiher reactivate the JS checks and not submit the form, or do it be restore the previously filled values (for creation and modification)

[2018-09-07 15:58] nboisteault commented on #954
The geom value is inside an hidden input in the form so we have to delete it just before submition if we didn't detect a geometry change.

[2018-09-10 07:41] #948 closed

[2018-09-10 10:36] morvan80 opened #963 "Problem with versions 3.1.13 and 3.1.14"
I encountered a problem from version 3.1.13 onwards, doing the update from version 3.1.12 does not show me the layers anymore but only shows me the basic maps, to get back everything working I have to go back to version 3.1.12. This happens only on the online one instead on the local one does not give me problems, the problem found and on the https protocol.

as https protocol use: letsencrypt

Th

[2018-09-10 15:28] sylsta opened #964 "Error loading legend of a wms layer"
### What is the bug?
The legend of wms layer is not correctly shown when loading it in Qgis.

### Steps to reproduce the issue
Load any wms in a project

### Screenshots and logs
![legend_issue](https://user-images.githubusercontent.com/19348327/45306726-a57e5880-b51d-11e8-90ae-c45880eab208.png)

It seems that a '&' is missing in the legend url (see red line on screenshot) between 'project' and 'S

[2018-09-11 13:07] jancelin commented on #493
exemple: for print atlas popup with a print_atlas.js

[code]
https://github.com/jancelin/lizmap_js/blob/master/print_atlas.js

[2018-09-11 15:11] mfangain commented on #422
+1!
Hiding or displaying some category style is really missing to Lizmap.
Duplicate layers is troublesome when displaying or editing data.

Thanks.

[2018-09-11 15:38] josemvm commented on #493
hi @jancelin

how does it work?

- put the print_atlas.js inside the media folder of the lizmap project
- needs an empty composer with an HTML input ?
- "liz-atlas-item-detail" ?

thanks

[2018-09-11 16:17] jancelin commented on #493
Hi @josemvm,
This JS print lizmap atlas item
1. Create a lizmap project ans configure atlas option on lizmap plugin
2. Copy print_atlas.js on /media/js/default or project name folder.
3. Run your project on Firefox, active atlas, choose a entity. Now you see entity item.
4. Click on print icon (on the left, above the atlas icon.
A New tab is open with your item and you can print it (pdf or paper).

[2018-09-12 15:00] #859 closed

[2018-09-12 15:42] rldhont commented on #963
When you update lizmap did you do these commands ?
[code]

[2018-09-12 15:44] rldhont commented on #964
Can you take a look at the WMS GetCapabilities xml document ? And check the GetLegendGraphic element content ?

[2018-09-13 09:10] sylsta commented on #964
Please find attached the xml document (with txt extension because of github upload rules).
[qgis_server_wms_capabilities_montpellier_montpellier.xml.txt](https://github.com/3liz/lizmap-web-client/files/2378520/qgis_server_wms_capabilities_montpellier_montpellier.xml.txt)
The GetLegendGraphic item is incorrectly worded.

[2018-09-13 09:23] ribelinu opened #965 "using a link to open a popup from another popup ?"
Is there a way to open a link to open a popup from another popup ?

it will be useful when you are in a popup with a list of children records and you can click on a children and open the corresponding popup

regards

[2018-09-13 15:15] mfangain opened #966 "When editing an object, retrieve user account to fill a field"
Hi,

### Is your feature request related to a problem? Please describe
I use "filter by user" functionality and when an user create a new object, I would like that the field used to filter would be automatically filled with the account of the user.

### Describe the solution you'd like
Perhaps an option in the table “Layer Editing” located in the plugin Lizmap “Tools” tab, where we could specify t

[2018-09-13 15:20] josemvm commented on #966
hi @mfangain

see here: https://github.com/3liz/lizmap-web-client/issues/624

[2018-09-14 13:15] nboisteault commented on #941
Hi Gérald,
I've created the same field "author_name" and the same alias and I can't reproduce your issue using QGIS Server 2.18.23 and Lizmap 3.1.14. Can you update both QGIS Server and Lizmap ?

[2018-09-14 14:26] nboisteault commented on #932
We could add a 'proxy' parameter in Lizmap's Administration configuration and use it for every CURL calls.
Another solution would be to directly request from the browser, this way we avoid a request to the lizmap server. @rldhont do we really need to query lizmap server ? When I look osm.classic.php I can' t see the reason why we don't directly query nominatim.

[2018-09-14 15:34] nboisteault commented on #825
I can't reproduce the issue with a layer with a space in its name.
I've used Lizmap 3.1.14, QGIS Server 2.18.23 and my layer is a Postgis one.
@mfangain do you still have this issue ?

[2018-09-14 16:05] josemvm commented on #493
hi @jancelin

thanks for your help!

![imagem](https://user-images.githubusercontent.com/10053874/45560824-12576280-b83e-11e8-9ecf-db282ba743c6.png) we need to improve the icon

![imagem](https://user-images.githubusercontent.com/10053874/45561384-83e3e080-b83f-11e8-9a7b-3e1e7df54b51.png) and the label too

nice :-)

[2018-09-14 21:14] andrerjesus opened #967 "minScale/MaxScale"
### What is the bug?
Scale concept of min and max scales between QGIS and Lizmap are different.

**QGIS**: To show a layer up to 1:40.000 I need to set **minScale: 40.000** and **maxScale: 0** in the Rendering option.
**Lizmap**: To show a layer up to 1:40.000 I need to set **minScale: 0** and **maxScale: 40000** in the .cfg file.

### Steps to reproduce the issue

1. Go to QGIS and add two layers

[2018-09-15 12:33] rldhont commented on #952
Do you have some logs of GeoServer or GeoWebCache to know why, the GetCapabilities document is wrong for us ?

[2018-09-17 09:57] mfangain opened #968 "Edition in Lizmap doesn't work on a layer with 2 styles"
### What is the bug?
It isn't possible to modify features for a layer which have several styles defined.
After the click on icon "Add"
![image](https://user-images.githubusercontent.com/32867483/45616602-41edb100-ba70-11e8-8403-d7cad9aa7722.png)
the editing panel never opens.

It's the same thing when I want to modify an existing feature from attribute panel or popup.

### Expected behavior
Click

[2018-09-17 11:54] mfangain commented on #825
Hello,

Yes, the issue still occurs, with Lizmap 3.1.14.
There's no space on table name in Postgis, but the issue appear when there is a space on the layer name in QGIS project.

Thanks :D

MFANGAIN

[2018-09-17 12:03] mfangain commented on #966
Thanks, I didn't find this when I looked at some information about this problem!
I will try the solution, even if I never used a javascript :D

[2018-09-17 12:03] #966 closed

[2018-09-17 13:52] mfangain commented on #968
The same problem occurs when a filter's defined on the layer, in Layer Properties, Provider feature filter and another filter by user in Lizmap plug in.

[2018-09-17 17:59] haduarte opened #969 "Locate by layer - filter"
Hi,

Is it possible to use "locate by layer" with additional filters?

I have a number of records that according to a particular action (edit) will have a status field with changed value. I would like to display in the "combobox" (locate by layer) only the records that have not yet been updated.
Can I do it through additional javascript? Could an example be possible?
thankful

[2018-09-18 12:28] rldhont commented on #964
the '&' is missing at the end of the URLs but QGIShas to identify it and add it.

[2018-09-18 13:28] rldhont commented on #791
Can you provide some feedback on this issue ?

[2018-09-18 13:30] rldhont commented on #617
@kevindescamps @rmarzocchi84 can you provide some feedbacks ?

[2018-09-18 13:34] rldhont commented on #389
@pcav can you provide some feedbacks ?

[2018-09-18 13:36] rldhont commented on #378
@nicolasvhISL can you provide some feedbacks ?

[2018-09-18 13:38] rldhont commented on #352
Has been fixed by d893f491aa85f7f05c8a3b664c168ce869d6da40

[2018-09-18 13:38] #352 closed

[2018-09-18 13:39] rldhont commented on #239
@slarosa can you provide some feedbacks ?

[2018-09-18 13:44] #955 closed

[2018-09-18 13:44] #964 closed

[2018-09-19 09:18] pcav opened #970 "Atlas not working?"
With current   LM  3.3pre.180827 I configure the atlas, but it is not shown.
Sample project attached.
[atlas.zip](https://github.com/3liz/lizmap-web-client/files/2396362/atlas.zip)

[2018-09-19 13:54] nboisteault commented on #825
Which QGIS Server version do you use ?

[2018-09-19 14:44] mfangain commented on #825
Hi,

I don't know, Lizmap is hosted by 3Liz.

But Lizmap 3.2 has been installed yesterday.
This issue seems in part resolved in this version :
- on the map, filter is well done even there's a space on the layer name
- but not on the attribute table panel : user sees all data (note that filter is well done when there's no space in layer name)

[2018-09-19 15:30] mathieubossaert commented on #569
Yes, a high "oooooh!" factor. Great to create and share "communication" maps.

[2018-09-19 16:49] ulmi opened #971 "QGIS Server 3: Can't correctly print or use the selection tool"
Been testing around with qgis-server+lizmap and almost successfully run the demo, bump into 2 issues in 3.1.14 and master

* can't use the selection tool
  in the log it show up this error
  `2018-09-19 17:29:58	10.0.2.2	notice	2018-09-19 17:29:58	[8]	Undefined offset: 0	/var/www/html/mylizmap/lizmap/modules/lizmap/controllers/service.classic.php	1237`

* when printing it only prints the map at fu

[2018-09-19 18:09] slarosa commented on #239
@rldhont I will give it a try tonight testing the release 3.2

[2018-09-19 18:29] gioman commented on #971
@ulmi any public URL or maybe one I can see privately?

[2018-09-20 06:32] slarosa commented on #239
@rldhont I done my test on release_32 branch and it has worked fine, even without the option to fetch data only within map extent. I done a test with a postgis table with over 18K features without any issue. Thanks and sorry for answering late.

[2018-09-20 06:32] #239 closed

[2018-09-20 07:43] kevindescamps commented on #617
It's working for me

[2018-09-20 07:53] ulmi commented on #971
Hi @gioman nop not yep.

let me see I can convince the IT department for a deploy, or workaround some solution...will you posted!

Thx

[2018-09-20 07:57] rmarzocchi84 commented on #617
I need to install the new lizmap client.. I will be give feedbacks as soon as possible

[2018-09-20 08:50] josemvm commented on #971
welcome @ulmi :-)

maybe your issue (printing tool) could be related to this other https://github.com/3liz/lizmap-web-client/issues/942

[2018-09-20 10:04] gioman commented on #942
@jonnyforestGIS @rldhont On WIndows/QGIS 2.18 Server LTR the GetPrint request is broken since... always. On Linux you can workaround the problem by installing and configure a fake xserver. This was NOT necessary on 2.14 (and of course was not a problem on Windows). Not sure if this is still an issue in QGIS Server 3.

[2018-09-20 10:13] gioman commented on #942
So it's not a LM issue.

[2018-09-20 14:18] jonnyforestGIS commented on #942
Test with:
Composeur1 and Landscape A4. Yes @gioman the error in adding a label and description persists. It's possible that the problem is from QGIS Server. I will try to make more tests.

@rldhont sorry for my delay
[logs.zip](https://github.com/3liz/lizmap-web-client/files/2401676/logs.zip)

[2018-09-20 14:33] rldhont commented on #962
@mdouchin can you test it 3a6ac4cd981c7669f382d291fb82353ce958e625

[2018-09-20 14:45] ulmi commented on #971
Hi @josemvm

Nop it's not related, altought the print issue is on the LM side, with some @gioman guidance, found out that, maybe the project montpellier.qgs has a problem on the request to qgis server on the address I change the **map1**0 and **map0** after the extent and it works as intended.

On the selection tool issue still no luck, I keep getting the same notice.

[2018-09-20 15:34] mdouchin commented on #954
The issue is related to the way Lizmap get and save the geometry. The methods `ST_AsText` and `ST_GeomFromWKT` are used, and they can change the geometry precision.

We can test it directly in PostgreSQL with this kind of query

[code]
Which modifies the source geom. Note that the unwanted change is made only once. The original geometry is lost.

We need to add a way to detect in JS that the geome

[2018-09-20 19:31] gioman commented on #942
@jonnyforestGIS don't waste your time, mine was not a "maybe", the QGIS Server 2.18 GetPrint is really broken under Windows, and at this point (we approach the next LTR) I guess it will never be fixed.

[2018-09-21 08:34] laurentj opened #972 "lizmapConfig.ini.php: Lizmap should not modify values of sensitive properties"
### What is the bug?

Sensitive properties are not edited by the Lizmap configuration editor. However, when saving values, the code save these properties. It should not, because:

1. to avoid unwanted changes in these properties that could be made by potential security issues
2. if the values in the ini file are environment variable name like `foo= ${BAR}`, these values should not replaced by the

[2018-09-21 08:43] laurentj opened #973 "Lizmap: too many "static" files into var/"
### Is your feature request related to a problem? Please describe

var/overloads, var/themes/ and some configuration files like mainconfig.ini.php are not files that are modified. It complexify the deploy of Lizmap with Docker or other  automatic deployment tools.

Ex: if we want to mount var/ as a persistent volume, we have to copy all of these static files, and we should update them each time we

[2018-09-21 15:55] ulmi commented on #971
Ok so after talk with @gioman I did fresh install but this time with qgis server 2.18.17 and everything works as intended, printing and the selection tool...so the trouble is with the changes on the qgis server 3.x version

thx all

[2018-09-25 08:25] Zargith opened #974 "Lose admin rights on admin account"
Hi!

I'm a new user of Lizmap so there is many things that I don't now how they works.

So, I've a problem a rights, I'm on admin account but I don't know why, I lost admin rights, for example, I can't create and manages users, rights of users, etc etc...
But I used to, some weeks ago I created a new user with all rights but he doesn't have the rights too (he's in admin group), so i've two account

[2018-09-25 10:42] laurentj commented on #937
@mtiozzo  I study some other solutions because giving the login and password within the url of an iframe is **very** insecure.

1. a first solution (and the best solution IMHO) is to use a SSO  (Single Sign-On) protocol, like [CAS](https://en.wikipedia.org/wiki/Central_Authentication_Service). It requires to install an authentication server, but these protocols are designed for your needs I guess.

[2018-09-25 12:50] morvan80 commented on #963
Hello,
unfortunately I also tried to format the server in the cloud and rebuild everything from scratch but the problem persists.
I repeat this only makes it from version 3.1.13 onwards with all the previous ones working perfectly.
Suggestions, thank you.

[2018-09-25 12:51] andrerjesus commented on #967
I'll move it to the right session. Sorry

[2018-09-25 12:51] #967 closed

[2018-09-25 16:38] laurentj commented on #937
Instead of using CAS, which can be very tricky to install (the CAS server is a JAVA application..), I think it will be simpler to implement a token base protocol to authenticate into Lizmap, using JWT token. I started to write specification.

An application which wants to embed a lizmap map, will have to call a new web API of Lizmap, with credentials of the user and a "return URL". As response the

[2018-09-26 05:40] gerald2545 commented on #343
same error today. I think (pretty sure) this error arise when te file is too heavy.
with the same form, loading a 17MB file does not succeed and the "The parameter project is mandatory !" is displayed. Loading a 2MB file succeeded without problem.

maybe the error message could be more explicit...
will try to investigate

lizmap web client 3.1.14
qgis server 2.18

[2018-09-27 13:37] danzig666 opened #975 "Popup doesn't show up on mobile (touch screen)"
I'm unable to get the popup to show up on mobile browsers. A brief tap only moves the map a few pixels, but the popup doesn't show up. (Well it does sometimes, like 1 try in 20).
Am I missing some setting or is this a bug?

[2018-09-27 15:35] nboisteault commented on #957
@mdouchin I've tried to reproduce the issue without success. Do you still have this issue?

[2018-09-27 15:44] nboisteault commented on #957
@mdouchin : I spoke too quickly, I can reproduce it. I didn't see that I had to check 'allow NULL values'. I was watching constraints 'not NULL'...

[2018-09-27 18:35] nboisteault commented on #958
- Also the error message is not returned when value for checked/unchecked are 1/0 in QGIS.

[2018-09-27 20:59] rldhont commented on #957
I have fixed **Edition -Should we reactivate the client side jelix checks and not submit the form is not passed** #962 with 3a6ac4cd981c7669f382d291fb82353ce958e625 does it fix this one ?

[2018-09-28 11:13] andrerjesus commented on #953
I don't know why but my QGIS3 projects does not work with QFTS files.
I have to recreate them in QGIS2 for Quickfinder search to work in Lizmap.

[2018-09-28 11:13] #953 closed

[2018-09-28 15:41] nboisteault commented on #950
@Cww7 is your issue fixed with RC3 ?

[2018-09-28 15:43] nboisteault commented on #942
Please reopen if it is a LWC bug.

[2018-09-28 15:43] #942 closed

[2018-09-28 15:44] gioman commented on #942
it is not.

[2018-09-28 15:47] nboisteault commented on #492
@jlstanus links are dead. Do you still have issue with last Lizmap 3.2 ?

[2018-09-28 16:04] nboisteault commented on #491
@josemvm layers order in attribute table works ok for me. Can you test ?

[2018-09-29 16:09] #959 closed

[2018-09-29 16:09] #962 closed

[2018-10-01 08:51] josemvm commented on #491
hi @nboisteault

look at montpellier project:

![imagem](https://user-images.githubusercontent.com/10053874/46278800-264dd480-c55f-11e8-8cff-be8caf90ce67.png)

![imagem](https://user-images.githubusercontent.com/10053874/46278855-572e0980-c55f-11e8-817f-7d6e5d1ef66e.png)

thanks

[2018-10-01 09:43] josemvm opened #977 "[enhancement] locating tool - graphical division (pivot tables)"
hi @SenequeC (and all developers)

if it is a pivot table there should be no graphical separator
so the perception of layers becomes more clear

![imagem](https://user-images.githubusercontent.com/10053874/46279913-5a76c480-c562-11e8-9d8c-c0ef4ce1cf1c.png)

https://github.com/3liz/lizmap-web-client/issues/382

thanks

[2018-10-01 10:04] josemvm commented on #811
more tests on QGIS Server 2.18.24

lizmap url:
[code]
apache errors:
the same as above and
[code]

lizmap error:
the same as above

thanks

[2018-10-01 10:07] josemvm commented on #804
solved on QGIS Server 2.18.24 and LWC 3.3pre version

[2018-10-01 11:43] josemvm commented on #748
i saw this pull request https://github.com/qgis/QGIS/pull/7294 by @rldhont on QGIS Server 2.18.21 but the LWC still doesn´t use the selection color...

[2018-10-01 11:47] josemvm commented on #288
related to https://github.com/3liz/lizmap-web-client/issues/288

[2018-10-01 11:47] josemvm commented on #748
realted to https://github.com/3liz/lizmap-web-client/issues/288

[2018-10-01 12:04] josemvm commented on #748
- on display always uses the yellow color
- on print always uses the feature color, **it doesn't print selection** (this implies that the only way to highlight a feature is to use a filter, losing all the rest of the layer features...)

[2018-10-01 12:15] josemvm commented on #748
see here https://github.com/qgis/QGIS/pull/7185 for the capability to print selection with Server 2.18

thanks

[2018-10-01 12:41] jlstanus commented on #492
Sorry, i have no more active instance Lizmap available to test

[2018-10-03 08:47] nboisteault commented on #491
@josemvm You're right.
"attribute table" fixed by https://github.com/3liz/lizmap-web-client/pull/978.
Can you test it ?

[2018-10-03 10:09] nboisteault commented on #491
Locate by layer works thanks to this : https://github.com/3liz/lizmap-web-client/blob/bcf2a63e5ec552a46163cf2b5da851233fd867c9/lizmap/www/js/map.js#L2592

[2018-10-03 11:44] morvan80 commented on #963
The problem also persists with version 3.1.15.

[2018-10-03 12:13] rldhont commented on #963
Do you have an example map ?

Do you use shortName ? Do you use layer name with space, and accent ? Do you have configure PHP or curl in lizmap config for request to the server ? Do you have take a look at the logs : lizmap, qgis server ?

[2018-10-03 12:13] rldhont commented on #963
What is your QGIS Server version ?

[2018-10-03 13:32] nboisteault commented on #491
Layer order in every tools has been fixed.
@josemvm : please test and tell us if it is ok. Thanks.

[2018-10-03 13:39] morvan80 commented on #963
with version 3.1.12 everything works regularly, when I go to update from 3.1.13.

Ubuntu server 16.04

[2018-10-03 14:14] Zargith commented on #974
Well so I have Lizmap in a Docker container, so I had just to delete and rebuild the container. But I have to reconfigure my Lizmap now (users, repositories, etc...). That's the only solution I found...

[2018-10-03 14:14] #974 closed

[2018-10-03 14:27] rldhont commented on #963
@morvan80 we can't reproduce your issue, so we can't fix it.

Can you give us an example ?

[2018-10-03 14:30] morvan80 commented on #963
now I'm not in front of the pc, when can we do the test?

[2018-10-03 14:46] josemvm commented on #491
thank you so much @nboisteault
everythin works fine!!! :-)

if you can take a look at time manager tool...

[2018-10-04 07:08] danzig666 commented on #975
@nboisteault  Sure, [here it is](http://50.3.78.104/lm/index.php/view/map/?repository=test2&project=ebeszab&layers=TTTTT&bbox=834315.963383%2C237674.701658%2C836451.684321%2C238702.34538&crs=EPSG%3A23700)

[2018-10-04 07:43] josemvm commented on #491
hi @nboisteault

no, that's all!
go ahead on time manager and dataviz module 👍

thanks

[2018-10-04 09:02] danzig666 commented on #975
You're right, it works on another Android phone.
It seems that my primary phone (Galaxy S8) is buggy.

[2018-10-04 09:49] #975 closed

[2018-10-05 09:15] morvan80 commented on #963
Version 31.12
![lizmap_3 1 12](https://user-images.githubusercontent.com/35898831/46526829-b063a900-c88f-11e8-9df9-6216337d0609.jpg)
Version 3.1.15
![lizmap_3 1 15](https://user-images.githubusercontent.com/35898831/46526832-b48fc680-c88f-11e8-9944-84f06e2a6dc3.jpg)
https://www.sitland.eu/index.php/view/map/?repository=acerno&project=cdu

Thanks, link with 3.1.12.

[2018-10-05 11:30] rldhont commented on #963
Can you provide a link for 3.1.15 ?
If not, can you use the dev tools of your browser to check the URL of WMS images and test its ?

[2018-10-05 13:29] laurentj opened #979 "Remove exclamation mark from error messages"
Many error messages end with an exclamation mark.

I suggest to remove them, as it gives the impression of being assaulted. Sometimes, the error may come directly from the user himself, but many errors are triggered because of bad configuration, bad project files (that may no be created by the current user) etc...

Error messages should be more kindness :-)

[2018-10-05 13:46] laurentj opened #980 "PHP/Lizmap technical errors when list of layers in *.qgs.cfg does not correspond to list of layers into *.qgs"
### What is the bug?

If the `.qgs.cfg` file, generated by the lizmap plugin in Qgis, has not been updated after a layer has been removed with Qqgis (so from the .qgs file), the removed layer is still shown into lizmap. And when we launch feature like edition on this layer, we have errors shown in Lizmap like

[code]

### Steps to reproduce the issue

1. Create two layers in Qgis, and save the qgi

[2018-10-05 14:00] morvan80 commented on #963
Since it is the only provider running I can only load version 3.1.15 when you want to do the tests, I'm waiting for your news. Thank you