[2018-10-08 07:51] mdouchin commented on #979
+1

[2018-10-08 08:33] mdouchin commented on #958
With @laurentj we decided to remove the disabled fields from the query (INSERT or UPDATE) sent to the PostgreSQL database. We think that if the editor has disabled the field (for example to allow to see it in the form, contrary to the hidden fields which are not visible), it should not be modified.

For new features (INSERT query), the editor should add a DEFAULT VALUE if the field is set NOT NULL

[2018-10-08 09:19] mdouchin commented on #957
I have not managed to reproduce this bug either. I will ask the reporter to provide a QGIS project

[2018-10-08 11:50] Cww7 commented on #950
Hi,
I have updated my lizmap version to RC5 and I do not encounter any problem.
Thx.

[2018-10-08 11:50] #950 closed

[2018-10-08 11:50] #946 closed

[2018-10-08 12:22] arno974 opened #983 "Création d'un nouveau répertoire => Texte affiché "Modifier le répertoire""
Lors de la création d'un nouveau répertoire, le titre affiché en haut du formulaire est "_Modifier le répertoire_".

Ne serait-il pas pertinent de modifier ce titre par "_Ajouter un répertoire_" ou "_Créer un répertoire_" ?

------------

After clicking on create a new repository, the form's title is "_modify repository_".
Should not it be something like "_Add a new repository_" or "_Create a repo

[2018-10-08 13:08] arno974 opened #984 "In form's repository, change "view repositories" for "view repository""
After the creation of a new repository (or modify repository) the option view repositories should be in singular (view repository) ?

[2018-10-08 14:19] dmiolo opened #985 "Problem adding new export format (CSV, KML, ecc)"
I installed qgis-wfsOutputExtension reading this guide: https://github.com/3liz/qgis-wfsOutputExtension.
and in the GetCapabilities of the WFS service I indeed see the additional formats:
[code]
I've just clear the `/temp/lizmap` directory with `lizmap/install/clean_vartmp.sh` following this issues: https://github.com/3liz/lizmap-web-client/issues/911 but don't work's.

- Lizmap version: 3.1.14
-

[2018-10-09 13:33] #87 closed

[2018-10-10 08:27] laurentj opened #986 "Error when redis server is down"
### What is the bug?

When lizmap is configured to use Redis as cache, and when the Redis server is down, there is a 500 error. With Lizmap 3.1, there was no error

### Steps to reproduce the issue

1. configure lizmap to use redis
2. stop the redis server
3. open lizmap in the browser
4. See error 500, blank page

### Expected behavior

We should discuss if  we should ignore Redis error or not.

[2018-10-10 08:31] laurentj commented on #986
Possible solutions :

- we ignore the error, but we should have to log it into errors.log
- we keep the 500 error, but we should probably show a message indicating the origin of the issue

[2018-10-10 11:31] dmiolo opened #987 "Show map in order on Repositories page"
Good morning.
Is it possible to change the order in which the maps are displayed on the repositories homepage as shown in the attached image?
Thank you
![cattura](https://user-images.githubusercontent.com/43961850/46733502-d5da2380-cc90-11e8-80a8-3cfb68093269.JPG)

[2018-10-10 14:43] rldhont commented on #970
@pcav  Can you test this commit 03b0f16ff3560b637377f3dfc68800a2da7261db **Create lizMap.getFeatureData to getFeature without Attribute table config**

[2018-10-10 16:07] pcav commented on #970
Confirmed, now it works.
Thanks a lot.

[2018-10-10 16:07] #970 closed

[2018-10-10 18:44] #972 closed

[2018-10-10 19:02] laurentj commented on #932
I take it

[2018-10-10 22:13] laurentj commented on #932
I have a patch. I have to add new parameters into the configuration form before doing a PR.

[2018-10-11 06:03] laurentj commented on #932
@nboisteault you're right, we could make a request directly from the UI.  nominatim.openstreetmap.org allows to request itself from any origin (because of its [CORS headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), so it should not be an issue in the UI. But we should open an other ticket for that.

[2018-10-11 14:28] NoAtaraxie opened #988 "Filter Data by User/Group do not work"
I followed the tutorial step by step: https://vimeo.com/83966790
But when I connected to the account that should see the data,
I do not see any layers on the map.
I checked, I disabled client / server caching. But nothing changes. i
What could be the raison?

- Lizmap verison : 3.2
 - QGis version: 2.18
 - OS (windows, linux, macOS, android..): ubuntu 16
 - Browser (Firefox, Chrome...): chrome

[2018-10-11 15:09] nboisteault commented on #988
Hi,
Do you have a public link to share ?

[2018-10-12 07:21] rldhont commented on #988
Is the field used to filter provided by a joined layer ?
Is the user in a group that override filtre ?

[2018-10-12 07:36] rldhont commented on #985
Do you have some format (GML, GeoJSON) or none to download vector data ?
Has the user have the right to download vector data ?

[2018-10-12 07:42] dmiolo commented on #985
Yes, i can download the standard format (GML and GeoJSON).

[2018-10-12 08:03] NoAtaraxie commented on #988
Hello rldhont,
1) I created a new column for all my layers.  So they all have their own column.
2) My user is in the group 'users' and 'viewers_1'(id group i used for filter data)

[2018-10-16 07:35] mfangain opened #990 "Settings for transparency for base layers"
Hi,

 ### Is your feature request related to a problem? Please describe
Sometimes base Layer is too forth and we don't see our informations very well.

### Describe the solution you'd like
In Lizmap plugin, we could set the transparency (or opacity!) for all base layers, or for each one.

### Describe alternatives you've considered
For the moment, each user can modify transparency each time he ope

[2018-10-17 14:51] josemvm opened #991 "trying to login on lwc - php error"
hi

[Wed Oct 17 15:44:51.048640 2018] [:error] [pid 1979] [client 10.27.11.245:63505] PHP Fatal error:  Trait 'Lizmap\\Form\\WidgetTrait' not found in /var/www/html/lizmap-web-client-master/lizmap/plugins/formwidget/input_htmlbootstrap/input_htmlbootstrap.formwidget.php on line 14, referer: http://myhostip/

lwc master version

thanks

[2018-10-18 08:48] rldhont commented on #991
Can you update to last master version 3.3pre.181017 ? 6cb90102bbb0479fe43946eda526266048c915ce

[2018-10-18 08:50] rldhont commented on #988
What is the exactly the lizmap config for Filter Data by User/Group ?
Do you want to use login or group to filter layer ?

[2018-10-18 08:53] rldhont commented on #985
Does the WFS GetCapabilities provided by lizmap contain extra format ?

[2018-10-18 09:01] rldhont commented on #825
It has been fixed by e22d9f470fea94a56072432535bcae904d61baf8

[2018-10-18 09:01] #825 closed

[2018-10-18 09:06] josemvm commented on #991
hi @rldhont

the problem remains...
and the map is not rendering...
![imagem](https://user-images.githubusercontent.com/10053874/47143593-721daf00-d2bd-11e8-8e2d-c802b454a2f6.png)

[2018-10-18 09:08] dmiolo commented on #985
Yes, the WFS GetCapabilities provided by lizmap contain extra format  but i can't show it in the user interface to export it.

[2018-10-18 09:12] rldhont commented on #985
Can you provide a link to view the issue ?

[2018-10-18 09:20] josemvm commented on #991
the same for the version 3.2 RC6

[2018-10-18 09:33] rldhont commented on #991
Which PHP version ?

[2018-10-18 09:38] josemvm commented on #991
sorry, you are right. no problems with 3.2.0
php 7.0

[2018-10-18 10:03] dmiolo commented on #985
Sure: http://80.211.160.7/cgi-bin/qgis_mapserv.fcgi?SERVICE=WFS&REQUEST=GetCapabilities&MAP=/var/www/lizmap-web-client-3.1.5/lizmap/install/ENEL_Rilievi/etra/00907571_PADOVA.qgs

[2018-10-18 10:06] josemvm commented on #748
@rldhont what can say about these issues  related to print selection with Server 2.18(.24) ?
thanks

[2018-10-18 10:07] rldhont commented on #985
Thanks for the QGIS Server link, but I need the lizmap one.

[2018-10-18 10:10] rldhont commented on #748
The selection print is available since QGIS 2.18.21 and the use of project selection color in print is also available since QGIS 2.18.21.

[2018-10-18 10:17] josemvm commented on #748
i'm talking about the lizmap capabilities to explore these features (?)

[2018-10-18 10:17] dmiolo commented on #985
80.211.1607/lm
login as user: test
password: testlizmap

[2018-10-18 10:42] josemvm commented on #748
https://github.com/3liz/lizmap-web-client/issues/464

[2018-10-18 10:49] dmiolo commented on #985
How can i check if Apache2 does not activate QGIS Server Plugin?

[2018-10-18 12:50] rldhont commented on #985
take a look at this page https://www.itopen.it/qgis-server-python-plugins-tutorial/

[2018-10-18 14:03] dmiolo commented on #985
I followed the guide and I can correctly view the Hello Word plugin, but I can not get the wfsOutputExtension extension to work.
Could you help me please?

[2018-10-18 15:14] dmiolo commented on #985
I solved by setting the address (URL) of the WMS server by pointing to port 81.
http://127.0.0.1:81/cgi-bin/qgis_mapserv.fcgi

Thanks!

[2018-10-18 15:14] #985 closed

[2018-10-19 14:38] laurentj opened #992 "Configuration: proxyMethod parameter is useless"
### Is your feature request related to a problem? Please describe

In the configuration form of lizmap, the user can choose the "proxy method" to use to do requests : php or curl.

This is a very technical parameter. I think that most of users doesn't understand what is exactly. And it is not easy to explain it in the documentation. Lizmap can guess it automatically (with `extension_loaded("curl")

[2018-10-21 13:36] FPaulsen opened #993 "No Grid in PDF - Print"
System:
lizmap 3.2rc6 & 3.1.14
QGIS 2.18.24
Ubuntu 16.04 Server

In my QGIS project exist 2 print composers. Both have one grid at MAP 0.

In QGIS the grid is in the pdf file.
In LIZMAP the grid is not in the PDF.

[2018-10-22 19:43] FPaulsen commented on #993
Sorry it is an internal Server.

Can i help with more informatios / examplefiles etc ?!

[2018-10-22 19:46] nboisteault commented on #993
Could you share a simple QGIS project reproducing the issue ?

[2018-10-23 04:18] pcav opened #994 "Legend takes up all the screen in smaller devices"
When opening on a small screen, eg a mobile phone, the legend is displayed at startup, and no map is shown

[2018-10-24 15:00] gioman commented on #811
is confirmed this is not working with qgis server 2.18?

[2018-10-25 07:19] #983 closed

[2018-10-25 07:19] #984 closed

[2018-10-26 14:23] dmarteau opened #995 "Cannot add new user"
### What is the bug?

Cannot add new user error is: La saisie de "Courriel" est invalide
Whatever the input is (valid courriel)

### Steps to reproduce the issue

1. Go to Admin -> Utilisateurs -> Créer un nouvel utilisateur
2. Fill Nom d'utilisateur*, Courriel*, Mot de passe, Retapez le Mot de passe...'
4. Click on Enregistrer
5.See error: La saisie de "Courriel" est invalide

### Expected behavi

[2018-10-26 14:44] dmarteau commented on #995
Apparently a problem of copy/past/encoding from the browser.

[2018-10-26 14:44] #995 closed

[2018-10-26 16:18] FPaulsen commented on #993
[qgis_intranet.zip](https://github.com/3liz/lizmap-web-client/files/2519976/qgis_intranet.zip)

[2018-10-26 16:19] FPaulsen commented on #993
I have activate an Grid in the demo project.

The Grid is shown in QGIS but not in the PDF in LizMap

[2018-10-29 08:01] gmusumeci opened #996 "Lizmap 3.1.16 unable to use multigeometries"
Multigeometries (multipoint, multilinestring, multipolygon) are not visualized by lizmap.
Sometimes multipolygons are visible but using the attribute table it's impossible to filter by feature or zoom on feature

 - Lizmap version: 3.1.16
 - QGis version: 3.2.3+14stretch
 - OS (windows, linux, macOS, android..): Debian Server 9.5 on virtualbox
 - Browser (Firefox, Chrome...): Chrome
 - Lizmap data

[2018-10-29 09:29] rldhont commented on #963
Can you give us an acces after upgrade today ?

[2018-10-29 09:35] morvan80 commented on #963
When you want to do the tests let me know because now I'm back to version 3.1.12, it's the only one that works.

[2018-10-29 09:35] morvan80 commented on #963
Excuse me what you mean by access, do I need to create an account in lizmap?

[2018-10-29 09:39] rldhont commented on #963
I'd like to have an access to your install with version upper than 3.1.12

[2018-10-29 09:45] morvan80 commented on #963
How can I send a user and password in a private way?

[2018-10-29 09:51] rldhont commented on #963
Send me an email: rldhont at 3liz.com

[2018-10-29 10:05] morvan80 commented on #963
e-mail sent

[2018-10-29 10:15] morvan80 commented on #963
tell me when can I upgrade to version 3.1.16?

[2018-10-29 10:16] rldhont commented on #963
go!

[2018-10-29 10:17] morvan80 commented on #963
version upgrade 3.1.16

[2018-10-29 10:19] rldhont commented on #963
Can you clean the var and temp lizmap directory with the script clean_vartmp.sh ?

[2018-10-29 10:21] morvan80 commented on #963
could you describe the procedure I have to do?

[2018-10-29 10:29] rldhont commented on #963
Can you provide Lizmap logs in mysitland/var/logs ? and QGIS Server logs ?

[2018-10-29 10:32] morvan80 commented on #963
the folder is empty

[2018-10-29 10:32] rldhont commented on #963
The strange thing, is that some request response is:
[code]

[2018-10-29 10:33] rldhont commented on #963
Can you launch
[code]

[2018-10-29 10:34] morvan80 commented on #963
ok launched

[2018-10-29 10:36] rldhont commented on #963
Is POST request authorized to your QGIS Server in your Apache2 or NGINX configuration ?

[2018-10-29 10:38] morvan80 commented on #963
yes since version 3.1.12 works, after having done some previous checks, when I install this library it does not work anymore:
cd letsencrypt
./letsencrypt-auto --help
./letsencrypt-auto --apache
./letsencrypt-auto renew

[2018-10-29 10:42] morvan80 commented on #963
if you want I send you access to my server?

Da: rldhont
Inviato: lunedì 29 ottobre 2018 11:36
A: 3liz/lizmap-web-client
Cc: morvan80; Mention
Oggetto: Re: [3liz/lizmap-web-client] Problem with versions 3.1.13 and 3.1.14(#963)

Is POST request authorized to your QGIS Server in your Apache2 or NGINX configuration ?
—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2018-10-29 11:05] nboisteault opened #997 "attributeLayerContentReady event is called too early (attribute table is not ready) in attributeTable.js"
### What is the bug?
`attributeLayerContentReady` event is called too early (attribute table is not ready) in attributeTable.js.

### Steps to reproduce the issue

1. put a breakpoint just after `attributeLayerContentReady` event
2. Load an attribute table
3. Attribute table is not ready when execution hit the breakpoint

### Screenshots and logs
![image](https://user-images.githubusercontent.com/

[2018-10-29 11:05] morvan80 commented on #963
can I go back to version 3.1.12?

[2018-10-29 11:06] rldhont commented on #963
yes

[2018-10-29 11:08] morvan80 commented on #963
As you can see, just back to version 3.1.12 "without any other changes" it starts working perfectly again.

[2018-10-29 11:51] morvan80 commented on #963
The problem seems to have arisen after solving this:
# 854

[2018-10-29 12:21] rldhont commented on #963
@morvan80 it's not the same, Your issue here is that Lizmap or QGIS Server returns 'Service unknown or unsupported' for WMS GetMap, GetPrint...

[2018-10-29 12:28] morvan80 commented on #963
ok thanks, I'm waiting for your news.

[2018-10-29 12:42] rldhont commented on #963
Since 3.1.13, Lizmap communicate with QGIS Server through POST request. So to solve this issue, you have to create a dedicated vhost for your qgis server.

For exemple create a vhost with `qgis.server` serverName and without https and update you hosts file to associated 127.0.0.1 with qgis.server. And finally update your lizmap config to use http://qgis.server/cgi-bin/qgis_mapserv.fcgi

[2018-10-29 12:49] morvan80 commented on #963
Could you tell me step by step what should I change?
Thank you

[2018-10-29 14:39] nboisteault commented on #762
Here is some code to add this enhancement by [extending Lizmap](https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#adding-your-own-javascript).

Limitation : it adds a text input on every columns with values. The filter just look for strings matching the word searched. I've put a `setTimeout` because of #997 .

This code can be adapted to make smarter search based on attributes

[2018-10-29 14:39] nboisteault commented on #838
@ribelinu : take a look at #762

[2018-10-31 09:00] signedav commented on #780
The documentation is correctly updated. Thanks for that.

But I'm stucking at the same point, so I attach on this issue since it's still open. Tell me if I should open an other one, please.

When I try to install like:
[code]
I receive:
[code]

**What I did:**
I've Lizmap 3.1.4. I did the following things for the LDAP integration:
1. installed php5-ldap
[code]

2. copied the ldapdao to the lizmap-

[2018-10-31 09:54] josemvm commented on #464
hi,

this regression remains...
please, can anyone confirm this?

thanks

[2018-11-03 11:15] guenterw opened #998 "Problem with German umlauts in wms service"
Hi,

I'm new here, because my English is very bad but I try using Google Translate.
Lizmap I use for over 2 years, a great tool. Thanks a lot for this!

But I have two problems. The first here, the second in another issue:
wms services of lizmap projects misrepresent German umlauts:
https://www.wagner-it.de/download/pic/wms_lizmap.jpg

https://wms.webgis.biz/index.php/lizmap/service/?repository=1&

[2018-11-03 15:14] rldhont commented on #998
There is no issue in Lizmap HTML User Interface. The bad displayed is done by QGIS.

Here is a WMS GetFeatureInfo: https://wms.webgis.biz/index.php/lizmap/service/?repository=1&project=wms_endingen_brw16_gesamt&LAYERS=brw2016_gesamt&QUERY_LAYERS=brw2016_gesamt&STYLES=default&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&EXCEPTIONS=application%2Fvnd.ogc.se_inimage&BBOX=5331317.813424%2C3393693.2

[2018-11-03 17:19] guenterw commented on #998
thank you for the fast feedback

[2018-11-03 17:57] guenterw opened #999 "Problems with Lizmap 3.1.16 on Android 8.0"
In Lizmap-Client (3.1.16) on Android 8.0 (Samsung Galaxy Tab S3 and Samsung Galaxy S7), I can not select items (for example Points) in the Chrome and Samsung browsers. It works in the Firefox browser.

With Android 7.0 (Samsung Galaxy Tab A 2016) it works on all Browsers.

Are problems with Android 8 known.

Thanks and Greetings

[2018-11-05 10:23] hugoC1 opened #1000 "Spatialite issue"
Hi,

I'm using Lizmap to create an editable online map but I have issues using Spatialite layers.
Those data are not loaded with the map (they work fine in QGIS Desktop 2.18.23)

The server administrator found that in the log :
`ERROR: Too many connections: max 64
ERROR unable to initialize the SpatiaLite extension: NULL cache !!!
php-apache2handler-lizmap.XXXXX.org[25693]: {"NAME":"LIZMAP_SERVICE

[2018-11-05 10:29] josemvm commented on #1000
hi @hugoC1

take a look at https://github.com/3liz/lizmap-web-client/issues/740

[2018-11-05 10:45] signedav opened #1001 "Authentification driver "ldapdao" not found"
Hi there

When trying to login on the browser I receive an error like this:
[code]
And in the `/var/www/websig/lizmap/var/log/error.log` I see that:
[code]

## Steps to reproduce the issue
I made the following installations / configurations:
### 1. install php5-ldap
I  have `php --version`: PHP 5.6.33-0+deb8u1
[code]
### 2. copy the module to lizmap
[code]
### 3. declare the ldapdao module in loca

[2018-11-05 10:45] signedav commented on #780
This problem does only occur on master checkout. With the latest version of ldapdao (2.0.4) there's another message on installation:
[code]

Anyway with 2.0.0 or 2.0.4 the installation succeeds - still I have trouble with the driver #1001

[2018-11-05 10:49] signedav commented on #1001
Probably you will know what to do, since it's concerning the `ldapdao-module` configuration @laurentj ? Thanks a lot and sorry if I'm wrong.

[2018-11-05 11:37] Zargith opened #1002 "Can't editing layers in projects (Windows)"
Hello!

I'm trying to setup Lizmap in a Windows server (Windows Server 2012 R2). I followed the doc about how to install Lizmap in a Windows server but actually I can access to my project but I can't edit layers on it.

I opened the consol panel in firefox to find out what was happening when I clicked on the editing layer and I got this :
`jquery-1.12.4.min.js:4 GET http://91.206.199.123/index.php

[2018-11-08 09:34] jancelin opened #1003 "urlengine https add a :80 on getmedia URL"
Hi,
When I add
[code]

on my  localconfig.ini.php all getMedia requests  have a :80 added...
Without the urlengine no modification of the url
Here are the examples:
with urlengine:
https://lizmap.sig.inra.fr:80/websig/lizmap/www/index.php/view/media/getMedia?repository=public&project=atlas_2&path=media%2Fupload%2Fentete_popup.png
without urlengine:
https://lizmap.sig.inra.fr/websig/lizmap/www/inde

[2018-11-08 12:06] danzig666 commented on #999
Same here on Samsung Galaxy S8 (Android 8.0)

[2018-11-09 06:13] arno974 opened #1004 "Change ""Autoriser les thèmes du répertoire" to "Autoriser les thèmes/codes javascript du répertoire""
According to the documentation, to allow javascript to be executed, the admin must click on "Autoriser les thèmes du répertoire" in repository configuration. This label can be confusing has there is no mention of the javascript code. I suggest to improve it by "Autoriser les thèmes/codes javascript du répertoire"

[2018-11-10 16:12] majorxtrem commented on #991
Same issue on a fresh install of debian 9 php 7.0 and git master version of LWC

[2018-11-11 10:45] mdouchin commented on #991
@laurentj same error I told you about

[2018-11-13 08:42] arno974 opened #1005 "Lizmap Print - set a minimum height for the text box"
If a user want to add a long text (for example a long description), the input in the Lizmap web client is too small. Would it be interested to have an option to change the default input to a a textarea ?

[2018-11-13 09:31] josemvm commented on #1005
hi @arno974

you can see here about it https://github.com/3liz/lizmap-web-client/issues/426

[2018-11-13 09:41] arno974 commented on #1005
Oops sorry ! Thanks @josemvm. Didn't use well the github search box...

[2018-11-13 09:41] #1005 closed

[2018-11-13 17:22] robibrazze opened #1006 "modify the popup layer informazioni"
How is possible modify the pop layer "informazioni"?

![info](https://user-images.githubusercontent.com/28442671/48430990-e3436b80-e770-11e8-96a0-d03dec84a30b.JPG)

thanks
Roberto

[2018-11-13 21:39] rldhont commented on #1006
If you mean updating the localization, you can do it on Transifex.

[2018-11-14 09:02] robibrazze commented on #1006
Hi, i would modify the text in bold, for example "zoom all'estensione del layer" whit
" visualizza il percorso".-
thanks
Roberto

[2018-11-14 17:31] danzig666 commented on #1006
I applied for hungarian translation a while ago on Transifex. I got no answer.

[2018-11-15 15:15] danzig666 opened #1007 "Composer layouts not recognized at all when using QGIS3"
Composer layouts not recognized at all when using QGIS3.
A print button doesn't even show up in LizMap.

[2018-11-16 16:26] pcav opened #1008 "Please share a roadmap"
It would be good to have a public roadmap for the upcoming releases, and if possible also for the longer term development. This would make things more predictable for users and sponsors.

[2018-11-17 14:03] rldhont commented on #1006
Hi @danzig666
Hungarian has been updated and will be available in 3_2 branch.

[2018-11-18 19:53] rldhont commented on #464
Hi @josemvm, I can't confirm it. I can print with selection.

[2018-11-19 10:41] loic74 opened #1009 "Edition: uploaded picture link and https proxy"
Hi,

My Lizmap installation (3.1.4) is on : 192.168.0.3 (80)
Lizmap is accessible from the net via an https proxy.

Links to pictures uploaded are wrong: it generates https://192.168.0.3:80... url instead of http:192.168.0.3.
Also when accessed via the https proxy.

1. How to make sure that the locally generated address is http and no https?
2. And how to make sure that when using the https proxy,

[2018-11-19 22:35] #932 closed

[2018-11-19 22:47] rldhont commented on #1008
We will use the Milestones to share a roadmap: https://github.com/3liz/lizmap-web-client/milestones
* Version 3.3.0 is already defined
* Version 4.0.0 has to be defined

[2018-11-20 06:03] pcav commented on #1008
Thanks, very useful!

[2018-11-20 07:19] aeduard opened #1010 "Update to lizmap 3.2 - blank page on login because of missing trait 'Lizmap\Form\WidgetTrait'"
Hi,
I had the following configuration: Ubuntu 16, Qgis server 2.18, PostgreSQL + PostGIS, PHP7, Lizmap 3.1 master. I decided to update to Lizmap 3.2, all the rest remained the same. I have followed the update procedure from the official lizmap documentation, but without success.
Then I decided to delete and reinstall lizmap, I've followed the procedure from the documentation, but the same situatio

[2018-11-20 10:22] josemvm commented on #464
sorry @rldhont you are right :-)

[2018-11-20 11:05] josemvm opened #1011 "[feature] dynamic data - real time representation"
e.g. if we have dynamic data from a meteorology station or from a vehicle position how can lizmap represent it in real time ?

https://github.com/3liz/lizmap-web-client/issues/502

thanks a lot

[2018-11-20 13:30] mdouchin commented on #1011
This feature could be added for QGIS 3, since there is an option in the layer properties to refresh the layer every N millisecond. We could read this property and do the same in Lizmap.

Another way would be to use some JAvascript like
See https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/install/qgis/media/js/montpellier/periodicallyRefreshLayers.js.example

[2018-11-20 15:14] jancelin commented on #1010
test with Raspberry Pi of lizmap 3.2.0 and same problem when I want to login

[code]
no problem with 3.2rc6

[2018-11-20 15:39] Gustry commented on #1007
@danzig666 Which version of Lizmap are you using?

3liz, do you confirm that only the master branch of LWC (aka 3.3) will be fully compatible with QGIS 3?

Do you have a know list of issues with QGIS 3 and Lizmap 3.2?

[2018-11-20 16:36] laurentj commented on #1003
@jancelin did you set `forceHTTPPort = true` and `forceHTTPSPort = true`?

https://docs.lizmap.com/current/fr/install/advanced_install.html#lizmap-behind-a-proxy-reverse-proxy

[2018-11-20 17:50] danzig666 commented on #1007
3.2.0
3.1.16 did not work either.

[2018-11-20 21:38] laurentj commented on #1009
Hi, please configure Lizmap as indicated in the [documentation of proxy configuration](https://docs.lizmap.com/current/en/install/advanced_install.html#lizmap-behind-a-proxy-reverse-proxy). Then tell us if it's ok.

[2018-11-20 21:39] #1008 closed

[2018-11-20 21:53] laurentj commented on #1010
Please tell me details of errors that are into lizmap/var/log/errors.log.

You can also configure php to display errors : `display_errors=on` into php.ini (/etc/php/7.0/fpm/php.ini or /etc/php/7.0/apache2/php.ini). Don't forget to restart apache or php7.0-fpm. (change to `display_errors=off`again when all will work well)

[2018-11-20 22:06] #696 closed

[2018-11-20 22:44] laurentj commented on #780
@josemvm doc updated on docs.lizmap.com
@signedav I released a 2.0.5 that fix the issue `Undefined index`

[2018-11-20 22:44] #780 closed

[2018-11-20 22:51] laurentj commented on #1001
Hi,

1. Be sure to use the latest version 2.0.5 of ldapdao.
2. Remove all files from temp/lizmap/
3. relaunch lizmap/install/installer.php
4. go to the login form with your browser.

If it still fails, open the file temp/lizmap/www/admin~config.ini.php.conf.php, find the arrays `_allBasePath`, `_pluginsPathList_auth` and `_modulesPathList`, and paste it here please

[2018-11-20 23:15] #991 closed

[2018-11-20 23:17] laurentj commented on #991
A change in the release_3_2 (which declare the `Lizmap` PHP namespace) was not merge into master. I don't understand why...

I fixed the declaration of the namespace into the master branch.

[2018-11-21 06:49] aeduard commented on #1010
Lizmap errors.log doesn't display anything, no errors appear there. Instead php displays this:
 Fatal error: Trait 'Lizmap\Form\WidgetTrait' not found in /var/www/lizmap-web-client-master/lizmap/plugins/formwidget/input_htmlbootstrap/input_htmlbootstrap.formwidget.php on line 14

[2018-11-21 07:37] mdouchin commented on #991
Thanks @laurentj !

[2018-11-21 07:40] loic74 commented on #1009
Thanks for your help. forceHTTPSPort  and domainName solved the problem ;-)

[2018-11-21 07:40] #1009 closed

[2018-11-21 07:59] loic74 opened #1012 "Touch screen sensitivity issue"
### What is the bug?
I have a problem with touch screen and Samsung S7 or S9 terminals (not with samsung A6 for example): It is almost impossible to click on an entity to open popups, because the terminal interprets a move and not a click. Changing the sensitivity of the screen does not change anything. This problem only occurs with Chrome and Samsung Internet (not with Firefox), with glass protec

[2018-11-21 08:43] laurentj commented on #1010
@aeduard thank you, so your error is related to issue #991 . Are you sure you downloaded Lizmap 3.2 and not master (3.3) ?

[2018-11-21 09:20] aeduard commented on #1010
I think I've downloaded both time master, meaning 3.3. It is possible to verify the installed version on my server? changelog-en.txt is very old.

Before installing the new version I've deleted the whole lizmap-web-client folder from /var/www/ so temp/lizmap was deleted also.

I will try to reinstall the proper 3.2 version.

[2018-11-21 12:47] josemvm commented on #780
thanks @laurentj :-)

[2018-11-21 13:05] loic74 commented on #762
Thank you for this code. It's really useful.

However, this works for some layers and not others. I couldn't find a common factor for the layers that work or don't work... Do you have any idea?

[2018-11-21 13:18] signedav commented on #1001
Thanks @laurentj I will try it out asap and give feedback.

[2018-11-21 14:21] laurentj commented on #1010
@jancelin I think this is an other bug (probably related to your docker build), even if the result is the same as the @aeduard 's issue. Please open a new bug.

[2018-11-21 14:51] laurentj commented on #1010
@jancelin I suspect that the update-config file does not do a good job. I opened an issue on your project and will propose a patch.

[2018-11-21 15:03] rldhont commented on #1007
@danzig666 and @Gustry the next release 3.3.0 will be designed to be fully compatible with QGIS 3. Layouts are the main point to fix in 3.3.0

[2018-11-21 15:04] rldhont commented on #1012
Is it the same as #999 ?

[2018-11-21 15:21] loic74 commented on #1012
Yes. Sorry, I didn't find this post. But I can't check if the problem also appears with Nougat.

[2018-11-21 15:48] gerald2545 commented on #941
Sorry I thought I made a feedback...
it no more appears using lizmap 3.1.12 and qgis server 2.18...don't know whate happened?
a cache not deleted between modifications?

[2018-11-21 15:48] #941 closed

[2018-11-21 15:50] aeduard commented on #1010
I have reinstalled Lizmap, this time 3.2.0 for sure. Everything works fine. I think by mistake I've installed master version, which is 3.3. Thank you for your help! Issue can be closed.

[2018-11-21 15:55] laurentj commented on #1010
@aeduard ok thanks. The master branch should also work now, as I fixed #991

[2018-11-21 15:55] #1010 closed

[2018-11-21 17:03] Nikeou opened #1013 "Error `Undefined property: stdClass::$error_handling` after installation of LizMap Web Client"
Hello,

I do an installation with the installer which seems correct

_Installation start..
[notice] Installation starts for the entry point index
All modules dependencies are ok
Module jelix installed
Module jacl2 installed
Module jacl2db installed
Module jacl2db_admin installed
Module jauthdb_admin installed
Module master_admin installed
Module jcommunity installed
Module admin installed
Module l

[2018-11-21 17:06] josemvm commented on #1011
hi @mdouchin

very nice! :-)

it work's for my project layers but not for the ``points of interest`` layer (maybe problems with blank spaces...)

and how can i keep the layer centered? e.g. vehicle position

thanks

[2018-11-21 19:47] FIPRODEFO opened #1014 "Edit legend in print composer to not showing unselected layers"
Hi everyone,

I'm trying to make the legend in the print composer not shown the layer labels i have unselected in the project.

Have any of you had the same problem or know how to solve it?

I attach 2 images to show what i'm talking about.

Justo want to do it for a better clean looking.

I hope i was clear. :)

![liz1](https://user-images.githubusercontent.com/45242824/48864893-9f192200-ed93-11e

[2018-11-22 07:52] Nikeou commented on #1013
Details about the installation environment ::
- Windows 10
- XAMPP installation of Apache 2.4.37
- PHP 7.2.12
- Lizmap Web Client 3.2.0

[2018-11-22 07:59] abdelandre commented on #1013
hello,
i have the same problem with :
windows server 2008 R2
apache 2.4.37
php 5.6.38
client 3.2.0 and Master
"mod_fcgid: stderr: PHP Notice:  Undefined property: stdClass::$error_handling in E:\\LIZ\\lizmap\\prod\\master\\lib\\jelix\\core\\jCoordinator.class.php on line 351"
as soon as launch the map or the login admin page

[2018-11-22 08:02] mdouchin commented on #1014
Have you tried to activate the filter icon (green funnel) in the options of the composer legend item ?

[2018-11-22 15:33] FIPRODEFO commented on #1014
Hello, thanks for answering

You mean this funnel...

![simbologia qgis](https://user-images.githubusercontent.com/45242824/48911804-6cc20000-ee39-11e8-82be-3d864ee0f46a.PNG)

Yes i did but everything stays the same, the .pdf keeps showing legen items even if they are not selected.

[2018-11-22 16:01] laurentj commented on #1013
@Nikeou @abdelandre Could you zip the lizmap/var/config folder (without the profiles.ini.php file because I don't want to see your passwords :) ) and the temp/lizmap folder. And send them to my email dev@ljouanneau.com please?

I really don't see why it happens and I need more information like your lizmap configuration files. Thank you :-)

[2018-11-22 19:45] FIPRODEFO commented on #1014
Well, after it seems was a cache problem, using the funnel button worked.

Thanks and here is my app if you want to check it.

http://mapsfiprodefo.net/3liz/index.php/view/map/?repository=5&project=POFMET

[2018-11-22 19:45] #1014 closed

[2018-11-23 07:50] abdelandre commented on #1013
Hello Laurent,
Here it is
For info we are using another port : 83 (another apache in prod for ol4 “handmade” mapping in 80)
Thank you 😊
[cid:image001.png@01D010A4.C1089330]

[cid:image002.png@01D010A4.C1089330]<http://www.epfl.fr/>

Arnaud Buisson-Delandre
Responsable du bureau SI et géomatique
Ligne Directe : 03 83 80 61 44
Se rendre à l'Établissement Public Foncier de Lorraine<http://maps.google

[2018-11-23 08:44] loic74 commented on #762
Unfortunately, there is no public link... I sent you an email with username and password.

[2018-11-23 09:21] rldhont commented on #996
Probably an issue with QGIS Server 3, because Lizmap 3.1 has not been tested with it.

Do you have the same issue with QGIS Server 2.18 LTR ?

[2018-11-23 13:45] rldhont commented on #617
I close it, reopen if needed

[2018-11-23 13:45] #617 closed

[2018-11-23 13:47] rldhont commented on #791
I close it, reopen if needed

[2018-11-23 13:47] #791 closed

[2018-11-23 13:48] rldhont commented on #389
I close it, reopen if needed

[2018-11-23 13:48] #389 closed

[2018-11-23 13:48] rldhont commented on #378
I close it, reopen if needed

[2018-11-23 13:48] #378 closed

[2018-11-23 13:50] rldhont commented on #247
I close it, reopen if the issue still exists in 3.*

[2018-11-23 13:50] #247 closed

[2018-11-23 13:50] rldhont commented on #243
I close it, reopen if issue still exists in 3.* branch

[2018-11-23 13:50] #243 closed

[2018-11-23 13:51] rldhont commented on #256
I close it, reopen if needed

[2018-11-23 13:51] #256 closed

[2018-11-23 14:39] rldhont opened #1016 "Replace only URL in attribute value for popup"
### What is the bug?
In `popup.class.php`, the attribute value is replaced by an html a element if the RegEx for url matches:
[code]
This code has been designed to replace all the $attributeValue to an Html link, not to replace url in attribute value by html link.

### Steps to reproduce the issue

1. In a layer text field, write text with an url framed by simple text
2. Configure the popup for th

[2018-11-25 21:35] adelchia opened #1017 "In Lizmap 3.2.0 I do not see Demo Montpellier."
### What is the bug?

### Steps to reproduce the issue

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Screenshots and logs

### Environment

 - Lizmap version:
 - QGis version:
 - OS (windows, linux, macOS, android..):
 - Browser (Firefox, Chrome...):
 - Lizmap data stored into Sqlite (default)? Postgresql? Mysql?

[2018-11-25 21:43] adelchia commented on #1017
In Lizmap 3.2.0 I do not see Demo Montpellier.
I use QGis server 2.18.26, OS Ubuntu, Browser Firefox

[2018-11-26 07:14] signedav commented on #1001
Hi @laurentj

The error persists.

These are the arrays:
[code]
and
[code]

Thanks a lot.

[2018-11-26 10:54] jancelin commented on #1003
@laurentj
Works with
[code]
and

``` forceHTTPSPort = 443```

[2018-11-26 10:54] #1003 closed

[2018-11-26 12:23] Abelon38 opened #1018 "QGIS server 3"
Hi!

Thanks for a great software! I followed the instructions on installing QGIS server ltr and Lizmap and everything works well. I even tried to install QGIS server 3 using the same documentation and  din't work at all. Is there some changes I should consider when installimng QGIS srever version 3 using the documentation from: https://docs.lizmap.com/current/en/install/windows.html  ?

Thank you

[2018-11-26 13:36] rldhont commented on #1017
@adelchia  what is the bug ? You can directly edit the description.

[2018-11-26 14:31] rldhont commented on #1016
The commit a695446fa824156c65dbfd23b247293f7dfcdf45 checks that the attribute value is a remote URL. This enhancement requested in this issue is a feature.

[2018-11-26 14:31] adelchia opened #1019 "Demo in Lizmap 3.2.0"
In lizmap 3.2.0 web client I do not see the Montpellier Demo.
I use QGis server 2.18.26, browse firefox, SO Ubuntu 16.04.

[2018-11-26 14:34] rldhont commented on #1019
Can you provide some logs and more information about your lizmap configuration and the way you install it ?

[2018-11-26 14:58] josemvm commented on #1011
i'm talking about like a `stay centered` function in geolocation tool

please, is it possible to solve it using some js code, as a workaround, just like function above!?

thanks in advance :-)

[2018-11-26 16:09] #993 closed

[2018-11-26 20:48] nboisteault commented on #170
@RaphaelChochon : Le pull request se fait sur la documentation en anglais, ensuite il est possible de faire la traduction avec transifex.

[2018-11-26 20:48] #170 closed

[2018-11-27 06:52] signedav commented on #1001
I have an update on that @laurentj

I went over my configuration and have seen that I entered `ldapprofile = "myldap"` in `lizmap/lizmap-modules/ldapdao/install/authldap.coord.ini.php` instead of `lizmap/var/config/authldap.coord.ini.php`. Now the error message does not appear it's just a failed log in. When I check the error log now, I can see the warning:
[code]
(Not sure if this has an influenc

[2018-11-27 13:34] rsorlin opened #1020 "Module Cadastre Lizmap"
Bonjour,

Je rencontre un problème avec le fonctionnement du script cadastre (module lizmap). Il m'est impossible d'éditer des relevés parcellaires.
Voici le log de QGIS Server lors de l'interrogation d'une parcelle (pop-up) et la demande d'édition d'un relevé (Get PDF)
[code]
Et le log de Lizmap :
[code]
Je souhaiterais comprendre l'erreur en cours et savoir si la cause vient de ma configuration

[2018-11-28 07:56] laurentj commented on #1013
To investigate further, please modify files index.php and admin.php into lizmap/www : replace the line

[code]

by
[code]

It deactivate the error manager of Lizmap, and then all PHP errors will be displayed by PHP  into the web page, or into your apache log files.

To display errors on the web page, be sure you have `display_errors=on` in your php.ini file of your server. (and you should restart

[2018-11-28 08:02] laurentj commented on #1016
From my point of view, it is a bug :-p

[2018-11-28 08:41] nboisteault commented on #762
@loic74 : thank you for the access, it helped me found the bug. The issue was with accented layers. Here is fixed code :

[code]

[2018-11-28 08:58] laurentj commented on #1013
Sorry, i made a mistake.

Keep the line `jApp::setCoord(new jCoordinator());` and replace the line

[code]

by

[code]

[2018-11-28 10:09] loic74 commented on #762
Well done. After clearing the browser cache, everything works fine.
Thank you again.

[2018-11-28 10:43] laurentj commented on #1013
Ok, I found the issue.

@rldhont added a new language recently, for translations : Norwegian. ( commit 697ef8ed7eb1e0b0430908e11cbd9f5fe364a759). Its code is `no_NO`. And the framework stores all available languages in a generated configuration file as `lang code = locale code`, and so for Norwegian, it stores `no=no_NO`.

Unfortunately, `no` is a reserved word in ini file. I known it for option v

[2018-11-28 11:02] Nikeou commented on #1013
Thank's a lot, It works !!

[2018-11-28 11:18] laurentj commented on #1013
Not closed yet, I have to fix the issue jelix/jelix/issues#328 into the jelix framework, so we could use the `no_NO` language

[2018-11-28 13:11] laurentj commented on #1001
Hi,

could you send me the content of lizmap/var/config/ in a zip by mail please ? `dev@ljouanneau.com`

Be sure to remove any login/password values from configuration files, I don't need them ;-) (in profiles.ini.php and perhaps in your auth(ldap).coord.ini.php files)

[2018-11-28 14:32] signedav commented on #1001
I've send you an email. Thanks.

[2018-11-28 16:46] Nikeou opened #1021 "Unable to load the demonstration map of Montpellier after installation of LizMap Web Client"
Hi,
After the installation of Lizmap Web Client, I can see the Lizmap application home page with the demo project Montpellier - Transport.
But If I want to see the map, the screen stays frozen on the loading of the data without succeeding.

Here is the contents of the lizmap-error.log file :

_[Wed Nov 28 13:57:44.261544 2018] [php7:warn] [pid 6980:tid 1992] [client ::1:53831] PHP Warning:  SQLite

[2018-11-28 16:46] Nikeou commented on #1021
Details about the installation environment ::

    Windows 10
    XAMPP installation of Apache 2.4.37
    PHP 7.2.12
    Lizmap Web Client 3.2.0

[2018-11-28 16:47] nboisteault commented on #242
I close the issue as it is answered. Open another one if needed.

[2018-11-28 16:47] #242 closed

[2018-11-28 16:49] nboisteault commented on #311
@pieri70 Reeopen if issue still occurs.

[2018-11-28 16:49] #311 closed

[2018-11-28 16:54] nboisteault commented on #410
@Geographic Reopen with separate questions if needed.

[2018-11-28 16:54] #410 closed

[2018-11-28 16:57] nboisteault commented on #487
@rldhont This issue can be closed ?

[2018-11-28 16:57] #490 closed

[2018-11-28 17:00] nboisteault commented on #500
@josemvm is issue still occuring with QGIS 2.18 ?

[2018-11-28 17:05] nboisteault commented on #512
Scale in browser can't be correct. OpenLayers 2 has a constant for DPI which might be incorrect for some devices. Maybe we should disable the gray out behavior.

[2018-11-28 17:07] nboisteault commented on #538
@loic74 I close this issue. Reopen if needed.

[2018-11-28 17:07] #538 closed

[2018-11-28 17:08] nboisteault commented on #593
@josemvm Please provide an url if issue still occurs.

[2018-11-28 17:11] nboisteault commented on #655
Please reeopen if issue still occurs.

[2018-11-28 17:11] #655 closed

[2018-11-29 09:22] josemvm commented on #593
hi
i can provide a link if you want to investigate

[2018-11-29 09:41] josemvm commented on #593
@nboisteault what is your email address?

[2018-11-29 09:49] danzig666 commented on #1018
Lizmap version 3.2.0 is mostly working on Linux (Ubuntu 18.04 LTS + QGIS server 3.4.1). Printing is not available at all, but everything else seems just fine.

[2018-11-29 10:15] laurentj opened #1022 "Remove demo files and download it during installation"
### Is your feature request related to a problem? Please describe

Demo files (lizmap/install/qgis and lizmap/install/qgis/intranet) take almost 32 MB of space. It's huge, and so archives are huge too (release archives, archive we could use to deploy somethings, docker images etc..) as well as repository for projects that contain lizmap etc.

Whereas almost time, we don't need them. Only the first

[2018-11-29 10:54] nboisteault commented on #593
@josemvm nboisteault@3liz.com

[2018-11-29 11:04] josemvm commented on #593
@nboisteault please check your mail box

[2018-11-29 12:46] signedav commented on #1001
I found something @laurentj
While this configuration in `lizmap/var/config/profiles.ini.php` leads to the mentioned `ldap_search()`-warning:
[code]
It works fine when entered the login name directly into  the config:
[code]

[2018-11-29 13:30] rldhont commented on #1019
Do you have some logs file in `lizmap/var/log`, just after installation ?

[2018-11-29 13:34] rldhont commented on #487
reopen if needed

[2018-11-29 13:34] #487 closed

[2018-11-29 13:41] rldhont commented on #1016
It's not a bug, we never thought to search link to replaced it by it's html but only the full attribute value.

[2018-11-29 14:01] signedav commented on #1001
Now it works with the test LDAP connection.

The message above have been a coincidence that it worked, more I changed my settings from:
[code]
To:
[code]
Means there has been several mistakes:
- The baseDN should not contain the login parameter, it's used in the bindUserDN instead.
- objectClass posixAccount has not been available for all the users, so I took another one.
- On bindUserDN is fine i

[2018-11-29 14:37] nboisteault commented on #593
@rldhont Could we replace Date.js by [moment.js](https://momentjs.com) with modification of timemanager.js code ?

[2018-11-29 20:20] adelchia commented on #1019
Hi,
in lizmap/var/log there is nothing

root@arpab:/var/www/lizmap-web-client-3.2.0/lizmap/var/log# ls -l
totale 0

[2018-11-30 08:14] Abelon38 commented on #1018
Thanks for answering!
We work with Windows server and it seems like QGIS server 3 needs more polish in order to be installed on Windows environments. We continue with QGIS server 2.18 instead.
Have a great weekend!
Abel

[2018-11-30 09:31] Nikeou opened #1023 "My new project doesn't appear in the repository page"
Hi everyone,

As my Montpellier demo project map doesn't work (#1021), I created a new very simple project (only one shp layer) that I published in qgis via the Lizmap module.
In the administration of Lizmap I created a new repository where I stored my project.
When I ask to see this repository, no project appears in the repository page.

I tried to put my project files in the demo directory. Same

[2018-11-30 09:36] Nikeou commented on #1023
Strange Lizmap's logs that continues to talk about the demo project (Montpellier) while it has nothing to do with what I'm trying to display...

_2018-11-30 10:32:13	::1	error	 erreur clé C:\xampp\lizmap\prod_3.2.0\lizmap\install\qgis/montpellier.qgs , limité à 255 caractères et seuls les caractères alphanumeric et le caractère '_' sont autorisés
2018-11-30 10:32:13	::1	error	Spatialite is not ava

[2018-11-30 09:56] ddespres opened #1024 "child objets in popup with QGIS server 3"
### What is the bug?
with QGIS Server 3, childs elements are not displayed in the popup  of the lizmap client.
The response of the second GetFeatureInfo request (for the childs) is empty.

### Steps to reproduce the issue

### Expected behavior

### Screenshots and logs

### Environment

 - Lizmap version: 3.2rc6
 - QGis version: 3.2
 - QGIS Server version: docker => 3liz/qgis-map-server:1.1
 - OS

[2018-11-30 11:20] mdouchin commented on #1022
+1

[2018-11-30 12:12] laurentj commented on #1022
Ok, I propose :

- to remove demo files from the lizmap repository
- to create a new repository for a new Jelix module "demo", including the demo files
- to create a shell script "install_demo.sh" into the lizmap repository. It will download the demo module, will extract it into lizmap/lizmap-modules/, and will modify the localconfig.ini.php.

[2018-12-02 07:19] signedav commented on #1001
Yes it's tesla. But it's possible that I made other configuration there as well that made it work with the hardcoded login. So I'm not convinced that there is a missbehaviour of ldapdao. Tomorrow I'll make tests with customer login. Will give feedback then...

[2018-12-03 10:08] josemvm commented on #500
hi @nboisteault

QGIS 2.18

solved

remains

remains

thanks

[2018-12-05 15:07] loic74 opened #1025 "How to retrieve a field value after the entity has been saved"
How to retrieve the value of a field after the entity has been saved?

I need to execute a script if a box is checked in a form (or maybe if the value saved in the field is equal to "t", or "TRUE"...), and after the entity has been saved.

Here is my code:
[code]

The conditionnal statement does not work...

[2018-12-06 07:01] signedav commented on #288
Hi there - will there be a [redlining](https://docs.qgis.org/testing/en/docs/user_manual/working_with_ogc/server/services.html#redlining) implementation in Lizmap 3.3.0 for sure? This would be awesome.

[2018-12-06 10:37] josemvm commented on #288
hi @signedav

probably, you are talking about something like this :-)

![imagem](https://user-images.githubusercontent.com/10053874/49578698-41173d80-f942-11e8-91f8-113d8b0f272f.png)

export/import drawings and annotations to geojson file

[2018-12-06 10:38] signedav commented on #288
Do you have more information about that @josemvm ?

[2018-12-06 10:46] josemvm commented on #288
no, i have no idea. this is a p.mapper draw plugin implementation/dynamic layers

[2018-12-06 11:54] omersiar commented on #713
Without touching the permissions restarting the virtual machine solved the problem for me.

[2018-12-06 12:00] signedav commented on #749
Have you had a solution on that @gioman ? From what version on?

[2018-12-06 17:08] signedav commented on #749
It works when I change the configuration to <= 2.14 - though I have a QGIS server 2.18.

[2018-12-10 10:42] hoge6b01 opened #1026 "Error when editing PostGIS layer (LM 3.2)"
Hello.
I've got a freshly Lizmap 3.2 installation. I can display PG-Layers but I cannot edit them. My setting is:

Ubuntu Server 18.04.1
PostgreSQL 10.6
Apache2
Lizmap 3.2
PHP 7.2

I followed this documentation [https://docs.lizmap.com/current/en/index.html](https://docs.lizmap.com/current/en/index.html) with all extension mentioned installed.

I can see the PG layer but when editing I get the fol

[2018-12-10 12:15] signedav commented on #749
I'm not sure if I need to open a new issue or this one can be reopened?

Sorry to  "reactivating" this, but my problem pretty much matches to this. But the weird thing is, that it works with the wrong configuration and with the correct configuration it does not work.

@gioman I already described it to you directly. But possibly someone else knows the sollution.

Situation is, that with my Lizmap 3

[2018-12-10 15:35] blaisegeo opened #1027 "relation or join in child tables display"
Hi lizmap people;

Running lizmap v 3.2.0.
Trying to update a complex project:
I have a postgis point layer, joint to a postgresql child table where I can add several records for the same point. The data in the postgresql child table are "coded" like code from 1 to 5 for a state such as "work in progress", "for rent", "for sale", "rented" and "sold" for example. There is a third little postgresql

[2018-12-10 16:22] mdouchin opened #1028 "Edition does not work with PostgreSQL 11"
It is impossible to edit or add a new feature in a layer with the Editing tool if the PostgreSQL version is >= 11. PostgreSQL returns the following error (visible in `lizmap/var/log/error.log` )

[code]

It appears PostgreSQL 11 has changed the system tables. See:
https://github.com/bucardo/bucardo/commit/2358ada04637c57ca39163f2053614e140c0504b

We need to either
* add a try catch to handle both

[2018-12-10 16:55] mdouchin commented on #1028
@laurentj je pense que ceci suffirait. A tester sur PostgreSQL v9.5 à v11

[code]

[2018-12-10 20:42] hoge6b01 commented on #1026
By the way, the connection string in the .qgs file is:

      _<datasource>dbname='postgis' host='<here's my servers ip>' port=5678 user='<user>' password='<password>' sslmode=disable key='id' srid=3857 type=Polygon 'key='id' table="bike"."iso_vrs_db_edit" (geom) sql=</datasource>_

It's not in the public schema. Does this cause any unexpected behavior?

[2018-12-11 09:55] quoidautre opened #1029 "Service Unavailable // 503 // Error rewriting url with demo project (vagrant)"
Hi,
I've just installed LizMap on my Vagrant VM (Ubuntu16.04 LTS). I'm using Apache and php 5.6 fpm.

The homepage loading but I haven't the image  ('cause it's loading with rewriting url), and if click on the link (http://vm.lizmap-web-client/index.php/view/map/?repository=montpellier&project=montpellier), there's an error page :
[code]

My apache2 vhost :
[code]
Any idea :) ?
Thanks
F.

[2018-12-11 10:02] quoidautre commented on #1029
Hi,
I've just installed LizMap on my Vagrant VM (Ubuntu16.04 LTS). I'm using Apache and php 5.6 fpm.

The homepage loading but I haven't the image  ('cause it's loading with rewriting url), and if click on the link, there's an error page :
[code]

My apache2 vhost :
[code]
Any idea :) ?
Thanks
F.

[2018-12-11 14:42] signedav commented on #749
Thanks to @gioman I found the reason. There is this configuration in 3.1.4 but not yet this fix 3liz/lizmap-web-client@c545eac

[2018-12-11 15:43] blaisegeo commented on #1027
I investigated a bit the code today.
This is what I understand: the right and left popup windows are driven by lizmap/modules/lizmap/controllers/service.classic.php
On the right popup windows, it is a WMS request that search for the infos and that uses the relation table to display "human readable" infos.
On the left popup, it is a WFS request that search for the infos but it does not use the rela

[2018-12-12 07:43] mdouchin commented on #1028
@laurentj @rldhont I just push a quickfix in branch release_3_2, tested against PostgreSQL 9.6, 10 and 11 . We would need to use jDbSchema in future

[2018-12-12 13:39] zollilein opened #1030 "Lizmap Projekte"
Hi,
i can`t load the maps from the "Projekte-Lizmap" site.
In the background i see this : Service non disponible.

i need help please.

[2018-12-12 15:18] giusme commented on #657
I still have problems printing OSM basalayer. Any solution?

[2018-12-12 15:25] giusme opened #1031 "I still have problems printing OSM besalayer. Any solution?"
_Originally posted by @giusme in https://github.com/3liz/lizmap-web-client/issues/657#issuecomment-446624361_

[2018-12-12 15:47] giusme commented on #657
Yes I tried it.  I loaded your qlr inisde qgis and it is showed correctly. Then I setted it as baselayer in Lizmap plugin but when I access to Lizmap-we-client I can't see any basemap.
![schermata 2018-12-12 alle 16 46 53](https://user-images.githubusercontent.com/32569091/49881025-a3ce7480-fe2d-11e8-96c3-3dd9bc417a72.png)

[2018-12-13 10:58] pcav opened #1032 "Add a button "Deselect all""
When several features in various layers are selected, it may be difficult for an user to deselect. Better adding a button to remove all current selections in all layers, just like in QGIS Desktop

[2018-12-13 11:01] pcav opened #1033 "Selecttion of points not easy to see"
Points selected are surrounded by a tiny yellow line that is not easy to see. It would be good to increase the width, even better to make width and colour configurable.

[2018-12-13 11:38] josemvm commented on #1033
https://github.com/3liz/lizmap-web-client/issues/790

[2018-12-13 11:39] josemvm commented on #1032
https://github.com/3liz/lizmap-web-client/issues/650

[2018-12-13 13:59] rldhont commented on #1028
Commit 75108dba3ee73959fe7e13a3a694fd8cb98db131
close if it fix the issue

[2018-12-13 14:43] blaisegeo opened #1034 "typo in french: "La suppression a échouée""
### What is the bug?
Typo in this french message:
"La suppression a échouée"
should be:
"La suppression a échoué"

### Steps to reproduce the issue
When for some reason a shape deletion is not successfull.

### Expected behavior
Message should be:
should be:
"La suppression a échoué"

### Environment
 - Lizmap version: 3.2.0

Message is stored in the following files:
root@debian9:/var/www/lizmap-w

[2018-12-17 09:12] giusme commented on #657
Lookink at WMS GetCapabilities I found, as in @pcav case, incorrect bounding box for osm-mapnik layer:

   <Layer queryable="1">
     <Name>hidden</Name>
     <Title>hidden</Title>
     <CRS>CRS:84</CRS>
     <CRS>EPSG:32633</CRS>
     <CRS>EPSG:3857</CRS>
     <EX_GeographicBoundingBox>
        <westBoundLongitude>-8.98315e-12</westBoundLongitude>
        <eastBoundLongitude>8.98315e-12</eastBoun

[2018-12-17 15:46] hoge6b01 commented on #1026
I found this in the .cfg file. Maybe something is missing?
Do I have to change mit profiles.ini file?

`    "editionLayers": {
        "iso_vrs_db_edit": {
            "layerId": "iso_vrs_db_edit_f8a99ef9_2e50_40da_8b8a_036a8f9aefa3",
            "geometryType": "polygon",
            "capabilities": {
                "createFeature": "True",
                "modifyAttribute": "True",

[2018-12-18 10:00] tethysgeco opened #1035 "freeze field in attribute tables?"
When reading attributes tables larger than monitor it could be useful to freeze the column that allows you to identify which is the record you are consulting while scrolling horizontally the table. It should be better if the column could be chosen by the user (not necessarily the first one).
Thanks for your work!

[2018-12-18 12:40] josemvm commented on #1011
hi

can someone help here?
with a `map.zoomToExtent()`
i don't know if it is possible ...

[2018-12-19 09:22] arteragence opened #1036 "Problème d'affichage des couches (présentent dans la légende mais pas sur la carte)"
Bonjour,
j'ai un problème concernant l'affichage des mes couches sur Lizmap (avec utilisation de geopoppy en tant que serveur). Mes couches (que ce soit un fichier de point ou de ligne) apparaissent dans la légende mais aucun tracé n'apparait sur la carte. Ce problème est valable pour mes couches postgis et celles associé au projet pour de la simple visualisation. Pour les couches postgis, si je c

[2018-12-20 09:37] Jul-Git commented on #1036
Bonjour,

Si QGis est en version FR, il faut essayer de renommer le style de la couche de "défaut" à "default".

[2018-12-20 11:29] robibrazze opened #1037 "DELETE BOTTOM "REPOSITORIES" ONLY IN REPO X"
Hi, how is possible delete or disable the botton "repositories"  only in one repo ?
Thanks

rb

[2018-12-20 13:40] nboisteault commented on #1036
Bonjour,
Avez vous une URL publique à nous fournir ?

Le jeu. 20 déc. 2018 à 10:37, Jul-Git <notifications@github.com> a écrit :

[2018-12-20 13:43] arteragence commented on #1036
Bonjour,
Non pas d'URL à fournir malheureusement. Comme le système vise à fonctionner avec Geopoppy tout se passe en local.

[2018-12-21 14:53] cimbach opened #1039 "Search location with Nominatim does not work"
Ubuntu desktop 18.04
QGIS Server 3.4.2
QGIS 3.4.2
Lizmap plugin 3.0.0
Lizmap Web Client 3.2.0

Since Google is no more a free option, I would like to switch to the OSM Nominatim location search.
From what I see, all I have to do is select 'Nominatim' in the Address search drop down menu of the Lizmap plugin. Right?

When doing so all the result I get after a query is a blank black area with a Sear

[2018-12-21 14:57] rldhont commented on #1039
Has been fixed in 3.2.1 https://github.com/3liz/lizmap-web-client/releases/tag/3.2.1
by the commit 13c06462a7ed8a8b72801a343c5c5f725c3b9afe

Can you update your version, test it and provide feedbacks ?

[2018-12-21 15:08] cimbach commented on #1039
Wow that was fast, thanx a lot!
No problem to update to 3.2.1 and test it, but I am afraid that will be in two weeks only.

[2018-12-21 19:12] pcav commented on #1039
Confirmed: upgraded to 3.2.1, Nominatim works

[2018-12-21 19:12] #1039 closed

[2018-12-28 10:40] BorisLD commented on #245
Hello,

I'm sorry if my english is not very good.

I'm not a specialist of javascript and developping. I have the same problem als @vincent-petale for the legend in Lizmap wich is expand. I want to collapse it.

For that, i follow your instructions and i go in the file named "map.js" in Lizmap file (in the prod document).
I open this file and then, i found the function "function createSwitcher" on

[2018-12-28 14:17] nboisteault opened #1040 "Incorrect title for media link"
### What is the bug?
The title is incorrect for media links as it shows another attribute title.

### Steps to reproduce the issue

1. Go to http://dev.lizmap.3liz.com/index.php/projects/montpellier/montpellier
2. Click on attributes tool
3. Show details for 'Quartiers' layer
4. Column 'Illustration' is showing 'QUARTMNO' for every line.

### Expected behavior
Column 'Illustration' should show 'Il

[2018-12-28 15:05] gioman opened #1041 "world visible projects and data(?)"
### What is the bug?
Just noticed the following and I would like to know if is to be considered a "bug" (really a security issue rather than a bug) or if I'm missing something (maybe a documentation passages where is described how to secure projects and data):

make a LMWC installation (latest version), add demo projects

navigate to http://your_ip/lizmap/install/qgis/

you will have direct access

[2018-12-29 13:56] Cesaaar opened #1042 "Error BaseLayer Bing - ImagerySet not supported"
### What is the bug?
Is not possible to use the Bing basemap.

### Steps to reproduce the issue
1. Add BaseMap Bing with Valid Key
2. Open the map
4. Lizmap doesn't show Bing base map
5. See the error on Javascript console: **"imagerySet: This parameter value has an invalid format."**

### Environment
 - Lizmap version: 3.2
 - QGis version: 2.18
 - OS (windows, linux, macOS, android..): Ubuntu 18.

[2018-12-29 15:10] Cesaaar commented on #1042
For example now ImagerySet = **bhybrid**, but correct ImagerSet are reported in https://docs.microsoft.com/en-us/bingmaps/rest-services/imagery/get-imagery-metadata, for example: **Aerial**.

- As Is: https://dev.virtualearth.net/REST/v1/Imagery/Metadata/bhybrid?key=[API_KEY]&jsonp=_callback_OpenLayers_Layer_Bing_22&include=ImageryProviders

- To Be: https://dev.virtualearth.net/REST/v1/Imagery/Me

[2019-01-03 07:56] nboisteault commented on #1041
QGS files in this directory are just examples, there is nothing sensible in it but there should not be accessible. All QGS files have to be outside the webroot. There might be an issue with your web server configuration.
Did you execute `lizmap/install/set_rights.sh www-data www-data` ?

[2019-01-03 15:33] pcav commented on #1023
Have you copied both .qgs and .qgs.cfg?

[2019-01-03 15:35] pcav commented on #999
Still true in Lizmap 3.2.1?

[2019-01-03 15:37] pcav commented on #994
This does not follow the option selected in the plugin: when choosing to have the legend closed at startup, it is open nevertheless on small screens.

[2019-01-03 16:08] gioman commented on #1041
@nboisteault thanks for the feedback

yes I know, I was anyway thinking to the general case, not specifically to the demo project files.

I understand well that this is the right thing to do, anyway I cannot find anywhere in the docs a note about it (I'm just missing it?) and as the demo repos/projects are inside the web root users may tend to think that lizmap/install is a ok place where to place

[2019-01-03 16:19] danzig666 commented on #999
Still the same

[2019-01-04 07:37] Nikeou commented on #1023
Yes I did but my project doesn't appear...
An idea ?

[2019-01-04 07:47] pcav commented on #1023
Have you given appropriate permissions to admin and anonymous?

[2019-01-04 09:08] Nikeou commented on #1023
Thank you pcav for your help and your time.

I have progressed : now I can see my project. The problem came from saving my project in qgz format instead of qgs (default extension in QGIS Madeira) !

So an other problem now : If I want to see the map, the screen stays frozen on the loading of the data without succeeding.
Here is the contents of the lizmap-error.log file (my project's name is "rando

[2019-01-04 21:58] laurentj commented on #1028
Tested with Postgresql 9.4: it's ok. I confirm also it's ok with 9.6. Your patch has been backported to Jelix 1.6. Thank you :)

[2019-01-04 21:58] #1028 closed

[2019-01-05 23:10] hoge6b01 commented on #1026
Updated to 3.2.1 - nothing changes. Does anyone has a example of profiles.ini to get a postgis connection?

[2019-01-07 14:18] gcalibris opened #1043 "Edition 2 tables with 1toN relation in one form"
<!-- Before asking your question, please check that the response is not
Hello i have  2 tables (father and child) with relation 1toMANY. Is possible in lizmap (with Edition function) show these tables data and edit in one form like in qgis i can do. Now with Edition function I can choose only one table (form) what i want to edit.

[2019-01-08 11:23] laurentj commented on #1037
Hi,

which button do you talk about? Where is it?

[2019-01-08 11:32] laurentj opened #1044 "Add a link to the dashboard at the header barre"
### Is your feature request related to a problem? Please describe

To access to pages of the administration, the only way is to go into the user popup menu, click on "my account", then navigate into the sidebar menu.

It does not make sens for  a user to go to his account to access to some features not related to its account.

### Describe the solution you'd like

It would be better if there was a

[2019-01-08 11:49] laurentj commented on #1041
You MUST configure your web server in a manner than anything else than lizmap/www/ is acessible from the web.
So the document root of your web server should be set to the directory lizmap/www.

For Apache, it means you should indicate in the configuration of your virtualhost, `DocumentRoot "/the/path/to/lizmap/www"`, and for Nginx, you must set `root /the/path/to/lizmap/www;`.

As indicated into t

[2019-01-08 12:01] gioman commented on #1041
Thanks for the feedback !

[2019-01-08 12:03] laurentj commented on #1041
I reopen it, we need to improve the documentation for this part...

[2019-01-08 13:59] josemvm commented on #1044
@laurentj i propose only the icon for the mobile devices mode...
thanks

[2019-01-08 14:12] robibrazze commented on #1037
Hi,
below insert screenshot
![repositories](https://user-images.githubusercontent.com/28442671/50835641-8ec70180-1357-11e9-8d3f-36533f0adacc.PNG)

[2019-01-09 13:44] laurentj commented on #1037
In the configuration of Lizmap, if you set "Only maps" to "on", the "home" button does nothing when a map is displayed.

[2019-01-09 17:52] wouwei opened #1046 "Cache prebuilding with 2048X2048 tile size"
This is related to the chapter , part  using Lizmap <3 cache
[https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#optimizing-lizmap](url)
by using it , i  have around 30 requests ( 5 6 seconds ) per layer , instead of 1 request 1-2 second per layer with no caching

- going 2048*2048 is a bit  of a trade off between image size and number of requests : this means 1 to 4 request /

[2019-01-09 18:32] Cesaaar commented on #1042
I used GDAL as a workaround

https://www.3liz.com/blog/rldhont/index.php?post/2012/07/17/OpenStreetMap-Tiles-in-QGIS

[2019-01-10 09:20] signedav commented on #1001
This is solved. I was successful and I will close it. Thanks for your help @laurentj

Here how it worked in the end:

## Working test LDAP installation

### 1 install php ldap extension
Enter docker:
[code]
We have `php --version`: PHP 5.6.33-0+deb8u1

They say like this `apt-get install php5.6-ldap` but no package like that available, so I did it like this:
[code]

evtl. is needed : `service apac

[2019-01-10 09:31] signedav opened #1049 "Cannot create local user on system with LDAP integration"
### What is the bug?
When I have installed LDAP Authentification I cannot create a local user anymore.

### Steps to reproduce the issue
Installed LDAP like this https://github.com/3liz/lizmap-web-client/issues/1001#issuecomment-453025806
1. Login with admin/admin (local admin user)
2. Activate the right to create user (click on "admin" -> "My account", then on the left to "Rights of users" and se

[2019-01-10 10:07] laurentj commented on #1049
We don't support creation of ldap users, this is why the right "Activate the right to create user" is off.

[2019-01-10 10:17] signedav commented on #1049
I don't want to create a user on the AD, but a local Lizmap user. Is it not possible to use both kind of authentication simultaneously?

[2019-01-10 10:27] laurentj opened #1051 "Bad display of top menu bar on mobile"
### What is the bug?

With low width screen, the top menu bar display icons and item text, except in the map view mode.

### Steps to reproduce the issue

1. With Firefox > Developpement web > vue adpatative, select a little width for the page
2. go the project page or an administration page
3. see that item text are still shown, and overflow the menu bar.

![lizmap_mobile_menu_overflow](https://u

[2019-01-10 10:43] laurentj commented on #1030
What is the "the "Projekte-Lizmap" site?

This error appear when lizmap cannot reach the QGIS server. Be sure the service is up, and the configuration of Lizmap is good.

[2019-01-10 10:49] signedav commented on #1049
Okay. Thanks for the information. When is it planned to be improved? Are you looking for sponsors?

[2019-01-10 16:01] blaisegeo opened #1052 "How to change children display from ASC to DESC order ?"
Lizmap 3.2

I have a feature layer, that is linked to a children postgresql view, with several records (children) for each feature. When I click on a feature on the map, it opens a popup with all the children data, ordered by their id because I ordered the postgresql view by id, this is ok.

But when I click on the edit tool (pencil) of the popup, the children are ordered by the first displayed co

[2019-01-10 21:57] hoge6b01 commented on #1026
Could someone please give a hint how to debug this problem? Thanks

[2019-01-15 14:51] signedav opened #1053 "Eternal loading after successful login"
### What is the bug?
Sometimes it hangs on login with the admin account. It's loading eternal. After reentering the address it's successfully logged in.

### Steps to reproduce the issue
Installed LDAP like this https://github.com/3liz/lizmap-web-client/issues/1001#issuecomment-453025806
1. Login with admin/admin (local admin user) and it's loading eternal (sometimes, not always)
2. I refresh the

[2019-01-16 13:32] laurentj opened #1054 "Try to load mod_spatialite at first instead of libspatialite"
### Is your feature request related to a problem? Please describe

The code in lizmapProject tries to load the libspatialite extension into sqlite3, and then tries mod_spatialite.

However, [mod_spatialite is the actual extension for Sqlite3](https://www.gaia-gis.it/fossil/libspatialite/wiki?name=mod_spatialite). libspatialite is not any more an extension for Sqlite3, but is used to build C/C++ pr

[2019-01-16 14:23] rldhont commented on #1042
We need to update lizmap.

[2019-01-16 14:40] #1054 closed

[2019-01-16 14:40] #1042 closed

[2019-01-16 16:22] pcav commented on #245
Perhaps this example should be added to `lizmap/install/qgis/media/js/montpellier/`, as it seems to be a widely requested function.

[2019-01-17 14:01] laurentj opened #1056 "Support of Composer in Lizmap and CI of lizmap"
Composer is the defacto standard package manager of PHP. It is the easiest way to include external libraries.

There is already [a composer.json into lizmap](https://github.com/3liz/lizmap-web-client/blob/master/lizmap/composer.json), but is used for now only for some developer's tools.

We will need it soon to install updated libraries, for example, proj4php, jelix, jcommunity, ldapdao etc...

Ho

[2019-01-17 16:38] signedav opened #1057 "LDAP authentification with empty password possible"
I'm still on the LDAP authentification I actually everything seems to work fine beside this issue #1053 and that it's possible to login without a password:

- correct username / correct password -> accepted (expected)
- correct username / incorrect password -> rejected (expected)
- correct username / empty password -> accepted (wrong behavior)

So this solution is unusable, since you can login as

[2019-01-17 23:18] mbernasocchi commented on #208
@rldhont was this ever considered? do you have an estimate?

[2019-01-18 10:52] gmusumeci commented on #996
Yes it's the same problem

[2019-01-18 14:30] gioman commented on #585
@rldhont Is this on your todo list for 3.3? if not can you give me an estimate about how much work would be necessary? thanks!

[2019-01-20 11:53] pcav opened #1058 "Adding link to a popup points to the same project"
When adding a popup of this type:
[code]
the result is whet expected if the field "link" is correctly filled up. If empty, however, it points to he same lizmap project.
See an example:
https://lizmap.faunalia.eu/index.php/view/map/?repository=faunalia&project=sail&layers=B00TTTTT&bbox=895381.792358%2C4988921.335403%2C932797.717698%2C5020719.139166&crs=EPSG%3A3857

[2019-01-21 07:30] signedav commented on #1057
Good morning @laurentj I wonder if there is kind of a `AllowEmptyPassword` setting on the ldapdao module implementation? Because this would avoid the problem. Or is that more the general GUI part in Lizmap?

According to the RFC the distinguished name should not be used as authentication, what I do at the customers system. But this is AFAIK the only way it works there. And btw. when I would use `b

[2019-01-21 08:07] signedav commented on #1057
Regarding my question above. A "dirty" hack would be to add here https://github.com/jelix/ldapdao-module/blob/master/ldapdao/plugins/auth/ldapdao/ldapdao.auth.php#L175 something like this:
[code]
and then here `vim /var/www/websig/lizmap/var/config/profiles.ini.php`:
[code]
But since I'm neither a lizmap nor a ldapdao developer I don't arrogate the right to tell you what has to be done in the code

[2019-01-21 12:14] hoge6b01 opened #1059 "QGIS Server 3.4.4 does not show the map anymore"
### What is the bug?
Since update to QGIS Server 3.4.4 the map layers aren't displayed any longer.
Data is there because popups show content of features but no geometries are shown.

URL to map image returns:
OperationNotSupported">Please check the value of the REQUEST parameter

### Screenshots and logs
![image](https://user-images.githubusercontent.com/5871910/51474066-6ccd7600-1d7e-11e9-8ba6-6f

[2019-01-21 15:33] Gustry commented on #836
I agree, it would be nice to have an API to create users in bulk. (or SQL command)

[2019-01-21 17:40] mbernasocchi commented on #967
for reference the right session above means: https://github.com/3liz/lizmap-plugin/issues/122

[2019-01-22 10:32] rldhont commented on #1026
QGIS needs a key as an integer to identify feature.

If the key is not an integer, each QGIS Server build it's own integer key so each QGIS Server can identify a feature with a different key.

[2019-01-22 10:32] hoge6b01 opened #1060 "pg_close(): supplied resource is not a valid PostgreSQL link resource"
### What is the bug?
Although Lizmap and PG is working fine I constantly get the following error in the Lizmap log:
[2]	pg_close(): supplied resource is not a valid PostgreSQL link resource	/var/www/lizmap-web-client-3.2.1/lib/jelix/plugins/db/pgsql/pgsql.dbconnection.php	166

### Environment

 - Lizmap version: 3.2.1
 - QGis version: 2.18
 - OS): Ubuntu Server 18.04
 - Lizmap data stored into Pos

[2019-01-22 10:45] hoge6b01 commented on #1026
thanks. I'll close this now.

[2019-01-22 10:45] #1026 closed

[2019-01-23 10:02] blaisegeo commented on #1058
Hi pcav;
Can you elaborate a bit more your solution please, as I'm facing the same problem.
Thanks

[2019-01-23 12:33] pcav commented on #1058
I have used `CASE WHEN fiieldname IS NOT NULL` to display the field.

[2019-01-24 16:43] jlstanus commented on #695
It's strange. I have the problem again:
When third party is checked, some type of layer is not working.

When i use this webservice  [http://geoservices-urbis.irisnet.be/geoserver/ows?version=1.3.0&](http://geoservices-urbis.irisnet.be/geoserver/ows?version=1.3.0&) :
* urbisFr is working
* Urbis:urbisFr is NOT working

![image](https://user-images.githubusercontent.com/402354/51693587-8b8e6f80-1ff

[2019-01-25 12:27] saeri-ims opened #1061 "different labelling for projects wich are in the same repository"
Hello! Based on the example provided by lizmap demo page https://demo.lizmap.com/lizmap_3_1/ how it is possible to label the projects which share the same repo, so that they all display a different name?
Currently if i save e.g. three projects within the same repo e.g.maps all the projects get the same label e.g. marine spatial mapping that i provide when i set the repository in lizmap (id, label,

[2019-01-25 14:12] Gustry commented on #957
I think it's the same issue as mine
When editing an existing feature, we lost the previous date time. So we can't save the form because this field is compulsory.

![date_is_lost](https://user-images.githubusercontent.com/1609292/51750432-76a9ee80-2088-11e9-803b-9207984a1afa.gif)

The table is simple :
[code]
The field description in QGIS 2.18:
![screenshot from 2019-01-25 10-11-27](https://user-im

[2019-01-25 16:22] jlstanus opened #1062 "Split Windows for dual screen"
### Is your feature request related to a problem? Please describe
Displaying Statistics, popup, forms are small in the main window

### Describe the solution you'd like
Split/detach panels to a second window

### Describe alternatives you've considered
Extend the window on the second screen but not estetic

#498

[2019-01-25 21:00] Gustry opened #1063 "Support for enumeration in Postgresql (QGIS 3.4)"
### Is your feature request related to a problem? Please describe

In QGIS 2, we got `Value Relation`, `Value Map` and `Relation Reference`.
A new one in QGIS 3 is `Enumeration`. This one is IMHO very powerful.

![screenshot from 2019-01-25 16-41-51](https://user-images.githubusercontent.com/1609292/51771667-2484bf80-20c0-11e9-9ec3-ebb091aa2d38.png)

This one is very powerful, because QGIS autodet

[2019-01-28 15:14] laurentj commented on #1057
Fixed. Thank you :-)

[2019-01-28 15:14] #1057 closed

[2019-01-28 15:44] rldhont commented on #799
@Cww7 can you provide some feedback ?

[2019-01-29 13:55] tethysgeco opened #1065 "Minidock popup with wrong dimensions"
@pcav

### What is the bug?
Sometimes (apparently with no logic) the popup (minidock type) has wrong size with respect to the content of compiled fields (both using Chrome and Mozilla Firefox - see pictures for examples). Do you have ever experienced something similar and have any idea of the reasons?
![1](https://user-images.githubusercontent.com/23027624/51912961-cca6cb00-23d5-11e9-90cc-9773021c

[2019-01-29 17:15] #1004 closed

[2019-01-29 17:15] #1034 closed

[2019-01-30 23:44] laurentj commented on #1049
I just finished to develop a module, [multiauth](https://github.com/jelix/multiauth-module), that will replace ldapdao and which allow to have both, ldap users and database users.

It will replace ldapdao into Lizmap 3.3 ;-). It will be possible to use it into Lizmap 3.2 when #1066 will be accepted, but it will be an experimental feature.

[2019-01-31 12:03] zoidable commented on #620
Hi,

since upgrading to 3.2.1 (from 3.1), I seem to get the same error as the OP describes. Aside from editing, also the selection of geometries and opening the attribute table aren't working if the layer in question uses a PG SERVICE file. Layers using a regular pg connection are just working fine. The error message is:

I tried clean_vartmp and running the installer.php, but nothing changed. In

[2019-02-01 15:02] rldhont commented on #620
Hi @zoidable,

You also have to update the PHP environnement.

You can put your `pg_service.conf` file to `/etc/postgresql-common/` directory to be used by all the softwares.

[2019-02-01 15:11] manasa-maddi commented on #866
I got this error when i upgraded the jelix version from 1.3 to 1.6
 Error in the main configuration. A plugin doesn't exist -- The coord plugin jacl2 is unknown.

[2019-02-01 15:12] manasa-maddi opened #1067 "jelix upgrade"
Error in the main configuration. A plugin doesn't exist -- The coord plugin jacl2 is unknown.

[2019-02-01 15:20] rldhont commented on #1067
Can you be more precise about the lizmap versions ?

[2019-02-01 16:41] josemvm commented on #811
hi @mdouchin
it works well inside the atlas frame but not inside the popup frame
qgis server 2.18.28

[2019-02-01 18:15] zoidable commented on #620
Thanks @rldhont, I only set the environment variable within the QGIS Server virtual host, so PHP didn't get it...

[2019-02-03 23:27] josemvm opened #1068 "popup - used once, allways remains activated"
when you do a click on the map the popup displays the contents of features and highlights them like you can see as below:

![imagem](https://user-images.githubusercontent.com/10053874/52183769-43dbc500-2803-11e9-8583-ff02aff4049d.png)

after you close the popup window and select some features using any selection method/tool (case selection tool, by circle):

![imagem](https://user-images.githubuse

[2019-02-04 19:35] nboisteault commented on #1037
Hi, you can [disable with CSS](https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#creating-simple-themes).

[2019-02-05 10:01] laurentj commented on #1067
@manasa-maddi which version of Lizmap please?

[2019-02-05 10:03] laurentj commented on #1067
@manasa-maddi and how did you do the upgrade ? which steps have you done?

[2019-02-06 08:32] gcalibris opened #1069 "0 is like null"
In postgresql table I have the field temperatura with type integer and with NOT NULL.
In this field from QGIS program I can write the temperature value equal to 0, but from lizmap I can't write the value 0.

The log is: An error has been raised when saving form data edition to db : invalid query (ERROR:  null value in column "temperatura" violates not-null constraint.

software
qgi project from 2.

[2019-02-07 14:29] pieri70 opened #1070 "Load ESRI satellite basemap (Tileserver)"
Hello
I am trying to load ESRI satellite basemap instead ogf Google one.
On [quickmapservices-github](https://github.com/nextgis/quickmapservices_contrib/blob/master/data_sources/esri_satellite/metadata.ini) I found the url to be

https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}

Then as suggested on an old issue of mine I followed what was [indicated h

[2019-02-10 21:40] josemvm opened #1071 "edition tool - create feature = false"
hi

if all editable layers have a `"createFeature": "False"` option the edition icon should be hidden

![imagem](https://user-images.githubusercontent.com/10053874/52539821-66795b00-2d7a-11e9-8b2c-f84e4dc28bea.png)

thanks

[2019-02-11 07:37] Cww7 commented on #799
Hi,
Sorry, but I have no IGN key available since a few months. I no longer use IGN basemaps.

[2019-02-11 07:37] #799 closed

[2019-02-12 08:36] 21Damien opened #1072 "Config LDAP authentication"
Hi,
I  have some questions about ldap configuration with Lizmap. See my configuration below :
- Lizmap    3.3pre.181017
- Active directory 2008
- Apache 2.2 / PHP 5
According to the 3liz doc i setup the localconfig.ini.php file with
[code]
My profile.ini.php file
[code]
I add those parameters (not in doc) in index/auth.coord.ini.php
[code]
This configuration seems dont block the app. The admin use

[2019-02-12 15:41] signedav opened #1073 "Remove the hardcoded "Projects" from the title"
Customers think it's confusing to have the projects in title, because in their working context projects are something completely different.
![image](https://user-images.githubusercontent.com/28384354/52646993-db02e580-2eb1-11e9-9429-a6aec2e5cad9.png)
They would like to see only "Visualisierung (experimental)".

So what do you think about the possibility to have an option to remove the `jLocale::ge

[2019-02-13 09:54] laurentj commented on #1073
Lizmap sources files MUST NOT be modified, as it adds difficulties to upgrade Lizmap.

However, I'm in favor of removing completely this "Projects" work. @mdouchin  @rldhont What do you think about it?

[2019-02-13 09:59] laurentj commented on #1072
yes

Yes.
Into lizmap/var/config/localconfig.ini.php, adds this parameters:

[code]

When trying to login, you will have a lizmap/var/log/auth.log file created and filled with some messages, indicated what happened.

[2019-02-13 10:03] laurentj commented on #1059
Lizmap 3.2 is not compatible with Qgis 3. Lizmap 3.3 will be compatible (but the actual lizmap 3.3pre is not ready yet).

[2019-02-13 15:15] nboisteault commented on #762
I've updated my last answer to fix a bug.

[2019-02-13 15:38] josemvm commented on #762
nice @nboisteault
thanks :-)

[2019-02-13 15:50] rldhont commented on #762
@nboisteault can you add your code here: https://github.com/3liz/lizmap-javascript-scripts

[2019-02-13 16:14] pcav commented on #1072
Good hint, thanks. Could this be added to the manual?

[2019-02-14 08:42] nboisteault commented on #762
@rldhont https://github.com/3liz/lizmap-javascript-scripts/pull/1

[2019-02-15 10:10] tethysgeco commented on #762
The script works fine, it’s really useful. To have a correct result of a search we need to write “string to search”, otherwise the result won’t be exactly equal to the string. For example, if we write pozzo 3 the resulting records are referred to pozzo 3, pozzo 13, pozzo 31 etc . Is it possible to insert the “ “ directly in the script?
Other improvements could be: a button X to clear previous sear

[2019-02-15 10:29] tethysgeco opened #1074 "Add line to scatter plots?"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like
To represent temporal trend of environmental variables it would be very useful to add a line to connect  the points in scatter plots. Is it possible?

### Describe alternatives you've considered

### Additional context

[2019-02-15 10:35] ghtmtt commented on #1074
Linear trend is not native in plotly. `scipy` and `numpy` must be used:

https://plot.ly/python/linear-fits/

[2019-02-15 10:36] pcav commented on #1074
Do you mean a trend line? A line connecting point is usually not suitable for scatterplot, who can have N points for the same X

[2019-02-15 10:44] mdouchin commented on #1074
I think this should be an option. Some times, a line is needed (ex: water levels accross the year) and sometime not

[2019-02-15 10:45] pcav commented on #1074
Fully agreed.

[2019-02-15 10:49] tethysgeco commented on #1074
yes, it should be an option.

[2019-02-15 10:49] mdouchin opened #1075 "Compatibility with QGIS3"
This issue aims to list all the Lizmap features to check agains QGIS 3.4 which will be next LTR in the end of February 2019. I would like anyone interested to contribute to the list :

* please add a comment with missing items (and I would add them in the main issue description)
* please check the feature and report if there is an issue. We will open a new Github issue and reference it here when n

[2019-02-15 11:07] mdouchin commented on #1075
@pcav @rldhont @Gustry @laurentj @dmarteau beware that we cannot edit the issue main description concurrently. Has anyone an idea of how to avoid loosing some data while another is editing the issue ? Should we only use comments to add items (and I will be in charge of copying them in the main description) or is there another preffered way ?

[2019-02-15 11:09] pcav commented on #1075
Sorry, I was not aware of this. Comments are OK for me, I'll refrain from direct editing. Hope nothing has been really lost.

[2019-02-15 11:50] mbernasocchi commented on #1075
@mdouchin great!
- locate by layer seems not to work, but I'havent tested thoroughly
- main.css in the default custom theme is ignored on the landing page (but I'm not sure if this is supposed to work at all)

@signedav @marioba have more feedback?

[2019-02-18 08:49] rldhont commented on #1073
I think the pages' title have to be enhanced.

For the projects page, "Projects" can be removed.

For the map pages, what do you think about the title ?

[2019-02-18 09:03] rldhont commented on #1075
Linked open issues:

* QGIS Server 3.4.4 does not show the map anymore #1059
* child objets in popup with QGIS server 3 #1024
* QGIS server 3 #1018
* Composer layouts not recognized at all when using QGIS3 #1007
* QGIS Server 3: Can't correctly print or use the selection tool #971
* lizmap 3 support for QGIS 3 desktop and server #857

[2019-02-18 13:15] josemvm opened #1076 "date/time widget - customized format"
hi

the LWC dowsn´t respect the custom widget display definet in qgis

![imagem](https://user-images.githubusercontent.com/10053874/52953283-f3c23e00-337e-11e9-9a23-678b6b5b86ee.png)

MM-dd-yyyy
![imagem](https://user-images.githubusercontent.com/10053874/52952967-11db6e80-337e-11e9-8ee4-2eb83a775509.png)

https://github.com/3liz/lizmap-web-client/issues/521
https://github.com/3liz/lizmap-web-clie

[2019-02-18 15:42] dmiolo opened #1077 "Group Admin delete"
I mistakenly deleted the admin group and I can no longer access the configuration.
How can I fix it?

[2019-02-19 08:10] nboisteault commented on #1077
You can access the user table in your database (postgresql, sqlite...) and duplicate the lizadmin user then you change lizadmin to admin. The admin user will have the same password that lizadmin.

[2019-02-19 08:18] renatoSancho opened #1078 "ERROR 500 ON WINDOWS"
Hello everyone,
I followed the steps in the Lizmap docs to install it on windows. But, at the end, when i try to connect as admin, i get this error "Error 500. A technical error has occured. Sorry for this trouble"

[2019-02-19 08:31] pcav commented on #1078
Please make sure all the permissions are OK, by running the `set_rights.sh` command.

[2019-02-19 08:40] renatoSancho commented on #1078
set_rights.sh give me this error
"Chown : invalid user : 'www-data:www-data'"

[2019-02-19 17:24] gioman commented on #1078
not necessary on Windows.

[2019-02-19 20:28] gerald2545 opened #1079 "displaying a window for user information"
Hi all,
I would like to open a popup / window when people access my lizmap project to telle them how to access files associated to a poi and download it.
Is there sucha feature in lizmap?

Thank you for your help!!
Gérald

[2019-02-19 20:45] Gustry commented on #1079
Yes you can add some custom javascript:
https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#adding-your-own-javascript

One example:
https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/qgis/media/js/montpellier/displayMessageAtStartup.js.example

[2019-02-19 22:05] gerald2545 commented on #1079
thank you for the links, I will try that

[2019-02-20 06:12] gerald2545 commented on #1079
Too easy ;) thank you for your quick reply ! !
Our  project (french) : https://velomax.2p2r.org

[2019-02-20 06:12] #1079 closed

[2019-02-20 14:50] igeofr commented on #1042
I have a problem with Bing that I think is related to the changes (only hybrid and road) .

`Blocage d’une requête multiorigines (Cross-Origin Request) : la politique « Same Origin » ne permet pas de consulter la ressource distante située sur https://ak.dynamic.t3.tiles.virtualearth.net`

`Raison : échec de la requête CORS.`

### Environment
* Lizmap version: 3.2.2
* QGIS version: 2.18

[2019-02-21 09:37] mfangain opened #1080 "Constraints on fields defined on QGIS aren't included in Lizmap"
### What is the bug?
For example, to avoid mistakes when updating an IP field, I used a regular expression

It works well on QGIS, but Lizmap ignore it.
I can put any value on the field without error.

### Expected behavior
On QGIS, field appaers with red backround when value doesn't respect the constraint, it would be fine to have the same thing with Lizmap.

### Screenshots and logs

![image](ht

[2019-02-22 10:19] bsaglio2001 opened #1081 "Unexpected results of dataviz aggregation parameters"
### What is the bug?

Unexpected results of dataviz aggregation parameters.
The aggregate function displayed on my web map is not the one I choose with QGIS Lizmap plugin !
(#743)
Is there a limitation about the type of attributes in use ?

### Steps to reproduce the issue

I try with different layers of my project to create an histogram.
X-axis is for a simple category of values (1,23,4 or 0,1,2)

[2019-02-22 11:26] blaisegeo commented on #999
Lucky I am to have found this thread, because it was impossible to select points on a Samsung Tab with the default driver (Chrome). But now it rocks with Firefox ! :)

[2019-02-22 13:40] laurentj commented on #1072
I added it into the documentation :)

[2019-02-22 13:40] #1072 closed

[2019-02-25 15:23] pcav commented on #1075
Given that QGIS 2.18 now seems essentially unavailable from repos, I think this issue is of absolute importance.

[2019-02-25 15:26] mbernasocchi commented on #1059
@laurentj this is an issue in QGIS server, 3.4.5 solves it

[2019-02-25 15:37] pcav commented on #1059
Confirmed, it works also in QGIS 3.6

[2019-02-25 15:55] pcav commented on #1075
#1059 IMHO should be closed

[2019-02-25 15:56] pcav commented on #1018
IMHO this should be closed.

[2019-02-25 15:57] pcav commented on #857
Should this be closed?

[2019-02-25 16:13] mfangain opened #1082 "Transparency of polygon layer isn't taken into map printing"
### What is the bug?
The transparency is defined on layer's properties in QGIS project.
The review in Lizmap is well-done, but in editing preview, the layer isn't transparent at all.

### Expected behavior
To see the same things in both Lizmap and edition.

### Screenshots and logs
In lizmap :

![image](https://user-images.githubusercontent.com/32867483/53350515-82a2fd80-391f-11e9-8bb8-7d1fd19024a

[2019-02-25 20:13] josemvm opened #1083 "applying filters on features & functions icon filter"
hi

it's possible to do multiple filters with selection tool but not within attribute table

![imagem](https://user-images.githubusercontent.com/10053874/53363376-38784700-3934-11e9-9d6c-5c469333310d.png)

after apply the first filter:
![imagem](https://user-images.githubusercontent.com/10053874/53363730-28149c00-3935-11e9-8bca-5f9ebf7d2d0d.png)

the filter icon is not avaiable anymore on the next

[2019-02-25 22:18] josemvm commented on #1075
in case of Montpellier project attribute table avaiable only for Points of Interest layer

[2019-02-25 22:55] josemvm commented on #1075
attribute table not avaiable for many many layers stored in postgreSQL

[2019-02-26 09:32] rldhont commented on #1059
thanks to @elpaso for the multiple QGIS Server bufixing

[2019-02-26 09:32] #1059 closed

[2019-02-26 09:36] rldhont commented on #1018
@Abelon38 do you test with QGIS Server 3.4.5 ?

[2019-02-26 09:38] rldhont commented on #1075
@gioman can you be more precise ? Which QGIS Server version ?

[2019-02-26 09:53] josemvm commented on #1075
qgis server 3.4.5

[2019-02-26 10:28] rldhont commented on #1075
@josemvm do you have a link to test it ?

[2019-02-26 10:37] gioman commented on #1075
@rldhont I'm not part of this conversation :)

[2019-02-26 10:44] rldhont commented on #1075
sorry @gioman

[2019-02-26 11:04] josemvm commented on #1075
@rldhont please check your mailbox

[2019-02-26 11:13] rldhont commented on #1075
@josemvm it seems there is an issue when BBOX is added to the GetFeature Request. Can you open an issue about AttributeTable with extent restriction.

[2019-02-26 11:24] josemvm opened #1084 "attribute table - problem with bbox on getfeature request"
hi

qgis server 3.4.5

thanks

[2019-02-26 14:58] nboisteault commented on #997
@rldhont : this bug might be fix using [initComplete](https://datatables.net/reference/option/initComplete) method when initialising the attribute table. To be tested.

[2019-02-26 19:35] josemvm commented on #1084
@rldhont the problem happens when `"limitDataToBbox": "True"` is set in the plugin

[2019-02-26 19:38] josemvm commented on #1075
if `"limitDataToBbox": "True"` is set in the plugin https://github.com/3liz/lizmap-web-client/issues/1084#issuecomment-467580894

[2019-02-27 05:29] Abelon38 commented on #1018
Hi!

I have not tested with Latest QGIS server. Last time I try it didn't work
with QGIS 3.1. Should I give it a tray with latest?
Br/ Abel

Den tis 26 feb. 2019 10:36rldhont <notifications@github.com> skrev:

[2019-02-27 10:19] josemvm commented on #1075
edition - all the widgets are not taken by the qgis server

[2019-02-27 15:49] josemvm commented on #809
@laurentj the "Sender address of e-mails" happens as a required field when you try to change any other field

[2019-02-27 16:07] nboisteault commented on #762
@tethysgeco  you can replace :
[code]

by

[code]
to tell datatables to match exactly the string. [Reference](https://datatables.net/reference/api/column().search()).

[2019-02-27 16:12] nboisteault commented on #762
I have updated my code [here](https://github.com/3liz/lizmap-javascript-scripts/blob/master/attribute_table_column_filter/attribute_table_column_filter.js) to tell how to active filter only on specific columns. I'll publish another example with checkboxes dropdowns later.

[2019-02-28 10:04] pcav opened #1085 "Release of 3.2.2?"
I see that a bugfix version has been committed:
https://github.com/3liz/lizmap-web-client/commit/a669206a64b6fe4e88cd8684862eef9922d33597
but not published. Has this been overlooked, or there is need for further testing? In this second case I'm available.
Thanks.

[2019-02-28 10:55] Xpirix opened #1086 "Release of Lizmap 3.3 with qgis 3.4.X support TODAY"
Today is the day.
https://www.3liz.com/blog/rldhont/index.php?post/2019/01/21/Lizmap-Web-Client-3.2-and-futur
![screenshot from 2019-02-28 13-55-15](https://user-images.githubusercontent.com/43842786/53561653-84a7cf00-3b60-11e9-9b02-27a909e35174.png)

[2019-02-28 11:00] pcav commented on #1086
Sorry, I'm confused: has version 3.2.2 or 3.3 (with QGIS 3.4 support) been released today?

[2019-02-28 11:06] Xpirix commented on #1086
The version 3.2.2 has been just released but the post on the blog said that the are planing to release the version 3.3 at the end of February. Maybe the version 3.3 is for today too.
![screenshot from 2019-02-28 14-04-06](https://user-images.githubusercontent.com/43842786/53562268-02b8a580-3b62-11e9-847c-3d6cf546cf8a.png)

[2019-02-28 11:08] pcav commented on #1086
Wow, that's great news, thanks!

[2019-02-28 11:09] Xpirix commented on #1086
You're welcome.

[2019-02-28 11:14] josemvm commented on #1086
very good news!!! :-)
thanks

[2019-02-28 13:06] rldhont commented on #1085
Done

[2019-02-28 13:06] #1085 closed

[2019-02-28 13:09] rldhont commented on #1086
version 3.3 should have been released this week but QGIS Server 3.4 should also be fixed

[2019-02-28 13:19] jlstanus opened #1087 "Live tracking multiple trace"
### Is your feature request related to a problem? Please describe
I need to track multiple objects. This should be gpsd clients

### Describe the solution you'd like
GPSD client that send data to gpsd server. QGIS/Lizmap has a layer with live update of the tracks. Doas that means a js script that update data? a refresh function?

### Describe alternatives you've considered
* updated positions are

[2019-02-28 13:21] josemvm commented on #1087
hi @jlstanus
see here https://github.com/3liz/lizmap-web-client/issues/1011

[2019-02-28 13:48] jlstanus commented on #1087
ok thank you

[2019-02-28 13:48] #1087 closed

[2019-02-28 13:50] josemvm commented on #1011
@jlstanus can you help here?

[2019-02-28 14:00] jlstanus commented on #1011
Maybe look at the search by location or atlas tools how it works https://github.com/3liz/lizmap-web-client/tree/master/lizmap/www/js

[2019-02-28 14:06] mdouchin commented on #1011
Have a look here
https://github.com/mdouchin/lizmap-javascript-scripts/blob/master/smartfilter/smartfilter.js#L749

[2019-02-28 14:42] pcav commented on #1086
Thanks. Could you please point out which tickets should be closed on QGIS to be ready?

[2019-02-28 14:51] pcav commented on #1086
If you could publish an RC version I can start early testing.

[2019-02-28 15:07] Gustry commented on #1086
Do you mean that QGIS 3.4.5 is not enough and Lizmap 3.3 needs to wait 3.4.6?

[2019-02-28 15:53] rldhont commented on #1086
Probable issue in QGIS Server:
* #1084 attribute table - problem with bbox on getfeature request
* #1024  child objets in popup with QGIS server 3

[2019-02-28 16:03] pcav commented on #1086
Thanks

[2019-03-01 15:09] pcav commented on #935
I think this can be closed.

[2019-03-01 15:31] GiuliaRonchetti opened #1088 "Unable to see shp and geoTiff on LWC"
Hello,
we are trying to use Lizmap 3.2 on OSGeoLive 12. This is our configuration: OSGeoLive 12, QGIS server, Apache 2, Lizmap 3.2, QGIS desktop 2.18 (with lizmap plugin).
We have no problems with the Montpellier Demo project (everything works), but when we create our new project we have problems with layer visualization. We are able to correctly see only GeoJson layers. It seems that there is an

[2019-03-01 15:37] pcav commented on #1088
Have you checked files and directories permissions?

[2019-03-01 15:56] GiuliaRonchetti commented on #1088
Thank you! We solved!

[2019-03-01 15:59] Gustry commented on #1088
@GiuliaRonchetti Please close your issue if it's solved. Thanks

[2019-03-01 16:04] #1088 closed

[2019-03-03 10:15] josemvm opened #1089 "popup tool - mobile mode (edition)"
hi

on mobile devices, when a user tries to edit a feature from popup window, the edition tool panel doesn't appear, then the user must press the edition icon on the vertical toolbox bar.

lwc: 3.2 and master
qgis server: all

thanks

[2019-03-03 10:24] josemvm commented on #1089
on lwc 3.1.5 it's ok

[2019-03-04 10:26] mfangain opened #1090 "Atlas for several layers"
### Is your feature request related to a problem? Please describe

In Lizmap plugin (2.4.2), only one layer can be defined for the atlas feature.
Would it be possible to manage several composers with different coverage layer?

### Describe the solution you'd like
It would be called from popup, or selected in atlas windows.

### Describe alternatives you've considered
Today, we must duplicate a pro

[2019-03-05 09:58] kino94 opened #1093 "qgis server lizmap dataviz"
Hi, we have a problem to create charts with dataviz.
In particular we have problem to create scatterplot, the other types of charts seem work except when we try to create one of them with more data (about 5000).

The result that show at the display is the following

![image](https://user-images.githubusercontent.com/48024513/53796043-91973a80-3f33-11e9-8103-5e1bfb8a9970.png)

The steps to reproduc

[2019-03-05 14:15] loic74 opened #1094 "external WFS"
Is it possible to add an external WFS layer in Lizmap (lizmap 3.2) ?

I have an external WFS layer in my Qgis project (it works fine), but this one doesn't show up in Lizmap...

[2019-03-06 06:45] arno974 opened #1095 "Send email to all user in a group"
It could be interesting for the administrator to be able to send an email to all the users that belongs to a group. For example, when a modification (new feature, new layer, layer update, etc.) is made to a map project the administrator can then inform all the users with this new feature.

[2019-03-06 08:20] zollilein opened #1096 "Layer werden in Lizmap- Web Client nicht angezeigt und die Schaltfläche zum Drucken ist auch nicht da"
Hallo zusammen,

ich verzweifele so langsam.
Ich habe nach Anleitung den Qgis Server 2.18 und den Lizmap Web Client unter Windows 7 installiert.
Lief erst alles prima. Ich konnte Layer aus einem fertigen Projekt auswählen, abspeichern und später im Web Client war alles zu sehen.
Jetzt zeigt er mir einfach keine Layer mehr an. Ich weiß einfach nicht woran es liegen kann. Habe schon alles durchsucht

[2019-03-06 08:52] rldhont commented on #1096
Sorry, we do not speak German, can you update your issue in English.

[2019-03-06 09:26] zollilein commented on #1096
Hello everybody,

I despair so slowly.
I installed the Qgis Server 2.18 and the Lizmap Web Client under Windows 7 after instructions.
Everything went great first. I was able to select from a finished project, save it and later everything was visible in the web client.
Now he just shows me no more shift. I just do not know why it can be. Have all the best, but find no evidence of change.
Was also n

[2019-03-06 09:26] zollilein commented on #1096
Hello everybody,

I despair so slowly.
I installed the Qgis Server 2.18 and the Lizmap Web Client under Windows 7 after instructions.
Everything went great first. I was able to select from a finished project, save it and later everything was visible in the web client.
Now he just shows me no more shift. I just do not know why it can be. Have all the best, but find no evidence of change.
Was also n

[2019-03-06 09:33] nboisteault commented on #1096
@zollilein did you update QGIS Server to 3.4 ?

[2019-03-06 09:36] zollilein commented on #1096
no  i didn`t.because I was afraid that then nothing works.
I was so glad that I got it installed at all

[2019-03-06 09:41] nboisteault commented on #1096
@zollilein Do you have errors in your browser console ?

[2019-03-06 09:51] zollilein commented on #1096
During the test run in the server:
Some layer encodings are not set:

Then there was also times that he grass 7.4.2 can not find and in the Python protocol was something like this: FcgidInitialEnv PATH "C: Qgis ...

[2019-03-06 09:55] zollilein commented on #1096
I would like to create a working Qgis Server with Web Client. This should be my project work for the oral exam. I'm very nervous because I'm afraid I can not make it on time

[2019-03-06 10:09] nboisteault commented on #1096
@zollilein Lizmap and QGIS Server work best with Linux. If you're not comfortable with Linux, you can try the vagrant way : https://github.com/3liz/lizmap-web-client/tree/release_3_2/vagrant

[2019-03-06 10:11] nboisteault commented on #1075
Landing page for me is ok.

[2019-03-06 10:22] zollilein commented on #1096
ok .... thanks for the effort.
I think I'll try again

[2019-03-06 10:34] nboisteault commented on #1075
@mbernasocchi for me locate by layer works with a QGIS 2.18 project and QGIS Server 3.4.5. We have to test with a QGIS 3.4.5 project .

[2019-03-06 10:43] josemvm commented on #1075
@nboisteault, qgis server 3.4.5 also prints 2.14 projects

[2019-03-06 10:54] nboisteault commented on #1007
Here are two prints with montpellier project made in QGIS 2.18. Only server versions differ.

[montpellier_Landscape_A4_QGIS_2.18_QGIS-Server_2.18.pdf](https://github.com/3liz/lizmap-web-client/files/2935780/montpellier_Landscape_A4_QGIS_2.18_QGIS-Server_2.18.pdf)
[montpellier_Landscape_A4_QGIS_2.18_QGIS-Server_3.4.5.pdf](https://github.com/3liz/lizmap-web-client/files/2935781/montpellier_Landscap

[2019-03-06 11:08] mbernasocchi commented on #1075
@nboisteault you're right, it was a mistake on our side (PGSERVICE file missing in docker), we didn't know that lizmap does direct queries to the DB. why is that?

[2019-03-06 11:16] rldhont commented on #1075
@mbernasocchi lizmap is requesting directly data from Postgis instead of QGIS Server WFS GetFeature for faster request. But if lizmap cannot request Postgis, it does the WFS Request.

[2019-03-06 12:16] gioman commented on #585
@rldhont @mdouchin I was hoping to discuss with you this here in Coruña. Could you please contact me about this feature request? I would like to understand if we can support to make it happen sooner rather than later.

[2019-03-06 14:04] mbernasocchi commented on #1075
it is what we immagined

then this is the part that was not working for us.

[2019-03-06 16:16] nboisteault commented on #1024
I can confirm that. I found that GetFeatureInfo request for child objects doesn't have the CRS parameter which is mandatory with QGIS 3. Fix coming.

[2019-03-06 17:18] nboisteault opened #1097 "Some Vagranfile parameters should be put in custom .yml ?"
I have multiple Lizmap installed with Vagrant. I had to modify in Vagranfile `vb.name` and host port to not collide between instances. Now `git` see this modification but I don't want to commit it. Should those parameters be moved to custom.yml ?

[2019-03-06 19:38] nboisteault commented on #1018
@Abelon38 Did you try to install QGIS Server with [QGIS doc](https://docs.qgis.org/testing/en/docs/user_manual/working_with_ogc/server/getting_started.html#installation-on-windows) ? Are you able to request QGIS Server without Lizmap first ?

[2019-03-06 19:40] nboisteault commented on #857
See #1075 for reference.

[2019-03-06 19:40] #857 closed

[2019-03-06 19:45] nboisteault commented on #1075
You said "many layers". Do you watch differences between those working and those not ?

[2019-03-06 20:11] josemvm commented on #1075
@nboisteault, no, the problem only happens when `"limitDataToBbox": "True"` is set in the plugin

[2019-03-07 10:16] #1024 closed

[2019-03-07 12:48] nboisteault commented on #1084
@josemvm  I have tested with original "Montpellier - Transports" project just adding `"limitDataToBbox": "True"`  with QGIS Server 2.18 and 3.4.5. Lizmap is last version of the 3.2 branch. I can't reproduce the issue. @josemvm is your project made in QGIS desktop 3.4.5 ?

[2019-03-07 13:08] nboisteault commented on #1084
I can reproduce the issue with a minimal QGIS 2.18 project.

[2019-03-07 13:45] 80ben opened #1119 "Default style is defined as an empty string in standard and QGIS 3 - Lizmap and QGIS has to be fixed"
I have a problem with the Legend icon in LIZMAP with  lizmap Plugin 3.0.1 in QGIS 3.6. The layer symbol is not displayed. This is url’s image

http://www.......   @=2&project=fatto&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetLegendGraphic&LAYER=postattivazioni&STYLE=default&EXCEPTIONS=application%2Fvnd.ogc.se_inimage&FORMAT=image%2Fpng&TRANSPARENT=TRUE&WIDTH=150&LAYERFONTSIZE=0&ITEMFONTSIZE=9&SYMBOLSPACE

[2019-03-07 14:29] Abelon38 commented on #1018
Hi! I just tried again installing QGIS server 3.1, following the documentation from https://docs.lizmap.com/current/en/install/windows.html ?I have no idea what it may be wrong.  and I am getting error:

mod_fcgid: get overlap result error........End of script output before headers: qgis_mapserv.fcgi.exe

Any help is appreciated!

BR/Abel

[2019-03-07 14:54] nboisteault commented on #1018
@Abelon38 QGIS Server 3.1 not 3.4.5 ?

[2019-03-07 15:18] josemvm commented on #1084
@nboisteault i can provide a link if you want to inspect

[2019-03-07 15:22] nboisteault commented on #1084
@josemvm I have found the bug. Thank you.

[2019-03-07 15:24] josemvm commented on #1084
now i'm talking about children tables, it´s not working with `"limitDataToBbox": "True"`
thanks @nboisteault

[2019-03-07 15:27] josemvm commented on #1084
like "Quatiers" and "Sous-Quatiers"

[2019-03-07 16:05] news24lor opened #1100 "The print icon disappears in QGIS 3"
### What is the bug?
I tested the latest version and verified a different behavior if I use QGIS 2.18.x and QGIS 3.6.x. In QGIS 2 creating the Lizmap file via the plugin with the print option, the icon is clearly visible on the left. If I use QGIS 3 instead, creating the Lizmap file with the print option, the icon disappears and then it is impossible to print. Maybe the bug is present in Lizmap pl

[2019-03-07 17:01] josemvm commented on #1084
https://github.com/3liz/lizmap-web-client/pull/1101

great!!! :-)
thanks @nboisteault

[2019-03-07 17:20] rldhont commented on #1084
Fixed

[2019-03-07 17:20] #1084 closed

[2019-03-08 08:05] nboisteault commented on #1086
#Please go on #1075 for any comments.

[2019-03-08 08:05] #1086 closed

[2019-03-08 08:49] Abelon38 commented on #1018
Hi!

Thanks for your time! I have tried with QGIS server 3.6.0 but nothing happend. the problem I have is not related to Lizmap, Apache is working well but I dont get respons from QGIS server when requesting http://localhost/qgis/qgis_mapserv.fcgi.exe. Should I try with QGIS doc instead? I guess it may be something wrong with php file in Apache. Mine looks like this:

FcgidInitialEnv PHPRC "C:\\ph

[2019-03-08 09:18] nboisteault commented on #1018
@Abelon38 Yes try with QGIS doc.

[2019-03-08 11:07] nboisteault commented on #1075
@josemvm which ones please ?

[2019-03-08 11:09] christophemm opened #1102 "CRS problem with selection tools"
### What is the bug?

Hello,
I have a problem with the selection tool. my data is in wgs84, reprojected in 3857 with OSM in base layer. When I use one of the selection tools, I send coordinates in 3857.
`SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFeature&TYPENAME=Commerce&OUTPUTFORMAT=GeoJSON&EXP_FILTER=intersects(%24geometry%2C+geom_from_gml('%3Cgml%3APolygon+xmlns%3Agml%3D%22http%3A%2F%2Fwww.opengis.n

[2019-03-08 11:10] josemvm commented on #1075
hi @nboisteault i'm talking about projects saved with qgis server 3.4.5

[2019-03-08 12:21] christophemm commented on #1102
additional info: in the demo project on montpellier, only the layer "public bulding" is selectable. It's a spatial layer but not the only one. "Points of interest" is a spatial layer but can not be selected

[2019-03-08 12:36] christophemm commented on #1102
Response from the selection of Tram Stop :
`
{"type": "FeatureCollection",
 "bbox": [ 0, 0, 0, 0],
 "features": [
 ]
}
`
Response from the selection of Public Bulding :
`
{"type": "FeatureCollection",
 "bbox": [ 3.87424453, 43.59681014, 3.89867796, 43.61450247],
 "features": [
  {
   "type":"Feature",
   "id":"publicbuildings.5",
   "geometry":
   {"type": "Point", "coordinates": [3.880303, 43.604

[2019-03-08 12:41] josemvm opened #1103 "attribute table - non spatial children tables (display info panel)"
hi

the display info panel doesn´t work for non spatial children tables

see the behaviour,e.g., between "Quartiers" & "Sous-quartiers" and "public buildings" & "Pivot tramstops / Buildings"

please fix it asap
thanks

qgis server: 2.14 e 2.18
lwc: all

[2019-03-08 13:03] nboisteault commented on #1102
@christophemm Can you update to Lizmap on branch release_3_2 or at least apply this patch : https://github.com/3liz/lizmap-web-client/commit/6d9903425ec8bbccc6d58dc5f629f96e3990c852
I am almost sure it will fix your bug.

[2019-03-08 13:23] nboisteault commented on #1103
I can confirm with 2.18. No requests are send when clicking on "Pivot tramstops / Buildings".

[2019-03-08 13:55] christophemm commented on #1102
Oh yes  !
I had seen your way out but I was not sure it was the same thing.
Thank you ! it works

[2019-03-08 13:56] nboisteault commented on #1102
Glad it solved your issue :)

[2019-03-08 13:56] #1102 closed

[2019-03-08 14:24] nboisteault commented on #1103
Fixed with https://github.com/3liz/lizmap-web-client/commit/22d302e486bf075de5aa115d51f6eb9a680caecd

[2019-03-08 14:24] nboisteault commented on #1103
@josemvm thank you for your bug report.

[2019-03-08 14:28] josemvm commented on #1103
@nboisteault so many thanks for your effort!!! :-)

[2019-03-08 15:07] rldhont commented on #1094
If the layer is deifnied in the QGIS project, it has to be available in lizmap as all other vector layer but you probably have a proxy configuration to add to your QGIS Server configuration.

[2019-03-08 15:14] rldhont commented on #1081
This is a lizmap-plugin issue. It has been fixed in the plugin:
* master (qgis3) https://github.com/3liz/lizmap-plugin/commit/5e4ed761fb9cb89a2a06f27044079a7ac75c44c9
* qgis2 https://github.com/3liz/lizmap-plugin/commit/e6713ecdd803dced1be513dadde013d6641c3fb2

The fix will be available in next lizmap-plugin versions:
* 3.0.2
* 2.4.3

[2019-03-08 15:14] #1081 closed

[2019-03-08 15:16] rldhont commented on #1080
Expressions are not evaluated by QGIS Server or Lizmap, so we need to build a plugin to evaluate expression.

This plugin will be usefull for:
* default values
* constraints
* filtering form groups

[2019-03-08 15:17] rldhont commented on #1077
I think it will be usefull to add the solution in the documentation

[2019-03-08 15:20] rldhont commented on #1100
Duplicates Composer layouts not recognized at all when using QGIS3 #1007 ?

[2019-03-08 15:21] rldhont commented on #1074
@mdouchin do you want to add to 3.2 or 3.3 ?

[2019-03-08 15:23] rldhont commented on #1070
I invite you to use the X-Y-Z provier instead of the old GDAL XML file.

[2019-03-08 15:23] rldhont commented on #1070
The lizmap documentation has to be updated

[2019-03-08 15:27] rldhont commented on #1062
The idea could be to have an alternative web page without the map but with interaction between the 2 pages.
@laurentj @nboisteault some technical ideas ?

[2019-03-08 15:30] rldhont commented on #1061
Each map has it's own name, you can define it in the Project's properties > OWS Server tab.

You can provide an image like specify in the documentation https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#changing-the-default-image-of-a-project-in-the-repositories-and-projects-site

[2019-03-08 15:33] rldhont commented on #1058
@pcav lizmap can't really fix your explain issue. If the popup contains a link without explicit link the browser automatically points to the page, like when the link is an anchor.

I think it's a documentation issue.

[2019-03-08 15:42] pcav commented on #1058
ot it, thanks.

[2019-03-08 15:42] #1058 closed

[2019-03-08 16:02] nboisteault commented on #968
I can't reproduce the issue neither with QGIS 2.18 nor 3.4.5. Lizmap version is last 3.2 on release_3_2 branch. I have also tested when filtered by user.
Please reopen if issue still occurs.

[2019-03-08 16:02] #968 closed

[2019-03-08 16:05] nboisteault commented on #1019
@adelchia Please test with last version and reopen issue if it sill occurs.

[2019-03-08 16:05] #1019 closed

[2019-03-10 12:39] laurentj commented on #1097
these parameters are parameters for vagrant. Vagrant does not know to read its parameters from an Ansible file or any yaml files. Except if you know Ruby (Vagranfile is a Ruby program), and you program the reading of an external file to retrieve parameters to set to `vb.name` etc..

[2019-03-11 10:36] loic74 commented on #1094
No proxy needed. I have no server-side access restrictions.
- Get capabilities from server (command line) works fine: `curl --location --request GET "http://geoservices.brgm.fr/geologie?service=wfs&request=getcapabilities&version=2.0.0"`
- I have no error in logfiles.
- The layer is published in OWS capacities...
- CRS are the same (2154)

[2019-03-11 11:08] josemvm opened #1106 "attribute table - icons"
hi

is it possible to have something like this in the attribute table?

![imagem](https://user-images.githubusercontent.com/10053874/54119606-aa996300-43ed-11e9-8684-5508b1521e0f.png)

thanks

[2019-03-11 15:42] josemvm commented on #1106
the html content is only displayed in the info panel...

[2019-03-12 13:57] jonnyforestGIS commented on #1075
@rldhont , @mdouchin  do you define specific test data for this testing? Can we use the demo projects montepellier?

[2019-03-12 13:59] rldhont commented on #1075
@jonnyforestGIS we use the demo project montpellier and some specific if needed

[2019-03-12 14:24] jonnyforestGIS commented on #1075
@rldhont ok I will see the checklist above and will give feedback about unchecked items

[2019-03-13 12:40] rldhont commented on #1094
Nothing in the qgis server log ?

[2019-03-13 14:08] loic74 commented on #1094
Sorry. Indeed, I double-checked, and I found this error message:
`DescribeFeatureType failed for url...`
Maybe a problem with 2.14 version of my Qgis Server... Would version 2.18 solve the problem?

[2019-03-13 15:37] bgisb opened #1107 "Layers visible only for selected users"
Hi Guys!

Is it possible for not signed users to see 3 layers from the project and for logged users 10 layers from the same project? I'm afraid that filtering by the user will not solve the problem because the attribute table for 10 layers will be still visible.

I would like some of the layers in the project to be visible only to the group of administrators.

[2019-03-13 16:11] #1097 closed

[2019-03-13 16:16] nboisteault commented on #1094
@loic74 you definitly should update to 2.18. Also is your WFS using https ?

[2019-03-13 16:20] loic74 commented on #1094
Yes, it use https. But I think I found the problem. (a noob problem !).

I use QGIS desktop 2.18 (until then I had no problems!) with the 2.14 server (due to stability problems with version 2.14 on my PC). Version 2.14 does not seem to support WFS versions above 1.0.0. The WFS server does not provide CRS 2154 in this version, so the layer is only available in WGS84.
All that remains is to upgrade

[2019-03-13 16:20] #1094 closed

[2019-03-13 19:26] jonnyforestGIS commented on #1075
@rldhont @mdouchin
Test *Printing* Section:
OS: Windows 10 Home 64-bits
QGIS Server 3.4.5 LTR 64-bits
php7.2.16 64-bits
Apache 2.4 64-bits
Lizmap Web-client-master
Lizmap Project - Montpellier - Transports - Demo

PDF 100,200,300dpi with labels description A4 Landscape - ✔️
PNG 100,200,300dpi with labels description A4 Landscape - ✔️
JPG 100,200,300dpi with labels description A4 Landscape - ❌  Err

[2019-03-13 19:47] jonnyforestGIS commented on #1075
Save project Montpellier - Transports - Demo as project .qgs in QGIS 3.4.5 Desktop LTR and the module of printing disappears? Does anyone confirm this behaviour?

[2019-03-14 06:42] nboisteault commented on #1094
Don't forget to add this part to your configuration : https://issues.qgis.org/issues/16462#note-25

[2019-03-14 09:21] loic74 commented on #1094
Thank you for the information. Thanks to this, in addition to installing an X server, everything works fine with version 2.18 ;-)

[2019-03-14 09:37] nboisteault commented on #957
@Gustry : the issue in your case is that you define a timestamp attribute in postgresql but define a 'Date' field format in QGIS => you have to select 'Date time'. I remove bug tag and add need-doc.

[2019-03-14 09:53] rldhont commented on #1075
@jonnyforestGIS I can confirm

[2019-03-14 10:26] nboisteault commented on #957
An enhancement would be to allow Date widget to be correctly filled and saved even if the postgresql format is timestamp.

[2019-03-14 14:49] nboisteault commented on #1075
I can confirm issue with jpg format. I found the error message [here](https://github.com/qgis/QGIS/blob/master/src/server/services/wms/qgswmsgetprint.cpp#L53). Doc says that jpeg is supported though.

[2019-03-14 14:51] rldhont commented on #1107
Not yet

[2019-03-14 15:22] jonnyforestGIS commented on #1075
So probably i will ask a newbie question :smile: for the problem jpg. I'm not c++ developer but make some sense. If we use the extra **else if** will work?
Something like this:

[code]

[2019-03-14 15:39] rldhont commented on #1075
the message comes from here https://github.com/qgis/QGIS/blob/master/src/server/services/wms/qgswmsrenderer.cpp#L588

I don't know why this restriction, I need to take a look at the 2.18 server code.

[2019-03-14 15:48] rldhont commented on #1075
It seems that the solution is to update https://github.com/qgis/QGIS/blob/master/src/server/services/wms/qgswmsrenderer.cpp#L517 by added
[code]

And added to https://github.com/qgis/QGIS/blob/master/src/server/services/wms/qgswmsgetprint.cpp#L41
[code]

[2019-03-14 16:24] bgisb commented on #1107
Thank you for a quick reply.

[2019-03-15 08:30] nboisteault commented on #1040
https://github.com/3liz/lizmap-web-client/pull/1108

[2019-03-15 11:18] rldhont commented on #1075
Some QGIS PR done https://github.com/qgis/QGIS/pull/9525

[2019-03-15 11:29] rldhont commented on #1103
@nboisteault this CRS issue is only with QGIS 2.* ? Or also with QGIS Server 3.* ?

[2019-03-16 18:02] news24lor commented on #1100
Yes, the problem is compatibility with QGIS 3.
I would also insert in QGIS 3 the problem with Relationships with no longer work and the data linked in Lizmap are no longer visible.

[2019-03-18 10:01] mdouchin commented on #804
can we close this issue ?

[2019-03-18 11:02] josemvm commented on #804
yes, everything is fine

[2019-03-18 11:02] #804 closed

[2019-03-18 12:02] pcav opened #1110 "String "Connecter" apparently untranslated"
In the login page the French version of Login always appear.

[2019-03-18 12:04] josemvm commented on #1110
hi @pcav fixed here https://github.com/3liz/lizmap-web-client/pull/1015

[2019-03-18 12:08] pcav commented on #1110
Thanks. Still not found in transifex.

Il 18 marzo 2019 13:04:28 CET, "José Macau" <notifications@github.com> ha scritto:

--
Sorry for being short

[2019-03-18 12:10] josemvm commented on #1110
it uses an existing string

[2019-03-18 14:06] pcav commented on #1110
Sorry, I probably miss your point: it is still untranslated in latest published version

[2019-03-18 15:45] laurentj opened #1112 "Setting rights on layers"
We should be able to set rights on layers, not only on maps : rights for specific users/groups to view or edit a layer.

The ACL system of Jelix should be enhanced, to support hierarchical rights. So we should be able to set rights on a "resource path", like `/<repository>/<project>/<layer>/`

Roles (or subject in the jAcl2 terminology), could be "view a map", "modify a map", "delete a map".

To c

[2019-03-18 15:46] laurentj commented on #1107
duplicate of #1112

[2019-03-18 15:46] #1107 closed

[2019-03-18 15:48] laurentj commented on #411
duplicate #1112

[2019-03-18 15:48] #411 closed

[2019-03-18 16:59] rldhont commented on #1110
@pcav In 3.2.2, the localized string is used but in Italian is still in English https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/var/overloads/jcommunity/locales/it_IT/login.UTF-8.properties#L23

In transifex, the string has been localized, we have to download and update it.

If you still have `Connecter` and not `Sign in`, you have to clean the lizmap temp directory with the scri

[2019-03-18 17:09] pcav commented on #1110
Thanks for the explanation.

[2019-03-18 17:50] josemvm opened #1114 "edition - upload photos from camera with firefox (android 8.1)"
hi

when i try to submit a form with a photo from camera (no problem from file), the browser shows this:

[code]

no problems with chrome or opera browser

lwc 3.2.2 and master
qgis server 2.18

thanks

[2019-03-19 13:44] Abelon38 commented on #1018
Hi! I tryed with XAMPP according to the QGIS doc and QGIS server does work! Anyway when it comes to Lizmap I am getting som errors. No layers are been desplayed  the Lizmap map and the  Lizmap error-Logs is saying:

::1	error	 error key E:\qgisprojekt\lindingo/lidingo.qgs, use only alphanumeric characters and the character '_' and maximum length 255

and

::1	warning	2019-03-19 14:38:28	[2]	strpos

[2019-03-19 13:57] rldhont commented on #1007
@nboisteault the PR  [Bugfix] Print with QGIS Server 3.0 and Project 2.18 #1115 fixing your example.

[2019-03-19 15:29] pieri70 commented on #1070
So I can create a XYZ server connection and load a layer to use as baselayer?

[2019-03-19 15:29] rldhont commented on #1070
yes

[2019-03-19 16:05] rldhont commented on #1082
I have tested printing transparency on your instance and it works.

I think the background is not printable in your example.

[2019-03-19 17:07] rldhont commented on #1068
I am working one.

[2019-03-19 17:09] josemvm commented on #1068
thanks @rldhont :-)

[2019-03-19 21:40] aeduard opened #1116 "Dataviz multiple series for scatter plot"
Is it possible to use multiple data series in scatter plot with line (issue #1074)?

[2019-03-20 08:50] nboisteault commented on #1007
@rldhont : I have tested your PR. I changed QGIS version in admin to ≥ 3.0. The print is the same than it was.

[2019-03-20 08:51] rldhont commented on #1065
@tethysgeco can you test PR #1117 ? thanks

[2019-03-20 08:52] rldhont commented on #1068
@josemvm can you test and review #1117 ? thanks

[2019-03-20 08:55] rldhont commented on #1007
After changing the QGIS Server version you have to clean the vartmp to remove the cache

[2019-03-20 09:02] nboisteault commented on #1007
@rldhont : it is way better ! The only difference I see is the red rectangle above the map in the bottom right corner.
[montpellier_Landscape_A4_QGIS-Server_3.4.5-with-bugfix.pdf](https://github.com/3liz/lizmap-web-client/files/2987288/montpellier_Landscape_A4_QGIS-Server_3.4.5-with-bugfix.pdf)

[2019-03-20 09:03] rldhont commented on #1007
Yes, QGIS Server 3 does not recognize 2.18 overview definition

So it works!

[2019-03-20 09:35] tobola123 opened #1118 "Hide layers in legend"
Hello,
is it possiblle to hide layers by default in lizmap settings?
**When I start my project it looks like this ->**
![pic1](https://user-images.githubusercontent.com/17334448/54673906-95ae8500-4afb-11e9-8e53-b5c8cef67475.PNG)

**but I want to, that layers will hide like this ->**
![pic2](https://user-images.githubusercontent.com/17334448/54673909-96dfb200-4afb-11e9-97ab-1defa35fd488.PNG)

IS it

[2019-03-20 09:59] NvBgm commented on #1118
Yes this is.
Read the documentation 'Publisher guide' > ''Adding your own JavaScript'
There is also an example.

[2019-03-20 11:00] rldhont commented on #1119
It is not a lizmap-plugin issue.

Lizmap plugin is a tool to configure the web map. Lizmap Web Client build the Web User Interface and it is a proxy to QGIS Server.

Lizmap Web Client 3.2.2 is not fully functional with QGIS Server 3.*

And it seems, it is a QGIS Server issue in the GetLegendGraphic Request.

Can you test the request directly to QGIS Server ?
* Replace the lizmap url to the QGIS Se

[2019-03-20 11:46] 80ben commented on #1119
I solved using Qgis -Dessktop 2.14 "Essen" to configure qgs and cfg files.

Il 20/03/2019 12:00, rldhont ha scritto:

--
dott. ing. Benedetto Figorito
Coll. Tecnico Prof.le - Esperto GIS
ARPA PUGLIA - Direzione Scientifica - U.O.S. Agenti Fisici
C.so Trieste n. 27
70126 – Bari
Tel.: 080-5460.312 (diretto)
E-mail: b.figorito@arpa.puglia.it
Sito web ARPA: www.arpa.puglia.it
WebGis: www.webgis.arpa.p

[2019-03-20 12:28] rldhont commented on #1119
@80ben ok, but you probably find a bug in QGIS Server and I'd like to fix it

[2019-03-20 14:35] nboisteault commented on #611
@pcav Where do you define the image size in QGIS ?

[2019-03-20 14:41] nboisteault commented on #1089
Confirmed. Issue appears when window width is inferior to 900 px.

[2019-03-20 15:09] nboisteault commented on #1089
@rldhont [here](https://github.com/3liz/lizmap-web-client/blob/master/lizmap/www/js/edition.js#L1147) if we are in mobile mode and the dock is visible, we click so it closes the tool window. Is it voluntary because we think user could modify the geometry first then edit attribute data ?

If user just want to modify attribute data it is annoying.
On the other hand if he wants to modify the geometry

[2019-03-20 15:44] rldhont commented on #1089
@nboisteault @josemvm I do not know if the modification of the attributes has priority over the modification of the geometry.
It's an UX problem and probably needs to be configurable.

[2019-03-20 15:51] josemvm commented on #1089
i think that the modification of the attributes is more frequent than the modification of the geometry...

[2019-03-20 15:53] rldhont commented on #1089
@nboisteault can you propose the changes ?

[2019-03-20 16:20] rldhont commented on #1065
@nboisteault ok, can you create a pull request ?

[2019-03-20 16:43] nboisteault commented on #1089
1. We could propose a layer option in plugin to let the user choose what he wants to edit first, geometry or attribute data.
2. We could differentiate actions with two buttons that give priority togeometry or attribute data edition
- one activate geometry edition and display a 'save' button to quickly save without need to go in edition tab
- the other one display attribute data form like today.

[2019-03-20 17:04] josemvm commented on #1089
i'm for the second option

[2019-03-21 08:23] rldhont commented on #1069
@gcalibris can you test https://github.com/3liz/lizmap-web-client/pull/1111 or actual release_3_2 branch ?

[2019-03-21 08:24] rldhont commented on #958
@mdouchin can you test https://github.com/3liz/lizmap-web-client/pull/1111 or actual release_3_2 branch ?

[2019-03-21 08:24] rldhont commented on #572
@josemvm can you test https://github.com/3liz/lizmap-web-client/pull/1111 or actual release_3_2 branch ?

[2019-03-21 08:26] #1065 closed

[2019-03-21 08:50] rldhont opened #1123 "Labelling empty option in select layers #711"
### Is your feature request related to a problem ?
In the tooltip tool, the first layer is automatically loaded and can be problematic for eavy layer #706

### Describe the solution you'd like
The solution proposed by @josemvm is to label the empty option and does not remove it.
This solution for tooltip tool add a step to activate a layer.

### Describe alternatives you've considered
It will be g

[2019-03-21 08:51] rldhont commented on #706
Related to #1123

[2019-03-21 09:20] #1040 closed

[2019-03-21 09:20] #1068 closed

[2019-03-21 12:17] josemvm opened #1124 "selection tool - geometry type with Z dimension"
hi

selection tool doesn´t work with geometries type `MultiPointZ`, `MultiLineStringZ`, `MultiPolygonZ`
we need to force type with `USING ST_Force_2D(the_geom)`

thanks

[2019-03-21 12:24] josemvm opened #1125 "selection tool - special (accentuated) characters"
hi

selection tool not taking layers from qgis whose name contains special characters

thanks

[2019-03-21 12:52] josemvm opened #1126 "popup - edition (highlight geometry in editing)"
hi

when the user clicks on two or more very close features and chooses to edit one from the popup
![imagem](https://user-images.githubusercontent.com/10053874/54676520-c7721c80-4af8-11e9-8947-85f8e63e9479.png)

the popup should be disabled and the feature one on edition should be marked as in editing

![imagem](https://user-images.githubusercontent.com/10053874/54753038-f57a5e00-4bd7-11e9-8374-e7

[2019-03-21 12:58] josemvm commented on #572
hi @rldhont , the problem remains

[2019-03-21 13:13] josemvm commented on #1125
can you fix it asap?...

thank you so much :-)

[2019-03-21 15:06] rldhont commented on #1125
@josemvm it's version 3.1 or 3.2 ?

[2019-03-21 15:07] rldhont commented on #1124
Which version ? 3.1 or 3.2 ?

[2019-03-21 15:13] rldhont commented on #1118
@tobola123 it's possible with a script added in `media/js/your_project_name/`.

Documentation: https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#examples

Examples: https://github.com/3liz/lizmap-web-client/tree/master/lizmap/install/qgis/media/js/montpellier

And the solution is this script: https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/qgis/media/js/mo

[2019-03-21 15:13] josemvm commented on #1125
3.2

[2019-03-21 15:14] josemvm commented on #1124
3.2

[2019-03-21 16:51] #1071 closed

[2019-03-21 16:58] nboisteault commented on #815
@news24lor does this issue still occur ?

[2019-03-21 16:58] pcav opened #1128 "Rotation of symbols lost in Lizmap"
A rotated symbol in qgis desktop
![3_4](https://user-images.githubusercontent.com/691842/54770017-b4e40a00-4c02-11e9-98ce-dce7ce3b5932.png)
is not shown correctly in lizmap:
https://lizmap.faunalia.eu/index.php/view/map/?repository=faunalia&project=Test
See attached project.
[test.zip](https://github.com/3liz/lizmap-web-client/files/2993120/test.zip)

[2019-03-21 17:05] nboisteault commented on #811
@josemvm Can you put steps to reproduce your issue please ?

[2019-03-21 17:21] nboisteault commented on #883
@robibrazze something like this ?
[code]

[2019-03-21 20:26] gioman commented on #1128
Not a Lizmap issue, if you put this

https://lizmap.faunalia.eu/index.php/lizmap/service/?repository=faunalia&project=Test&VERSION=1.3.0

in QGIS WMS client you gets the same, so is a QGIS Server issue.

[2019-03-21 20:40] pcav commented on #1128
Thanks for checking. Then it will be interesting to check whether it has been solved in QGIS 3.4.

Il 21 marzo 2019 21:26:00 CET, Giovanni Manghi <notifications@github.com> ha scritto:

--
Sorry for being short

[2019-03-22 10:33] Abelon38 commented on #1119
Hi!

I have the same issue and it does work when creating and saving the project with QGIS 2.18. It would be womderful if everything works with QGIS 3.6. My environment looks like this:

- Tested on windows 10 and windows server 2012
- QGIS server 3.6
- Lizmap 3.3 and 3.3 pre
- Phyton 37
- QGIS server installed with Xampp, according QGIS docs.
Error from Lizamp: 2019-03-22 11:17:28	::1	warning	201

[2019-03-22 11:39] nboisteault commented on #1125
@rldhont what the prupose of cleaning the name  [here](https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/attributeTable.js#L3214). If I remove that, it works but there might be some side effects I guess.

[2019-03-22 11:47] rldhont commented on #1125
@nboisteault the problem is that the FeatureType Name is not the same as WMS Layer Name and the cleanname is not equal to.

[2019-03-22 11:48] rldhont commented on #1125
@josemvm what is the QGIS Layer Name, the WMS Layer Name and the WFS FeatureType Name ?

[2019-03-22 12:20] josemvm commented on #1125
all the same: `Bocas de Incêndio`
but no problems if `Bocas de Incendio`

[2019-03-22 13:40] nboisteault commented on #1125
@rldhont : all the same for me too with QGIS Server 2.18 and 3.4. Maybe QGIS Server know return accented names for every case ?

[2019-03-22 15:56] nboisteault commented on #1124
@josemvm I can use the selection tool with lizmap 3.2, QGIS Server 2.18 and 3.4.
Here my SQL :

[code]

[2019-03-22 16:06] nboisteault commented on #1076
@rldhont is it a bug or an enhancement ? Did it work in past ?

[2019-03-22 16:08] rldhont opened #1132 "Do not display atlas composition in print template list"
### What is the bug?
Atlas composition are listed in print template selector.

### Steps to reproduce the issue

1. Go to https://demo.lizmap.com/lizmap_3_2/index.php/view/map/?repository=demo&project=cats
2. Click on `Print`
3. `Cat map` is displayed in Template selector

### Expected behavior
Atlas composition has not to be listed in print template selector, and if there is only atals compositio

[2019-03-22 16:11] rldhont commented on #1076
The data is provided by WMS or WFS and I think QGIS SERVER 2.* does not respect it. I'm not sure.

I have fix it in QGIS Server 3.

[2019-03-22 16:11] nboisteault commented on #1093
@kino94 Could you provide a project with portable data which reproduce the issue ?

[2019-03-22 16:12] rldhont commented on #1076
@nboisteault can you check WMS GetFeatureInfo response and WFS GetFeature response for date fields.

[2019-03-22 16:22] josemvm commented on #1125
@nboisteault `loading map data` forever...

[2019-03-22 16:27] nboisteault commented on #1076
@rldhont With 2.18 and 3.4.5 date fields come with the same format. Custom format doesn't change anything. But when custom format is set we have to change the way we display data not the QGIS Server response I think.

[2019-03-22 16:31] nboisteault commented on #1125
@josemvm any errors in console ?

[2019-03-22 16:35] rldhont commented on #1076
@josemvm LWC does not support date/time custom widget display

[2019-03-22 16:37] rldhont commented on #1076
For the Popup, GetFeatureInfo, the custom widget display has to be supported in QGIS Server.

For the edition, it's Lizmap Web Client enhancement but the default date-time widget is base on multi selector and not a simple line editor.

[2019-03-22 16:37] nboisteault commented on #1021
@Nikeou Do you still have this issue ?

[2019-03-22 16:38] josemvm commented on #1125
``TypeError: config.attributeLayers[lname] is undefined``
``addSelectionToolControl http://x.x.x.x/js/attributeTable.js:3150``
``each2jQuery``
``addSelectionToolControl http://x.x.x.x/js/attributeTable.js:3142``
``uicreated http://1x.x.x.x/js/attributeTable.js:224``
``triggerEvent http://x.x.x.x/OpenLayers-2.13/OpenLayers.js:138``
``init http://x.x.x.x/js/map.js:6594``
``i4jQuery``

[2019-03-22 16:40] rldhont commented on #1125
I confirm the bug, layers published in WFS are not all displayed in attribute table tool.

[2019-03-22 16:42] nboisteault commented on #883
@robibrazze Reopen if needed.

[2019-03-22 16:42] #883 closed

[2019-03-22 16:46] josemvm commented on #1124
@nboisteault yes it works, maybe a crs problem... (?)

[2019-03-22 16:55] nboisteault commented on #1125
@josemvm Could you replace if block line 3146 code above and tell me if it is ok ?

[code]

[2019-03-22 17:07] josemvm commented on #1125
yes @nboisteault
everything is ok now! :-)

thank you so much

[2019-03-22 17:09] nboisteault commented on #1125
@josemvm not totally ok I think. Layers not set for attribute layers are not visible.

[2019-03-22 17:16] josemvm commented on #1125
layers are set for selection tool and for attribute table, and both work...

[2019-03-23 01:51] news24lor commented on #815
Hi @nboisteault

Now it works very well...
Thank you!

[2019-03-23 09:18] nboisteault commented on #815
Thanks for the feedback.

[2019-03-23 09:18] #815 closed

[2019-03-23 12:55] josemvm commented on #464
can someone please confirm this again!?...
lwc 3.2 and master on qgis server 2.18.28

thanks

[2019-03-23 14:05] rldhont commented on #1125
@nboisteault thanks for the PR, but the selection can't be yet performed without attribute table configuration.

[2019-03-23 15:23] #979 closed

[2019-03-24 19:55] josemvm commented on #1124
i think that there is a problem here with crs other than 3857
i have tried with several layers with crs 3763 and it doesn't work

[2019-03-24 20:08] josemvm commented on #464
it seems to me that there is a regression here, but at this time in lizmap

[2019-03-24 20:51] josemvm commented on #811
hi @nboisteault

try to run the atlas tool, go to the first feature `croixc d'argent` and print it - output ok
click over `Landscape A4` again - no results

you need to run the `clean_vartmp.sh` to solve it
similar behavior for the print from popup

you can only print once at a time...

[2019-03-25 10:30] josemvm opened #1134 "data dock (attribute table) - horizontal scrollbar"
hi

it' s possible to open multiple tables simultaneously, but the data dock needs an horizontal scrollbar

![imagem](https://user-images.githubusercontent.com/10053874/54912090-c3bf0b00-4ee7-11e9-80f8-b5b9bc799291.png)

thanks

[2019-03-25 11:32] rldhont commented on #1125
Fixed

[2019-03-25 11:32] #1125 closed

[2019-03-25 15:11] rldhont commented on #1007
Fixed by [Bugfix] Parsing QGS file build with QGIS 3 for printing #1137

[2019-03-25 15:11] #1007 closed

[2019-03-25 16:52] pcav opened #1138 "seeding does not overwrite existiing tiles"
`php /var/www/lizmap-web-client-3.2.1/lizmap/scripts/script.php lizmap~wmts:seeding -v -f solvay Carta_base "CARTA DI BASE" EPSG:32632 0 8`
works well to create new tiles, but if they areexisting it faiils to overwrite (which I assumed was the aim of the -f switch).
Am I wrong?
Thanks.

[2019-03-25 17:01] pcav commented on #1138
BTW, I also get these warnings:
[code]
but I cannot find a documentation on the exact meaning, and how to get rid of it.

[2019-03-26 07:15] pcav commented on #1128
Fixed in QGIS 3. One more reason to migrate soon ;)

[2019-03-26 07:15] #1128 closed

[2019-03-26 07:42] Nikeou commented on #1021
Certainly yes.
I never found the solution so I finally stopped trying to install Lizmap, but thank you anyway.

[2019-03-26 16:31] rldhont commented on #1021
@Nikeou a point not verified, is your QGIS Server installation and configuration.

[2019-03-26 16:31] #1021 closed

[2019-03-26 18:20] Gustry commented on #1075
Thanks for the fix @rldhont
So you can tick the JPEG box? (last one in rendering section)

Are there still some other "big" blockers? I noticed a lot of commits these last 2 weeks. Do you have a estimated ETA for Lizmap 3.3? QGIS 3.4.6 has been released last week.

Sorry I have a limited time here at work to try QGIS Server 3. But I would like to migrate my current organization with QGIS 3.

[2019-03-26 20:33] josemvm opened #1140 "address search with google - stop working"
address search with google stop working...

please can someone confirm it?

qgis server 2.18
lwc 3.2 and master

thanks

[2019-03-27 14:17] laurentj commented on #1140
Just a though: probably this service needs a customer key and no key is given?

[2019-03-27 14:18] josemvm commented on #1140
hi @laurentj

i have a key

thanks

[2019-03-27 15:23] josemvm opened #1144 "lizmap master - stop printing"
hi

when i try to print the montpellier project i get this error in the next browser tab:

`
<ServiceExceptionReport version="1.3.0">`
`<ServiceException code="Error">Composer template not found</ServiceException>`
`</ServiceExceptionReport>
`

thanks

[2019-03-27 15:25] rldhont commented on #1144
Hi @josemvm which QGIS Server version and QGIS Project version ? thanks

[2019-03-27 15:26] rldhont commented on #1140
@josemvm we did not update the JS code about searching with Google and we don't know if the API has been changed. Do you have an url for testing ?

[2019-03-27 15:28] rldhont commented on #1138
@pcav if you have these warnings, no tiles will be generated.

Where are the tiles stored ? file or redis ?

[2019-03-27 15:29] josemvm commented on #1144
qgis server 2.18 and montpellier project 3

[2019-03-27 15:31] rldhont commented on #1144
The QGIS 3 project description of layout is not compatible with QGIS server 2.18 which use composition. So the print tool has not to be available in this case. i have to update the code for this case.

[2019-03-27 15:36] josemvm commented on #1144
yes, it works with projects 2.18

[2019-03-27 15:49] josemvm commented on #1140
yes, please check your mailbox

[2019-03-27 15:53] pcav commented on #1138
File
Thanks

Il 27 marzo 2019 16:28:52 CET, rldhont <notifications@github.com> ha scritto:

--
Sorry for being short

[2019-03-27 15:58] rldhont commented on #1140
@josemvm here is the error:
[code]

[2019-03-27 16:02] josemvm commented on #1140
ok, thanks @rldhont

[2019-03-27 16:36] josemvm commented on #1140
solved by adding other API type

[2019-03-27 16:36] #1140 closed

[2019-03-27 16:39] josemvm commented on #1144
@rldhont  please give us feedback about this issue https://github.com/3liz/lizmap-web-client/issues/464

[2019-03-28 10:14] #1144 closed

[2019-03-28 12:44] rldhont commented on #980
@laurentj does this issue still exist ?
Has it been fixed by #982 ?

[2019-03-28 14:26] rldhont commented on #464
@josemvm it seems it is a QGIS Server regression.
I close this issue because it concerns 2.18
Can you open a new issue for 3.* ?
thanks

[2019-03-28 14:26] #464 closed

[2019-03-28 15:38] josemvm commented on #1100
the print icon disappears again in qgis 3.4.6
lwc master - montpellier project

[2019-03-28 17:19] #1132 closed

[2019-03-28 17:20] rldhont commented on #980
@nboisteault can you check this issue ? I'd like to know if it ahs been fixed. Thanks

[2019-03-28 17:43] nboisteault commented on #811
In my case it prints randomly. `clean_vartmp.sh` doesn't make it work better.
@mdouchin I don't think this bug will be resolved for 3.2 as it depends on QGIS Server 2.18. I think we'll have to wait for a migration of the qgis-atlasprint plugin to work with QGIS Server 3.4. Can I change milestone to 3.3 ?

[2019-03-29 08:33] nboisteault commented on #980
@rldhont It is fixed.
![Couche_non_editable](https://user-images.githubusercontent.com/2145040/55219534-72738c00-5205-11e9-9197-ad60a25a4880.png)

[2019-03-29 08:33] #980 closed

[2019-03-29 08:51] nboisteault commented on #1124
@josemvm I can't reproduce your issue with `MultiPointZ` and CRS 2154 and CRS 3763. Please give us a reproductible case.

[2019-03-29 08:54] nboisteault commented on #1089
@rldhont @mdouchin Do you have any other suggestions than those in my last comment. If not, what do you prefer ?

[2019-03-29 10:25] tethysgeco commented on #1065
Sorry for the late reply.
We have just had time to test the improvement and we can confirm that minidock popup works properly.
Thank you very much for your work.

[2019-03-29 12:49] nboisteault commented on #997
Fixed with https://github.com/3liz/lizmap-web-client/pull/1148

[2019-03-29 12:49] #997 closed

[2019-03-29 12:57] rldhont commented on #1100
@josemvm If the print icon disappears it means that lizmap does not correctly parsed the qgis poject.

[2019-03-29 13:05] josemvm commented on #1100
it seems to me that the last merge 3.2 into master is not yet available in master zip file...

[2019-03-29 13:07] josemvm commented on #1100
e.g.:
 ```"abstract": "Districts of Montpellier <b>bold</b>" ```

[2019-03-29 13:12] rldhont commented on #1100
@josemvm it is in the master https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/qgis/montpellier.qgs.cfg#L68
I have merged release_3_2 yesterday.

[2019-03-29 13:17] josemvm commented on #1100
@rldhont  can you download master version and inspect the master.zip file?...

[2019-03-29 13:59] nboisteault commented on #1100
@rldhont here is the issue : https://github.com/3liz/lizmap-web-client/blob/master/lizmap/www/js/map.js#L3927
In 2.18 `pTemplate` does **not** have `'atlas'` property.
In 3.4 `pTemplate` does have `'atlas'` property with `enabled: "0"` in it.

To fix this, should we avoid `'atlas'` property in `pTemplate` when it is not an atlas or should we just test `enabled` value ?

[2019-03-29 14:09] rldhont commented on #1100
@nboisteault 'atlas' property is added y the PHP:
* with 2.18 Project https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/classes/lizmapProject.class.php#L1081
* with 3.* Project https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/classes/lizmapProject.class.php#L1081

If with a 3.* Project, Atals element is always here we have to also test enabled:

[2019-03-29 14:39] mfangain commented on #1082
Hi,

In my example, the background is printable as you can see here :
![image](https://user-images.githubusercontent.com/32867483/55239034-24c34780-5236-11e9-850c-bc3d27bdfb05.png)

But if I change opacity in Lizmap, there's no problem with some layers :
![image](https://user-images.githubusercontent.com/32867483/55239160-60f6a800-5236-11e9-8780-cb0d3328e2a5.png)

Even setting opacity in Lizmap to

[2019-03-29 14:42] rldhont commented on #1082
In the last examples, is it a point layer ?

[2019-03-29 14:52] mfangain commented on #968
Hi,
I can't reproduce the problem either with Lizmap 3.2.2.
Thanks!
MFANGAIN

[2019-03-29 14:54] mfangain commented on #1082
No, it's also a polygon layer (buffer around point layer)

[2019-03-29 15:04] #1100 closed

[2019-03-29 15:07] rldhont commented on #811
Move to 3.3

[2019-03-29 15:12] rldhont commented on #1114
The submit event is not catch.

[2019-03-29 15:19] rldhont commented on #1114
The problem arrives here https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/edition.js#L1216
[code]

[2019-03-29 15:34] josemvm commented on #1106
i think that it could be a good enhancement, the option to have thumbnails in the cell...

[2019-03-29 15:41] Gustry commented on #988
I think I have the same problem with Lizmap 3.2. The map displays all features, even if they must be filtered by users(login).

![Capture d’écran de 2019-03-29 10-43-21](https://user-images.githubusercontent.com/1609292/55240565-87551d00-520f-11e9-8f62-9ae389d4005b.png)

The online edition, it works, I have only a subset of students (`papillon_eleve` in my screenshot) in my combobox. That's OK.
Bu

[2019-03-29 15:51] josemvm commented on #1100
i'm trying with a master version fresh install, but the print icon not appears at all...

[2019-03-29 15:52] igeofr opened #1151 "Print settings window and Atlas"
There is a problem display the print settings window when the atlas is open.

### Screenshots and logs
<img width="529" alt="Capture d’écran 2019-03-29 à 15 13 42" src="https://user-images.githubusercontent.com/7761073/55243885-fcd4e380-5237-11e9-99b5-b43743fc1a5e.png">

### Environment
 - Lizmap version: 3.2.2
 - QGIS Server version: 2.18
 - QGIS Project version: 2.18.28
 - OS (windows, linux, ma

[2019-03-29 15:52] nboisteault opened #1152 "GML 2 or 3 export. 00 value for month in date field"
### What is the bug?
GML 2 or 3 export changes month value to 00 in date field.

### Steps to reproduce the issue

1. Go to Montpellier project
2. Click on Layers => Points of interest
3. Select GML 2 or 3 and clic export
4. Open export

### Expected behavior
For example first value is  `<qgs:date>2012-00-17</qgs:date>` and not `<qgs:date>2012-01-17</qgs:date>`

### Screenshots and logs
![Capture

[2019-03-29 15:58] josemvm commented on #1100
it's ok with 3.2

[2019-03-29 16:04] josemvm opened #1153 "add selection in GetPrint request"
hi

the lwc can´t use this capability provided by the qgis server 3

thanks

[2019-03-29 16:05] josemvm commented on #1153
https://github.com/3liz/lizmap-web-client/issues/464
https://github.com/3liz/lizmap-web-client/issues/748

[2019-03-29 16:07] josemvm commented on #1075
print selection https://github.com/3liz/lizmap-web-client/issues/1153

[2019-03-29 16:08] rldhont commented on #1153
It's a QGIS Server regression not a lizmap one.

I don't know if the GetPrint test has been deactivated to loose this capability.

[2019-03-29 16:35] rldhont commented on #1153
It's a regression in the PDF output, not in the image one!

[2019-03-29 16:42] nboisteault opened #1154 "[UI] print parameters hidden with some window width"
### What is the bug?
With some window width, print paramters to the right are hidden

### Steps to reproduce the issue

1. Select print tool
2. Change window width

### Expected behavior
All parameters should be accessible

### Screenshots and logs
![print_select_parameters_hidden](https://user-images.githubusercontent.com/2145040/55247973-2ea27600-5249-11e9-98ca-cdc2cd2fe01f.jpeg)

### Environmen

[2019-03-29 16:46] rldhont commented on #1154
Duplicate #1151 ?

[2019-03-29 17:07] josemvm commented on #1153
are you talking about qgis server 3.4.6 ?

[2019-03-29 17:08] rldhont commented on #1152
@nboisteault what is the date field edition configuration ?

[2019-03-29 17:10] rldhont commented on #1153
I am talking about qgis server 3.*

If you do a GetPrint in PNG output format, you'll have the selection displayed. If you do the same in PDF, the selection is not displayed.

PNG output is automaticly tested, not the other output.

[2019-03-29 17:12] nboisteault commented on #1154
What are the odds ? :) Yes, duplicate.

[2019-03-29 17:12] #1154 closed

[2019-03-29 17:14] nboisteault commented on #1100
@josemvm with master do you use QGIS Server 3.4 ?

[2019-03-29 17:18] josemvm commented on #1100
3.4.6

[2019-03-29 17:18] josemvm commented on #1153
it seems to me that we are not using the same versions...

- i'm testing with master version and the icon print doesn´t appears
- i'm testing with last 3.2 and the selection is not displayed at all formats

qgis server 3.4.6

[2019-03-29 17:19] nboisteault commented on #1152
![Capture du 2019-03-29 18-18-50](https://user-images.githubusercontent.com/2145040/55250713-20575880-524f-11e9-82b8-7f2a102f0ac0.png)

[2019-03-29 17:20] nboisteault commented on #1100
Did you refresh your cache ?

[2019-03-29 17:20] rldhont commented on #1153
@josemvm QGIS PR done https://github.com/qgis/QGIS/pull/9654

[2019-03-29 17:26] rldhont commented on #1152
The error is in the field format mm is not MM.

QGIS Server used the format of the date to provide the date value.

It is not an error or a bug just a malformed field format.

[2019-03-29 17:26] josemvm commented on #1100
yes @nboisteault

[2019-03-30 15:05] saidoul opened #1155 "service non disponible de lizmap"
- Lizmap version: 3,1
 - QGIS Server version:3,4
 - QGIS Project version:
 - OS (windows, linux, macOS, android..): windows 10
 - Browser (Firefox, Chrome...):Chrome
 - Lizmap data stored into Sqlite (default)? Postgresql? Mysql?.
![tempsnip](https://user-images.githubusercontent.com/48227484/55277908-a46c1780-5305-11e9-83f9-d9dd7819977d.png)
![tempsnip](https://user-images.githubusercontent.com/4

[2019-03-31 00:35] josemvm opened #1156 "attribute table - order by field type number"
hi

when i try to sort the table by gid, lizmap not parsing field number as number but as string, from postgreSQL tables

![imagem](https://user-images.githubusercontent.com/10053874/55283083-41e93a80-534a-11e9-8376-9a0d42520a14.png)

it's a regression...

lwc: all versions
qgis server 2.18 and 3.4

thanks

[2019-04-01 12:57] bgisb commented on #967
I'm a little bit confused. Right now, I have the same issue with Lizmap 3.2.1 and QGIS 3.4.5. Should it still work like this?

I have to manually edit cfg file:
from
"minScale": 50000,
"maxScale": 0,
to
"minScale": 1,
"maxScale": 50000

[2019-04-01 13:28] rldhont commented on #960
Already done in version 3.2.*

[2019-04-01 13:28] #960 closed

[2019-04-01 14:35] rmarzocchi84 commented on #1075
I do not understand what do you mean with "pgservice file" but using QGIS server 3.4.6 and last lizmap locate by layer function do not works for me

[2019-04-01 14:43] josemvm commented on #1100
@rmarzocchi84

do you have a fresh install with master version on qgis server 3.4.6? and can you see the print icon on montpellier project?

[2019-04-01 14:44] rldhont commented on #1075
@rmarzocchi84 have you some errors in logs ?

[2019-04-01 14:57] rmarzocchi84 commented on #1075
Yes but not easily understandable

[2019-04-01 15:22] rmarzocchi84 commented on #1075
@rldhont sorry probably is an error of apache. I change the level of log of QGIS from 1 to 2 to view better the error and restart apache.
Now locate by layer works correctly (also table view and export)

I will perform more test for debug and inform you! Thanks for all your work

[2019-04-01 16:30] igeofr opened #1157 "Mobile - Print settings window"
### What is the bug?
On my phone, it is impossible to access all print settings.

### Screenshots and logs
![IMG_7061](https://user-images.githubusercontent.com/7761073/55343742-3f4a2a80-549b-11e9-99a2-81c55032443a.PNG)

### Environment

- Lizmap version: 3.2.2
- QGIS Server version: 2.18
- QGIS Project version: 2.18.28
- OS (windows, linux, macOS, android..): iOS 10.3.3
- Browser (Firefox, Chrome

[2019-04-01 16:47] igeofr opened #1158 "Mobile - Search bar and login button"
### What is the bug?
On the home page, there is a problem with the placement of the search bar and the login button.

### Screenshots and logs
![IMG_7074](https://user-images.githubusercontent.com/7761073/55344559-30fd0e00-549d-11e9-909c-a230f75c078a.PNG)

### Environment
- Lizmap version: 3.2.2
- QGIS Server version: 2.18
- QGIS Project version: 2.18.28
- OS (windows, linux, macOS, android..): iO

[2019-04-01 17:04] igeofr opened #1159 "Change layer style"
### What is the bug?
I observed the same problem as bug  #552

### Environment

- Lizmap version: **3.2.2**
- QGIS Server version: 2.18
- QGIS Project version: 2.18.28
- OS (windows, linux, macOS, android..): MacOS
- Browser (Firefox, Chrome...): Firefox, Safari

[2019-04-01 17:12] igeofr opened #1160 "Bing - Error hybrid and road"
### What is the bug?
I have a problem with Bing that I think is related to the changes #1042 (only hybrid and road).

Blocage d’une requête multiorigines (Cross-Origin Request) : la politique « Same Origin » ne permet pas de consulter la ressource distante située sur https://ak.dynamic.t3.tiles.virtualearth.net

Raison : échec de la requête CORS.

### Environment

Lizmap version: 3.2.2
QGIS versio

[2019-04-01 21:09] rmarzocchi84 commented on #1100
yes @josemvm  I see the icon and I can print correctly. I have problem with project saved with QGIS 3 (layer style and print)
The WMS gives me this error:

It is probably related to this bug #1119

[2019-04-01 21:28] rmarzocchi84 commented on #1119
Same issue which seems depend on QGIS server (the problem affect also print function)

Ubuntu 18.04
QGIS Server 3.4.6

http://   MYHOST/cgi-bin/qgis_mapserv.fcgi?map=/xxxx/xxxx/xxxxx/nextcloud-data/workshop/files/progetto_roberto_marzocchi.qgs&LAYERS=palazzi_rolli&STYLES=default&VERSION=1.3.0&EXCEPTIONS=application%2Fvnd.ogc.se_inimage&FORMAT=image%2Fpng&DPI=96&TRANSPARENT=TRUE&SERVICE=WMS&REQUEST

[2019-04-02 06:44] rmarzocchi84 commented on #1075
There is a problem when max and min zoom level for map is set up.

Already test in qgis-server 3.4.6 and it is not a problem of WMS which is corrected represented

[2019-04-02 07:03] rmarzocchi84 commented on #1119
I probably understand the problem.. QGIS server automatic translate the "default" style. In my case is translated in Italian "predefinito"

So if I test the WMS with this parameter it works correctly:

http:// MYHOST/cgi-bin/qgis_mapserv.fcgi?map=/xxxx/xxxx/xxxxx/nextcloud-data/workshop/files/progetto_roberto_marzocchi.qgs&LAYERS=palazzi_rolli&STYLES=**predefinito**&VERSION=1.3.0&EXCEPTIONS=applic

[2019-04-02 07:47] rldhont commented on #1075
@rmarzocchi84 a new version of the plugin has been released to provide right min/max scale.
* release https://github.com/3liz/lizmap-plugin/releases/tag/3.0.2
* fix https://github.com/3liz/lizmap-plugin/issues/122

[2019-04-02 07:53] rmarzocchi84 commented on #1075
Ok I tested it and I can confirm it works @rldhont

[2019-04-02 08:29] igeofr opened #1161 "Scale - Safari browser"
### What is the bug?
There is a problem with the map scale window and the Safari browser.

### Screenshots and logs
<img width="245" alt="Capture d’écran 2019-04-02 à 08 22 09" src="https://user-images.githubusercontent.com/7761073/55387526-1c625980-5521-11e9-9514-5f78d8f4d90b.png">

### Environment
- Lizmap version: 3.2.2
- QGIS Server version: 2.18
- QGIS Project version: 2.18.28
- OS (windows,

[2019-04-02 08:54] igeofr opened #1162 "Information window - URL WMS - http/https"
### What is the bug?
When we copy the WMS/WMTS url from the information window then it is given to us in http and not in https.

### Steps to reproduce the issue
1. Go to information window
2. Copy the WMS URL
3. Add the URL in QGIS
4. See error

### Screenshots and logs
<img width="256" alt="Capture d’écran 2019-04-02 à 08 47 40" src="https://user-images.githubusercontent.com/7761073/55389082-158

[2019-04-02 10:22] rmarzocchi84 commented on #1119
@rldhont I see you have change the title of issue and you are right!

From my test I understand (perhaps is obvious for you and sorry for the noise, but maybe can be useful):

- old  project (QGIS 2):
[code]

- new project (QGIS 3) in italian version but i think the same problem there is using not english language

[code]

In fact changing the QGIS project in this way solve the problem (but obviou

[2019-04-02 10:50] rldhont commented on #1119
Thanks you @rmarzocchi84 to identify the issue! We know the workaround and would like to avoid it. And we found an issue in QGIS Server.

[2019-04-02 12:30] bgisb opened #1163 "Issue with selection tools"
Hi!

I have an issue with selection by rectangle etc. It's not working.
Lizmap 3.2.1
Lizmap Plugin 3.0.2
QGIS 3.4.5
Project EPSG:4326
Layer EPSG:4326

I have WFS enabled and layer have been added to the attribute table in Lizmap plugin.
![selection1](https://user-images.githubusercontent.com/48524622/55402213-3157e080-5553-11e9-8ae4-dd91d28fd9f0.png)
![selection2](https://user-images.githubusercon

[2019-04-02 12:52] rldhont commented on #1163
A similar issue has been fixed #1102 with https://github.com/3liz/lizmap-web-client/commit/6d9903425ec8bbccc6d58dc5f629f96e3990c852 and will be available in lizmap-web-client 3.2.3

[2019-04-02 12:55] rldhont commented on #1155
Lizmap 3.1 is not compatible with QGIS Server and QGIS Project 3.*

You can update to 3.2 in which we fix some issues and support QGIS Server 3.* with QGIS Project 2.18

Version 3.3 will support QGIS Server and QGIS Project 3.*

[2019-04-02 12:57] rldhont commented on #1159
Can't reproduce, can you provide an example ?

[2019-04-02 13:11] rldhont commented on #1160
Can you update and test map.js by replacing `RoadOnDemand` by `Road` https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/map.js#L6956  and `AerialWithLabelsOnDemand` by `AerialWithLabels` https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/map.js#L7016

If it's ok, I can fix it.

[2019-04-02 13:29] bgisb commented on #1163
Thank you! I will try and let you know.

[2019-04-02 14:01] igeofr commented on #1159
Yes, [here is an example of a project.](https://map.data-wax.com/websig/lizmap/www/index.php/view/map/?repository=rep008&project=Projet_limite_UP)

Note: I use a number and a dash in the style name

[2019-04-02 14:17] igeofr commented on #1160
After testing your proposal, I confirm that it's ok.
Thank you.

[2019-04-02 14:22] rldhont commented on #1153
@josemvm new PR for 3.4 https://github.com/qgis/QGIS/pull/9692
A fix in 3.6 has not been backported to 3.4

[2019-04-02 14:34] josemvm commented on #1153
thank you very much for your work @rldhont
it will be avaiable soon, at 2019-04-19 on 3.4.7

[2019-04-02 14:45] #1160 closed

[2019-04-02 14:58] rldhont commented on #1159
The issue, is that the layer dock does not respect the applied style.

[2019-04-02 15:28] rldhont commented on #1162
You can force lizmap to provide HTTPS: https://docs.lizmap.com/current/fr/install/advanced_install.html

[2019-04-02 15:29] igeofr commented on #1159
Ok. Thank you.

[2019-04-02 17:54] igeofr commented on #1162
Thank you for your answer. It led me to solve several configuration problems.

[2019-04-02 17:54] #1162 closed

[2019-04-02 18:58] josemvm commented on #1156
please, can someone try with it:

[code]

thanks

[2019-04-03 08:37] #1152 closed

[2019-04-03 08:42] josemvm commented on #1156
@rldhont it is ok on qgis server 2.14

[2019-04-03 10:02] rldhont commented on #1119
Working on a fix to QGIS server

[2019-04-03 10:42] nboisteault commented on #1156
I can confirm the issue with a 2.18 project with QGIS Server 3.4 but not QGIS Server 2.18.

[2019-04-03 10:49] josemvm commented on #1156
@nboisteault i'm using qgis server 2.18.28 on ubuntu 16.04.6 and it doesn't work

[2019-04-03 11:21] nboisteault commented on #1156
@josemvm Can you replace line 1300 in attributeTable.js by `if (idx in cTypes && (cTypes[idx] == 'integer' || cTypes[idx] == 'int'))` and tell me if it resolves the issue ?

[2019-04-03 11:37] josemvm commented on #1156
@nboisteault the problem remains on qgis server 2.18 and 3.4

[2019-04-03 11:39] rldhont commented on #1156
I have change the way QGIS 2.18 described numbers to have a better description of the field in the describe featuretype.

[2019-04-03 11:40] rldhont commented on #1156
@josemvm can you provide the describeFeatureType ?

[2019-04-03 11:44] josemvm commented on #1156
integer

[2019-04-03 11:48] rldhont commented on #1156
Can you provide the XML DesribeFeatureType of the layer ?

[2019-04-03 11:50] josemvm commented on #1156
sorry, how can i do this request?

[2019-04-03 11:56] rldhont commented on #1119
Fix for QGIS Server provided https://github.com/qgis/QGIS/pull/9696

[2019-04-03 12:12] josemvm commented on #1156
example:

[code]

[2019-04-03 12:21] rldhont commented on #1156
Thanks! Number types are int and decimal.

[2019-04-03 12:27] nboisteault commented on #1156
I'v updated QGIS server from 2.18.24 to 2.18.28 and I have now 'int' and not 'integer'. You were right @josemvm

[2019-04-03 13:13] saidoul commented on #1155
Thanks for your help

Le mar. 2 avr. 2019 à 14:55, rldhont <notifications@github.com> a écrit :

[2019-04-03 14:16] nboisteault commented on #1156
Fixed with #1165

[2019-04-03 14:16] #1156 closed

[2019-04-03 15:26] igeofr opened #1166 "Theme/project - Safari"
### What is the bug?
When we assign a theme to a project, it is only taken into account on Safari after clearing the browser cache.

### Environment
 - Lizmap version: 3.2.2
- QGIS Server version: 2.18
- QGIS Project version: 2.18.28
- OS (windows, linux, macOS, android..): MacOS
- Browser (Firefox, Chrome...): Safari (Tested on firefox and chrome)

[2019-04-03 16:01] josemvm commented on #1100
@rldhont and @nboisteault sorry for the noise...
i have tried with qgis server 3.4 and 3.6 but the print icon doen't appears, and always with master fresh install
how can i debug this situation?

thanks again

[2019-04-04 07:49] nboisteault commented on #1100
@josemvm anything in the console ?

[2019-04-04 07:52] rldhont commented on #1100
@josemvm can't reproduce, any example url ?

[2019-04-04 08:11] josemvm opened #1167 "attribute table - media and url links"
hi

if the layer name `Quartiers XXX` contains a blank spaces the path or url is displayed instead of the field alias

![imagem](https://user-images.githubusercontent.com/10053874/55539478-a1cc4200-56b8-11e9-8830-82d6d4d7870c.png)

lwc 3.2 and master
qgis server 2.18 and 3.4

thanks

[2019-04-04 09:08] nboisteault commented on #1167
@rldhont This issue is independant from #1156. The problem is space in typename for DescribeFeatureType request.

[2019-04-04 12:08] bgisb commented on #1163
Unfortunately, the patch did not help.  Do you have any other idea why I still have a problem with selection by a polygon?

[2019-04-04 12:37] nboisteault commented on #1167
@rldhont is DescribeFeatureType supposed to accept typename with space in it ?

[2019-04-04 12:41] rldhont commented on #1167
In WFS, we have to use the typename provided by the getcapabilities

[2019-04-04 13:13] bgisb commented on #1163
EDIT. It has emerged that issue was related to bug with QGIS Server.
https://issues.qgis.org/issues/20927 It's up and running. Thank you!

[2019-04-04 13:13] #1163 closed

[2019-04-04 13:15] nboisteault commented on #1167
@rldhont :
`<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qgs="http://www.qgis.org/gml" targetNamespace="http://www.qgis.org/gml" elementFormDefault="qualified" xmlns:ogc="http://www.opengis.net/ogc" version="1.0">
 <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/g

[2019-04-04 14:38] pcav opened #1171 "Layers not shown on current master"
### What is the bug?
On a fresh install, Lizmap from master on QGIS 3.4.6, layers are not shown. List is shown on the legend, but the layer icon is replaced by a broken link icon. Tested with PostGIS and shp layers, Firefox and IExplorer, point and line data.
From the log:

[code]

[2019-04-04 14:46] rldhont commented on #1171
@pcav known issue with default style name

[2019-04-04 14:49] rldhont commented on #1171
I can't easily fix it because of an issue in QGIS Server: https://github.com/qgis/QGIS/pull/9696
I am waiting for the merge to provide a fix in Lizmap

An issue is already opened https://github.com/3liz/lizmap-web-client/issues/1119

[2019-04-04 14:51] pcav commented on #1171
Ooops, sorry for the noise.

[2019-04-04 15:04] #1171 closed

[2019-04-04 15:12] pcav commented on #1119
In my case the "fix" is simply replacing 'predefinito' with 'default'. I imagine using qgis in English would avoid the issue, pending the new version, right?
Thanks a lot.

[2019-04-04 15:28] josemvm commented on #624
@laurentj

this js script doesn´t send the user name (login) to the postgresql, it works for local users only:
[code]

how can we adapt it for ldapdao and multiauth modules?

thanks in advance

[2019-04-04 15:31] rldhont commented on #1119
@pcav you're right. The issue is that QGIS 3 stored default style with its translated name.

In QGIS 2, the default style has an empty name, replaced by default in QGIS Server. The solution is not to forced default but that QGIS Server keeps empty style name in the WMS request.

[2019-04-04 15:58] rldhont opened #1173 "Layer switcher's expander could sometimes does not work"
### What is the bug?
In the layer switcher, the expander button is used to display or hide children layer or legend.

In some cases, it does not correctly work.

In this map, the _expander_ of the group **Cours d'eau** can hide but cannot display children.
https://eaurmc.lizmap.com/map/index.php/view/map/?repository=eaurmc&project=ProjetPdM2022_2027_RMC_Lizmap

In the same time, the _unfold all_ b

[2019-04-04 16:14] rmarzocchi84 commented on #1119
@pcav i confirm the problem/solution of translation,  but, if i correctly understand the discussion in the qgis repository, the "default" parameter is not a WMS standard

[2019-04-04 17:23] rldhont commented on #1167
PR has been merged

[2019-04-04 18:23] josemvm commented on #1167
@rldhont and @nboisteault thanks :-)

[2019-04-04 19:40] josemvm commented on #624
sorry, no problems, it works again!

[2019-04-04 19:40] #624 closed

[2019-04-05 07:56] rldhont commented on #1119
@rmarzocchi84 you are well understood 'default' is not a WMS standard for default style, it's an empty string.

To fix Lizmap, I have prepared some codes:
* Use the explicit name of style
* If no style name provided for groups use default for 2.18 or empty string for 3.* but there is an issue in printing in this last case.

So the fix will be fully functional for QGIS 3.4.7

[2019-04-05 07:59] rldhont commented on #1153
@josemvm the fix seems to need more discussion https://github.com/qgis/QGIS/pull/9692#discussion_r272405690
@pcav do you have an opinion on https://github.com/qgis/QGIS/pull/9692 and the full backport of https://github.com/qgis/QGIS/pull/9016 to fix https://issues.qgis.org/issues/19500 ?

[2019-04-05 09:17] nboisteault commented on #1173
@rldhont Lizmap randomy returns "SERVICE NON DISPONIBLE!". Is this project located on our servers ?

[2019-04-05 09:23] nboisteault commented on #1173
First catch : some layers (maybe all) are in hidden groups, if I disable this CSS part, behavior become normal.
`#switcher tr.liz-hidden {
    /* display: none; */
}`

[2019-04-05 14:40] #1167 closed

[2019-04-05 14:47] rldhont commented on #1173
Has been fixed by https://github.com/3liz/lizmap-web-client/pull/1174 thanks @nboisteault

[2019-04-05 14:47] #1173 closed

[2019-04-05 15:00] nboisteault commented on #1051
@laurentj do you think logged name should also be hidden ?

[2019-04-06 13:31] rldhont commented on #1159
Fixed by #1177

[2019-04-06 13:31] #1159 closed

[2019-04-06 16:15] josemvm commented on #1103
@rldhont and @nboisteault we have a regression here...

[2019-04-06 20:03] aeduard commented on #709
Hi! Do you have an update on this issue? I'm trying to use tabs as in #575. Tried both QGIS tooltips and lizmap html, but I don't know how to reference a child field. With _auto_ mode, the child table appears in lizmap without any problem.

[2019-04-07 21:59] josemvm commented on #1103
unknown particularities of the project 2.18...

[2019-04-07 21:59] #1103 closed

[2019-04-08 08:38] josemvm commented on #1114
hi @rldhont please, is it possible to fix this bug soon?
thanks in advance

[2019-04-08 09:30] nboisteault commented on #1114
@josemvm Firefox mobile version please.

[2019-04-08 09:32] josemvm commented on #1114
65.0.1

[2019-04-08 09:57] nboisteault commented on #1114
@josemvm can you provide a link showing this issue please ?

[2019-04-08 09:59] rldhont commented on #1114
Can you test this map https://demo.lizmap.com/lizmap_3_2/index.php/view/map/?repository=demo&project=observatoire ?

[2019-04-08 12:00] josemvm commented on #1114
yes, a little later

yes, the same error

[2019-04-08 12:25] rldhont commented on #1114
Can you test this PR Update jQuery File Upload v9.28.0 #1183 ?
It will probably fixed this issue.

[2019-04-08 12:43] nboisteault commented on #1114
@rldhont I have tested with your link with Firefox mobile 66.0.2 on Android 9. I didn't reproduce the issue. @josemvm can you update Firefox and test ?

[2019-04-08 13:03] nboisteault commented on #1114
I can't reproduce with Android 7, Firefox 64 or 66. I didn't test 65.

[2019-04-08 13:22] nboisteault commented on #1157
Duplicate of #1151

[2019-04-08 13:22] #1157 closed

[2019-04-08 13:25] nboisteault commented on #1082
@mfangain what do you call "editing preview" ?

[2019-04-08 13:26] josemvm commented on #1114
hi have updated firefox to 66 and i have tested with PR Update jQuery File Upload v9.28.0 but the problem with firefox browser still remains...

[2019-04-08 13:29] nboisteault commented on #1114
@josemvm did you disable every browser's extensions ? Did you refresh cache ? Did you test with another android phone ?

[2019-04-08 13:34] laurentj commented on #1051
@nboisteault yes

[2019-04-08 13:36] laurentj commented on #1051
we could open a new issue, to hide the search field on tiny screen. We could have instead a button in the menu, that open a dialog box showing the search field.

[2019-04-08 13:48] rldhont commented on #1051
@laurentj agree with you.

[2019-04-08 13:49] josemvm commented on #1114
@nboisteault yes i have tested with othe devices with android 6 and 7 and it works fine for "all" browsers (firefox, chrome, opera). with android 8.1, it doesn´t work only with firefox browser

[2019-04-08 15:13] josemvm commented on #1100
@nboisteault nothing in console
@rldhont please check your mailbox

[2019-04-08 15:15] mfangain commented on #1082
Hi,

I call "editing preview" the new tab that's open after clicking on "print" button.
This happens with pdf files, but not with jpg.

Thanks.

MFANGAIN

[2019-04-08 15:24] rldhont commented on #1100
@josemvm In master, the projects are 3.4 and the config specified that the QGIS Server 2.18.

[2019-04-08 15:36] nboisteault commented on #611
@pcav Can you give us a simple project illustrating the issue ?

[2019-04-08 15:47] mathieubossaert opened #1185 "lizmap 3.2.2 / qgisserver 2.18 : Error on editing a PotGIS viewEditing"
### What is the bug?
I my project I have a view with polygon geometries and gid. I set it to be upadatable.

But when i want to edit a feature, I get this message :

And those ones into the logs :

### Environment

 - Lizmap version: 3.2.2
 - QGIS Server version: both 2.18 and 2.14
 - QGIS Project version: 2.18
 - OS (Windows, Linux, MacOS, Android…): Linux
 - Browser (Firefox, Chrome…): FF
 - Liz

[2019-04-08 15:51] pcav commented on #611
Apparently this is no longer the case.

[2019-04-08 15:53] pcav commented on #611
@nboisteault I define image size in the Layer properties>form

[2019-04-08 16:00] josemvm commented on #1100
@rldhont does this mean it is expected that the icon does not appear with qgis server 3 and projects 3?

[2019-04-08 16:06] rldhont commented on #1100
No it means QGIS Server 2.* cannot print with project 3.*

[2019-04-08 16:47] josemvm commented on #1100
@rldhont sorry for the noise...
thanks @rldhont and @nboisteault (with https://github.com/3liz/lizmap-web-client/pull/1186)

[2019-04-08 16:57] josemvm commented on #1153
now i can see the print icon and i have tried but selection is not displayed in any of the formats...
if you can inspect, you can use my last url

thanks

[2019-04-08 17:17] pcav commented on #1075
Do you have a tentative date for string freeze?
This would be useful to schedule translation timing.
Thanks.

[2019-04-09 09:34] rldhont commented on #740
@zlanich can you provide some changes to the documentation https://github.com/3liz/lizmap-documentation thanks

[2019-04-09 09:39] mfangain commented on #988
Hi,
I use filter by user.

As for me, it's the opposite : display on map is right, but user can see all data in the attribute table.
And so, every user can modify all data.

(Lizmap 3.2.2)

[2019-04-09 11:43] josemvm commented on #1153
@rldhont can you take a look here?

[2019-04-09 11:45] #1119 closed

[2019-04-09 11:51] rldhont commented on #1153
@josemvm tested
I have selected a `Quartiers` and I have printed in ONG and the selection is displayed.

[2019-04-09 11:56] josemvm commented on #1153
ok, but i'm talking about selection with locate tool!

[2019-04-09 11:58] rldhont commented on #1153
The locate tool has never been printable

[2019-04-09 12:04] laurentj opened #1188 "Date format does not always correspond to the current locale"
### What is the bug?

formats indicated into format.UTF-8.properties for each lang does not always correspond to the lang.

It causes some issues, for example on the display of a datetime picker: the order of fields (month, day, year), does not correspond to the locale.

We should update all format.UTF-8.properties with right date formats.

I will made a script for this.

[2019-04-09 12:07] mathieubossaert commented on #1185
I downgraded to lizmap 3.1.11 / qgiserver 2.14 as it was next year.
I'll retry later when moving to qgisserver 3.x version.

[2019-04-09 13:23] rldhont commented on #740
@nboisteault this part of the comment has to be added to the documentation

[2019-04-09 14:20] cocro opened #1190 "Comportement du Mode "édition" aléatoire"
Bonjour,
je dois en urgence mettre à disposition un projet carto avec un champs éditable de validation.
Lizmap me contrarie et surtout, n'aboutit pas au résultat

### coté QGis
qgis
![Presse-papier04](https://user-images.githubusercontent.com/46560615/55807139-04bb4000-5ae2-11e9-8aa5-34c0d5e05d63.jpg)
![Presse-papier03](https://user-images.githubusercontent.com/46560615/55807785-194c0800-5ae3-11e9

[2019-04-10 08:46] josemvm commented on #1153
https://github.com/3liz/lizmap-web-client/issues/288

[2019-04-10 08:48] josemvm commented on #1114
fixed!
thanks :-)

[2019-04-10 08:48] #1114 closed

[2019-04-10 09:36] josemvm commented on #1089
i think it is necessary to take a decision on this issue...
thanks

[2019-04-10 10:56] josemvm opened #1191 "search bar - not present for some projects"
hi

search bar is not present for some projects

when lizmap loads a project:
![imagem](https://user-images.githubusercontent.com/10053874/55873267-16a2ee80-5b87-11e9-97a9-6a567edb8e2e.png)

and after it desappears...
you can see montpellier - intranet map example

lwc 3.2 and master

thanks

[2019-04-10 11:00] josemvm commented on #593
i think it is necessary to take a decision on this issue before freeze...
thanks

[2019-04-10 14:10] rldhont commented on #1191
@josemvm search bar has to be activated for each project where you want to use it.

[2019-04-10 14:23] Mavialle opened #1192 "Is it possible to remove the project button ?"
Hello,

I want to remove project button on some maps to use them like independent maps.

Apparently, this functionnality will be avaible on Lizmap 3.3 (see [here](https://github.com/3liz/lizmap-web-client/pull/1139)).

Meanwhile, is there a way to do it with Lizmap 3.2.2 ? I'm a new user of Lizmap, so any advice will be welcome.

Thank you in advance for your assistance.

Mavialle

[2019-04-10 14:46] rldhont commented on #1192
You can use a javascript file as described in documentation https://docs.lizmap.com/current/en/publish/advanced_lizmap_config.html#adding-your-own-javascript

You can find an example here : https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/qgis/media/js/montpellier/changeHomeIconUrl.js.example

[2019-04-10 14:47] rldhont commented on #1192
You can also use the integrated URL provided by the tool permalink.

[2019-04-10 16:24] igeofr commented on #1192
You can try this code:

[code]

[2019-04-10 20:56] josemvm commented on #1191
of course @rldhont :-)
i will update the documentation by myself

[2019-04-11 09:10] Mavialle commented on #1192
Great, it works perfectly with javasrcipt code, thank you !

However, I did not understand how is it possible to create integrated URL ? You have to click on permalink button, select integrate tab, choose a size, but what is the next step ? There is a text frame but is empty. Maybe there is something to do before using the tool?

[2019-04-11 10:07] josemvm commented on #1011
hi @igeofr could you help me with this issue? i have tried but my coding skills are not enough to improve this propose
thanks in advance

[2019-04-11 10:53] remigods opened #1193 "Unique values indicate wrong column values"
When setting the field as Unique values, Lizmap in edition mode indicate, or not, the values from the right field. Within the same project, one table may display values from the same unique field for all the fields set as Unique values too.

Ex : table A, field 1 (values a, b, c), field 2 (values d, e), field 3 (f), all set as Unique values in QGIS (2.18.18). In Lizmap, field 1 should display valu

[2019-04-11 12:02] igeofr commented on #1011
Hi @josemvm, have you tested with : lizMap.zoomToFeature('layer', 'id', 'zoom' or 'center');

`lizMap.zoomToFeature('tramstop', '1', 'zoom');`
or
` lizMap.zoomToFeature('tramstop', '1', 'center');`

The last id should be retrieved after the refreshment to follow the vehicle.

[2019-04-11 13:37] petunjiaj opened #1194 "Not shows layers except base layer."
Hi to all,
I installed Lizmap on a Raspberry pi (local network working).
Everything goes right, but after two clean installations, I have always same problem:
I can't see layers on maps.
For example: in demo project montpelier (but for any project) I can see only base layer.

Note: With raspberry I can use Qgis-server 2.14 (<=2.14)
          Lizmap Version number 3.3pre.181017

tank you.

(i read

[2019-04-11 14:37] rufuscorp commented on #1023
I can see the same error with:
`no such table: lizmap_search`
 lizmap 3.2.2 on debian stretch freshly install, with qgis server 3.4.

Only base layer with Montpellier appear, and no layer with another qgis project . I can't see the data too.
I've install the 3.1.12 on the same server, and it works: i can see layer and data.

It seem there's a problem with the 3.2.2 version.

[2019-04-11 14:45] rufuscorp commented on #1194
Something in the lizmap's log ?

[2019-04-11 14:52] igeofr commented on #1011
1. I created a view in Postgres with only the last entity.
2. I add the view to the project
3. I use the script: periodicallyRefreshLayers.js.example
4. I add in the script: lizMap.zoomToFeature('layer','1','zoom');

And now I'm looking to refresh the table just before step 4.

[2019-04-11 15:40] petunjiaj commented on #1194
but I think is nothing important for this issue.

[2019-04-11 15:52] rmarzocchi84 commented on #1075
Problem confirmed or it is a mistake in my configuration? If confirmed I will try to understand the reason

[2019-04-11 15:54] igeofr commented on #1011
It's probably not the best way to refresh the table, but it works : [refresh_layer_zoom_to_last.js](https://github.com/igeofr/lizmap/blob/master/js/refresh_layer_zoom_to_last.js)

[2019-04-11 16:32] rmarzocchi84 commented on #1075
Effectively the .qgs file are really different:

e.g.

qgis 2.18.28

        <edittype widgetv2type="ValueMap" name="visitabile">
          <widgetv2config fieldEditable="1" constraint="" labelOnTop="0" constraintDescription="" notNull="1">
            <value key="No" value="f"/>
            <value key="Sì" value="t"/>
          </widgetv2config>
        </edittype>

qgis 3.4.6

        <field nam

[2019-04-11 17:33] rmarzocchi84 commented on #1158
https://github.com/3liz/lizmap-web-client/pull/1195

[2019-04-11 18:15] rldhont commented on #1193
What is the primary key type in table A and table B ?

[2019-04-11 18:43] rmarzocchi84 commented on #1158
For this page I think it is needes the collapse plugin for boostrap

https://getbootstrap.com/2.3.2/components.html#navbar

[2019-04-11 21:15] rufuscorp commented on #1194
I can see the same error with:

`no such table: lizmap_search`

lizmap 3.2.2 on debian stretch freshly install, with qgis server 3.4.

Only base layer with Montpellier appear, and no layer with another qgis project . I can't see the data too.
I've install the 3.1.12 on the same server, and it works: i can see layer and data.

It seem there's a problem with the 3.2.2 version.

[2019-04-11 21:57] josemvm commented on #1011
@igeofr thanks for your improvement, i didn't try it yet
`layerConfig['features'] = {};`
what is expected in `'features'`?

[2019-04-11 22:58] petunjiaj commented on #1194
I resolved my problem.

When I installed Qgis-server I added the example project as tutorials suggest
(Trainer demo data ->project World, see [here](https://docs.qgis.org/3.4/en/docs/training_manual/qgis_server/wms.html))
Doing that I changed the qgis.conf (or default-000.conf by user choice) site configuration file, in apache sites-available.
As suggested I added the default project path under th

[2019-04-11 23:29] #1194 closed

[2019-04-12 07:12] hugueslepetit commented on #304
Good morning everybody,
I have a little question on lizmap 3.2 filter datas:
I have a competition stores database with some brand (ex: CARREFOUR, LECLERC, INTERMARCHES etc... )
and i need show on the map just CARREFOUR and LECLERC brand. I have a column in my database with these brands.
How can i make this filter in the lizmap datas array filter to filter just on the column "Brand" ? ( i have an o

[2019-04-12 07:42] mdouchin commented on #1075
This is a blocker. We cannot release 3.3 before this is properly fixed. There are already code inside Lizmap to manage different versions of QGIS, since the edit widgets properties have already change in the past.

Example here: https://github.com/3liz/lizmap-web-client/blob/master/lizmap/modules/lizmap/classes/qgisFormControl.class.php#L235
We should properly handle this for this bigger change. @

[2019-04-12 08:10] remigods commented on #1193
Thanks from contributing to this issue.
table A and table B have both a gid primary key (nextval)

[2019-04-12 08:44] Mavialle commented on #1192
And an other question : is it possible to remove other buttons, for exemple the information button ? I tried to adapt javasrcipt code, but it doesn't work (sorry, I don't know javascript). For exemple :

[code]

or

[code]

Sorry if I ask too many questions, but I'm really curious to know the right way to do it.

Have a good day.

Mavialle

[2019-04-12 09:02] nboisteault commented on #1193
@rldhont https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/www/js/edition.js#L1011
When there are multiple autocomplete, `selectAutocomplete` has the last value set in it for every autocomplete.

[2019-04-12 09:44] rldhont commented on #1193
@nboisteault thanks for the review. I know how to fix it.

[2019-04-12 09:49] rldhont commented on #1185
When the WFS data comes from PostgreSQL, Lizmap creates files to store the result of the request and retrieve it without memory limits. But the files are not destroyed.

@laurentj do you know when in the PHP we can unlink the file ?

The file is created here: https://github.com/3liz/lizmap-web-client/blob/release_3_2/lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php#L392
The file is used he

[2019-04-12 09:51] nboisteault commented on #1193
@rldhont Good. I was testing [this answer](https://stackoverflow.com/a/35259319), it is good to initiate the good values but autocomplete doesn't show filtered values.

[2019-04-12 11:25] josemvm commented on #1191
documentation has been updated https://github.com/3liz/lizmap-documentation/pull/111

[2019-04-12 11:25] rldhont commented on #1191
thanks! for the documentation.

[2019-04-12 11:25] #1191 closed

[2019-04-12 12:01] remigods commented on #1193
Thanks for your help. Should I understand it will be fixed in the next Lizmap version?
Meanwhile, I limited the Unique values to one field per layer, so that the field suggests the proper values.
I am a newcomer in GitHub. Should I close this issue?

[2019-04-12 12:06] nboisteault commented on #1193
@remigods No we'll close the issue when it will be fixed (soon I think). Thanks for your issue report !

[2019-04-13 17:10] dobignies opened #1196 "Printing issue with CRS"
### What is the bug?
Hi,
I use EPSG:4674 (SIRGAS 2000) in my project and layers, but the red rectangle in printing function disappears. When I use UTM projection everything is fine (EPSG:31982). Is there any incompatibility?
best regards

### Environment

 - Lizmap version: Master
 - QGIS Server version: >3.0
 - QGIS Project version: 3.6.1
 - OS (Windows, Linux, MacOS, Android…): Windows 10
 - Bro

[2019-04-13 19:32] josemvm opened #1197 "[feature] edit widget - color"
hi @laurentj and all developpers

i notice jelix upgrade to 1.6.23 with **new color widget** (https://github.com/3liz/lizmap-web-client/commit/8486cc3fb5952122ee1c71c93531475acce2581), https://github.com/3liz/lizmap-web-client/blob/master/lib/jelix/plugins/formwidget/color_html/color_html.formwidget.php

but the lizmap doesn't take it into account the qgis color widget
so, how can we use it?

than

[2019-04-14 07:57] z7920135 opened #1198 "v"
### What is the bug?

### Steps to reproduce the issue

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Screenshots and logs

### Environment

 - Lizmap version:
 - QGIS Server version:
 - QGIS Project version:
 - OS (Windows, Linux, MacOS, Android…):
 - Browser (Firefox, Chrome…):
 - Lizmap admin information (users, logs…) stored into Sqlite (de

[2019-04-14 07:59] z7920135 opened #1199 "s"

[2019-04-15 07:41] #1198 closed

[2019-04-15 07:41] #1199 closed

[2019-04-15 10:09] nboisteault commented on #593
Same behavior with 1.47.1 version of plotly.js.

[2019-04-15 14:07] robibrazze opened #1201 "DISABLE POPUP "INFORMAZIONI" AND ZOOM INSTANTLY"
Hi,
i would disable the action  - pupup "informazioni" when i click on the layer name

![popuo](https://user-images.githubusercontent.com/28442671/56138713-b1d90100-5f97-11e9-85bc-f231ef3cdd49.JPG)

and when i click the checkbox for viex a layer on a map i would like enable instantly
the action "zoom at layer".

any suggestions and welcome ..tanks

Roberto

[2019-04-15 14:57] rldhont commented on #1201
You probably need a script to do so.

[2019-04-15 16:13] rldhont commented on #1075
@rmarzocchi84 I have created a PR to fix edition config from QGIS Project 3, can you test it ?

[2019-04-15 18:05] pcav opened #1204 "XYZ Tiles layers slows down Lizmap?"
AFAICT now base layers are replaced by direct usage of native XYZ layers. According to my preliminary tests, however, this slows down rendering very considerably, especially if reprjected to the project main projection (e.g. 4326).
Is this a known limitation, or a bug? Any way to avoid it?
Thanks.

[2019-04-15 18:25] pcav opened #1205 "tooltip does not work"
I have tooltips not working in current lizmap master, QGIS 3.4.
Just the sample world vector, field SOVEREIGNT activated as tooltip, causes the tooltip widget to show the gif rotating for ages, and no tooltip is displayed.

[2019-04-15 18:32] mdouchin commented on #1089
I think we should not add a button. IMHO, in mobile mode, we should

* For insert, 1st let the user add the geometry. Then open the form when geometry has been added
* For updates, do the opposite, ie show the form first. The user would be able to hide it if he needs to edit the geometry.

[2019-04-15 18:34] mdouchin commented on #1205
Could you please have a look at the wfs request used when activating the tooltip? It should return data with no errors.

[2019-04-15 18:36] pcav commented on #1205
How do I best check?

[2019-04-15 18:41] pcav commented on #1205
BTW, the table is correctly displayed

[2019-04-15 18:52] rmarzocchi84 commented on #1075
@rldhont there is a specific branch to test or I update the master edition of lizmap?

[2019-04-16 09:10] rldhont commented on #1205
@pcav can you provide an example ?

[2019-04-16 09:12] rldhont commented on #1204
The native XYZ layer is faster  than the old GDAL way of use.
The limitation is probably QGIS Server side ?

[2019-04-16 09:20] pcav commented on #1205
[test.zip](https://github.com/3liz/lizmap-web-client/files/3084048/test.zip)
here is a sample project with data.
QGIS 3.4.6, Lizmap master from a few days ago.
Thanks!

[2019-04-16 09:21] pcav commented on #1204
See a sample here:
https://github.com/3liz/lizmap-web-client/files/3084048/test.zip
How do I check for server side limitations?
Thanks.

[2019-04-16 09:25] josemvm commented on #1126
just to remind you and imho this improvement is also important and would make the editing process more consistent and cleaner before 3.3 release

thanks one more time

[2019-04-16 09:46] josemvm commented on #687
@rldhont just to remind you

[2019-04-16 10:27] rmarzocchi84 commented on #1075
Ok @rldhont I  found the PR in your repository  (sorry for the previous question)

From a preliminary test it seems to work correctly.

First of all I test:
- Value Map
- Datetime field

I only find a strange behaviour that perhaps depends on a QGIS bug:

This value map seems not correctly defined

` <Option name="map" type="Map">
`

 and do not works:

    <field name="d_origine">
          <edit

[2019-04-16 10:33] rldhont commented on #1193
Fixed needs to be tested

[2019-04-16 10:34] rldhont commented on #1075
Thanks for the review, I'll update the code.

[2019-04-16 12:52] nboisteault commented on #1075
@rldhont I tried Constraints "Not null" and "Enforce not null constraint", both didn't work and didn't show field as mandatory.

[2019-04-16 13:14] nboisteault commented on #1075
I have tried with QGIS 2.18 and it is the same behavior so it is not a regression but an needed enhancement.

[2019-04-16 13:25] josemvm commented on #1075
until now, constraints like "not null" or "default value" only could be set at the postgresql level

[2019-04-16 13:53] rmarzocchi84 commented on #725
It is possible to limit custom javascript button only to certain groups?

[2019-04-16 14:00] laurentj commented on #1185
I tried a solution, where the file is deleted after sending, (in jResponseBinary). It seems to work. It should be tested with heavy files. Patch is coming.

[2019-04-16 14:18] laurentj commented on #1185
@mathieubossaert is your /tmp directory on the server is writable by anyone?

You should have `drwxrwxrwt` when you launch the command `ls -al /`
[code]

If this is not the case, execute this command and retry.
[code]

[2019-04-16 14:23] laurentj commented on #1185
@rldhont the filename is the same for any feature asked during the same second: `sys_get_temp_dir().'/'.time().session_id().'_wfs'.'.csv'`. If there are many feature requests at the same time, each requests try to overwrite the same file, and it probably causes the problem of @mathieubossaert . Is the Javascript can ask many feature requests at the same time ?

[2019-04-16 14:28] rldhont commented on #1185
@laurentj yes the Javascript can do many request in the same time.

[2019-04-16 15:42] #593 closed

[2019-04-16 15:42] #1151 closed

[2019-04-16 15:42] #1193 closed

[2019-04-16 15:42] #1197 closed

[2019-04-16 15:45] josemvm commented on #1197
thanks @rldhont

[2019-04-16 22:28] igeofr opened #1210 "Coordinates of the point - latitude/longitude"
### Describe the solution you'd like
Currently for the coordinates to be entered it is written X and Y but for the WGS84 (4326), is it possible to display latitude and longitude.

### Additional context

<img width="397" alt="image" src="https://user-images.githubusercontent.com/7761073/56247971-11b5d180-6096-11e9-9851-1f9032231f85.png">