[2013-03-22 09:00] mdouchin opened #6 "Use layers from a group as a Mask"
Implementation to developp :
- a group called "mask" or "Mask" can be added in the QGIS project in the legend root
- this group can contains many layers
- this group will never been shown in Lizmap Web Client legend
- the tiles from this group will be always shown above all the other layers

[2013-03-28 15:26] mdouchin opened #7 "Sanitize qgis layer names in javascript"
This will avoid problems when layers are named with chars like : , ; - ! , etc.

[2013-04-03 12:34] #7 closed, assigned to mdouchin

[2013-05-10 06:59] pcav opened #8 "Better minscale handling"
Currently the minscale is limited by the background layer used. Better if the minscale as chosen in the project would be honoured, switching the base layer off when zooming in beyond its limits.

[2013-05-10 07:03] pcav opened #9 "Projection displayed mismatch"
In a new project:

http://geosisma-lizmap.faunalia.it/index.php/view/map/?repository=geosisma&project=geosisma_gen

I have:

Properties

Projection
    EPSG:4326

Whereas in another window:

http://geosisma-lizmap.faunalia.it/index.php/view/

I have the correct projection, as defined in the project (25832).

[2013-05-10 07:04] pcav opened #10 "Add an option to switch FTP warning off"
The popup "You do not have ftp installed" should have a checkbox "Do not display
this popup again".
As it is now, it is quite annoying.

[2013-05-10 17:41] pcav opened #11 "Option "Legend block" blocks the client"
If the option "Transform groups of layers as a legend block" is checked, the project never loads.

[2013-05-20 07:21] pcav opened #12 "Make LM "skinnable""
Add an option to replace the default logo and colour scheme with one of the choice of users. Probably better implemented in the plugin.

[2013-06-05 16:04] pcav opened #13 "Add a bounding box parameter to URL"
so to be able to have a link that points directly to a specific location. See qgis-web-client for an implementation (permalink)

[2013-06-16 14:03] pcav opened #14 "Define some default rewrite to have shorter URLs"
Current URL are very long and confusing, e.g.:
- http://www.mysite.org/lizmap-web-client/master/lizmap/www/index.php/view/map/?repository=myrepo&project=myproject
  Better having something like:
- http://www.mysite.org/map/myrepo/myproject

One could add links, apache VHost, and/or http://docs.jelix.org/en/manual-1.4/urls/significant

[2013-06-17 06:42] pcav opened #15 "Preview image resizing incorrectly"
When resizing the repo page, the image (preview of the project) is often shrunk, and not displayed in the correct proportions

[2013-06-17 19:30] #13 closed, assigned to nobody

[2013-06-17 19:48] mdouchin opened #16 "WFS - add appropriate methods to allow Lizmap to act as a complet proxy"
List of method to implement in LWC
- DescribeFeatureType

[2013-06-18 08:58] mdouchin opened #17 "Edition - accept empty fields in the form if not NULL not used"
- The followin types are ok, accepts empty values : character varying,real,double precision, integer
- These types do not : numeric, date

[2013-06-24 14:54] #10 closed, assigned to nobody

[2013-06-24 15:00] pcav opened #18 "Add a BBOX sintax for zooming"
Currently, zooming at a specified area is done through lon=xxx&lat=yyy&zoom=z syntax; it would be good to add a standard mapserver syntax like &bbox=xmin,ymin,xmax,ymax.

See also https://github.com/3liz/lizmap-web-client/issues/13

[2013-06-24 15:01] #8 closed, assigned to rldhont

[2013-06-26 06:28] pcav opened #19 "Clickable area too small for points"
For point layers, clicking exactly on the point is difficult, and the user misses the popup very often. Better define a larger clickable area

[2013-06-26 07:41] #19 closed, assigned to nobody

[2013-06-26 08:09] pcav opened #20 "Scales wrong in master"
cfr:
http://www.faunalia.it/lizmap-web-client-2.8.1/lizmap/www/index.php/view/map/?repository=montpellier&project=faunalia_map
with
http://www.faunalia.it/map/lizmap/www/index.php/view/map/?repository=montpellier&project=faunalia_map (development version)
same project, same config.

The scales are not correctly taken into account in the development version

[2013-07-03 10:14] #20 closed, assigned to rldhont

[2013-07-19 13:18] rldhont opened #21 "After login, rediecting where the user comes from"
If a user logs in, he is redirecting to the projects list. But if a you user logs in from a map page, he wants to come back to the web page.

Jelix can  do it if the param auth_url_return is set.

[2013-07-19 13:21] #21 closed, assigned to rldhont

[2013-08-16 08:06] pcav opened #22 "Move tickets from hub.gis.org"
Hi.
Currently there are a few tickets open on the qgis redmine bugtracker:
http://hub.qgis.org/projects/lizmapwebclient/issues/report
referred to in
http://hub.qgis.org/projects/lizmapwebclient
Please use only one system, and close the other.
Thanks.

[2013-08-16 08:16] pcav opened #23 "Points on the East missing at full zoom with EPSG:3857"
A few points are missing in a sample install of LizMap (see extreme East, N Japan and NSW, Australia):
http://www.faunalia.it/map/lizmap/www/index.php/view/map/?repository=faunalia&project=faunalia_map
Zooming in I the points are displayed:
http://www.faunalia.it/map/lizmap/www/index.php/view/map/?repository=faunalia&project=faunalia_map&lon=14965894.521554478&lat=4660684.360578368&zoom=2
Same dat

[2013-09-30 11:01] rldhont opened #24 "Using vector joins to filter locate by layer"
To have cascading layers in the option locate by layer, lizmap can use the QGIS defined vector joins.

[2013-09-30 11:04] #24 closed, assigned to rldhont

[2013-10-04 14:05] rldhont opened #25 "ZoomBox deactivate WMSGetFeatureInfo"
When a user uses the ZoomBox control, the WMSGetFeatureInfo is deactivated. It needs to be reactivted after the zoomBox ended.

[2013-10-04 14:06] #25 closed, assigned to nobody

[2013-12-02 10:06] ghost opened #27 "Problem with the basemap"
when creating a project without basemap, and the printing module is functional, the project under lizmap (2.9)  is not displayed.
However as soon as the basemap OSM example is inserted, everything works again.

[2014-01-16 16:22] jancelin opened #28 "Problem trigger postgresql : insert current_date return ' ' not date"
if we insert current_date (limi_date in exemple) in a trigger in postgresql / postgis to edit a form, qgis desktop reference date but lizmap_web_client return  ' ' and can not save.

ex:
iNSERT INTO "public"."limi_view" (id, geom, limi_id, limi_date, id_oiseau, type_oiso, id_cat_lim, categorie, limi_qte, id_gen_lim, genre, id_esp_lim, espece, id_sex_lim, sexe, id_com_lim, comportement, limi_nid, l

[2014-01-22 15:14] Doctor-Who opened #29 "Legend size bug with Chromium / Chrome"
Under Chrome and Chromium, legend are resize to fit in the column where legend appears.
That make small font to read when there is a signicative number of text.

[2014-01-30 16:16] pcav opened #30 "Permalinks deactivate layer visibility"
e.g.
http://geosisma-test.faunalia.it/cartografia/index.php/view/map/?repository=geosisma&project=geosisma_gen

renders layers correctly, whereas

http://geosisma-test.faunalia.it/cartografia/index.php/view/map/?repository=geosisma&project=geosisma_gen&lon=1129905.0271400358&lat=5495382.538588622

has them deactivated.
Apparently this is due to OpenLayers.Control.Permalink taking control of the TO

[2014-01-30 17:25] #30 closed, assigned to nobody

[2014-01-31 08:42] #28 closed, assigned to nobody

[2014-01-31 09:24] #18 closed, assigned to nobody

[2014-01-31 14:03] #29 closed, assigned to nobody

[2014-01-31 14:10] rldhont opened #31 "Empty baselayer"
It would be nice to have an option to add an "empty" base layer, that does not show anything.

Issue form hub.qgis.org :
http://hub.qgis.org/issues/8374

[2014-01-31 17:02] #15 closed, assigned to nobody

[2014-02-06 17:22] pcav opened #32 "Reverse order in popup"
In case of mulpilpe elements isisting on a same point, the order in which the different elements seems reversed: on the map higher #recno are on top, whereas on the popup they are at the bottom. See:

http://geosisma-test.faunalia.it/cartografia/index.php/view/map/?repository=geosisma&project=geosisma_gen&zoom=9&lat=5492686.8918&lon=1133415.40055&layers=B00FTTTFFTTTTTTFT

for an example.

[2014-02-07 10:26] #22 closed, assigned to nobody

[2014-02-07 10:46] #32 closed, assigned to nobody

[2014-02-10 13:31] rldhont opened #33 "Add IGN Geoportail and GMap geocoding - funded by Pays de Pontivy"
The administrator must be able to choose the geocoder that he would like the web user will use.

The OpenStreetMap geocoder, Nominatom, may already be selected.
The GMap geocoder has to be used with Google baselayer to respect the CGU.
The IGN Géoportail geocoder is for french users.

[2014-02-10 13:33] #33 closed, assigned to rldhont

[2014-02-10 14:15] #31 closed, assigned to rldhont

[2014-02-11 15:29] mdouchin opened #34 "Direct access to external WMS layers"
Let the user configure Lizmap so that external WMS layers images are fetched directly from the external server. This would avoid QGIS Server to fetch the images the resend it to Lizmap Web Client.

Caveat : no cache will be stored by Lizmap

[2014-02-11 15:38] #34 closed, assigned to mdouchin

[2014-02-20 18:20] gioman opened #35 "When editing hide the fields that are not supposed to be seen"
Not sure if this a bug or a feature request. In the QGIS vector properties, field tab, the user can choose to hide certain fields, so they do not show when identifying the features in the map. But if the layer is set for editing then those fields will show anyway. Hiding would be useful to allow admins do not let certain users to edit/fill certain attributes.

[2014-03-06 16:48] #16 closed, assigned to rldhont

[2014-03-25 08:13] pcav opened #36 "Blend modes not shown"
LM does not support blending

[2014-03-30 22:02] gioman opened #37 "Mutual disable layers"
like in other webgis platforms it would be very useful to have the chance to configure a list of layer that have to mutually disable each other (like baselayers). To make things simplier it would be enough to allow say that the layers inside a particular group have to mutually disable each other.

[2014-03-30 22:05] gioman opened #38 "Selection tool + table of attributes"
Like in others webgis frameworks it would be very good to have a selection tool (like "selection by rectangle" in qgis) to allow select features on the map (the user must select first the layer where to apply the selection). After the selection is made a dialog opens and shows the attributes (as a table) of the selected features. Clicking on one row and the map zooms on that specific feature.

[2014-03-30 22:07] gioman opened #39 "Control for layer transparency"
As often available in webgis applications as a slider.

[2014-03-30 22:08] gioman opened #40 "Zoom to layer"
It would be good to have it, eventually the control can be a small button beside the layer name.

[2014-04-02 16:02] gioman opened #41 "Locating (location by layer) seems to have stopped to work in latest revisions"
If I test older revisions (tested from the begin of the year) is ok.

Does not seems to be related to the data as also with the demo projects I see this issue.

[2014-04-03 20:38] #41 closed, assigned to nobody

[2014-04-03 20:49] rldhont opened #42 "Enhance print capabilities"
Add overview in print
Add the capability to update labels

[2014-04-03 20:58] #42 closed, assigned to nobody

[2014-04-17 09:38] gioman opened #43 "Print at scales defined in Lizmap plugin also when project is in 3857"
Hi,

as far as I understand when project is in CRS 3857 and at least one base layer (Google, etc.) is added, then the scales available for navigation are forced to be compatible with the baselayers ("ignoring" the ones defined in Lizmap plugin). The same scales are applied also for printing. As anyway as the baselayers such Google are not printed, then for printing it would be good to use anyway t

[2014-04-17 09:43] gioman opened #44 "If layer has a "custom" CRS then does not show in Lizmap"
Sometimes it happens that a layer created in QGIS may be given a a CRS that is not exactly recognized by QGIS itself, and then added as "custom CRS".

In such cases the layers with such CRS are not shown in LM (raster shows as white rectangle, vectors are not shown at all).

[2014-04-17 09:46] gioman opened #45 "If layer is renamed with >1 word then the "locating" function does not work"
It seems that if a layer is renamed (in QGIS legend) with >1 word (with spaces) then the "locating" function does not work.

[2014-04-17 09:50] gioman opened #46 "Add a tool to export rasters and the Lizmap canvas as raster/image"
Just an idea for a eventual future addition, as it is available on other webgis frameworks and it seems to be very popular: allow export the canvas as georeferenced image (for example as png + worldfile) as also raster layers in a similar way as is already possible for vectors.

Of course the latter would have to be a download of the original dataset, not the rendered version as WMS, so there coul

[2014-04-17 10:22] gioman opened #47 "Cannot select point feature for editing(?)"
Please forgive me if I have overlooked something.

It seems that is not (easily) possible to select a point feature with the editing tool. I'm testing with qgis (desktop/server) master and lizmap master.

[2014-04-17 10:27] gioman opened #48 "Add a "delete all" or "clear layer" button in editing tool"
Many times it is needed to have a layer to sketch geometries to be eventually printed in some layout. Instead of adding a specific sketch tool, this can be achieved by using one or more editable layers. In this case a button to clear all geometries/attributes would be very useful.

[2014-04-17 10:31] gioman opened #49 "Locating tool, show unique values -> multi selection"
The locating tool nows scan a column and create a list that contains all the values regardless if in that column there are repeated ones.

A nice feature would be allow create a list of just unique values, then if a selected value correspond to >1 feature select all them on the map.

[2014-04-17 11:12] gioman opened #50 "Layers order issue when printing on Lizmap master"
When printing in LM master layers are not in the correct order, so for example a vector that in QGIS project is over a raster, in the print it is below. This does not happen in Lm 2.9

The two (in the two LM versions) GetPrints requests are slightly different

http://83.240.184.26/lm29/lizmap/www/index.php/lizmap/service/?repository=montpellier&project=t1&SERVICE=WMS&VERSION=1.3&REQUEST=GetPrint&F

[2014-05-06 09:09] rldhont opened #51 "Google Geocode error when getting the geometry viewport"
To get the viewport or bounds geometry, we have to use the LatLngBounds methods instead of attributes.

[2014-05-06 09:20] #51 closed, assigned to nobody

[2014-05-13 15:52] #50 closed, assigned to rldhont

[2014-05-15 07:31] #17 closed, assigned to mdouchin

[2014-05-16 09:46] #45 closed, assigned to rldhont

[2014-05-16 11:49] #9 closed, assigned to nobody

[2014-05-16 12:29] rldhont opened #52 "[EDITION] Editing only attributes is broken"
If in the configuration, a layer has only modify attributes and not geometry, the user can select a feature but can't modify attributes.

This regression is probably du to the OpenLayers 2.13.1 integration.

[2014-05-16 12:30] #52 closed, assigned to nobody

[2014-05-16 13:59] #35 closed, assigned to mdouchin

[2014-05-16 18:39] #44 closed, assigned to nobody

[2014-05-21 09:45] slarosa opened #53 "Server Error on GetLegendGraphics request"
Hi,
I am getting the follow error:

[code]

This is happening when expanding a layer to view the legend style. It occurs using both the master version of lizmap and QGIS.

![senzanome](https://cloud.githubusercontent.com/assets/1374682/3037961/18f89274-e0c7-11e3-894f-cea526f743db.png)

[2014-05-27 15:13] sylvainbeo opened #54 "Gmaps layer is messing up when switching to full screen"
When using Gmaps base layer, the map is messing up (bad zoom...) with overlayers. Panning the map solve the problem.

[2014-06-04 16:03] rldhont opened #55 "Add attribution comming from GetCapabilities"
In QGIS-Server version 2.0, the user can specify the layer's attribution. OpenLayers can display it.
It will be great to have it automatically in LizMap. The solution is to update Attribution control.

[2014-06-04 16:19] #55 closed, assigned to rldhont

[2014-06-04 16:24] #27 closed, assigned to nobody

[2014-06-04 16:39] #43 closed, assigned to nobody

[2014-06-10 08:14] mdouchin opened #57 "Display WMS GetCapabilities URL"
Add the possibility to display the WMS GetCapabilities URL for each Lizmap project.

Create an admin right to let the admin disable this feature for some repositories

[2014-06-10 08:20] #57 closed, assigned to mdouchin

[2014-06-11 11:45] #6 closed, assigned to rldhont

[2014-06-14 16:29] rldhont opened #59 "Add the capability to have combobox without toggle"
In some case it would be useful to have locateByLayers without toggle.
The administrator has to define the minimum letters to enter in the combobox,
 before the list appear.

[2014-06-16 16:15] #53 closed, assigned to nobody

[2014-06-17 07:36] jancelin opened #60 "On 2.10beta2: display bug when zoom"
![occupation du sol](https://cloud.githubusercontent.com/assets/6421175/3297384/8c07b12a-f5f1-11e3-8a9d-5d6f32c7ceaa.jpeg)
The display is slow after zooming and some forgotten tiles

[2014-06-20 13:41] rldhont opened #61 "GetStyles method is only available in WMS version 1.1.1"
The GetStyles method is not available in WMS version 1.3.0 and uses LAYERS parameter

[2014-06-20 13:45] #61 closed, assigned to rldhont

[2014-06-20 13:58] rldhont opened #62 "GetLegendGraphics method is not standard"
GetLegendGraphics method has to be replaced by GetLegendGraphic method.

[2014-06-20 14:06] #62 closed, assigned to rldhont

[2014-06-23 13:16] nboisteault opened #63 "Dynamic printing of legend in composer"
In QGIS's print composer we have to choose which legend we want to show.
If we have 50 layers it would be to big to display all legends and we don't want to create a composer for every layer.

So it would be nice to have an option in lizmap to only print the legend of selected/visible layers.

[2014-06-25 09:08] #60 closed, assigned to mdouchin

[2014-06-26 07:52] mdouchin opened #64 "OpenCycleMap base layer bug"
Bug while using OSM Cyclemap among other baselayers

[2014-06-26 08:59] mdouchin opened #65 "Print - wrong rectangle proportions if many composers"
To reproduce
- create a project with 2 composers, with a map of different proportion
- in LWC, use the print menu with the 2nd composer. At start, the drawn rectangle has the correct proportion.
- Change the chosen scale in the combobox : the rectangle takes the proportions of the 1st composer

[2014-06-26 13:10] #64 closed, assigned to rldhont

[2014-06-26 13:31] #65 closed, assigned to rldhont

[2014-07-01 16:53] mdouchin opened #66 "Edition - debug edit types change after QGIS 2.4"
In the project XML, now the attribute is called "widgetv2type" instead of "type" and, the values are not integers anymore but string like "TextEdit"

[2014-07-07 12:49] rldhont opened #67 "Print - Scales not well manage"
The code has to be refactoring to be more robust.

[2014-07-07 12:51] #67 closed, assigned to rldhont

[2014-07-07 13:20] rldhont opened #68 "Add GetContext in lizmap service"
QGIS-Server has an extended REQUEST : GetContext. This request returns an OWSContext file.

[2014-07-07 13:22] #68 closed, assigned to rldhont

[2014-07-07 13:39] #59 closed, assigned to rldhont

[2014-07-08 12:21] jancelin opened #69 "bug when I insert, update but not in supp in 2.10beta4"
bug when I insert, update but not in supp

[Tue Jul 08 13:54:42 2014] [error] [client xxx.xxx.xx.xx] 2014-07-08 13:54:42\txxx.xxx.xx.xx\terror\tAn error has been raised when saving form data edition to db : Erreur dans la requ\xc3\xaate (ERREUR: syntaxe en entr\xc3\xa9e invalide pour le type bool\xc3\xa9en : \xc2\xab \xc2\xbb, referer: http://xxx.xxx.xx.xx/slp-2.10beta4/lizmap/www/index.php/view/m

[2014-07-09 09:34] jancelin opened #70 "Add a fonction in lizmap-web-client: export layer table in .csv"
Hi,
Is it possible to export in .csv the table of a layer?

This feature would be nice to allow users to view and use for the treatment of a layer attribute table.

[2014-07-17 09:11] jancelin opened #71 "bug 2.10beta4: relational value ,Problem : cannot get data to fill this combobox !"
hi,
I look a bug when I want edit a geom with relational value.

At the first edit I can't see the relational value, but if I stop and start edit, relational value works.
Look picture:

![rucherchrome1](https://cloud.githubusercontent.com/assets/6421175/3610753/ddf85636-0d90-11e4-9995-fdfa4f754faf.jpeg)

![rucher2chrome](https://cloud.githubusercontent.com/assets/6421175/3610754/ddf95216-0d90-11e4

[2014-07-21 14:56] gioman opened #72 "Small Fix for the Lizmap installation documentation"
Hi,

I think that here

http://docs.3liz.com/en/lizmap-web-client/installation/linux.html

the line

<i>apt-get install apache2 php5 curl php5-curl php5-sqlite php5-gd</i>

should include the package

php5-pgsql

otherwise editing of PostGIS layers will not work.

On another note I have never seen Spatialite layers show (in Lizmap) as possible layers for edition, on both Linux and Windows. Am I mi

[2014-07-22 07:25] #69 closed, assigned to rldhont

[2014-07-23 08:54] caesar33 opened #73 "hidden field"

[2014-07-23 08:55] #73 closed, assigned to nobody

[2014-07-24 14:00] jancelin opened #74 "limited number of relational value, sort by value does not work"
lizmap-web-client limit the number of values ​​in relational value.
416 values ​​visible with lizmap while qgis displays 660 present values ​​of the postgresql table.

and

sort by value does not work

[2014-07-24 14:01] jancelin opened #75 "value by default in postgresql table does not appear in lizmap"
the value by default in postgresql table does not appear in lizmap but work fine in qgis

[2014-08-06 14:36] Doctor-Who opened #76 "get media doesn't work with pdf link to page"
Link to a specific page from a pdf file doesn't work

Exemple : myfile.pdf --> work
Exemple : myfile.pdf#page=5 --> doesn't work

With lizmap popup default and html tuning from the plugin too...

[2014-08-06 15:51] rldhont opened #77 "Using Alias for the locateByLayer groupBy Field"
The default field used for the locateByLayer tool is displayed with it's alias and not the groupBy field. It will be interesting to have the same behavior.

[2014-08-21 14:45] nboisteault opened #78 "Data edition and user rights"
I didn't test if this function exists but I didn't see it in the documentation (http://docs.3liz.com/fr/lizmap-plugin/features/edition.html) so I guess it doesn't exist.

When a logged user edit data and add a feature to a layer, his group id should be written in a predefined column (for example "group_id"). This way the user only work with the features of his group.

[2014-08-21 14:58] nboisteault opened #79 "WMS dimension is not implemented"
WMS dimension is not implemented nor in QGIS Server (see this issue : http://hub.qgis.org/issues/8808) nor in Lizmap.
When a layer has dimension in GetCapabilities, Lizmap could show a widget with predefined dimension values in it.

[2014-08-25 06:55] pcav opened #81 "Popups not working on IE"
Popups do not work in Internet Explorer 11 for LM 2.10 beta4 and QGIS 2.4.
They work correclty on Chromium and FF.

[2014-08-25 08:59] mdouchin opened #82 "Locate by layer - use same system as adress search when field get focus"
When autocompletion is active on a "Locate by layer" field, the behaviour of the field content when getting focus is not optimal.
For example in the demo project, the word "District" is not cleared but only selected when the user clicks on the field.
We should use the same behaviour as the "Adress search" field : write the title of the layer in grey, but not as the content of the field.

[2014-08-25 13:05] #76 closed, assigned to mdouchin

[2014-08-25 13:58] Doctor-Who opened #83 "Google Analytics support in Lizmap"
Add possibily to enter google analytics code into the admin panel for improved stats

[2014-08-25 16:32] rldhont opened #84 "Using placeholder for locateByLayer"
Like for geocoding search, it will be interesting for user to use placeholder in locateByLayer.

[2014-08-25 16:33] #84 closed, assigned to rldhont

[2014-08-25 16:38] #82 closed, assigned to rldhont

[2014-08-26 09:52] #77 closed, assigned to rldhont

[2014-08-26 10:09] rldhont opened #85 "Hide repository containing only hidden projects"
A repository is listed in the main view if it contains at least one project, but some projects are hidden because they are only used as web services or as parent project.

LizMap-Web-Client has to show only repository containing visible projects.

[2014-08-26 10:13] #85 closed, assigned to rldhont

[2014-08-26 13:13] rldhont opened #86 "Chrome breaks maps web page rendering"
This issue also impacts OpenLayers https://github.com/openlayers/openlayers/issues/1181 and Leaftlet https://github.com/Leaflet/Leaflet/issues/2612

The solution is to deactivate 3D chrome effects.

[2014-08-26 13:16] #86 closed, assigned to rldhont

[2014-08-26 14:18] #81 closed, assigned to rldhont

[2014-08-26 14:20] #66 closed, assigned to mdouchin

[2014-08-26 14:35] lionelbargeot opened #87 "png 8bit output"
Hi,

I have a qgis project perfectly working with default png image format,  with qgis 2.4 and a fresh lizmap web-client install (master branch, 20 aout 2014).
I would  like to use a png 8bit image format to optimize tile downloads. So I configure the option in lizmap plugin : format=image/png; mode=8bit.
I upload the project config, I reload the map and the legend and the map content does not app

[2014-08-27 08:15] rldhont opened #88 "Add mouse position select unit"
The commits e3f0ec79e945f04ee77737c21fb001b89d3153c5 and cbf0d331da5d78978be64736e1353c912679c332 added mouse position in EPSG:4326.

It will be interesting to also have coordinates in the map's unit, in degrees minutes and in degrees minutes secondes.

[2014-08-27 08:17] #88 closed, assigned to rldhont

[2014-09-08 15:03] rldhont opened #89 "Locate by layer relational regression"
The locate by layer relational features does not correctly filtering lists.

[2014-09-08 15:12] #89 closed, assigned to rldhont

[2014-09-12 08:40] rldhont opened #90 "locateByLayer doe not well cleaning input and map with joins"
The feature locateByLayer does not well cleaning input and map when the layer has vector joins.

[2014-09-12 08:51] #90 closed, assigned to rldhont

[2014-09-12 11:03] gioman opened #91 "Wrong link/html when configuring HTML pop-up with files (ex: pdf) in media folder"
The issue does NOT happen with images files, but it DOES happen with pdf and docs (I tested this files so far).

So, in the table of attributes I have columns with

media/imagefile.jpg

and

media/document.pdf

then in the pop-up configuration something like

< p >< img src="{$Illustration}" width="50px" >< /p >
< p >< a href="{$document}">MAP< /a >< /p >

[I had to add spaces in the above lines t

[2014-09-12 11:08] gioman opened #92 "Error 500 when using &lang=pt_PT"
There should be something wrong with the pt_PT localization, as it returns

Error 500. A technical error has occured. Sorry for this trouble.

other languages are ok.

[2014-09-12 12:12] rldhont opened #93 "Deactivate transition effect for tile layer"
Get back to the old OpenLayers layer management

[2014-09-12 12:19] gioman opened #94 "New function "attributeLayers" does not show columns/tables aliases"
I have seen in LM master the new "attributeLayers" functionality to allow show feature data as tables.

I have noticed that column aliases as defined in qgis project are ignored, as also the table name as defined in "title" in the Lizmap plugin.

I have also noticed that if the table name in QGIS project has accents (original name, or by using "rename" in qgis) then the "hide" button (after gettin

[2014-09-12 12:39] gioman opened #95 "Wrong scale when locating using the new functionality "attributeLayers""
Configure your .cfg to use the new "attributeLayers"  functionality, using a mutipart layer.

Then zoom to an extent where just one part of a particular multipart feature is visible, and click on "get data". The list of visible features will show.

Now select the feature that has only one part visible.

Expected result:

* the canvas centers and zooms at a scale to show all the parts of that selec

[2014-09-12 13:13] #91 closed, assigned to nobody

[2014-09-12 13:22] #93 closed, assigned to rldhont

[2014-09-15 16:14] rldhont opened #97 "filetrFieldName not always defined"
The class lizmapProject always check for filterFiledName instead it is not defined.

[2014-09-15 16:20] #97 closed, assigned to rldhont

[2014-09-16 13:26] mdouchin opened #98 "Layers order option not respected in projects with embedded layers"
Lizmap Web Client does not respect layers orders in projects with embedded groups and layers from another project.

[2014-09-16 13:30] #98 closed, assigned to mdouchin

[2014-09-17 10:28] rldhont opened #100 "Add css theme files in Controller"
To avoid PHP error, it's better to add css theme files in the controller and not with the template.

[2014-09-17 10:33] #100 closed, assigned to rldhont

[2014-09-17 11:45] rldhont opened #101 "IGN numZoomLevels are too high"
All the numZoomLevels for IGN base layer are too high compare to the GetCapabilities Request.

[2014-09-17 11:47] #101 closed, assigned to rldhont

[2014-09-23 14:36] nboisteault opened #102 "PostGIS collections support"
PostGIS collections creation is not supported.
It would be useful to be able to create MultiPoint, MultiLineString, MultiPolygon or (even harder) GeometryCollection datatypes in lizmap interface.
It is possible to read/update/delete those objects though.

[2014-09-26 14:47] #63 closed, assigned to nobody

[2014-10-29 17:46] mdouchin opened #104 "Print - Overview map broken with new QGIS version 2.6"
Now QGIS2.6 allows more than one overview Map. XML has changed and Lizmap Web Client must be compatible with both QGIS prior and >= 2.6

[2014-10-29 17:54] #104 closed, assigned to mdouchin

[2014-11-05 15:12] lionelbargeot opened #105 "refresh shortcut list ?"
Hi,
is it possible to refresh the shortcuts list when a new record is inserted in a layer ?

Example : I add a new polygon in a postgis layer. This layer has an attribute configured to be used as a shortcut. If I want to see the new polygon attribute in the shortcut list, I have to reload all the page.

Thanks
Lionel

[2014-11-18 11:22] royro opened #106 "Load document form"
it would be useful/nice to have the possibility to load an image or document
associated with a feature using the Lizmap web client,  in edit session.

[2014-11-21 17:50] PFerro opened #107 "Editor Form - Do not show atributes like define in QGIS"
Hi,

When the Lizmap call the Default form it will show the attributes as they are defined in the database, if the layer also has permissions update the form will show the attributes as defined in the Qgis |Edit Widget project (which I think is what should happen also in the query editor).

Some images to ilustrate
![image](https://cloud.githubusercontent.com/assets/9886773/5146610/55fa1308-71a6-1

[2014-11-25 10:34] PFerro opened #108 "Can't insert&update data in PostGis Views"
Hi,

When I try to update or insert data which are in Postgis Views it's not possible (they all have write permissions and if I do the some action at QGIS works).

![image](https://cloud.githubusercontent.com/assets/9886773/5181155/8f34fa6a-748b-11e4-887e-337c2f097a82.png)

When I do the same action on Postgis Tables it works as expected.

Tested at Lizmap 2.10 and 2.11

Regards,
Pedro

[2014-11-27 13:16] pcav opened #109 "Better sort order and default for base layers"
I think there is a problem in the sorting of baselayers:
* in QGIS desktop layers are sorted from top to bottom, and the last one is the selected one
* same in LizMap plugin
* in LMWC, the order is reversed, and the selection is maintained
* if we add an empty baselayer, its order in the list is ok, but it is not active (the penultimate is selected instead)
* if we add public layers (OSM, Google e

[2014-12-10 14:22] tbeg opened #110 "ldap for authentication"
Hi,

I was able to switch from sqlite to postgresql for lizamp authentication backend reading the jelix docs. Very handy! From the docs I also noticed jelix support for ldap although it's not so obvious to me how to implement it. Is this sth. lizmap would support? Can I easily plugin the ldap driver to authenticate my lizmap users? What is involved to implement it?

Thanks and regards,

Thomas

[2014-12-11 14:33] pcav opened #111 "Print scale wrong when no external basemap defined"
If in the project we add a basemap (OSM etc.), the print scale fits with the current zoom level, and the print zoom levels are in DESC order, as expected:

http://217.57.35.189/webgis/index.php/view/map/?repository=fauna&project=carta_ittica#0

If no external base layer is present, the sort order is ASC (which is unexpected), and does not correspond to the current zoom level:

http://217.57.35.189

[2014-12-16 14:44] gioman opened #112 "Search does not work for integer fields(?)"
It seems to me that the search does not work on integer fields (tested shapes and postgis). Not sure I'm doing something wrong or is a bug. Tested on LM 2.10.1

[2014-12-17 08:21] #71 closed, assigned to nobody

[2014-12-20 16:22] gioman opened #113 "Add a tool to move features (lines, polygons)"
It would be very handy among the editing tools.

[2014-12-20 16:25] gioman opened #114 "If a "date" field is added to a PostGIS layer, editing stops to work"
Subject says it all. I added the "date" field using the QGIS layer properties, it is not necessary to fill the column, just reload LM and editing will stop to respond.

[2015-01-06 08:24] kali06 opened #115 "Probleme avec la liste de recherche"
Bonjour à tous,

j'ai installé limzpa sur un serveur linux debian + Lizmap 2.10 + Qgis server (et non qgis map-server) avec la version 2.6.0 de qgis sur le serveur,

j'ai un problème lors de l'affichage des cartes puisque mon champ de recherche s'affiche mais la liste déroulante est vide, pour info dans le plugin lizmap, j'ai mis en nombre de caractère pour autocomplétion 0. De ce fait, la liste d

[2015-01-06 08:30] kali06 opened #116 "Problème avec l'infobulle"
Bonjour,

J'ai installé lizmap sur un serveur linux debian + Lizmap 2.10 + Qgis server (et non qgis map-server) avec la version 2.6.0 de qgis sur le serveur,

J'ai paramétré les infobulles via le plugin lizmap,

cependant, lorsque je clique sur la carte, celles-ci n'apparaissent pas, hors elles existent bien,

d'ailleurs elles apparaissent bien mais quelques minutes d'attente (5 min environ), pass

[2015-01-06 10:09] rldhont commented on #115
Bonjour,

Il y a un bug dans la version 2.6.* de QGIS-Server. Nous avons corriger ce bug  pour la prochaine version de QGIS https://github.com/qgis/QGIS/commit/2f75c3c88483bfb06a6878dfeda79347a67431cd mais aussi sur la branche 2.6 https://github.com/qgis/QGIS/commit/102cfedcba5a092f64e7bd076f6e86cceb21a774 seulement celle-ci n'est pas disponible dans les paquets.

Si vous savez le faire vous pouve

[2015-01-06 10:09] rldhont commented on #116
Le problème et la solution sont les mêmes que pour le #115

[2015-01-06 12:44] kali06 commented on #115
Merci pour votre réponse,

cependant ce bug était présent dans des versions antérieures de qgis server : ce problème existait même lorsque j'installais qgis-mapserver.
j'ai mis en pièce jointe la capture du problème.
Ce problème est d'autant plus frustrant que parfois la liste est disponible dans le menu déroulant et parfois elle ne l'ai pas. C'est aléatoire.

![lizmap](https://cloud.githubusercon

[2015-01-06 12:47] kali06 commented on #116
Merci de votre réponse,

bien reçu, je vais voir ce que je peux faire,

mais est-ce que le problème ne viendrais pas des configurations du serveur ou de jelix directement ?

en vous remerciant d'avoir prêté attention a mon message,

[2015-01-07 08:09] pcav commented on #115
Wouldn't it be better to ask releasing a fixed 2.6.2?
Merci.

[2015-01-07 09:09] kali06 commented on #115
yes...if the problem come from qgis server,
but it's not sure, because even on lizmap demo, this problem exist

[2015-01-17 16:49] mdouchin commented on #115
The issue is related to QGIS Server, as @rldhont mentionned. The demo online in http://demo.lizmap.3liz.com does not always reflect the last Lizmap and/or QGIS server version

[2015-01-17 16:51] mdouchin commented on #112
You mean the "Locate by layer" tool, which lies above the legend and allow to zoom to one feature by selecting it with the combox box or via typing the first letters in the input ?

[2015-01-17 16:52] mdouchin commented on #113
+1 for this tool

[2015-01-17 16:57] mdouchin commented on #110
Hi

@laurentj has coded a new driver called **ldapdao** to handle users from a LDAP Server, but still uses a PostGreSQL or sqlite backend to store Lizmap-specific rights. This subject is more related to https://github.com/jelix/jelix . This driver would be available in a next lizmap version

[2015-01-17 17:06] mdouchin commented on #107
You are right this should be coherent with QGIS way of handling thos hidden attributes. The solution for now in Lizmap:
* In the "popup" (identify feature), you can hide some columns by unchecking the WMS checkbox for each field to hide, in the Field tab as visible in the screenshot above
* In the Lizmap edition form, you should be able to hide some field by choosing the "Hidden" (Occulto) edit ty

[2015-01-18 13:59] gioman commented on #112
yes, tested again now with  LM 2.10.2 and qgis master (desktop and server).

[2015-01-19 14:07] laurentj commented on #110
I opened issue jelix/jelix#193 ;-)

[2015-01-27 13:20] gmenguy opened #117 "popups au format HTML impossible avec une vue"
Bonjour,

La configuration HTML d'un popup sur une couche basée sur une vue de Postresql ne fonctionne pas. Par contre, l'affichage simple sans configuration HTML fonctionne très bien.

A suivre

gwen

[2015-01-29 14:55] pcav opened #118 "Location by layer creates spikes"
LM 2.10.2 on a fresh Debian testing
![bug_lm](https://cloud.githubusercontent.com/assets/691842/5959510/3558e494-a7cf-11e4-9e4c-0f0c4dc94406.png)
. See attached.

[2015-02-06 17:27] rldhont opened #119 "[FEATURE] User Note Layer"
This feature is an extension to Filtered Layer. In Lizmap, layers can be filtered by user group. With this feature, the administrator will be able to define a layer filtered by user login.

This type of layer can be used to add a user note layer. This layer can be printed with the user specific observation.

To use this feature add in the project lizmap config "filterPrivate": "True" for the layer

[2015-02-06 17:29] #119 closed

[2015-02-09 14:34] jancelin opened #120 "2.11beta1 : attribute tables for vector layers, first visit..."
Je passe en mode français

* Le nom de colonne ne prends pas l'alias mais le nom du champ.
* Pourquoi seulement 5 couches. Frustration...
* Pas de boutton export, mais ça passe en surlignant et copie colle.

qgis-mapserver: 2.4.0-0trusty3
qgis: 2.4.0-Chugiak
docker-lizmap: 2.11beta1

[2015-02-09 14:36] jancelin commented on #120
Sinon, merci beaucoup, ça va me changer la vie.

[2015-02-09 15:43] jancelin opened #121 "relational value: sort by value does not work"
Toujours le bug du tri ascendant dans les valeurs relationnelles
Pas de maj de ce bug dans la version 2.11beta1?

[2015-02-09 16:00] jancelin commented on #120
le boutton masquer dans l'interface ne fonctionne pas sur certains mes anciens projets mis à jour

[2015-02-10 14:27] Doctor-Who opened #122 "Media like Image open in lightbox"
Hi,

I would prefered that media as picture/image will open in a lightbox instead new window.

Thanks :+1:

[2015-02-10 14:40] rldhont commented on #78
This enhancement has been probably fixed with ade9bfb703c6d5955c16511a0d402750b6ced346 and #119

[2015-02-10 14:40] #78 closed

[2015-02-10 14:42] rldhont commented on #87
Hi, the problem probably comes from your color choices. Do you confimr it ?

[2015-02-10 14:43] rldhont commented on #92
PR #96 fhas been merged

[2015-02-10 14:43] #92 closed

[2015-02-10 14:45] rldhont commented on #120
Issue linked to #94

[2015-02-10 15:53] #114 closed

[2015-02-10 16:09] #111 closed

[2015-02-10 16:21] #121 closed

[2015-02-10 16:22] rldhont commented on #121
For next beta

[2015-02-10 16:25] rldhont commented on #74
Does the commit d3855eacb09704d841b511ef1fefdf921a51d9a9 fixes it ? like #121 ?

[2015-02-11 10:32] jancelin commented on #74
works well, thanks

[2015-02-11 10:32] jancelin commented on #75
works well, thanks

[2015-02-11 11:07] jancelin commented on #74
oups, petit bug:
Les valeurs relationnels deviennent pré-remplis par la première valeur de la liste lors de la création d'une nouvelle entitée.

[2015-02-11 15:44] jancelin opened #123 "master, 2.11 : relational value: for all lists add a null to not see the first value of the table when editing."
Dans la version master
Pour les  valeurs relationnelles lors d'une édition:

Je voudrais que les utilisateurs aient un champ vide lors de l'ouverture de l'édition car l'insertion automatique d'une valeur (première valeur de la table ou null) est source d'erreur.

Est-ce que ces listes possèdent une * ? oui, potentiellement
Y-a-t-il une valeur par défaut dans la table pour ces listes ? non pas sur

[2015-02-11 16:34] #123 closed

[2015-02-12 09:13] jancelin commented on #117
la même.

[2015-02-12 16:30] #94 closed

[2015-02-12 16:30] #120 closed

[2015-02-12 16:32] rldhont commented on #74
Fixed with 34cc6ae6dc0419673725eabfb2db371be5f9cc23

[2015-02-12 16:32] #74 closed

[2015-02-13 08:58] nboisteault opened #124 "Missing TRANSPARENT=TRUE parameter when querying external WMS"
There is no transparency when querying external WMS layer.

[2015-02-13 10:37] #124 closed

[2015-02-13 10:38] rldhont commented on #124
Reopen if needed

[2015-02-13 11:11] spontivy opened #125 "Pop-up : Retour à la ligne - Mise en forme HTML"
Bonjour,

Lizmap accepte la saisie d'un champ textuel de type multi-ligne.
Lors du clic sur un objet, la popup ne prend cependant pas en compte ce type de champ.

[2015-02-15 14:06] gioman opened #126 "Permalink functionalaity broken"
It seems that in the lastest LM releases the permalink functionality is broken. Try for example

http://demo.lizmap.3liz.com/index.php/view/map/?repository=rep1&project=plan_parc

and leave selected just one layer: by clicking on the permalink the new map has all layers selected instead of the only one of the original map, and anyway no layers are shown in the canvas.

[2015-02-27 16:21] rldhont commented on #126
Hi @gioman
I can't reproduce the bug:
* http://demo.lizmap.3liz.com/index.php/view/map/?repository=rep1&project=plan_parc&zoom=3&lat=2350998.78035&lon=937822.38698&layers=BTTTTTTTTTTTTTF
* http://demo.lizmap.3liz.com/index.php/view/map/?repository=rep1&project=plan_parc&zoom=3&lat=2350998.78035&lon=937822.38698&layers=BTFFFTTTTFTFTTF

Re-open if needed

[2015-02-27 16:32] gioman commented on #126
Hi @rldhont see this screencast

https://www.dropbox.com/s/iuj0jkj6rwslti7/permalink.mp4?dl=0

[2015-02-27 16:35] rldhont commented on #126
Hi @gioman,

I have tested permalink after zooming and it's work.

You pointing that only deactivated layers did not changed permalink.

[2015-02-27 16:37] gioman commented on #126
Hi @rldhont
yes I just realized that the difference was the zoom. I didn't realized at the time I filed the ticket. Cheers!

[2015-02-27 16:38] rldhont commented on #126
Hi @gioman, I just realized the same thing

[2015-03-02 10:01] #126 closed

[2015-03-02 10:22] rldhont opened #127 "the class gm-style overwrites default styles for popup"
When the map included a Google Maps layer, the class gm-style is added to the map body. This class overwrite the default font styles for popups.

[2015-03-02 10:23] #127 closed

[2015-03-02 11:02] rldhont commented on #117
Pouvez-vous confirmer que ce bug existe toujours dans la version 2.11 Beta 2 ?
https://github.com/3liz/lizmap-web-client/releases/tag/2.11beta2

[2015-03-02 11:08] nboisteault opened #128 "HTML getfeatureinfo return XML"
I've upgraded QGIS server to 2.8.1 and lizmap to master on ubuntu 12.04.
Now when Lizmap sends getfeatureinfo with HTML info_format it returns XML.
I've also tried with QGIS server 2.9.0 and lizmap 2.10.1 and the issue is the same.

You can try this URL : http://92.243.19.0/lizmap-web-client/lizmap/www/index.php/lizmap/service/?repository=adpag&project=adpag&LAYERS=Belette%20Saison%202013%20-%2020

[2015-03-02 11:18] rldhont commented on #128
To downgrade you have to compile qgis-server with the branch release-2_6.

Because QGIS 2.8.* is not yet downloadable on qgis.org, we didn't yet test it with lizmap.

Now for your issue, I think it's some changes in the QGIS-Server GetFeatureInfo mime-type. I'll take a look.

[2015-03-02 12:59] rldhont commented on #128
I can't reproduce this issue with QGIS 2.8.*

Do you have this issue with other layers ?

[2015-03-02 13:05] rldhont commented on #128
I can't reproduce it in my environment but I understand why you have this issue.

The mime-type of the xml request is not *text/xml* but *text/xml; charset=utf-8*

[2015-03-02 13:30] #125 closed

[2015-03-02 13:38] #128 closed

[2015-03-02 14:10] nboisteault opened #129 "NULL value written in HTML popup"
If we have a NULL value in a HTML popup "NULL" is written. No string should be displayed.

For example : http://92.243.19.0/lizmap-web-client/lizmap/www/index.php/lizmap/service/?repository=adpag&project=adpag&LAYERS=Belette%20Saison%202013%20-%202014&QUERY_LAYERS=Belette%20Saison%202013%20-%202014&STYLES=&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&EXCEPTIONS=application%2Fvnd.ogc.se_inimage

[2015-03-02 14:27] rldhont commented on #108
I can't reproduce the issue.

I created a vue base on a table with a trigger and I was able to update through the view.

[2015-03-02 14:55] rldhont commented on #129
Can you specify the QGIS Server version ?

[2015-03-02 14:56] nboisteault commented on #129
QGIS Server 2.8.1.

[2015-03-06 08:27] jancelin commented on #108
No problems for me on Lizmap 2.10 or 11beta. All my  views working . insert update delete with triggers  working also.We need more information on the view

[2015-03-06 08:41] jancelin commented on #108
Have you registered your login password postgis in qgis, so in your .qgis file?

[2015-03-09 09:12] jancelin commented on #117
bug présent dans la béta3

[2015-03-09 09:46] rldhont commented on #117
Quelle version de QGIS-Server ?

[2015-03-09 09:48] jancelin commented on #117
Toujours le même bug,
+ un nouveau : perte de l'affichage de l'alias des boites à cocher
 qgis 2.8.1 mapserver 2.8.1 lizmap2.11beta3.

[2015-03-09 09:50] rldhont commented on #117
Merci d'ouvrir ou de ré-ouvrir un nouveau bug pour l'alias

[2015-03-09 09:52] jancelin opened #130 "edition bolean: perte de l'affichage de l'alias"
perte de l'affichage de l'alias des boites à cocher

![limicole edition](https://cloud.githubusercontent.com/assets/6421175/6552811/4bc27396-c64a-11e4-9bca-459f83439535.jpeg)

qgis 2.8.1 mapserver 2.8.1 lizmap2.11beta3

[2015-03-09 09:52] rldhont commented on #117
Pouvez-vous nous donner plus d'information sur la structure de votre vue et de votre Popup HTML ?

Dans mon cas j'ai la popup suivante :
[code]

[2015-03-09 09:55] jancelin commented on #117
salut, voici ce que j'utilise:

<table CELLPADDING="5" CELLSPACING="5">
<tr><td align= "right"><b>Date :</b> </td><td>{$limi_date}</td></tr>
<tr><td align= "right"><b>Type d'oiseau :</b> </td><td>{$type_oiso}</td></tr>
<tr><td  align= "right"><b>Catégorie : </b></td><td>{$categorie}</td></tr>
<tr><td  align= "right"><b>Quantité : </b></td><td>{$limi_qte}</td></tr>
<tr><td  align= "right"><b>Genre:

[2015-03-09 09:57] rldhont commented on #117
As-tu essayé l'URL GetFeatureInfo directement ?
As-tu essayé l'URL GetFeatureInfo avec le format XML ?
As-tu des erreurs dans les logs du serveur ?

[2015-03-09 10:16] jancelin commented on #117
apache error log lors de l'ouverture de la popup:

[Mon Mar 09 10:14:24.557663 2015] [:error] [pid 14] [client xxx.xxx.xx.xx:60276] 2015-03-09 11:14:24\t147.100.92.6\twarning\t2015-03-09 11:14:24\t[2]\tpreg_replace(): Compilation failed: missing ) at offset 48\t/var/www/websig/lizmap/$

[2015-03-09 10:19] jancelin commented on #117
/var/www/lizmap/.../messages.log:

2015-03-09 11:14:24     147.100.92.6    default --> CURL: {"url":"http:\/\/127.0.0.1\/cgi-bin\/qgis_mapserv.fcgi?bbox=-116421.676362%2C5776329.661996%2C-108887.851763%2C5779081.395013&crs=EPSG%3A3857&exceptions=application%2Fvnd.ogc.$

[2015-03-09 10:40] jancelin commented on #117
fonctionne avec GetFeatureInfo avec le format XML

[2015-03-09 10:45] rldhont commented on #117
Oui, je n'en doute pas le problème se trouve dans la transformation du XML en HTML. Par contre j'ai besoin de vérifier que tous les champs renvoyés ont bien le **name** attendu dans la **template** de popup html

[2015-03-09 11:08] jancelin commented on #117
doc 3liz:
http://docs.3liz.com/fr/publisher_guide/advanced_lizmap_config.html#configurer-les-popups-dans-lizmap

"Note
Si vous avez configuré un alias pour un champ, il faut utiliser l’alias au lieu du nom entre accolade".

[2015-03-09 19:18] #129 closed

[2015-03-09 19:32] #130 closed

[2015-03-10 07:41] jancelin commented on #130
salut,
ça remarche mais pas du bon côté...
![limicole edition](https://cloud.githubusercontent.com/assets/6421175/6570838/3946be2c-c701-11e4-8358-8bb612afadd4.jpeg)

bonne journée

[2015-03-10 07:54] rldhont commented on #130
Bonjour, cette implémentation est voulue afin de pouvoir cliquer sur le libellé.

Bonne journée

[2015-03-18 10:46] jancelin opened #132 "table attributaire et &MAXFEATURES=100"
C'est dommage de ce limiter à 100 entités lors de l'affichage de la table attributaire.

[2015-03-20 16:18] nboisteault opened #133 "Refresh cache if QGIS Server has previously crashed"
I've posted this QGIS server bug that crashes it : https://hub.qgis.org/issues/12411

My second problem is that when QGIS Server crashes, a GetCapabilities to Lizmap Server send a 500 internal error response which is normal but when QGIS Server doesn't crash anymore I have to delete all the cache files in temp/lizmap/www/cache/myapp to make lizmap works.
Maybe there is a way to refresh the cache w

[2015-03-20 16:25] nboisteault opened #134 "When maptip value is in popup only display it"
In QGIS we can define an HTML popup which is visible in lizmap client when popup is activated in lizmap plugin as 'maptip' attribute.
I think that for an HTML GetFeatureInfo request, lizmap client should detect the 'maptip' attribute when present and only display its value.
Thoughts?

[2015-03-20 16:36] nboisteault commented on #134
I forgot that we can hide other attributes by disabling WMS in field configuration.
So maybe if there is only maptip attribute just display it and not the table around it.

[2015-03-23 09:44] #133 closed

[2015-03-23 10:52] nboisteault commented on #134
Maybe this issue should be fixed in QGIS Server.
When HTML is defined QGIS Server should only send it and not other attributes.
I'm going to open a ticket.

[2015-03-23 11:01] rldhont commented on #48
Does this feature  can achieve this enhancement ?
issue #119
commit ade9bfb703c6d5955c16511a0d402750b6ced346

[2015-03-25 09:38] #134 closed

[2015-03-27 09:50] arno974 opened #136 "Mise à jour automatique des données de la table attributaire"
Bonjour,

L'affichage des données via la table attributaire n'est pas synchronisé avec les mouvements de la carte.

Il pourrait être intéressant d'ajouter cette fonctionnalité (peut être une case à cocher dans la fenêtre de la table) afin que la liste de la table se mette à jour automatiquement en fonction des zooms et déplacements de l'utilisateur.

[2015-03-27 11:47] arno974 opened #137 "Grouper les champs lors de l'édition des données attributaires"
Bonjour,

Dans le paramétrage des champs d'une couche QGIS, il est possible de grouper les champs en fonction de catégories préalablement définies [1].

Il pourrait être intéressant dans l'interface web de LizMap  de reproduire cette même logique en utilisant le composant tab [2] de Bootstrap.

Qu'en pensez-vous ?

Arnaud

[1] http://docs.qgis.org/2.2/en/docs/user_manual/working_with_vector/vector

[2015-04-01 14:41] kali06 opened #138 "problème affichage couche"
Bonjour,

je travaille actuellement sur 4 projets qgis que je souhaite convertir en autant d'applications sous lizmap, ces projets ont les mêmes couches communes, seules les droits d'édition varient en fonction des applications

le problème lorsque je publie ces projets est que la première application à toutes les couches qui s'affichent,

la seconde application à des couches en moins,

la troisiè

[2015-04-09 14:29] antoine373 opened #139 ""localisation par couche" limitation aux couches de moins de 6290 objets"
Bonjour,
Je viens de faire la MAJ vers la dernière version de lizmap : 2.11.0
Cette dernière est encore plus performante (merci pour votre super travail), mais je rencontre un problème avec l'outil de localisation. Il fonctionne très bien avec certaines couches, mais avec d'autres rien ne se passe. C'est notamment le cas pour les deux couches que j'utilise le plus pour la localisation : le cadastr

[2015-04-09 14:41] doducdung commented on #139
Hello  there, I am new in LizMap. I try to use LizMap plugin to publish map to the web. It work well in the localhost but when I upload it to the server it could not. Do you know how to solve this problem? Could you please help me?Thank you very much in advance. -------------------------------------------------- ---------------------------
Do Duc Dung
Deputy Director
Southern Institute for Water R

[2015-04-09 15:05] rldhont commented on #139
Bonjour,

La requête est trop longue ou trop grosse par rapport aux configurations serveurs. Pour remédier à cela, il faudrait ne pas charger l'intégralité des données vectorielles dans le Client. La fonction de localisation n'a pas été conçu pour manipuler autant d'objet. Elle a été conçu pour faciliter la navigation dans la carte en créant des raccourcis simples :
* zoom sur une commune
* zoom s

[2015-04-09 15:15] antoine373 commented on #139
Bonjour,
J'entends bien le problème posé par le nombre d'objets contenus dans la couche et de la lourdeur de la requête.
Après ce qui semble étonnant, c'est qu'avec la version 2.10.0 de lizmap je n'avais aucun problème pour faire fonctionner la fonction de localisation, et ce même avec une couche cadastre de 20 000 objets ou bien avec un référentiel adresse utilisant une liste hiérarchique (sélect

[2015-04-11 09:39] josemvm opened #140 "Released Lizmap Web Client 2.11"
This new version brings new features:
...
The ability to display the attribute table of certain layers.
...

How to enable this new feature?

Thanks

[2015-04-11 15:11] josemvm commented on #140
Sorry, i found in LizMap Plugin (obviously)!

[2015-04-11 16:36] gioman opened #142 ""default repository" seems duplicated in control panel"
seen on 2.11
see attached image

![dr](https://cloud.githubusercontent.com/assets/1951107/7102211/42830106-e071-11e4-8fe5-5db1cab5c2be.png)

[2015-04-17 09:54] geoek opened #143 "Problème d'affichage du style des lignes et des contours de polygone"
Bonjour à tous,
avec QGIS 2.6 et Lizmap 2.10, les contours des polygones ainsi que les lignes sont tout le temps affiché avec un trait noir. Changer la couleur, le style de trait ou l'épaisseur ne fonctionne pas...

Est ce un bug  connu ou un problème de configuration ?

Merci !

[2015-04-17 10:10] rldhont commented on #143
Bonjour,

Avez-vous vérifié la version de QGIS-Server ?
Avez-vous supprimé le cache après modification du style ?

[2015-04-17 10:37] geoek commented on #143
Pour le cache, oui, j'ai bien supprimé le cache. A noter que cela se produit avec tous mes projets...

Concernant QGis-server, c'est la version présente dans les dépots officiels d'Ubuntu server (v14.10). (Je n'arrive pas à trouver la commande pour connaitre la version...)

[2015-04-17 14:08] geoek commented on #143
J'ai mis à jour lizmap (2.11.0) et j'ai toujours le même comportement...

[2015-04-17 14:11] rldhont commented on #143
Le problème ne provient pas de Lizmap mais du différentiel de version entre QGIS-Server et QGIS-Desktop.

[2015-04-17 14:25] geoek commented on #143
Ok ! merci pour cette information ! Je vais voir pour mettre à jour mon serveur où utiliser une ancienne version de Qgis pour exporter mes projets.

[2015-04-17 14:46] #143 closed

[2015-04-22 14:16] #140 closed

[2015-04-22 14:18] rldhont commented on #139
Bonjour,

Il n'y a pas de limitation voulue du côté de Lizmap. SI il y a une limitation, celle-ci est involontaire.

Utilisez-vous la même version de QGIS-Server ?

[2015-04-22 14:22] rldhont commented on #138
Bonjour,

Il se pourrait que le problème provienne des identifiants des couches.

Avez-vous recréé chacune des couches pour chaque projets ?
SI vous ouvrez les projets dans un éditeurs de texte, pouvez-vous vérifier les identifiant des couches et vérifier que ceux-ci sont tous différents ?

[2015-04-22 14:23] rldhont commented on #137
C'est une idée que nous n'avons pas encore eu le temps d'implémenter.

[2015-04-22 14:27] rldhont commented on #115
Does this issue is fixed by qgis 2.8.* ?

[2015-04-22 14:35] kali06 commented on #138
Bonjour,

merci de votre réponse,

non je n'avais pas recréé les couches,

j'avais un projet global sous qgis que j'ai duppliqué 4 fois (enregistré sous de qgis),

par contre quand j'ai recréé un projet de 0 pour chaque application, quand bien même il y avait des couches communes,

les applications n'ont eu aucun problème et fonctionnaient trés bien,

[2015-04-22 14:38] rldhont commented on #138
Le problème venait donc des identifiants commun entre projets QGIS. Votre problème provient de la gestion des couches dans QGIS-Server.

Ayant solutionné votre problème, je me permet de fermer cette discussion.

[2015-04-22 14:38] #138 closed

[2015-04-23 08:35] kali06 opened #144 "Amélioration de la vitesse d'affichage des couches"
Bonjour,

j'utilise lizmap web-client 2.10.2 + qgis server 2.6 + OS linux debian

je souhaiterais savoir comment améliorer la vitesse d'affichage de mes couches sachant que toutes mes couches sont non tuilées + durée cache client au max + serveur 8 Go RAM + Intel xeon

Cependant, je trouve que les applications prennent du temps à se charger, de même que quand je zoome, les couches prennent du temp

[2015-04-23 08:40] rldhont commented on #144
Bonjour,

La version 2.11 de Lizmap-Web-Client apporte certaines amélioration dans la vitesse d'affichage de la carte. Sinon je vous invite à poser votre question sur ForumSIG http://www.forumsig.org/forumdisplay.php/54-Assistance-et-Programmation, vous y trouverez plus de personne susceptible de répondre à ce genre de question.

[2015-04-23 11:56] antoine373 commented on #139
Oui j'utilise bien la même version de QGIS (la 2.8).
Par contre en regardant du côté de la lourdeur de la requête, j'ai décidé d'alléger la géométrie de la couche concernée. En utilisant la fonction "ST_simplify(geom)" dans ma base postgis ça me permet de faire fonctionner la localisation comme précédemment.

C'est un moyen de contourner le problème, mais ça n'explique pas la différence de comport

[2015-04-23 14:54] kali06 opened #145 "Problème de stabilité des couches"
Bonjour,

j'ai un problème au niveau de l'affichage des couches de certaines applications
j'ai une application avec un certain nombre de couches,
mais à chaque fois que j'ouvre cette application, je contaste que des couches n'apparaissent plus ni à l'affichage ni dans la légende,
et plus je me connecte à cette application et plus le nombre de couches qui disparaissent augmente,

le seule moyen que

[2015-05-06 14:23] geoek opened #146 "Possibilité de masquer une catégorie pour une couche catégorisé (ou gradué) via la légende."
Bonjour,
QGIS 2.6 a introduit la possibilité de masquer ou non dans la légende une catégorie d'une couche catégorisé (via une case à cocher). (https://www.qgis.org/fr/site/forusers/visualchangelog260/index.html#feature-classes-within-graduated-and-categorised-renderers-can-be-toggled)

J'utilise Lizmap 2.11 avec QGis serveur 2.8 sur un serveur Ubuntu et j'aurais aimé utilisé cette fonctionnalité.

[2015-05-11 10:12] jaitor1 opened #147 "Error when editing layers stored in Postgis if field is in capital letters"
In Postgis, when executing SQL querys if the field is in capital letters the field in the query MUST be between double quotes ("). Example.

INSERT INTO "public"."portales" ("GEOMETRY", cod_calle, portal_num )
VALUES (ST_GeomFromText('POINT(499117.09083286155 4799669.372050852)', 23030), '333', '33');

note that "GEOMETRY" field is between double quotes.

In lizmap, when editing a layer that is st

[2015-05-11 13:46] jaitor1 opened #148 "loading.gif and logo_footer.gif paths are absolute"
If I load lizmap from a diferent server where lizmap is running, the loading.gif and logo_footer.gif are not displayed. In the firebug console I see:

"NetworkError: 404 Not Found - http://localhost/lizmap/lizmap-web-client-master/lizmap/www/themes/default/css/img/logo_footer.png"
logo_footer.png
"NetworkError: 404 Not Found - http://localhost/lizmap/lizmap-web-client-master/lizmap/www/themes/defa

[2015-05-11 13:46] jaitor1 commented on #113
+1

[2015-05-12 10:40] jaitor1 opened #149 "Possibility to select by default (selected) base layer"
I would like to have several base layer options (googles Streets, OSM, etc..) but I think that would be a good idea to be able to select which one to show by default (I can't select the one that i want anywhere)

By the way, I don't know how to mark the issue as enhancement.

[2015-05-12 10:46] jaitor1 opened #150 "When inserting a new point in a layer first time data form is not displayed"
The first time I insert a new point in a layer, the form to insert the alfanumeric data is not displayed. I have to click on return button and add the point again. Second time and all the next times the form is displayed correctly.

[2015-05-13 07:31] #142 closed

[2015-05-14 13:12] jaitor1 opened #151 "Possibility to use media files not stored in the media folder"
I would like to display in lizmap several images and PDFs stored in the local network without having to copy them into the media folder. The files are mantained by third users in their local network location.

By the way, I don't know how to mark the issue as enhancement.

[2015-05-18 08:26] jaitor1 opened #152 "In windows Server 2012 print map and attribute tables not working"
I have several maps in Windows Server 2012. Athought I have activated the options to print map and added the option to show the attribute table in the Tools tab in your QGIS plugin, in lizmap both options are not being activated in my maps.

[2015-05-18 14:56] haubourg commented on #149
+ 1 , and let user order base layers in combo box too.
Régis

[2015-05-21 11:57] jaitor1 opened #153 "Posiibility to edit the projects thumbnail"
I would like to edit the thumbnails of the published projects. All of them show this image:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7748045/37907840-ffc1-11e4-8c7a-103fc4347bb6.png)

It would be a good idea to be able to change this image, or, by default, to show an overview of the map instead of that image.

[2015-05-21 11:58] pcav commented on #153
Just add an image with the same name as the project, extension .png
And of course RTFM ;)

[2015-05-21 12:02] rldhont commented on #153
I'd like to point the documentation but I didn't find this information.
http://docs.3liz.com/en

You can contribute to the doc here: https://github.com/3liz/lizmap-documentation

[2015-05-21 12:06] rldhont commented on #151
You already can do it, if your medias are available through an URL

You can stored the link in your data or construct it in the popup or QGIS maptooltip.

Take a look at the documentation: http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#how-to-configure-popups

[2015-05-21 12:08] rldhont commented on #150
Which version is concerned ?
Does the form is complex or not ?
Did you observe this for one layer or multiple layers ?
Does this issue concern only point ?

[2015-05-21 12:12] rldhont commented on #148
Lizmap is based on jelix http://jelix.org/en/

If you change the domain of lizmap, you have to clear the lizmap www temp directory. You'll find it in the lizmap has temp/lizmap/www

[2015-05-21 12:15] rldhont commented on #145
What's your OS ?
Did you use CGI or FCGI ?
Which apache version did you use ?

[2015-05-21 12:16] jaitor1 commented on #153
I read the entire manual, I didn't find that info so I thought just this couldn't be done. Thanks!

[2015-05-21 12:20] kali06 commented on #145
OS : Linux Debian 7
Apache 2
Ensuite j'ai suivi le guide d'installation donc normalement FCGI

[2015-05-21 12:21] jaitor1 commented on #153
By the way, where do I have to put the .png image? I tried int he same folder where the project is located and in /media folder relative to the project. Neither of them worked...

[2015-05-21 12:22] pcav commented on #153
Same folder, call it project.qgs.png (I know, not so obvious)

[2015-05-21 12:23] rldhont commented on #153
Thanks paolo!

@jaitor1 if you want you can update the documentation, we'll merge and publish it.

[2015-05-21 12:24] jaitor1 commented on #153
@rldhont I'll add it to the documentantion. Thanks for the help!

[2015-05-21 12:47] jaitor1 commented on #153
added at the end of  en/source/publisher_guide/advanced_lizmap_config.rst. Sorry if I made something wrong, I am new at github.

[2015-05-21 12:47] #153 closed

[2015-05-21 12:51] jaitor1 commented on #148
Solved. Thanks.

[2015-05-21 12:51] #148 closed

[2015-05-21 12:56] jaitor1 commented on #150
The bug was found in Lizmap Web Application 2.11beta5 running on Windows Server 2012 R2. With a point layer. The form is not very complex: 5 text inputs a calendar and a dropdown selection.

Let me make some more tests to answer all of your questions, I'll write back soon.

[2015-05-22 13:36] jaitor1 opened #154 "Locate by layer, dropdown list is empty"
I active the locate by layer option.

![sin titulo2](https://cloud.githubusercontent.com/assets/12136796/7771498/16715c6a-0098-11e5-9e26-60dd3e2f193d.png)

As explained in the documentantion, I checked that WFS is activated for the layer. In fact it is, because I can edit the layer.

But in the dropdown list I am not seeing anything. I tried with other fields (both numeric and text fields) and wit

[2015-05-25 08:11] jaitor1 commented on #151
I created a field with the following URL: file://Z:/022 TURIsmo/1_1.jpg
Then I configured the field as "Image".
In lizmap I am seeing the text (file://Z:/022 TURIsmo/1_1.jpg) instead of the image. What should the format be?
I checked the documentation and I didn't see a sample "file URL" that works. I will update de documentation with a sample if I make it work.

[2015-05-25 08:19] rldhont commented on #151
Hi @jaitor1, *file* protocol is not a **web** protocol. For your "file URL", you have to use a **web** protocol like *http* or *https*.

[2015-05-27 10:03] jaitor1 opened #155 "Layer field's Edit Widget applied in the form when editing but not when consulting"
Some of the field in our tables are filled with codes. These codes are described in other tables. Example:
In some tables there is the field status which stores OK,RE,BA for example.
In another table called statuses we store the traduction of those codes:

OK --> GOOD
RE --> REGULAR
BA --> BAD

In QGIS, we use the field's edit widget tool (value relation option (we have the other data tables loade

[2015-05-27 10:12] rldhont commented on #155
Hi @jaitor1, which QGIS-Server version do you use ?

[2015-05-27 10:14] jaitor1 commented on #155
Hi @rldhont  QGIS 2.6.1 Brighton

[2015-05-29 13:03] jaitor1 opened #156 "Possibility to order repositories in projects website"
Which is the criteria being used to order the repositories in the projects website? It doesn't seem to follow any criteria..is it possible to order the repositories somehow?

[2015-05-30 15:12] subhasiskesh opened #157 "Not able to add marker on Map with Permalink"
I am not able to add marker on map by using permalink. Let me know how to do it for lizmap web client 2.11beta5. When permalink will be clicked, I should get the marker for the coordinate present in permalink URL.

[2015-05-30 15:18] rldhont commented on #157
Permalink is just a way to share a view to others. It is based on OpenLayers Permalink control.

The code does not add an anchor to the map.

[2015-05-30 15:19] rldhont commented on #156
The repositories order is based on the repositories id.

[2015-05-30 15:21] subhasiskesh commented on #157
Is there any way that we can use any trick for this? Like Locate by Layer feature or, externalSearch? or like http://stackoverflow.com/questions/4882611/openlayers-marker-appears-in-the-center-of-the-map . it would be helpful for any guidance

[2015-05-30 15:21] rldhont commented on #155
Can you test it with QGIS 2.8 ? I think this issue has been fixed in QGIS 2.8.

[2015-05-30 15:24] rldhont commented on #157
We have to make code and to enhance lizmap web client.

I f you have some knowlegde in JavaScript, you can propose some code through a pull-request.

[2015-05-30 15:25] subhasiskesh commented on #157
trying since last 48 hours.. not having that much experience in JavaScript as a GIS Professional.. If you have any suggestion please post.. I will post or will do pull-request if it will be done..

[2015-05-30 15:26] rldhont commented on #154
Lizmap does not use WFS for edition. Check in the Project Properties that the layer is publushed in WFS.

[2015-05-30 15:28] rldhont commented on #152
Attribute table is based on WFS. Did you test the WFS Service in QGIS to verifying that the layers are published ?

Did you take a look at the server logs ?

[2015-05-30 15:30] rldhont commented on #147
It is not a problem of capital field, it's a problem of reserved name. GEOMETRY is the name of a PostGIS class.

But it's a bug and it has to be fixed.

[2015-05-30 16:10] subhasiskesh commented on #157
on Lizmap 2.11beta5.. can it be possible to do externalSearch through any particular URL with address or, lat/lon through nominatim or, ign or, google..

[2015-05-31 18:16] subhasiskesh commented on #157
@rldhont any update on the same? Please update me if you find out any way..

[2015-06-01 08:42] acdmail opened #158 "On try to expand the group all the groups with similar names are expanded too"
hi,
If there are some groups on the map with similar names they are all expanded in case one of the groups is expanded.
Example:
let say we have the following struncture:
xyz
xxx
  -xyz
yyy

If I will try to expand the group xyz, the group xxx->xyz will be expanded too because of similar name

Thanks in advance

[2015-06-02 07:10] jaitor1 commented on #152
The layers are published, of course. In fact I can edit them using lizmap.
The logs in the admin website show nothing about this. The logs in lizmap\lizmap-web-client-master\lizmap\var\logs.db show nothing about this issue (this is where the logs shown in admin.php are being stored, I suppose).
The log files stored in lizmap\lizmap-web-client-master\lizmap\var\log (messages.log and error.log) have

[2015-06-02 07:14] jaitor1 commented on #154
Yes it is published in WFS:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7930332/c4888c84-0907-11e5-9bb1-1c390cd7aee5.png)

[2015-06-02 07:16] rldhont commented on #152
Edition in lizmap is not based on WFS. Can you test the WFS GetCapabilities in QGIS ?
You're on windows, and we don't know where the problem comes from. Can you take a look at this page http://gis.stackexchange.com/questions/43843/qgis-server-internal-server-error-os-109the-pipe-has-been-ended-mod-fcgid

[2015-06-02 07:18] rldhont commented on #154
Can you test the WFS GetCapabilities in QGIS ?

[2015-06-02 08:16] jaitor1 commented on #154
I suppose this is the result of the WFS getcapabilities. If you need any other test, please, let me know:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7931288/b73d2e56-090f-11e5-9922-fdfb4fcaa7c5.png)

If I insert http://localhost/qgis/qgis_mapserv.fcgi.exe?&SERVICE=WFS&REQUEST=GetCapabilities in a browser I get a XML with the same layers.

[2015-06-02 08:19] jaitor1 commented on #156
Perfect, thanks!!!!

[2015-06-02 08:19] #156 closed

[2015-06-02 08:26] jaitor1 commented on #152
I do not have the error of the issue. My WFS GetCapabilities is working ok:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7931288/b73d2e56-090f-11e5-9922-fdfb4fcaa7c5.png)

If I insert http://localhost/qgis/qgis_mapserv.fcgi.exe?&SERVICE=WFS&REQUEST=GetCapabilities in a browser I get a XML with the same layers.

[2015-06-02 08:28] rldhont commented on #154
QGIS-Server get an extra parameter which is map. This parameter has to be a path to a QGIS project. Can you test the URL with a map parameter ?

But I think that Locate by Layer does not work because the name of your layers has parenthesis. I suggest to you to set name without parenthesis, space and accent. Use the title properties for complex name.

[2015-06-02 08:29] rldhont commented on #152
QGIS-Server get an extra parameter which is map. This parameter has to be a path to a QGIS project. Can you test the URL with a map parameter ?

But I think that Attribute Table does not work because the name of your layers has parenthesis. I suggest to you to set name without parenthesis, space and accent. Use the title properties for complex name.

[2015-06-02 11:07] jaitor1 commented on #155
I updated to QGIS 2.8.2 Wien and the issue still remains:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7934487/45f07faa-0928-11e5-9abe-283a8dcb70f2.png)

[2015-06-02 11:53] jaitor1 commented on #152
Yes, If no map specified, QGIS searches for .qgs files in the directory where the server executable is located. In my case if I add the map parameter I get the exact same XML.
http://localhost/qgis/qgis_mapserv.fcgi.exe?&SERVICE=WFS&REQUEST=GetCapabilities&MAP=portales_estadistica/getxo_portales_estadistica.qgs

I changed the name of all the layers to an easy (no spaces, no parenthesis) format, an

[2015-06-02 12:07] rldhont commented on #155
OKI, it means it's a feature to develop.

The trick is to use a DB and to create field with the label published in WMS

[2015-06-03 10:26] jaitor1 opened #159 "Deleting a feature not working"
I select a feature and once it is selected I can edit the geometry of the feature, but I can't delete a feature...

Reading the user guide I read the sentence "If you want to remove the object you selected, you must click Del." I thought i had to press "Del" key in my keyboard as I had no Deletion button in my screen. Later, I discovered that in Spanish, the left menu buttons' text are quite long

[2015-06-03 10:32] jaitor1 opened #160 "Add a panel for edition tools."
I really think that adding a panel for editing elements (insert new elements, delete, move, edit..) should be the next big move on lizmap. Something like:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/7958088/6dbd1b78-09ec-11e5-9336-5781fcad826c.png)

buttons taken from :
https://www.scribblemaps.com/create/#lat=43.34480718693234&lng=-3.010179339599631&z=18&t=hybrid

Another m

[2015-06-03 12:24] laurentj commented on #110
The plugin is here (embedded into a module) : https://github.com/jelix/ldapdao-module

If you have some difficulties to configure it, ask your questions and so I could improve the documentation.

[2015-06-05 09:47] jonnyforestGIS opened #161 "Default Repositories don't load data montepelier project"
Description of the issue:
When open the montepelier repositories the webpage stays with loading data splash and the background shows the panels and in the map view "SHOW SERVICE NON DISPONIBLE".

Error Log from Apache Server in paste.org:
http://goo.gl/fXORFn

Point to nonexistent .js files of jquery-ui-1.10.3.custom.min.js, the lizmap/www/js  have the jquery-ui-1.11.2.custom.min.js

Regards
João

[2015-06-08 09:54] jonnyforestGIS commented on #161
UPDATE:
Problem solve.
I change the dir of fcgi.exe to qgis path in php file \lizmap\var\config\lizmapConfig.ini.php and works

[2015-06-08 09:54] #161 closed

[2015-06-08 09:56] rldhont commented on #161
You can do it in the admin interface.

[2015-06-09 06:49] GitMorin opened #162 "Easier popup in mobile"
I am looking for an imporovement to get up the pop-up when you use lizmap in smartphones. It is hard to get up the pop-up for points and lines, it would be great if there was some kind of buffer around points and lines so ones dont need to be so precise where to press on the screen.

[2015-06-09 07:06] jaitor1 commented on #162
+1.

Not only in mobile phones, in computers sometimes it gets hard to select one item too...

[2015-06-09 14:53] c0debum opened #163 "Password recovery"
Hi,

I successfully install the web client and decided to change the Admin account password, right after I attempted to log back in and I was not able to do so... So my question is, where can I change the password in the background? or, is there a way of escalating lizadmin account so it can become the new Admin?

[2015-06-10 07:01] jaitor1 commented on #154
With the map parameter I get the exact same result.

I simplified the names of the layers and used Title property in lizmap plugin for complex naming but the result is the same, nothing is shown in my combobox

[2015-06-10 07:21] jaitor1 opened #164 "HTML code in fields value"
Hi,

I have a field wich is a link to a PDF. It works OK. These are the steps I followed:

I create a new virtual field:

![sin titulo1](https://cloud.githubusercontent.com/assets/12136796/8076834/c00eed34-0f50-11e5-88bb-911882cfd0dc.png)

In the field's Edit Widget I select "File Name":

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/8076903/4e653d86-0f51-11e5-8877-15ea88bee59f

[2015-06-11 12:39] 3liz commented on #164
Hi,

You can do this 2 ways:

* configure a "Tooltip" for the vector layer ( in the vector layer properties dialog, tab tooltip ) : this way, you should be able to use the tooltip map tool in QGIS to preview the result.  Then, Lizmap will use this configuration to display the popup (instead of the default table)

* configure the "advanced" popup in Lizmap, as described here : http://docs.3liz.com/

[2015-06-11 13:30] geoek commented on #154
I identified the same behaviour and i have observe this :
- if you rename your layer in qgis, it may cause this problem (even without space or special character... strange...).
- to change the name of the layer, use the field 'Title' of Metadata area (in Lizmap plugin, or in Server OWS).

That's all and sorry for my english ;)

[2015-06-12 11:57] kali06 commented on #115
J'ai la version 2.6,

je pense que le problème est résolu, j'avais le nomd es couches en majuscules,

j'ai renommer mes couches avec un nom en minuscule,

par renommer, j'entends renommer le nom des fichiers shape,

ensuite dans le plugin lizmap sous qgis j'ai laissé le même nom que le nom de ma couche,

du coup cela fonctionne parfaitement,

[2015-06-12 14:52] kali06 commented on #145
Pour détailler ce problème récurent,

la disparition des couches se passent au bout d'un certain nombre de connexions successives sur la même application,
le nom de mes couches utilisées par les applications sont toutes en majuscules et propre à l'application,
Pour configurer mon serveur, j'ai suivit le guide d'installation linux dispoible sur votre site,
est-ce que ce problème provientd es config

[2015-06-12 14:54] kali06 commented on #144
Bien reçu,

Merci beaucoup,

j'irais voir,

mais si vous avez des billes,

je suis preneur ;)

[2015-06-20 18:07] gioman opened #165 "Make Lizmap cope with recent GetPrint legend fix in QGIS server"
Hi there guys,
thanks for the fix

https://github.com/qgis/QGIS/commit/7c735213ca54371f10881856ebac767dbcc878c4

in qgis server, that was hurting a lot.

There is one thing that anyway should be fixed in Lizmap: right now in Lizmap (2.11 at least) when printing the GetPrint parameters

&map0:LAYERS=

and

&LAYERS=

are passed the *same* list of layers, the ones are active in the table of contents

[2015-06-20 18:13] gioman commented on #165
Example: say you have a project with 3 layers A,B,C,D,E... and the legend has only A and B, is set to map=none, auto update OFF and filter OFF. If you try to print and by chance you have A and B active, then it will work, if you don't have A and B active, then printing will hang. This because &LAYERS= must be "&LAYERS=A,B ", where of course "&map0:LAYERS=" can have any list of layers in the projec

[2015-06-20 18:40] gioman opened #166 "Attribute table functionality stopped to work (using qgis server master)"
If using Lizmap 2.11 and QGIS server master the "attribute table" functionality stopped to work. You can test easily with the Lizmap demo projects. I filed the ticket here but I'm unsure if is a QGIS server or something that need to be updated in Lizmap. If is a QGIS server issue please close this. Cheers!

[2015-06-21 16:03] #164 closed

[2015-06-21 20:10] gioman opened #167 "Locate by layer stopped to work on point layers, using Lizmap 2.11 and qgis master"
Does not happen if using qgis server 2.8.2, but it does when using the latest master. It also works ok if using polygons (lines not tested).

For what it can matter the GetFeature request with filter seems to work.

[2015-06-22 18:38] jancelin opened #168 "v3 don't load map"
my error.log

2015-06-22 20:34:31	127.0.0.1	notice	2015-06-22 20:34:31	[8]	Undefined variable: propertiesOptions	/var/www/websig/lizmap/modules/admin/controllers/config.classic.php	591

2015-06-22 20:34:31	127.0.0.1	notice	2015-06-22 20:34:31	[8]	Undefined variable: propertiesOptions	/var/www/websig/lizmap/modules/admin/controllers/config.classic.php	597

2015-06-22 20:34:38	127.0.0.1	notice	2015-

[2015-06-22 18:39] jancelin commented on #168
in debug console:

Failed to load resource: the server responded with a status of 400 (Bad Request)
http://localhost/websig/lizmap/www/index.php/view/media/illustration?project=inventaire_gps Failed to load resource: the server responded with a status of 500 (Internal Server Error)
localhost/:21 Uncaught ReferenceError: Proj4js is not defined
http://localhost/websig/lizmap/www/index.php/view/media

[2015-06-22 18:42] jancelin commented on #168
and in install:

after cp file:
cd lizmap/var/config
cp lizmapConfig.ini.php.dist lizmapConfig.ini.php
cp localconfig.ini.php.dist localconfig.ini.php
cp profiles.ini.php.dist profiles.ini.php
cd ../../..
in https://github.com/3liz/lizmap-web-client/blob/master/INSTALL.md

I do a:
lizmap/install/set_rights.sh www-data www-data
otherwise It's impossible to save new folder in admin.php

[2015-06-24 13:45] rldhont commented on #165
I'm not sure to understand your request.

The LAYERS parameter has to list all the layers will be used in the mapComposerss. For exemple if you have to maps map0 and map1 (the overview), the layers parameter will be the concatenation of map0:layers  and map1:layers.

Before my fix, legendComposers was linked to LAYERS because they reused the ones in maps. legendComposers with map=none are free of

[2015-06-24 13:48] gioman commented on #165
Hi again @rldhont let me check it, I may have overlooked something. Cheers!

[2015-06-24 15:08] antoine373 opened #169 "impressions fond de carte issu d'un projet parent"
Bonjour,

Pour centraliser le cache, le fond de carte que j'utilise est issu d'un seul projet. Tous les autres projets sont donc des projets fils en ce qui concerne le fond de carte. Le problème c'est que lors de l'utilisation du module impression dans ces projets fils, le fond de carte n'est pas exporté.

Est-ce "normal", ou bien y a-t-il un volet de la configuration qui m'échappe ?....

[2015-06-29 11:21] jaitor1 commented on #150
I made some more tests and I'll answer your questions:

Which version is concerned ? 2.11 Beta 5
Does the form is complex or not ? Not complex.
Did you observe this for one layer or multiple layers? In multiple layers.
Does this issue concern only point ? Teste with a linestring layer and happened too.

The layers are postgis layers.
I tried with maps in other repos and happens the same.
I am usin

[2015-06-29 12:16] rldhont commented on #150
Can you test with the stable version 2.11.0 ? Thanks

[2015-06-29 14:16] jaitor1 commented on #154
You are right geoek.

[2015-06-29 15:20] geoek commented on #154
Thanks !
So, I think it is a bug that appears when the "rename Layer" fonction of Qgis is used. Perhaps it will be corriged in a next version of Lizmap.

[2015-06-29 15:38] rldhont commented on #154
Hi @geoek and @jaitor1,

If I well understand your comments, it's probably a 3liz/lizmap-plugin issue. Can you open an issue in this project ?

[2015-06-30 08:16] geoek opened #170 "Centraliser le cache via l’intégration de groupes et couches d’un projet parent"
Bonjour à tous,
J'essaie d'utiliser cette fonction pour mettre dans un projet parents toutes les couches "lourdes" que j'utilise et centraliser ainsi les tuiles. J'ai respecté les consignes de la doc (même emprise, même paramètres de cache...), mais mes couches n'apparaissent pas dans mon projet fils.

Une idée ? Si certains ont réussi à utiliser cette fonction, je veux bien leur retour.

Merci d'

[2015-06-30 09:17] gioman commented on #165
Hi @rldhont forget about "&map0:LAYERS=" in my description, I had got it wrong and that lead me to not understanding correctly the issue. Regardless of that  I still see a problem when using a "map=none" in the legend of a print layout together with qgis server master (or 2.10 now). See this two services

http://193.136.216.94/lm211_tests/lizmap/www/index.php/view/

http://193.136.217.85/lm211_tes

[2015-06-30 12:22] rldhont commented on #165
Did you test the request directly in QGIS-Server ?

In my environment, I don't have this issue. I think it can be a timeout issue.

[2015-06-30 12:52] nboisteault opened #171 "Minify of JS makes master not working"
I had trouble to make master working.
I found no documentation for the new way to install lizmap but maybe it is because it is master...

First I launched /lizmap/install/installer.php a got an error message.
I renamed lizmapConfig.ini.php.dist  => lizmapConfig.ini.php
and profiles.ini.php.dist => profiles.ini.php
Then I add a javascript error : "Uncaught ReferenceError: Invalid left-hand side exp

[2015-06-30 12:57] mdouchin commented on #171
Lizmap 3 is in heavy development right now, and we have not completed the documentation.
Concerning minify, you should not have this problem, since jquery-ui is in the list of minifyExcludeJS = JS files which must not be minified.
https://github.com/3liz/lizmap-web-client/blob/master/lizmap/var/config/mainconfig.ini.php#L41

[2015-06-30 12:58] mdouchin commented on #171
Do you have a ~ in the complete web url to your lizmap instance ?

[2015-06-30 13:05] nboisteault commented on #171
Here it is : http://www.observatoire-environnement.org/lizmap-web-client-master/lizmap/www/
I put minifyJS=1 so you can look the error.

[2015-06-30 13:22] mdouchin commented on #171
Thanks
Problem is the basepath, see http://docs.jelix.org/fr/manuel-1.6/vues/vue-html#compression-des-fichiers-css-et-javascript
In the mainConfig, could you test if you delete all the / before the minifyExcludeJS , like this:

[code]

[2015-06-30 13:31] nboisteault commented on #171
Perfect it works now! Thanks.

[2015-06-30 15:54] gioman commented on #165
@rldhont yes, it hangs also when requesting directly, see

http://193.136.217.85/cgi-bin/qgis_mapserv.fcgi?map=/var/www/html/lm211_tests_master/lizmap/install/qgis/prj290.qgs&service=WMS&VERSION=1.3&REQUEST=GetPrint&FORMAT=pdf&EXCEPTIONS=application/vnd.ogc.se_inimage&TRANSPARENT=true&SRS=EPSG:3763&DPI=300&TEMPLATE=test_layout_legend_map_none&map0:extent=-239795.308000505,-389632.89329657354,13271

[2015-07-01 12:16] gioman commented on #165
This should be closed, is not a LM problem it should be a qgis server one ( @rldhont I see the hang problem on getprint and map=none on any qgis server master/2.10 I have tested so far)  , see also https://github.com/qgis/QGIS/commit/7c735213ca54371f10881856ebac767dbcc878c4#commitcomment-11781046

[2015-07-01 12:19] rldhont commented on #165
I don't have this issue with my own QGIS-Server.

[2015-07-01 13:43] nboisteault commented on #171
Is it a good idea to test master now or is it too soon?

[2015-07-01 14:55] gioman commented on #165
@rldhont desperate to troubleshoot I have tested on qgis server on Windows (yikes) and as a matter of fact it works (but the request has to be done twice because the first time it crashes, only happens when map=none). Now I just need to understand why on Ubuntu server does not. Ideas?

[2015-07-01 14:55] #165 closed

[2015-07-01 15:04] rldhont commented on #171
It's a good idea to test now.

[2015-07-02 08:14] nboisteault commented on #171
I've tested master on an old project working with lizmap 2.11.
Minify.php is not working with css neither javascript. I have to disable it to make the viewer work.
I can enable it and show you the bug if you want.

[2015-07-02 09:57] nboisteault opened #172 "Is there a way to edit layers without geometry?"
I'm using postgis layers without geometry and I'd like to edit their values.
Is it possible?

[2015-07-02 10:09] nboisteault opened #173 "Relational values and multiple selections"
In QGIS I've an attribute which is a relational value permitting mutiple values.
But in the master web client the resulting form widget is a combobox that permits a single value not multiple ones.

[2015-07-02 13:40] nboisteault commented on #173
I'm trying to develop this functionality and I'll commit it.
Is it ok if I replace jFormsControlMenulist by jFormsControlListbox. I can't see a way to have one or the other based on 'allowMulti' parameter.

[2015-07-03 09:41] jaitor1 opened #174 "Enhancement: Possibility to hide empty fields in lizmap popup"
I think it would be great to have a possibility to hide empty fields in lizmap popup:

![sin titulo](https://cloud.githubusercontent.com/assets/12136796/8496685/68679070-2177-11e5-87c0-73f65e801085.png)

I think it can be added a new checkbox in lizmap plugin for QGIS for every layer to activate this behaviour. Illustration with Windows Paint:

![sin titulo](https://cloud.githubusercontent.com/ass

[2015-07-03 12:52] jaitor1 opened #175 "Adding files/images for features in lizmap"
Hi,

I would like to be able to save a photo for a feature in the map.

I guessed I had to configure the FTP tab in lizmap-plugin. I did it.

Then in QGIS, in the chosen field I selected "File name" widget that should add a file chooser dialog. in lizmap a started the edition on the layer, I selected the feature, I clicked on modify and in the form the comboboxes and checkboxes are working ok but

[2015-07-03 13:12] jaitor1 commented on #150
Tested in 2.11.0 Stable right now, with same results.

[2015-07-04 07:16] mdouchin commented on #175
Hi
You do not need to configure and use the FTP tab of lizmap plugin. It is always better to use your prefered FTP client (FileZilla or FireFTP, etc.).
The support for sending Photos and Files has been added in the "master" and will be available in future Lizmap Web Client 3 (soon to come !). It is not yet possible with Lizmap 2.10

[2015-07-09 11:39] nboisteault commented on #173
I thought about it and I now think that listbox which results in a select multiple control is not a good choice because users have to ctrl + click to check/uncheck items which is really not intuitive.
So I see two solutions :
* to make listbox selectable with one click with http://silviomoreto.github.io/bootstrap-select/
* to use jelix checkboxes

Thoughts?

[2015-07-09 11:44] mdouchin commented on #173
Hi
Thanks for looking at this.
I would prefer to use Jelix checkboxes and not rely on a bootstrap plugin, to keep things lightweight

[2015-07-09 11:46] jaitor1 opened #176 "Lizmap access logs: IP not stored"
At least in my case, the IP column is always empty.

![image](https://cloud.githubusercontent.com/assets/12136796/8594388/7b028f0a-2640-11e5-80af-031ad2e0df51.png)

We would like to know the IP so that, later, we can calculate volume of acceses to lizmap by country (using a geoip tool).

Tested in 2.11 stable.

[2015-07-09 11:51] mdouchin commented on #176
You can configure the log by manually editing the file lizmap/var/config/lizmapLogConfig.ini.php

[2015-07-09 12:31] jaitor1 commented on #176
Thanks!

[2015-07-09 12:31] #176 closed

[2015-07-10 06:32] pieri70 opened #177 "Parent/child project odd behaviour - LWC 2.11"
Dear 3Liz team
We are starting to use lizmap in our organization
http://lizmap.arpa.fvg.it/
I'm working on an european project (ecosea) that collect lots of data/many layers so I thought to split them in many parent/child qgis project following this guide:

http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#centralizing-the-cache-with-the-integration-of-groups-and-layers-from-a-ma

[2015-07-10 07:46] mdouchin commented on #177
Hi,

You really need to check these kind of things with very simple projects (parents and child)
My first concern is about the parent project, working once, but then not working any more just because you added a layer and reconfigure it.
You should not focus on the child projects (they won't work if parent project does not), but first on the problem with the modified parent project.

You need to c

[2015-07-10 07:48] pieri70 commented on #177
Ok, I'll make some other test, as you suggested, and report back.
Thanks
Pietro

[2015-07-10 09:22] jaitor1 opened #179 "Adding a new language"
Hi,

I need to add the Basque language (Language of the Basque Country, North of Spain) to lizmap client interface so that later can be accesible through "lang=eu_ES" parameter. I translated myself the five UTF-8.properties files from Spanish to Basque and inserted them in a new eu_ES file in lizmap\modules\view\locales.

Then I added "&lang=eu_ES" to my map's url but nothing happened, no translat

[2015-07-10 11:00] jaitor1 commented on #179
Error solved, although I don't really know how. I think cleaning the temp file helped.

I din't make the new transaltion work properly yet.

[2015-07-10 11:10] jaitor1 opened #180 "Enhancement: possibility to insert in lizmap plugin the Title of the project, title of each layer and the aliases of the fields in different languages"
Hi,

Lizmap's language is automatically set getting the language from the browser's config.

It can be changed by hand adding "&lang=en_US" parameter.

The thing is that only the text related to lizmap's interface is translated. The Title of the project, the title of each layer and the fields' aliases are still dispalyed in the language that were inserted in QGIS (only one).

I think it would be a

[2015-07-14 09:02] jaitor1 commented on #179
Any hint on how to add a new language to lizmap client?

[2015-07-14 10:24] jaitor1 commented on #179
Ok i finally got it working. There was an error in one of the .ini.properties and i changed the key name of one entry when transalting it to basque. I left the eu_ES folder in the link below so that someone can add it to lizmap project as I don't know how to do that. This folder should go in lizmap\modules\view\locales.

https://www.dropbox.com/s/o9bqp7lf3exvsn2/eu_ES.rar?dl=0

[2015-07-14 10:50] jaitor1 commented on #179
One note:

el_EL language in lizmap (greek i guess) should be el_GR, to meet the ISO standards: https://msdn.microsoft.com/en-us/library/ee825488%28v=cs.20%29.aspx

[2015-07-14 11:47] jaitor1 commented on #179
I can see the maps in the correct interface language now but when i click on "Connect" button in my new language, the "Error 500. A technical error has occured. Sorry for this trouble" error appears.

So i think i need to edit something else....

[2015-07-15 14:49] rldhont commented on #179
You have to localize:
* modules/admin
* var/overloads/jacl2db_admin
* var/overloads/jauth
* var/overloads/jauthdb_admin
* var/overloads/jelix
* var/overloads/master_admin

[2015-07-15 15:07] nboisteault opened #182 "GeoJSON doesn't handle line break properly"
Version : master
I'm testing attribute tables with data that have multiline so there are line breaks in it.
GetFeature requests don't send correct GeoJson. Line breaks should be replaces by `\\n` if I'm correct.

After some research, I can see that it is a QGIS issue. I opened this [ticket](http://hub.qgis.org/issues/13118)

[2015-07-16 07:06] jaitor1 commented on #179
Thanks again!

[2015-07-16 07:06] #179 closed

[2015-07-21 08:39] fling- opened #183 "Lizmap is too slow."
It takes minutes to load the map.
Sometimes it is not loading at all.
I'm running jancelin/docker-lizmap with this project http://be.gis-lab.info/data/osmshp/latest/RU-ALT.7z
from http://beryllium.gis-lab.info/project/osmshp/region/RU-ALT

[2015-07-21 09:21] jaitor1 commented on #183
In my case I always click "Single Tile" in the config of lizmap plugin for every layer...and image format png8bit.

Hope it helps.

[2015-07-21 10:34] fling- commented on #183
With "Single Tile" option the map loads faster but UI becomes really slow.

[2015-07-21 11:46] mdouchin commented on #183
Lizmap is just a proxy between the web browser and QGIS Server.
I opened the project qgis-mapnik.qgs, and it is pretty simple with light data. You should not have any problem with it

If you cannot load data fast enough, you really first have a look at your server configuration and properties:
* CPU number and speed, RAM involved, disk speed
* Apache configuration

You could also create Spatial in

[2015-07-21 11:54] mdouchin commented on #183
I just tried the project in Lizmap in my laptop (localhost server), and it works pretty well here.
Laptop : 4 CPU @ 2.5Ghz - 4Go RAM  ( So this is a light "server" ).

[2015-07-23 09:27] pieri70 commented on #177
So we made some other test
after having some headaches we found that the only way to make parent/child working again was to re upload and overwrite those shp files that were newly added.
There is a kind of lock on these files..
Any solution??
Thanks
Pietro

[2015-07-23 12:46] veroniqueC opened #184 "Limitation de l'outil locatebylayer?"
Bonjour,

Notre collectivité souhaite basculer son serveur WMS vers la solution lizmap + qgis server. Je compare donc les fonctionnalités de chaque solution.

Lizmap convient pour le moment parfaitement à nos attentes exceptés l'outil locatebylayer.

Cet outil est-il limité en terme de poids de la couche utilisé? En effet nous avons un cadastre de 60 000 lignes et impossible de l’utiliser dans cet

[2015-07-23 12:56] veroniqueC commented on #170
Bonjour,

Avez-vous bien charger les couches du projet parent dans qgis via Couche/Integrer des couches et des groupes?

[2015-07-23 13:02] veroniqueC commented on #139
Dans ce cas, y'a t-il moyen de détourner le problème? Comment permettre a l'utilisateur de zoomer sur une parcelle cadastrale même via une requête SQL?

PS: dslée pour mon dernier post, je n'avais pas vu cette discussion

[2015-07-23 13:53] veroniqueC opened #185 "SQL/attribute search"
Have possibility to search in layer table attribute and zoom on selection

[2015-07-23 16:56] JogicPogic opened #186 "Error: Data table display error"
My map has 3 layers from PostgreSQL tables.
Table 1 contains dozens of records.
Table 2 contains hundreds of records.
Table 3 contains thousands of records (about 40K).

When i click the button "Detail" to output data from table 3 or table 2, nothing appears.
I found out, that browser receives broken JSON-data from server. See screenshot below.
Is it possible to add pagination on Data tab and load

[2015-07-23 17:18] JogicPogic commented on #166
It's similar to my case #186

[2015-07-23 17:25] JogicPogic commented on #167
This is a problem with a large amount of data.
It is necessary to make dynamic data loading from the server.

[2015-07-27 06:36] jancelin opened #187 "create a point with gps position #enhancement"
is it possible to create a point with the GPS position?

[2015-07-28 12:47] jaitor1 opened #188 "Enhancemenet: When editing a layer, don't show element selection window if there is only one element"
If there is only one element to be selected, there is no point in showing the window of element selection and having to click on select..especially if you need to edit 6000 elements in the street...

If there is more than one element in de BBOX where you clicked it's ok.

Example with only one possibility to select:

![image](https://cloud.githubusercontent.com/assets/12136796/8931530/4d97f6bc-353

[2015-07-28 12:59] nboisteault commented on #188
+1

[2015-08-05 14:18] nboisteault opened #189 "Background layer is shown in legend in print mode."
Lizmap 2.11
I've created a map with an osm-mapnik background layer which is in an hidden directory as described in documentation.
When I print my composer in lizmap the background is visible but its name and group's name are also visible in the legend part.
![bug impression](https://cloud.githubusercontent.com/assets/2145040/9087963/018fa726-3b8e-11e5-9ebb-b80808045cb4.jpg)

[2015-08-05 15:20] valeriodeluca commented on #175
I look forward lizmap 3 for online photo editing, if I can help with the development or testing I'm happy to do it ciao

[2015-08-13 08:28] GitMorin opened #190 "Project wont load, arbitrary behaviour"
EDIT:

This problem seem to be a encoding problem of some kind. As far as I know all is running on UTF-8, its not clear to me what causes the problem.

I am using Lizmap 2.11

My project sometimes seem to stop working for reason I would like to find out.
I set up a simple project with just one layer, a multiline vector layer, without any fuzz (no pop-up nothing). Open my project and the loading pr

[2015-08-17 03:34] fling- commented on #183
@mdouchin can you please try running jancelin/docker-lizmap with this project?

[2015-08-17 16:28] gioman commented on #183
I have also tested your project in a ubuntu server virtual machine with very limited resources allocated (512mb of ram) and it works with no speed issues at all.

[2015-08-19 03:42] fling- commented on #183
@gioman Can you please upload the vm running this project without issues?
I'm fighting with the project + lizmap for months by now not being able to make it anyhow useable/fast enough.

[2015-08-19 08:02] kali06 commented on #183
Bonjour, j'ai le même problème de lenteur,

j'utilise lizmap web-client 2.10.2 + qgis server 2.6 + OS linux debian

je souhaiterais savoir comment améliorer la vitesse d'affichage de mes couches sachant que toutes mes couches sont non tuilées + durée cache client au max + serveur 8 Go RAM + Intel xeon

Cependant, je trouve que les applications prennent du temps à se charger, de même que quand je z

[2015-08-19 16:33] gioman commented on #183
@fling- not sure I will be able to do a big upload in the next days, but will try.

[2015-08-21 07:23] pcav opened #191 "Print scale not displayed correctly"
Defining several scales results in a list for printing which is slightly different (rounded, e.g. 18000 instead of 18.056). When printing, the correct scale (18.056) is used.
See e.g. http://webgis.provincia.belluno.it/index.php/view/map/?repository=mappe&project=protciv
An annoyance, not a serious issue.

[2015-08-21 07:26] pcav commented on #191
@umbiz

[2015-08-21 07:28] pcav commented on #191
Same for the scale displayed at bottom right.

[2015-08-21 07:32] pcav commented on #109
In addition, if an empty baselayer is added as first, another baselayer is displayed. To show the empty one one must select that one, then switch back to the empty baselayer,

[2015-08-21 07:32] pcav commented on #109
@umbiz

[2015-08-21 12:15] gioman commented on #183
@fling- please provide a mail address where I can send the download link.

[2015-08-24 13:52] jaitor1 commented on #189
Can you explain me how did you manage to print the osm-mapnik?

I am trying to do the same with google-street base layer but after 2 hours I am not capable of making it work. I added a layer called google-street as mentioned in the documentation. I created a group named "hidden" as mentioned in documentation (what I could understand in French doc).

But the base layer is not displayed in the print

[2015-08-24 13:58] rldhont commented on #189
Hi @jaitor1,

Here is the english documentation: http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#allow-printing-of-external-baselayers

Don't use "OpenLayers Plugin" for this feature and you can print Google if you have paid the licence.

[2015-08-25 07:33] jaitor1 commented on #189
Hi @rldhont ,

I think I am not understanding very well how this feature works.

As mentioned in http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#hide-layers I created the xml file and added  to my QGIS project as a new raster layer. I use osm-mapnik because it is free, Google layer's would need me to pay to be able to use it as you said.

I renamed the layer as osm-mapnik and a

[2015-08-25 07:48] rldhont commented on #189
Hi @jaitor1, thanks for your reply which help me to understand your need.

If you want to replace *Google* base layer by *OSM* in your print renames the layer *osm-mapnik* by *google-street*. To print a base layer based on an external web service, you have to put a layer in the QGIS project with the layer name used in OpenLayers. For example, to print OpenStreetMap you have to put a layer osm-mapn

[2015-08-25 08:45] jaitor1 commented on #189
Hi @rldhont , the layer added in the QGIS project needs to be a raster image or can, for example, be a new empty SHP?
So the raster (xml) layer I have used is not valid to be able to print osm-mapnik later?

Is the rest of configuration, ok?

I think it is not an issue because @nboisteault managed to print the osm-mapnik as you can read in the first post of this issue. I must have something wrong

[2015-08-26 07:05] jaitor1 opened #192 "Collapsed group after map loads"
Hi,

I have several groups in one particular map and I would like all of them to load collapsed. Is there way to do so?

If not, it would be a nice enhancement...( a new "Collapsed" checkbox in lizmap plugin just for groups)

[2015-08-27 07:09] ninsbl opened #193 "Time manager not working for point layers in lizmap 2.10/2.11/master"
The time manager does not seem to work any more. I tried it on my local QGIS Server (QGIS 2.8 and 2.10) with Lizmap Web Client 2.10. Even with a very simple point layer wiuth ~640 points (regardless if from shape or PostGIS, if datetime or integer field was used). Also aggregation had no influence.

My maps do load nicely in Lizmap, but when I activate the Time Manager it does not go beyond “Loadi

[2015-08-27 07:15] ninsbl commented on #193
Polygon layers do work: http://demo.lizmap.3liz.com/index.php/view/map/?repository=rep6&project=population_region_serie_temporelle#

[2015-08-27 07:27] ninsbl commented on #193
Probably related to #166 , #167 , and #186

[2015-08-27 08:06] gioman commented on #193
There is anyway a demo that works with points

http://demo.lizmap.3liz.com/index.php/view/map/?repository=rep6&project=tractor

I have not tested lately but I remember clearly that I have been able to use this functionality in the past.

[2015-08-27 08:31] ninsbl commented on #193
OK, that means the issue is not necessarily related to the geometry type then...
So, what is the difference between the tree demo (not working) and the tractor demo (working)?

[2015-08-27 09:55] jaitor1 opened #194 "Enhancement: Add Tool to filter layer's data"
It would be great to have a tool to filter the data of a layer. For example adding some comboboxes at the top in the layer's attribute table. Each combobox would have the different values for each of the attributes so you can select one.

For example, I've got a layer with car accidents geolocated. Users ask me if they can filter the layer by the car accidents happened on a specific year and accid

[2015-09-02 11:08] Csantos11 opened #195 "Error editing"
Hello i'm new to this so i don´t know if this is a common error or if i just need to set the parameters of the database in order to be able to modify the attribute of a specific layer.
I can add features with no problems, but this error appears when i try the modify the layer.
First i thought the problem was the geometry, so i changed it from multipolygon to polygon, but nothing happens.
Can anyon

[2015-09-02 13:14] nboisteault commented on #195
The message is saying that it doesn't know the SRID of your data. Did you define it?

[2015-09-02 14:06] nboisteault commented on #189
As far as i understand, the only way to hide the background layer in the legend is to disable the automatic update and then disable the layer in QGIS print composer but you lose the benefit of automatic update...
Maybe it should be added in QGIS a way to define a base layer which would not be visible in legend.

[2015-09-02 17:54] rldhont commented on #191
Hi @pcav, Do you think we have to display the complete scale instead of the rounded one ?

[2015-09-02 17:57] pcav commented on #191
I think having an incorrect scale is confusing and misleading, so yes

[2015-09-02 17:58] rldhont commented on #189
@jaitor1 The layer to replace external bacelayer is what you want: vector or raster.
The raster (xml) layer you have used is valid for osm-mapnik, if the user choose OpenStreetMap as baselayer in the web UI.

[2015-09-02 17:59] rldhont commented on #189
@nboisteault In the QGIS print composer you have to:
* disable the automatic update
* remove the baselayer from the legend
* activate filter

[2015-09-02 18:08] rldhont commented on #183
@kali06 Vous pouvez modifier ces fichiers de configuration. Si vous avez une solution merci d'en faire profiter les autres utilisateurs.

[2015-09-02 18:10] rldhont commented on #183
@jancelin can you test the @fling- data ?

[2015-09-02 18:15] rldhont commented on #177
Hi @pieri70, did you test QGIS-Server without lizmap ? The issue you describe is probably a QGIS-Server one.

[2015-09-02 18:17] rldhont commented on #175
Hi @valeriodeluca, you can test the master and propose some code. Your help is welcome.

[2015-09-02 18:19] rldhont commented on #173
Hi @nboisteault, I have merged your code. Can you close this issue ?

[2015-09-02 18:20] rldhont commented on #172
It will probably be possible in the 3.0 release. Can you test it and add comment here.

[2015-09-02 18:23] rldhont commented on #170
Bonjour,

La documentation est-elle trop peu précise ?
http://docs.3liz.com/fr/publisher_guide/advanced_lizmap_config.html#centralizing-the-cache-with-the-integration-of-groups-and-layers-from-a-master-project
Y-a-t-il des points à préciser ?

[2015-09-02 18:24] rldhont commented on #169
Bonjour,

Tout d'abord, sous QGIS les couches parentes sont-elles imprimées ?

[2015-09-02 18:32] rldhont commented on #109
Hi @pcav, does the commit 5a2a41ad8726a9a82bbc0cbca3dc0dfaf1cfd058 helps for empty baselayer ?

[2015-09-03 06:57] jancelin commented on #183
I have no problem with this datasets under "docker-lizmap-2.11".

look permalink:
http://demo.sig.inra.fr/websig/lizmap/www/index.php/view/map/?repository=agrof&project=osm_shp&zoom=1&lat=6929924.83089&lon=9285272.61239&layers=BTTTTT

[2015-09-03 07:13] rldhont commented on #183
Hi @jancelin, thanks for your test.

@fling- it's seems there is no speed problem with "docker-lizmap-2.11" and with your data.

[2015-09-03 09:28] Csantos11 commented on #195
I imported the shapefile to a PostGIS database using shp2psql, so no.
But i did set the coordinate system when i added the data to QGIS, but i see that is not enough, and for that matter i will try to add SRID.
 Thank you

[2015-09-03 09:35] antoine373 commented on #169
Bonjour,

Tout d'abord merci pour la réponse.
Oui les couches parentes sont bien imprimées sous qgis.

Bon j'ai refait plein de test ce matin, et il finalement il s'avère que l'impression de données issues d'un projet parent fonctionne mais de façon TRES aléatoire :
- J'ai un projet parent qui centralise de nombreuses couches, et aucune d'entres elles ne sont imprimables via les projets fils.
- En

[2015-09-03 09:48] valeriodeluca commented on #175
ok I do

On Wed, Sep 2, 2015 at 8:17 PM, rldhont <notifications@github.com> wrote:

[2015-09-03 09:51] valeriodeluca commented on #175
Sorry I'm a little mule, but I don't find the master, have you a link? tks
cheers

On Thu, Sep 3, 2015 at 11:48 AM, Valerio De Luca <deluca.valerio@gmail.com>
wrote:

[2015-09-03 12:01] umbiz commented on #109
Hi, i added the line and it's ok: when the empty baselayer is actived into plugin at any time order, in lmwc appear selected as first. Thanks!

[2015-09-03 13:16] jaitor1 commented on #189
@rldhont  With the configuration I have mentioned you in my previous post's snapshots and, as you said, selecting OpenStreetMap as baselayer in Lizmaps' Web UI I still don't see the background in the PDF...do you see anything that may be wrong in the config. in the snapshots?

[2015-09-03 14:49] nboisteault commented on #172
I'll test it with pleasure.

[2015-09-03 14:50] nboisteault commented on #173
Great, thank you!

[2015-09-03 14:50] #173 closed

[2015-09-03 14:59] #195 closed

[2015-09-03 17:57] rldhont commented on #175
hi @valeriodeluca just here https://github.com/3liz/lizmap-web-client:
you can make a git clone or download a zip file.

[2015-09-04 10:38] valeriodeluca commented on #175
ok tks :)

On Thu, Sep 3, 2015 at 7:57 PM, rldhont <notifications@github.com> wrote:

[2015-09-07 07:07] fling- commented on #183
@gioman it works fine with qgis-simple.qgs but I'm having issues running qgis-mapnik.qgs
@jaitor1 with a vm from @gioman the single tile is the only option as without it only a little part of the project loaded at the center of the screen. Probably something is wrong with my config? qgis_mapnik.qgs.cfg -> https://gist.github.com/3e3289416ffca578e948
@jancelin may you please switch the project from

[2015-09-07 09:36] jancelin commented on #183
The problem become your qgis-mapnik project.
I create a new project with your data and it's works fine.

Attention: the number displayed layer simultaneously reduces performance

http://demo.sig.inra.fr/websig/lizmap/www/index.php/view/map/?repository=agrof&project=qgis_mapnik_ju2&zoom=1&lat=6907211.31387&lon=9187263.05004&layers=BTTTTTTTTTTTTTTT

[2015-09-07 09:54] fling- commented on #183
@jancelin looks great!
What have you done to the project exactly? Is there something special about it?
Is it possible to remove the underlying layer?
May you please also try setting
"Initial map extent" as '9324621.07093, 7046105.10881, 9325282.27139, 7046477.58775'
and "Scales" as '1000, 2500, 10000, 25000, 50000, 100000, 250000, 500000'

[2015-09-07 09:56] fling- commented on #183
I don't see any text on the map btw. There were addresses and street names in the original project.

[2015-09-07 10:11] jancelin commented on #183
Make simple projects and regularly tested during the project creation.
Try to replicate the project step by step and layer by layer.
Beware layer names without spaces, not curled image, ...
And then hopefully, change the symbology, popup ...

[2015-09-07 10:19] fling- commented on #183
@jancelin may you please add the text to and upload your project? Looks like you already have exactly what is needed for my task.

[2015-09-07 10:19] #183 closed

[2015-09-07 11:38] jancelin commented on #183
send me a mail

[2015-09-07 14:07] nboisteault commented on #189
@rldhont It works, thank you.

[2015-09-07 14:07] #189 closed

[2015-09-08 08:23] jaitor1 opened #196 "Is it possible to open a map passing the active layers by URL parameter?"
I mean,

http://example.com/lizmap/lizmap-web-client-master/lizmap/www/index.php/view/map/?repository=turism&project=turism&activatedlayers=hotels_restaurants_bars_pois

Please notice I added at the end: &activatedlayers=hotels_restaurants_bars_pois

I don't know if a similar functionality is working right now, I can't find anything in the doc...

The idea is to call the same map from different pl

[2015-09-08 08:55] jaitor1 opened #197 "Enhancement: add options to hide "Projects" and "Information" buttons in the map's Tools"
![image](https://cloud.githubusercontent.com/assets/12136796/9730629/06a49e7a-5618-11e5-9f56-45e3cb1bffe3.png)

[2015-09-08 09:24] nboisteault commented on #196
Did you try permalink?

![image](https://cloud.githubusercontent.com/assets/2145040/9731233/032be574-561c-11e5-8c4b-82d99346d9f3.png)

[2015-09-08 10:37] jaitor1 commented on #196
@nboisteault I din't try that option. It's perfect, thanks!!

[2015-09-08 10:37] #196 closed

[2015-09-08 14:12] nboisteault opened #198 "Ajout de la couche cadastre IGN"
Il serait intéressant d'avoir la couche du cadastre IGN pour les français. Merci.

[2015-09-11 09:37] lionelbargeot opened #199 "user property comme valeur par défaut ?"
Bonjour

pour combiner le filtrage des données à l'affichage et le module d'édition, serait-il possible d'utiliser pour certains attributs une valeur par défaut correspondant au group-id de l'utilisateur ?
Cela permettrait d'étendre les filtres lors de l'édition sans avoir à demander à l'utilisateur de rentrer lui même son group-id dans un champ.
Merci

[2015-09-11 16:04] mdouchin commented on #193
Could you please test with last master ( lizmap-web-client  and lizmap plugin ) and see if the problem stills arise ?
Could you also check with a STRING column containing date ?

[2015-09-12 20:59] ninsbl commented on #193
I updated lizmap-web-client and the plugin to latest master. The problem seems to be still present. I tested again a postgis layer with "timestamp" column, "integer" column (year) and the same data in shape, where "timestamp" becomes "text"... Is a specific date-time format required (e.g. YYYY-MM-DD HH:MM:SS)?

[2015-09-16 15:11] haubourg commented on #14
+1 !

[2015-09-16 15:15] rldhont commented on #168
still relevant ?

[2015-09-16 15:19] rldhont commented on #166
Did you use curl for sending request to QGIS Server ?
Can you test Send request to QGIS Server with php ?

[2015-09-16 15:20] rldhont commented on #167
Did you use curl for sending request to QGIS Server ?
Can you test Send request to QGIS Server with php ?

[2015-09-16 15:22] rldhont commented on #193
Did you use curl for sending request to QGIS Server ?
Can you test Send request to QGIS Server with php ?

[2015-09-16 15:41] mdouchin commented on #193
Please provide a link to download the Shapefile, so that we can test it. Thanks

[2015-09-17 22:02] gioman commented on #167
Just tested again with the latest master and LM 2.11.1 and is ok.

[2015-09-17 22:02] #167 closed

[2015-09-17 22:02] gioman commented on #166
Just tested again with the latest master and LM 2.11.1 and is ok.

[2015-09-17 22:02] #166 closed

[2015-09-18 09:10] ninsbl commented on #193
Hi,

In the master version php was already used to send requests to QGIS Server. I changed that back to curl, but that had no effect...
I zipped the entire folder: http://www.filedropper.com/liztest
So you get my QGIS project and the Lizmap configuration as well (qgis-mapserv.fcgi is zipped as link)...
Thanks for looking into this!

[2015-09-18 11:25] jaitor1 opened #201 "Google Maps Satellite base layer appears 45º tilted when passing certain zoom (18 I think)"
Hi,

Since 30 minutes ago, more or less, the Google Maps Satellite base layer appears 45º tilted when passing certain zoom (I think is zoom 18). This makes all my layers not fit over the base layer. Example of my Buildings layer in zoom 17:

![image](https://cloud.githubusercontent.com/assets/12136796/9958214/004b5332-5e08-11e5-9aea-3a127daa422b.png)

Example of my Buildings layer in zoom 19:

![i

[2015-09-23 09:48] jaitor1 commented on #201
Please see http://gis.stackexchange.com/questions/89008/openlayers-behaves-problematic-after-certain-zoom-level-in-google-maps-satellite for a possible solution.

[2015-09-23 10:16] jaitor1 commented on #201
It is supposed to be fixed in Openlayers version after March 2014, why is the problem showing right now? One week ago it wasn't showing..
How could I update openlayers to avoid this problem?
I also could add this line of code (myGoogleLayer.mapObject.setTilt(0);)  after the layer is added to the map, but I don't know much about programming and I don't know where to add it...
Could someone help me

[2015-09-28 09:16] nboisteault commented on #201
It has been fixed in master not in the last release 2.13.1.
Can you give us a link to your lizmap web interface?

[2015-09-28 11:11] jaitor1 commented on #201
Thanks @nboisteault

You can check our portals map here:
http://eudala2.getxo.eus/lizmap/lizmap-211/lizmap/www/index.php/view/map/?repository=portales&project=getxo_portales_estadistica

[2015-09-28 12:08] nboisteault commented on #201
Above you can find the commit that fixes this issue.
You can copy the modified file here https://github.com/nboisteault/lizmap-web-client/blob/patch_google45/lizmap/www/OpenLayers-2.13/OpenLayers.js and replace your lizmap/www/OpenLayers-2.13/OpenLayers.js with it.

[2015-09-29 07:03] rldhont commented on #201
The PR #202 has been merged.

Thanks.

I'll tagged a new 2.11 release

[2015-09-29 07:03] #201 closed

[2015-09-29 07:05] rldhont commented on #198
Bonjour, pouvez-vous préciser le nom de la couche dans le web service de l'IGN ?

Merci

[2015-09-29 07:35] nboisteault commented on #198
Bonjour,

Il s'agit de la couche CADASTRALPARCELS.PARCELS

Merci.

[2015-09-30 13:22] jaitor1 commented on #152
Both issues work. It was my ignorance about how to use the tools (create print layouts: if there is no print template created, the print button is not shown. I didn't know it and I dind't read anything about this in the Doc, etc..)

[2015-09-30 13:22] #152 closed

[2015-10-01 10:05] CREASIG opened #203 "Erreur lors de modification ou ajout de point via posgresql"
Bonjour,

lors d'une modification de point, ou ajout de point, j'ai l'erreur suivante :

[Thu Oct 01 12:02:36 2015] [warn] [client 195.68.24.109] mod_fcgid: stderr: 2015-10-01 12:02:36\t195.68.24.109\terror\tAn error has been raised when saving form data edition to db : Erreur dans la requ\xc3\xaate (ERROR:  syntax error at or near "posta", referer: http://vm532.jn-hebergement.com/lizmap/lizmap/ww

[2015-10-03 07:32] CREASIG commented on #203
Problème résolu, l'erreur venait d'une de mes colonnes qui se nommait "Code postal", donc je pense que la requête ne pouvez pas correctement lire la table.

Aussi, j'ai remarqué que le mode édition ne sait pas gérer les Multipoint Z. Du coup l'édition ne se fait pas.

Cordialement.

[2015-10-07 07:30] CREASIG opened #204 "Popup en dessous des points"
Bonjour,

les points de ma couche (shp) apparaissent sur la popup lorsque je clique dessus, et impossible de la fermer.

Seule solution, ajouter dans www/themes/default/css/map.css un id
#liz_layer_popup{
	z-index:10000 !important;
}

Je n'ai pas modifié les js de la popup qui apparemment génèrent le z-index.

Cordialement.

[2015-10-07 07:32] mdouchin commented on #204
Bonjour,

* Quelle est la version de Lizmap-web-client impactée par ce bug ?
* Quelle est la couche de fond activée lorsque cela se produit ?

[2015-10-07 08:01] CREASIG commented on #204
Il s'agit de la 2.11 release .
Qgis-server : 2.10
Fond de plan : Mapnik, Mapquest
Layer utilisée : Point shape, projection epsg 3944

Cela dit ce projet comporte énormément de layers. Sur d'autres projets similaires mais avec moins de layers tout fonctionne normalement.

[2015-10-08 09:03] gioman opened #205 "Save edits fails if there is a timestamp column"
Hi!

it seems that if an editable postgis table has a "timestamp" column then save edits on LM fails. If I change the datatype to "date" it works ok.

QGIS Server 2.8.3 and LM 2.11.0

[2015-10-12 19:35] rldhont commented on #204
@CREASIG, le problème vient du nombre de couche de votre projet.

Nous allons tout de même voir si il n'existe pas un moyen d'améliorer les choses.

[2015-10-13 12:18] antoine373 opened #206 "[impression] zone de texte contenant une expression"
Bonjour,

J'utilise un composeur d'impression sous qgis qui me permet d'afficher des valeurs attributaires au sein d'une zone de texte. Pour cela je fait une "insérer une expression" et j'utilise par exemple les fonctions "attribute" ou "getFeature". Tous s'affiche très bien dans le composeur d'impresion de QGIS, mais j'ai deux problèmes lorsque je veux utiliser ce composeur via lizmap:
- Le PDF g

[2015-10-14 11:59] antoine373 commented on #206
Finalement je pense que le problème vient d'une fonction personnalisée écrite en python via "l'éditeur de fonction" dans QGIS. Celle-ci n'est apparemment pas reconnue lors de l'impression via lizmap.
Y a-t-il un moyen pour que les fonctions personnalisées créées  sur QGIS soient prise en compte lors d'une impression lizmap ?

[2015-10-20 07:14] antoine373 opened #207 "[impression] les hachures génèrent un erreur"
Bonjour,

Lors de l'utilisation du module impression, les couches qui sont hachurées ("motif de lignes" dans le style qgis) entraînent une page "500 Internal Server Error".
Lorsque l'on supprime la représentation par "motif de lignes" l'impression fonctionne correctement.

Lizmap : 2.11.0
Qgis : 2.8.3
Qgis-server : 2.8.3

Cordialement.

[2015-10-20 07:56] gioman commented on #207
If I understand correctly the description this is a problem of QGIS server in headless servers, the wrokaround is here (it would be needed to be documented in the QGIS server docs):

http://www.itopen.it/qgis-server-setup-notes/

[2015-10-20 08:37] antoine373 commented on #207
Hi,
Thanks for you reply.
I'm not sure to find my problem description in your url link.
In fact the printing feature (so the getprint request I guess) is working well with all of my project layer, except with layer configure in hatch style in qgis. Every time I want to print a hatch style layer I get "500 Internal Server Error", but everything fine with all other layer.

[2015-10-20 08:41] gioman commented on #207
The problem is exactly that, there are specific symbology styles that are causing this issue because and underlying QGIS library would need X server to render them correctly on the PDF output. Add a fake X Server as detailed in the above page and you are good to go.

[2015-10-20 08:55] antoine373 commented on #207
Yes indeed !!
The two references describe the same issues "html text" and "line pattern".
So now i have the solution to fix it, but sadly i'm not used to qgis server side and not really able to work on command line...

[2015-10-28 16:53] rldhont commented on #207
Please update Lizmap or QGIS Server documentation if needed

[2015-10-28 16:53] #207 closed

[2015-10-28 16:55] rldhont commented on #206
Bonjour,

Pour l'erreur 500, c'est le même problème que  [impression] les hachures génèrent un erreur #207

Pour les expressions, nous n'avons jamais testé QGIS Server avec une expression dans une zone de texte. Avez-vous essayé avec quelque chose de simple ?

[2015-10-28 17:02] rldhont commented on #169
Bonjour,

Ceci est un Bug QGIS-Server, celui-ci a été corrigé et backporté sur différentes branches. Cette correction sera ccessible sur 2.12.1 et 2.8.4 sinon vous pouvez compiler.

[2015-10-28 17:02] #169 closed

[2015-10-28 17:06] rldhont commented on #145
Bonjour,

Ce bug a peut-être été corrigé dans QGIS-Server. Vous pouvez dès à présent le tester avec QGIS 2.12. Sinon ce bugfix a été backporté sur la branche 2.8 et 2.10.

Merci de nous indiqué si ce problème existe toujours.

[2015-10-28 17:11] rldhont commented on #72
Hi @gioman, can you update the documentation https://github.com/3liz/lizmap-documentation and close this issue ?

[2015-10-28 17:12] rldhont commented on #40
Already done.

[2015-10-28 17:12] #40 closed

[2015-10-28 17:13] rldhont commented on #38
Hi @gioman and @tbeg, did you test master ?
I think it's already done, isn't it @mdouchin ?

[2015-10-29 10:13] nboisteault opened #208 "Feature : Add menu to change displayed layers order"
Add a menu in #mapmenu column at left to order displayed layers visually.

[2015-10-29 12:46] pcav opened #209 "Export function only available when the layer has an attribute table enabled"
The button is only active when the layer is added to the plugin Tools > Attribute table widget. This does not seem necessary, and is not intuitive.

[2015-10-29 12:51] pcav opened #210 "Editing fully available only when table enabled"
Without this, only adding features (not deleting them, etc.) is available.

[2015-10-29 14:31] rldhont commented on #199
Bonjour,

Je crois avoir fais le code pour cela pour la version 3.0 de Lizmap.

Pouvez-vous tester ? ensuivant les indications d'installation du fichier install.md

[2015-10-29 14:58] #83 closed

[2015-10-29 15:21] rldhont commented on #154
Reopen the issue if needed

[2015-10-29 15:21] #154 closed

[2015-10-29 15:24] rldhont commented on #118
Hi @pcav, does this issue still exist in 2.11 ?

[2015-10-29 15:35] pcav commented on #118
Cannot reproduce it now. Will reopen if necessary. Thanks for following this up.

[2015-10-29 15:35] #118 closed

[2015-10-29 15:55] #191 closed

[2015-10-29 16:20] rldhont commented on #194
Probably already done in version 3.0. @mdouchin what do you think about it ?

[2015-10-29 16:49] #205 closed

[2015-10-29 17:10] #147 closed

[2015-10-29 17:31] #203 closed

[2015-10-30 08:58] gioman commented on #72
@rldhont will do.

[2015-10-30 09:00] rldhont commented on #72
@gioman thanks for your help

[2015-10-30 14:19] rldhont commented on #159
Hi @jaitor1, some strings are too long and break the UI. e have to update the UI.

[2015-10-30 15:22] #159 closed

[2015-10-30 16:01] rldhont commented on #188
Fixes 76198f542d5a6cdfb987b74f2025988de8f44da1

[2015-10-30 16:01] #188 closed

[2015-10-31 10:17] gioman commented on #72
https://github.com/3liz/lizmap-documentation/pull/40

[2015-10-31 10:17] #72 closed

[2015-10-31 16:01] gioman commented on #38
I think that the functionality is almost there, as I see that there is a selection tool in the identify windows now. But unless I am missing something obvious I don't see a way to make multiple selection on the map (and active a filter with such multiple selection), that would be very convenient. Feel free to close if you think so or if I'm missing the multiple selection on map. Cheers and thank y

[2015-10-31 16:27] mdouchin commented on #38
Hi @gioman Indeed you can select multiple features, but only via the attribute table, in the "bottom" dock. You can do this in many ways:

* use the first button displayed in each line of the attribute table. You can use it one line after the other to select multiple lines
* use the text input field above each attribute table to filter the visible lines, and then click on the black star button to

[2015-10-31 16:29] mdouchin commented on #206
A vérifier, mais il me semble en effet que les expressions liées à des fonctions personnalisées écrites en python ne fonctionnent pas sur QGIS Server

[2015-10-31 16:52] gioman commented on #38
yes I have seen in LM master. The suggestion is really for the multiple selection on the map (with a dedicated tool or allowing it while identifying single features). If anyway is not on your plans please close this as unfortunately I'm not able to contribute with more than a suggestion. Cheers!

[2015-11-02 14:28] antoine373 commented on #206
Bonjour,

Les expressions fonctionnent en effet avec des choses simples, par exemple :
- en rentrant <b>[% $now %]</b> dans une zone de texte, on obtient, lors d'une impression via lizmap, la date et l'heure à laquelle le pdf a été généré.
- en rentrant <b>[%  attribute( getFeature( 'cadastre', 'parcelle', 'AB0001'),  'adresse')%]</b>, nous voulons afficher <i>"l'adresse"</i> de l'objet de la couc

[2015-11-03 13:10] mdouchin opened #215 "Project image not always shown in Metadata panel"
In some project or repository configurations, the image used as the project illustration is not displayed. We need to check if the repository parameter is always set

[2015-11-03 13:11] mdouchin opened #216 "Locate by layer - Internet explorer 11 : lists open automatically at startup"

[2015-11-03 14:04] mdouchin opened #217 "Export tool - Add right to protect this feature"
The idea is to display the Export tools only for chosen groups of users

[2015-11-03 17:27] mdouchin commented on #215
fixed by e76fd5a979aab39ff399ef4cfc6c6263d5fcf0bc

[2015-11-03 17:27] #215 closed

[2015-11-04 10:46] opbernardo opened #218 ""Error 500""
Hello everyone,

I was wondering if you can help me in this:

In lizmap browser, when I click on a point, opens a window with a picture and when I click again on the image to make the download the same , the following error appears:

"Error 500. A technical error has occurred. Sorry for this trouble."

It's happened to somebody else ?

Thank you for your help.

I use mozilla firefox latest version

[2015-11-04 16:32] #210 closed

[2015-11-04 17:02] #209 closed

[2015-11-04 17:04] gioman commented on #218
@opbernardo  what your apache/php logs say?

[2015-11-04 17:18] rldhont commented on #139
Bonjour, La futur version 2.12 et 3 de Lizmap Web Client devrait corriger ce problème grâce à la modification 9d04d8f27985f8ac42714c9627d2d3a77705a082

[2015-11-04 17:19] rldhont commented on #184
Bonjour, La futur version 2.12 et 3 de Lizmap Web Client devrait corriger ce problème grâce à la modification 9d04d8f27985f8ac42714c9627d2d3a77705a082

[2015-11-04 17:20] rldhont commented on #193
The Lizmap Web Client version 2.12 et 3 would correct it 9d04d8f27985f8ac42714c9627d2d3a77705a082

[2015-11-04 17:24] rldhont commented on #150
Fixes in 2.11.3
af8d5fbcbe72faaea4fc110cf2cc3b67f376ddb3
Backported to 2.12 and 3

[2015-11-04 17:24] #150 closed

[2015-11-04 17:25] rldhont commented on #132
Plus de limite à 100 dans la version 3.0

[2015-11-04 17:25] #132 closed

[2015-11-04 17:26] #115 closed

[2015-11-04 17:28] opbernardo commented on #218
In the apache/logs/error these messages appear:

[Wed Nov 04 17:24:44 2015] [notice] Apache/2.2.14 (Win32) mod_fcgid/2.3.6 configured -- resuming normal operations
[Wed Nov 04 17:24:44 2015] [notice] Server built: Sep 28 2009 22:41:08
[Wed Nov 04 17:24:44 2015] [notice] Parent: Created child process 4768
[Wed Nov 04 17:24:44 2015] [notice] Child 4768: Child process is running
[Wed Nov 04 17:24:44

[2015-11-04 17:30] gioman commented on #218
@opbernardo probably not, anyway I would personally try also run the stack on Linux and see if you get the same issue.

[2015-11-04 17:37] rldhont commented on #218
The problem is not in apache or qgis. It's in popup lizmap.

In the exemple @opbernardo wrote some popup template:
[code]

And the problème is in the interpretation of the links.

@opbernardo can you give us how the href have been interpreted ? Does it change in the web page ?

[2015-11-04 17:44] gioman commented on #218
@rldhont of course, but if logged the error could give some pointer. The snippet does not seems wrong, but maybe I recall the wrong way.

[2015-11-04 20:30] mdouchin commented on #217
And/Or add an option to allow export for each layer individually ?

[2015-11-05 13:32] rldhont commented on #218
Hi @opbernardo,

To help you can you give us those information:
* did you define the popup content with popup template in lizmap Plugin ?
* did you use an html property with an html file in media ?

[2015-11-05 15:29] #70 closed

[2015-11-05 17:17] opbernardo commented on #218
Hello,

I apologize because I do not know if I understand your question ... I am a
novice in these wanderings, I could only get here through many attempts ...

I send you some pictures of the procedures that I made by following the
instructions "Documentation Lizmap 2.10" on the internet

Thanks a lot for your help.

Orlando

2015-11-05 13:32 GMT+00:00 rldhont <notifications@github.com>:

[2015-11-05 17:27] rldhont commented on #218
Did you use:
* Simple popup configuration http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#simple-popup-configuration
* Advanced popup configuration - HTML format http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#advanced-popup-configuration-html-format

Where did you put the HTML ?
* in a file stored in a media directory ?
* in an attribute layer ?
* in the li

[2015-11-05 17:39] rldhont commented on #186
This has been fixed by d45605bc74a9b0e30aaa278a7d0afd9e26921b77

Reopen if not

[2015-11-05 17:39] #186 closed

[2015-11-06 11:08] opbernardo commented on #218
Hello,

I used the three hypotheses and in both same error ...

Sending a few more pictures to you get an idea of how I set up my project
Qgis and Lizmap.

I apologize for my, almost no programming skills...

I used the simple popup configuration and the advanced popup configuration.

Thank you very much for your help.

Orlando

2015-11-05 17:27 GMT+00:00 rldhont <notifications@github.com>:

[2015-11-06 11:20] rldhont commented on #218
Hi @opbernardo, it's not really an issue. If you use HTML in a file, you have to write complete link.

This mean that in you html files, you have to update the href and src attribute to the complete link : http://foo/bar/getMedia?path=media/path/to/file

It's better to move the HTML file content to the lizmap plugin configuration.

[2015-11-06 11:49] opbernardo commented on #218
Hello again,

Thank you very much for the help.

But putting the html file in the lizmap popup he always opens the same file
... is there a way to openthe various different files?

Beste regards.

Orlando

2015-11-06 11:20 GMT+00:00 rldhont <notifications@github.com>:

[2015-11-06 13:02] rldhont commented on #218
Change the link to complete ones. (start with http)

[2015-11-06 15:03] rldhont commented on #151
Hi @jaitor1 did you make it work ?

[2015-11-06 15:10] jaitor1 commented on #151
Yes, I have to copy each file to another location so it can be accessed via URL though....
I forgot to close the issue.

[2015-11-06 15:10] #151 closed

[2015-11-06 15:12] rldhont commented on #151
Thanks @jaitor1 for your time. Can you take a look at the others issues ?

[2015-11-06 15:15] jaitor1 commented on #151
Sure. I'll give them a look soon. Thanks to you!

[2015-11-09 11:18] pcav opened #220 "Add raster query"
QGIS server should be able to provide raster values through GetFeatureInfo. Currently Lizmap does not seem able to query the raster and get the result. It would be a nice feature to add.

[2015-11-10 09:21] mdouchin commented on #182
This is a QGIS Server bug. I just opened a bug in the hub
http://hub.qgis.org/issues/13798

[2015-11-10 09:24] mdouchin commented on #182
ok, I just opened a new bug for nothing. Sorry, I will mark it as a duplicate

[2015-11-11 12:52] jaitor1 opened #222 "Locate by Layer with a layer Custom CRS working wrong"
Hi,

All my layers are in SRID 23030 (ED50 / UTM zone 30N).

When lizmap reprojects these layers to 3857 to fit the features above google maps (satellite, streets or hybrid) there is aprox. 2 meter error. See next picture:

![image](https://cloud.githubusercontent.com/assets/12136796/11090848/c9b8b34e-8875-11e5-8d87-66082db7d998.png)

The end of the line appointed should be nearly in the center of

[2015-11-11 13:28] gioman commented on #222
use this plugin http://plugins.qgis.org/plugins/ntv2_transformations/ (https://github.com/NaturalGIS/ntv2_transformations) to easily transform your ED50 data into ETRS89. Add the resulting layers (that now have the ETRS89 CRS) in your project and you should not have issue.

[2015-11-11 13:46] jaitor1 commented on #222
Hi @gioman, thanks for your answer.

The problem is that the layers are stored in postgis and for the moment need to be in ED50 as they are being edited using AutoCAD Map and other projects with more data in ED50...

We have plans to transform all the layers (more than 1000) to ETRS89 soon...

Regards

[2015-11-13 16:48] ninbrm opened #223 "abstract hidden under side bar"
Hi,
The abstract appearing when hovering over the legend is partly covered by the sidebar:

![image](https://cloud.githubusercontent.com/assets/12233917/11151537/f5de13f6-8a2d-11e5-98eb-f8b2a625b84f.png)

Thanks a lot for the great tool!
Cheers,
Bram

[2015-11-16 09:39] jaitor1 opened #224 "Is it possible somehow to assing two key fields for a dropdown?"
This is not and issue, it is just a question. Feel free to close it if you think that should not be here.

I have this table. For each description, there are two key fields and not only one.

![image](https://cloud.githubusercontent.com/assets/12136796/11178539/c57d0772-8c4d-11e5-8919-ec1308d4bf28.png)

Is there any way of selection one description in the dropdown but internally saving the two key

[2015-11-16 10:44] jaitor1 opened #225 "Layer (tables) relations in lizmap not displayed"
Hi,

I've got a layer with streetlights (points).

For each streetlight I have other elements (data tables, with no geoemtries) that are linked to each streetlight by a foreign key. These elements are: lamps, brackets, electric line other components, etc. (1 to N relationship for each data table).

When clicking on on streetlight, I wanted to see which lamps are in there, which lines, which compon

[2015-11-16 17:46] ninbrm opened #226 "Feature request: support for virtual fields"
Hi,
Feature request: support for virtual fields in pop-ups...
Thanks a lot for a great tool!
Bram

[2015-11-17 07:26] mdouchin commented on #226
Hi
Lizmap relies heavily on QGIS Server : popups content are build from the WMS GetFeatureInfo requests. QGIS Server should already support virtual fields (I have already used them to show polygons area in popup). Which QGIS Server version do you use ?

[2015-11-17 08:25] ninbrm commented on #226
Hi,
Thanks for the prompt reply! We are using 2.8 on the server.
If you have used virtual fields, then the problem is clearly on our side! We will find out...
Thanks a lot for your help,
Bram

[2015-11-17 08:42] mdouchin commented on #226
Please try to use QGIS Server 2.8.3 (if this this not the version you already use).
You should also use QGIS Desktop 2.8.3 and not 2.10 or 2.12 ( the desktop version should never be newer than the server )
I am not sure virtual fields were already implemented in QGIS 2.8, but I think so.

[2015-11-17 09:14] ninbrm commented on #226
I must apologize, I re-tested and now things work smoothly! (I am not sure what went wrong yesterday. We were dealing with some server issues yesterday, maybe...)
So, thank you for having already implemented the features I am requesting ;-)
and sorry the trouble...
p.s.: to answer your question: we are using 2.8.3 (so, yes, virtual fields are supported here)

[2015-11-17 09:14] #226 closed

[2015-11-20 13:00] cristomoya opened #227 "Css"
I have a problem with the master version , does not load css files

[2015-11-20 13:08] antoine373 commented on #139
Autre moyen de contourner le problème : utiliser une couche de points plutôt que des polygones (plus lourd). Pour le cadastre, générer une couche de centroid des parcelles par exemple.
De plus dans QGIS le parametre "précision de la géométrie" (dans propreites du projet et serveur oWS) semble jouer

[2015-11-20 13:52] rldhont commented on #227
Hi @cristomoya

This issue is described here #171

I'm closing it because it's a duplicated one

[2015-11-20 13:52] #227 closed

[2015-11-20 20:46] cristomoya commented on #227
gracias, resuelto

[2015-11-24 10:23] jaitor1 opened #228 "Google Base Layers not displayed when map loads"
Hi,

From about 5 days ago, I've been experiencing a problem with my maps.

When I load a map that has a Google Base Layer as default base layer (Google Streets, Google Satellite, etc..) the base layer is not loaded. If I then open the base layers combobox and select another one, all of them work, even the Google base layers.

So the problem is that the base layer is not displayed on map load but

[2015-11-25 09:02] nboisteault commented on #224
It is not something that can be handled easily from frontend. To do this you can use triggers in SQL databases.

[2015-11-26 19:21] jaitor1 commented on #228
It may be related with https://gis.stackexchange.com/questions/160444/google-maps-roadmap-doesnt-show-on-ol-unless-i-change-base-layer-and-re-apply

[2015-11-27 06:50] pcav commented on #228
Confirmed, symptoms are the same. Worth releasing a new LM version and upgrading?

[2015-11-30 16:37] pcav commented on #171
confirmed here, setting
  minifyJS=0
  minifyCSS=0
in
  lizmap/var/config/mainconfig.ini.php
and
  rm -rf temp/lizmap/*
solves the issue temporarily.
Thanks René

[2015-11-30 16:54] #228 closed

[2015-11-30 17:24] rldhont commented on #228
Lizmap Web Client 2.12.1 has been released
https://github.com/3liz/lizmap-web-client/releases/tag/2.12.1

[2015-11-30 20:49] pcav opened #229 "Google map appears as a background of the overview"
On 2.12.1. Moreover, the scale is wrong.

[2015-12-01 08:24] geoek opened #230 "Attribute table problems (no zoom and center tools) with lizmap 3"
Hi,
I am using lizmap 2.x since several months with Qgis server 2.8 and all is OK.
I just try to test the last version (lizmap 3) and i have a question about the selection tool in the attribute table.

In the template project (Montpellier Transport), when you select the attribute table for the layer “District”, there are 3 buttons for each row (Select, zoom and center).
When I try with my project,

[2015-12-02 07:55] jancelin commented on #171
+1

[2015-12-02 08:31] jancelin commented on #171
Only need to apply the change on debian jessie (raspberry pi).
No malfunction with Debian wheezy (raspberry pi) and ubuntu 14.04 lts.

[2015-12-02 10:51] nboisteault opened #231 "WFS not sending full response"
I updated QGIS server from 2.8.2 to 2.8.4 and now WFS responses are truncated.
For example I just have:
`{"type": "FeatureCollection",
 "bbox": [ 375556.2, 6325103.9, 457955, 6424288.8],
 "features": [`
It seems it is a lizmap bug (compatibilty issue?). If I request QGIS Server directly there is no problem.

Bug with this url :

http://92.243.19.0/lizmap-web-client/lizmap/www/index.php/lizmap/serv

[2015-12-02 10:54] rldhont commented on #231
Which Lizmap Web Client do you use ?

[2015-12-02 10:56] nboisteault commented on #231
Lizmap 2.12.1

[2015-12-02 10:59] nboisteault commented on #231
I saw this issue with QGIS server 2.8.3 and lizmap web client 2.11 too.

[2015-12-02 11:00] rldhont commented on #231
Do you this issue with all layers ? or just this one ?
Can you test with a simplify layers ?

[2015-12-02 12:09] nboisteault commented on #231
Same issue here :

http://92.243.19.0/lizmap-web-client/lizmap/www/index.php/lizmap/service/?repository=epidor&project=Epidor&SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFeature&TYPENAME=dernieres_observations&PROPERTYNAME=geometry%2Cnom&OUTPUTFORMAT=GeoJSON

and not here :

http://92.243.19.0/cgi-bin/qgis_mapserv.fcgi?map=/var/www/html/lizmap-projets/EPIDOR/Epidor.qgs&SERVICE=WFS&VERSION=1.0.0&REQUEST=G

[2015-12-02 12:10] rldhont commented on #231
What's differences between the layers in the data ?

[2015-12-02 12:26] nboisteault commented on #231
Sorry I didn't understand.

[2015-12-02 12:30] rldhont commented on #231
Sorry, I think it's 2 URLS with 2 different layers. But it was the same layer but on URL from Lizmap and one form QGIS-Server.

Are all layers the same ?

[2015-12-02 12:37] nboisteault commented on #231
In the first example it is the same layer, one via lizmap this other via qgis-server.
In the second example it is a more lightweight layer.
I'm not sure I'm anwsering your question. We can speak french if you want.

[2015-12-02 12:41] rldhont commented on #231
Je voudrais savoir si pour toutes tes couches publié en WFS tu as ce problème ?
Ensuite dans la configuration Lizmap, Quelle méthode utilises-tu pour les requêtes PHP ou curl ?

[2015-12-02 12:46] nboisteault commented on #231
Oui même problème pour toutes les couches publiés en WFS.
J'utilise curl. Merci de ton aide.

[2015-12-02 12:48] nboisteault commented on #231
Je viens de tester avec PHP et le problème disparaît.

[2015-12-02 14:37] rldhont commented on #230
Did you use the dev version of the plugin ?

[2015-12-03 13:23] geoek commented on #230
Thanks a lot !! I actually had not installed the new version of the plugin.
Everythinks work now !

[2015-12-03 14:47] #230 closed

[2015-12-03 14:51] #229 closed

[2015-12-03 14:51] #231 closed

[2015-12-03 16:25] geoek commented on #139
Bonjour,
Je rencontre moi aussi ce problème de limitation.
Je suis sur QgisServer 2.8 (Ubuntu server) et Lizmap 2.12 et 3 (meme comportement).
L'outil LocateByLayer ne fonctionne pas (pas de chargement de la liste) et il est impossible d'afficher la table attributaire pour des couches ayant plus de 300 lignes environ.

C'est particulièrement génant pour les tables attributaires. J'ai essayé avec d

[2015-12-03 16:36] rldhont commented on #139
Quelle méthode d'envois de requête à QGIS Server est configuée ? curl ou php ?

[2015-12-03 19:02] ninsbl commented on #193
Yes, now it works fine. Thanks!

[2015-12-03 19:02] #193 closed

[2015-12-04 14:34] geoek commented on #139
J'utilise curl. Je vais tester dès que possible avec php pour voir ce que ca donne.

[2015-12-04 14:37] rldhont commented on #139
C'est probablement le même problème que là #231

[2015-12-04 17:06] rldhont commented on #168
I close it, reopen if it's still relevant.

[2015-12-04 17:06] #168 closed

[2015-12-05 09:50] cristomoya opened #232 "Bookmark print"
Is it possible to place a visible mark in print?

[2015-12-06 17:43] gioman commented on #232
@cristomoya do you mean a "notes layer" that to allow users draw points/lines/polygons and have them printed in layouts?

[2015-12-06 20:32] cristomoya commented on #232
yes

[2015-12-07 08:35] gioman commented on #232
@cristomoya there is already a feature request here https://github.com/3liz/lizmap-web-client/issues/48 that probably is already fixed with https://github.com/3liz/lizmap-web-client/issues/119 but that I haven't tested yet.

[2015-12-07 11:22] geoek commented on #139
C'est bon, j'ai pu réaliser des tests !
Alors le problème venait de ma couche qui avait une entité avec une géométry nulle. Et cela bloque l'affichage de la table attributaire ou la liste de localisation. => bug ?

Sinon, concernant les limitations, sur une couche de parcelles cadastrale, la table fonctionne jusqu'à environ 55000 lignes.
Si je travaille avec les centroides des polygones pour allég

[2015-12-08 10:50] #171 closed

[2015-12-08 15:38] #198 closed

[2015-12-08 15:43] rldhont commented on #225
To possibility to do it:
* enhance lizmap to make extra GetFeatureInfo request
* enhance QGIS Server to add sub-elements in GetFeatureInfo

If you use Lizmap Web Client 3, you have relations in the attribute table.

[2015-12-08 15:51] rldhont commented on #37
To implement it, I think, it will be usefull to reuse the QGIS configuration.

[2015-12-08 15:52] rldhont commented on #54
Is it still relevant with Lizmap Web Client 2.12 ?

[2015-12-09 09:31] gioman commented on #37
@rldhont I agree.

[2015-12-11 10:10] jonnyforestGIS opened #233 "Testing Lizmap master (3.0) in Windows SO environment"
Hi guys, i'm using the lizmap web client 2.11.3 and lizmap web client 2.12.0 and work fine with OSGeo4W 32-bits in Windows.

For lizmap master when i try to open the main page, i have this error:

"Warning: require(**DIR**/core/jApp.class.php) [function.require]: failed to open stream: No such file or directory in C:\OSGeo4W\apache\htdocs\lizmap\lizmap-web-client-master\lib\jelix\init.php on line

[2015-12-11 10:48] nboisteault opened #234 "Geodesic = true should be used for scale and scaleline control"
We have geodesic = true for measurement tools but not for scale and scaleline.
Issue is in 2.12.x and in master too I think.

[2015-12-15 13:09] cristomoya commented on #175
Hey there; I've been testing the feature to upload images and seems to work well .

Save the image path but no picture

My version is the 3.0beta1

[2015-12-16 07:51] valeriodeluca commented on #175
hi cris, u mean
1 u shot a photo by phone and then upload it automatically in lizmap (by
browser) or
2 u give the path in shapfile field and upload photo apart?
tks, best, valerio

On Tue, Dec 15, 2015 at 2:09 PM, cristomoya <notifications@github.com>
wrote:

[2015-12-16 19:17] cristomoya commented on #175
I refer to the first option, up from iphone. In the database I have a field with the path of the picture. Not whether it is the right thing to do
Thank you

[2015-12-16 19:40] valeriodeluca commented on #175
ok...the database where is? on phone or on server? I use digital ocean
server
Il 16/dic/2015 20:27 "cristomoya" <notifications@github.com> ha scritto:

[2015-12-18 11:13] cristomoya commented on #175
On server, I use apache2 on OSGEOLIVE

[2015-12-18 11:32] mdouchin commented on #175
Hi all,

This issue shows that there is a lack of proper documentation for this feature. Please be patient, as this feature has been added recently, and Lizmap Web Client 3 in to yet available (only in beta version).

To achieve this goal, you need to follow these steps

* Configure edition for the layer, with one or more fields with the **edit type** "Photo" or "File". For example, let say the fi

[2015-12-18 14:34] gioman commented on #175
Using osgeo live is likely a writing permission issue.

[2015-12-21 16:51] ThomasSIGT opened #235 "Internal server error lors de l'impression en HTTPS"
Bonjour,

Nous avons mis en place une solution LizMap (Projet QGIS) chez un client, avec un applicatif ASP.Net qui appelle l'URL du projet LizMap pour visualiser la carte. Avec toute la chaîne en HTTP (IIS & Apache), tout fonctionne bien (visualisation, impression).

L'environnement technique est le suivant : Windows Server 2012 / Suite OsGeo4W (QGIS 2.8) / LizMap 2.11

Le client nous a demandé de

[2015-12-23 09:36] rldhont commented on #235
Bonjour,

Votre problème ne vient pas de l'utilisation du HTTPS ou de Lizmap (aucun JS n'intervient pour la génération du pdf), il est plutôt lié à QGIS Server.

Avez-vous fait des tests en attaquant directement QGIS-Server ?

Ensuite je vous conseille de passer à Lizmap Web Client 2.12.2.

[2015-12-23 10:06] ThomasSIGT commented on #235
Bonjour, merci pour votre réponse.

J'ai fait le lien entre l'erreur et le HTTPS côté LizMap / Apache car c'est la seule différence entre notre environnement de dev (où l'impression ne fonctionne plus) et l'environnement de production chez le client (où l'impression fonctionne toujours).

l'URL qui fait "planter" est de la forme :

https://[serveur]:[port]/lizmap-web-client-2.11.0/lizmap/www/index

[2015-12-23 10:10] rldhont commented on #235
Pour tester, il vous suffit de remplacer le début de l'URL
`https://[serveur]:[port]/lizmap-web-client-2.11.0/lizmap/www/index.php/lizmap/service/?repository=[erpo]&project=projet]`
par
`https://[serveur]:[port]/[url vers qgis server]?MAP=[chemin sur le serveur vers le projet.qgs]`

Autre question, est-ce que la version de QGIS Server a changé entre les 2 environnements ?

[2015-12-23 11:12] ThomasSIGT commented on #235
l'URL suivante répond (affichage des capabilities)

https://[serveur]:[port]/qgis/qgis_mapserv.fcgi.exe?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities&MAP=[projet.qgs]

En revanche l'URL d'impression ne fonctionne effectivement pas (REQUEST=Getprint, etc.)

Côté environnement QGIS notre serveur de dev est en 2.8.1 et la production chez le client en 2.8.2. Cela pourrait-il expliquer que ça fonct

[2015-12-23 11:18] rldhont commented on #235
Si les versions sont différentes, la vrai différence est là.

Je vous invite à avoir la même version dans les 2 environnements. Sachant que la version 2.8.2 corrige des problèmes de la version 2.8.1.

Vous pouvez ensuite dans votre version de dev tester les monter de version afin de valdier celle-ci avant de les déployer en production.

Si le problème est corrigé, merci de fermer cette issue. Merc

[2015-12-29 12:50] cristomoya commented on #175
thanks , I 've tried it and it works really well

[2015-12-29 14:32] geoek opened #236 "Print issue with "integrated layers and groups"."
Hi,
I have a problem to print (lizmap 2.12 and beta 3)

I built a basemap layer from several vector layers. I use this basemap in a project and I can print normally.

In another project, I loaded this basemap with the tools "integrated layers and groups". This works fine for display. However, the basemap  does not appear during printed (same result if i load this basemap as a layer or as a basemap

[2015-12-29 16:08] ThomasSIGT commented on #235
Bonjour,

Effectivement le passage à la 2.8.2 de Qgis Server a réglé le problème. Les deux environnements ayant été installés à peu de temps d'intervalle via le package OsGeo4W, la différence de version est passé à la trappe.

Merci beaucoup pour votre aide.

[2015-12-29 16:08] #235 closed

[2016-01-04 16:00] geoek opened #237 "Limitation of 15 layers for attribute table tool"
Is it possible to modify the limitation that prevents the addition of more than 15 layers in the attribute table tool ?

Thanks in advance !

[2016-01-06 10:02] lionelbargeot opened #238 "pg profile storage"
Hi
I try to store profile in a pg database instead of sqlite for an neux lizmap3 fresh install.
I changed the profile declaration like this in profiles.ini.php
[code]
When I play the install script I get the following error in postgresql logs
[code]

It seems like if install script trys to do something that is not authorized in postgresql.

[2016-01-08 14:01] antoine373 commented on #236
Hi,
I have the exactly the same issue as you.
My basemap layers are working well for display but nothing appear when i want to print it.
Just as you I can print it normally in other project

Have you suceed to fix it ? I'm really running out of idea....

[2016-01-08 15:07] geoek commented on #236
Hi,
No, i didn't find a solution to this issue. Always impossible to print a basemap in a child project.

However, i can now print osm basemap. But it does not work with google basemap (if you create a group with name "google-satellite", nothing is printed) (it's ok with osm and ign basemap)

[2016-01-11 08:50] antoine373 commented on #236
OK, that's a really strange behaviour of lizmap.

What is your configuration ?
Mine :
Lizmap 2.12.2
Lizmap plugin 2.0
Qgis server 2.12.2
Qgis desktop 2.12.2

[2016-01-11 09:08] geoek commented on #236
My configuration :
QGis Desktop & Server : 2.8
Lizmap : tested with 2.12 and 3.0 Beta2 : same behaviour

[2016-01-14 21:05] slarosa opened #239 "Attribute table is not displayed for a postgis layer"
I cannot see the attribute table when adding a postgis layer with over 15K rows, the layer is displayed properly over the map but the attribute table is empty. Applying a filter on the qgis side (with about 800 rows) all works fine. Is there a limit of rows that can be displayed? Is this a known issue?
My project has sensible data so I cannot share it.

It occurs with QGIS master version and LWC 3

[2016-01-15 14:12] JogicPogic commented on #239
I support! I have the same problem.

[2016-01-15 18:59] slarosa commented on #239
More info:
GetFeature Request [0] looks good I get a status code 200 OK.
[code]
Opening the above URL in a browser I get the whole GeoJSON file but nothing appears in Data window.

[2016-01-18 08:40] rldhont commented on #239
Thanks for this review.
Did the issue be with QGIS Server master or with other version ?
Did you test the GeoJSON in a JSON or GeoJSON reader/validator ?

[2016-01-18 11:12] slarosa commented on #239
@rldhont I tested with http://jsonlint.com/ and it results as a valid JSON.
I am testing with QGIS Server master version.

One more info: setting ```MAXFEATURES=2100``` in ```map.js``` does not work while ```MAXFEATURES=2000``` has worked. It seems like ~2K is the limit. (just a test)

Also, when this issue will be fixed, I would like suggest to insert a loading gif icon to do aware the user about

[2016-01-18 11:28] jaitor1 opened #240 "What's the recommended Lizmap version for QGIS LTR Version 2.8.6?"
Hi,

I am going to make a clean install in a new Server (Windows Server 2012)..

I am going to Install QGIS LTR Version 2.8.6 (QGIS Server included). I've read that this is the version recommended for a production environment.

What Lizmap version should I install with this QGIS version?

2.8.1 seems to old.. (April 2013)
2.12.3 may have compatibility issues. I gues this Lizmap version is develope

[2016-01-18 12:24] nboisteault commented on #240
You should use lizmap 2.12.3. It should work with QGIS 2.8.6.

[2016-01-19 10:47] cristomoya opened #241 "Beta 3"
I installed the beta 3 following the steps , and had installed the beta 2, but can not create repositories . It gives a 500 error .

I tried reinstalling several times and has not been solved

The version 2.12 works correctly .

Is it a mistake by the application?

[2016-01-19 11:07] rldhont commented on #241
Did you you use the script set_rights.sh as said in INSTALL.md ?

[2016-01-19 16:15] nboisteault opened #242 "Is there a way to prebuild the cache?"
I'm not sure but I think I saw a way to prebuild the cache.
Did I dream or it exists?
If it exists, is it only in master or it is in version 2.x too?

[2016-01-19 19:58] cristomoya commented on #241
yes, I am stupid. Sorry

[2016-01-20 09:30] mdouchin commented on #242
Indeed this feature has been added, but only since Lizmap 3
https://github.com/3liz/lizmap-web-client/releases

See documentation proposal : https://github.com/mdouchin/lizmap-documentation/blob/master/source/admin_guide/administration/cache.rst#seeding

[2016-01-20 10:05] nboisteault commented on #242
Great! Thank you.
Can I take a project running in lizmap 2, put it in lizmap 3 and seed the cache for lizmap 2?
In other words, are lizmap caches compatible between version 2 and 3?

[2016-01-21 12:58] antoine373 commented on #242
Hello !
I tried your documentation proposal to prebuild cache and I encoutered some problems.
First of all I cleaned up all my cache folders and files related to my lizmap project and then I laucnh the command describe in the link above :
- It's write new folders and files in the same directory (\tmp\ [repository] \ [project] \ [layer] \ [SRC] \...), so it's seems doing good work.
- However when I

[2016-01-21 17:22] nboisteault opened #243 "Issue with 'group as layer' and WMS layers"
Lizmap web client 2.12 / lizmap plugin 2 / QGIS server 2.8.4

I have 2 WMS layers in a group.
I check the checkbox to directly query the external WMS server for both.
I select 'group as layer' for the group.

Now when I want to display the group as layer, lizmap doesn't query the external WMS server but lizmap server.

I looked map.js at line 523, we have :

[code]

The group has 'layer' type and

[2016-01-25 09:28] jaitor1 commented on #240
Perfect I will, thank you.

[2016-01-25 09:28] #240 closed

[2016-01-25 13:21] #241 closed

[2016-01-25 22:27] gioman opened #244 "On mouse over html in abstract is not correctly rendererd (but is ok in information panel)"
Lizmap 3 Beta 3:

if you add html to layers abstract (in both Lizmap plugin or QGIS layer metadata) then is rendered ok in lizmap web client information panel, but in the balloon that shows when hovering the layer name the html is rendered as plain text.

Also a suggestion: it seems redundant now to see the same abstract in both the information panel and the balloon. Maybe an option to choose what

[2016-01-26 09:40] vincent-petale opened #245 "(SOLVED) collapse / expand the nodes in the tree legend"
Hi,
first of all, many many thanks to 3Liz for this plugin which allows me to publish my info on the web, without developping, it's a pleasure to use !

I'm not keen on modifying the codes, but I have a question,
by default all my groups appear expanded on the legend, but because I have a lot of items, I'd like to choose which one is expanded or not, is it possible ?

On the Qgis plugin, I of cour

[2016-01-26 11:11] mdouchin opened #246 "Display features count in layers legend when activated in project"
Following new QGIS Server feature
https://github.com/qgis/QGIS/commit/f27e6c27b55c3292da81bfd209d3e1156f73f529

Could be done whenever the layer is configured with this option in the QGIS project, or we could add an option to avoid "noise" (when the user has activated this option in the project, but does not want to be activated server side)

[2016-01-26 14:22] jaitor1 opened #247 "Error when editing layer from view"
Hi,

I created a new postgis updateable view (with insert, update and delete triggers). If the layer is edited from QGIS de data is edited ok.

If I edit the data from Lizmap I get:

![image](https://cloud.githubusercontent.com/assets/12136796/12582793/795bd88a-c43f-11e5-8cd7-dcefff90ef36.png)

I only edited one field and the geomtry of the polygon has not been touched.

I searched a little bit in

[2016-01-26 19:30] cristomoya commented on #175
Hey there:
I've been testing the application with the iphone and I have found a mistake. When the camera application is used to capture the photo does not work and does not come up photos. But when a photo downloaded or made another application is used if you do

[2016-01-27 14:29] jonnyforestGIS commented on #233
[UPDATE]
So i think the problem is the version of PHP in OSGeo4W (5.2.5).

I search for anwsers and i saw this github issue (https://github.com/picocms/Pico/issues/65):

You have to have PHP 5.3 installed to use the "__DIR__" magic constant: http://php.net/manual/en/language.constants.predefined.php To preserve compability with PHP 5.2 the developers would have to replace "__DIR__" with `dirname(_

[2016-01-27 14:34] rldhont commented on #233
Hi @jonnyforestGIS

We don't recommend OSGeo4W because PHP and Apache packages was not updated for years.

You can test Lizmap on Windows with your own APache and PHP installation, or help for update Apache and PHP OSGeo4W packages.

[2016-01-27 14:43] jonnyforestGIS commented on #233
Hi @rldhont, thanks for the answer.
I will try to speak with osge4w maintainers to see what is needed.

It's possible with a separate apache installer with php works fine with QGIS Server? The QGIS

Server works independetly or it's necessary configure apache for QGIS Server configurations?

Regards
João

[2016-01-27 14:48] rldhont commented on #233
You can use a separate Apache with Php. You don't have to install the OSGeo4W Apache and PHP packages to use QGIS Server on Windows.

[2016-01-27 14:49] jonnyforestGIS commented on #233
OK @rlhont.
Another thing do you need help in the documentation, translation, tutorials or in lizmap?

[2016-01-28 11:48] vincent-petale commented on #245
OK, solved !

The layers in the map have an attribut "expandAll" by default , we need to change it in "collapseAll" :
-open "map.js" in /www/lizmap/www/js/
- line 1804 we find the "function createSwitcher()" block
- add this line to close the block :
}).collapseAll();

Moreover, if we want only one group (or subgroup) to stay expanded, we just need to to add this line after the block
$('#layer-Nam

[2016-01-28 12:50] nboisteault commented on #245
It would be better not to modify map.js because you'll have to take care of it when you'll update lizmap web client.
It is better to add some javascript this way : http://docs.3liz.com/fr/publisher_guide/advanced_lizmap_config.html#adding-your-own-javascript

[2016-01-28 14:31] vincent-petale commented on #245
Bonjour,
oui c'est effectivement une remarque pertinente...

Je veux bien faire la modif mais le lien que vous me donnez pointe sur l'aide de la version 2.12, et je suis en beta 3.0beta1

... mais cela ne change rien, mon clic droit est toujours actif

Avez-vous une idée ?

Merci

[2016-01-28 16:33] jonnyforestGIS commented on #233
[Update]
Hi,
@rldhont  I use stack builder from PostgreSQL to install a different version of Apache2.4.18/PHP5.5.31-1.

Some notes:
This new versions of PHP, don't bring sqlite.dll so it's is need to compile and made the pecl extensions. As alternative, i use the pgsql driver to create the information tables of the jelix instalation wizard.

I run the install.php and followed the wizard and now wo

[2016-01-28 16:51] nboisteault commented on #245
Ca fonctionne en 2.12 aussi.
J'ai utilisé cette fonction sur ce site : http://etiage-dordogne.fr/
Le code injecté est ici : http://etiage-dordogne.fr/lizmap-web-client/lizmap/www/index.php/view/media/getMedia?repository=epidor&project=Epidor&path=media%2Fjs%2FEpidor%2Fextend.js

En espérant que ça vous aide.

[2016-01-29 11:31] rldhont commented on #233
Hi @jonnyforestGIS

Thanks for yout tests. You can contribute by updating the documentation:
https://github.com/3liz/lizmap-documentation
And I think you can describe the steps for installation on windows with the PostgreSQL stack:
https://github.com/3liz/lizmap-documentation/tree/master/source/admin_guide/installation

---
The GetPrint request can fail because of HTML in the composition. To verif

[2016-01-29 11:46] jonnyforestGIS commented on #233
OK :+1: @rldhont
I hope to see you in Girona :) Until then i will try to help to give feedback and update documentation.
Can i use github for feedback or do you want another way of communication?

[2016-01-29 19:20] mdouchin commented on #245
Hi
Have you activated the right in the admin panel ? See documentation: "you allow it, through the Lizmap admin interface, adding the privilege “Allow themes for this repository” in the form for the modification of the repository"

[2016-02-01 11:10] vincent-petale commented on #245
Hi,
yes I did.

@nboisteault : J'ai résolu le problème en créant un répertoire avec le nom de mon projet dans /js , et non dans /default

Merci encore pour votre aide et bonne suite

[2016-02-01 11:10] #245 closed

[2016-02-01 11:30] vincent-petale opened #249 "Use .svg"
Bonjour,
je me confronte à un nouveau problème, je n'arrive pas à faire apparaître mes symboles svg sur ma carte.

Merci d'avance pour votre aide

[2016-02-01 11:40] mdouchin commented on #249
Bonjour,

Pour ce genre de questions sur l'utilisation de l'outil, merci d'utiliser un forum, par exemple ForumSIG : http://www.forumsig.org/tags.php?tag=lizmap
Nous pourrons y répondre, ainsi que d'autres personnes connaissant bien QGIS et Lizmap.

Les "issues" de Github sont là pour gérer les bugs et les nouvelles fonctionnalités. Elles doivent être écrites en anglais pour que l'ensemble des uti

[2016-02-01 12:31] vincent-petale commented on #249
ok pardon, j'ai republié sur GeoRezo.
Bonne suite

[2016-02-01 12:31] #249 closed

[2016-02-02 16:23] cristomoya commented on #242
I have an error `

[2016-02-04 16:17] jonnyforestGIS commented on #233
[UPDATE]
Reminder:
Apache 2.4-18/PHP 5.5.31-1 (Stack Builder PostgreSQL) - Used as Document Root for LizMap WebClient-master.

Apache 2.2/PHP 5.2.25 (OSGeo4W Installer) - Used in LizMap configuration in WMS Server link.

Global Results Using the PostgreQL Apache/PHP version:
- Run the installer of LizMap Client Master - :+1:  (without extension sqlite, i use the driver pgsql and create a database

[2016-02-04 16:20] rldhont commented on #233
You can use php instead of curl if you update the lizmap configuration.

[2016-02-04 16:55] jonnyforestGIS commented on #233
it's strange because, i don't change this parameter. In admin lizmap configuration, i have by default php. but he try to call the curl in both cases giving the same error pointing to service.classic.php.

[2016-02-08 13:52] pieri70 opened #250 "Javascript execution in popup"
Hello everybody
we are testing Lizmap 3 beta. Making some test on using simple javascript in popup personalization we saw that no result comes from popup execution.
Is there any block on javascript execution in Web client?
Is it possible to enable js execution in popup?
Thanks
Pietro

[2016-02-08 14:12] geoek commented on #236
@antoine373 : Hi Antoine, did you find a solution for this issue ? I have still the same behaviour, and it prevents me to use the integrated layers.

[2016-02-09 09:56] jaitor1 opened #251 "Migrating lizmap data when upgrading version"
I am planning to upgrade my current Lizmap 2.11beta5 to the last 2.12.3.

Is there any way I can migrate my users, permissions, repositories?

Or do I have to manually add every user, premission, create repos, etc?

[2016-02-09 10:01] nboisteault commented on #251
All you need is here :+1:
http://docs.3liz.com/en/admin_guide/installation/linux.html#version-upgrade

[2016-02-09 12:25] jaitor1 commented on #251
Thanks for the info!!!

[2016-02-09 12:25] #251 closed

[2016-02-09 13:51] mdouchin commented on #250
Hi,
See documentation here : http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#adding-your-own-javascript

[2016-02-09 13:57] pieri70 commented on #250
Thank you!
We will test and report.
Pietro

[2016-02-10 10:29] rmarzocchi84 opened #252 "Problem with duplicate layers"
I have a GeoTIFF raster file that I try to visualize in two groups using different title and name.

QWC works fine, Lizmap webclient visualize only the layers in the first group. It is a known bug or I do something wrong?

[2016-02-10 10:45] nboisteault commented on #252
Can you give us links to QWC and lizmap?

[2016-02-10 11:02] rmarzocchi84 commented on #252
Lizmap:
http://www.gishosting.gter.it/lizmap-web-client/lizmap/www/index.php/view/map/?repository=gter&
project=mappa_interventi

QWC (has a problem with the startextent but if you zoom out you can
correctly see the layers):
http://www.gishosting.gter.it/qgis/site/qgiswebclient.html?map=/home/gter/progetti/mappa_interventi.qgs

Il 10/02/2016 11:45, Nicolas Boisteault ha scritto:

--
Eng. Roberto M

[2016-02-10 11:10] rldhont commented on #252
Hi @rmarzocchi84
The lizmap config does not have references about your layers in the 'interventi consigliati'. You have to update your Lizmap config with the Lizmap plugin and push it to the server.

If you update your QGIS project, don't forget to update the lizmap config.

QWC only depends on QGIS project.

[2016-02-10 11:21] rmarzocchi84 commented on #252
OK! sorry, you are right when I change the name of the layers in the secodn group I did not update the lizmap config. :-(

R

[2016-02-10 12:39] rmarzocchi84 commented on #252
The mutually exclusive group option can be reproduced also in Lizmap?

R

[2016-02-10 12:45] gioman commented on #252
see also https://github.com/3liz/lizmap-web-client/issues/37

[2016-02-11 10:46] geoek opened #253 "Lizmap 3: change layer style"
I'd like to use this new feature but there is no documentation.
I have created two styles for my layer in Qgis (2.8).
When i use the "Change Style Layer" button in Lizmap, my style list is correctly displayed, but i cannot select one.
I try to save the style (qml file) in data repertory, without success.

If this feature is implemented, could you explain the process to use it ?

Thanks in advance.

[2016-02-14 19:54] ilamarengo opened #254 "issue in the metadata abstract"
Hi,

i am using lizmap3 and for each layer i have in QGIS project I am adding an abstract in the metadata section provided by lizmap (see figure). However, although i add the html code for starting and ending a paragraph, the setting it is not "memorised" by lizmap once i publish the project. Precisely what lizmap is struggling to do is to save the setting permanently. in fact, if i reload the QGI

[2016-02-14 22:29] gioman commented on #254
see also https://github.com/3liz/lizmap-web-client/issues/244 (?)

[2016-02-15 00:42] ilamarengo commented on #254
@gioman you are right, thanks. It is the same problem logged into #244. This issue can be closed. Apologies.

[2016-02-15 00:42] #254 closed

[2016-02-15 09:22] antoine373 commented on #236
Hi geoek, I didn't find any solution !! I'm still unable to explain this behaviour...

[2016-02-15 09:33] rldhont commented on #236
Hi @geoek and @antoine373,

It's probably a QGIS Server issue. Has you test a GetPrint Request directly on a QGIS- Server ?
If the result is the same in Lizmap and QGIS Server, the issue comes from QGIS Server.

[2016-02-15 09:37] rldhont commented on #253
Hi @geoek,

You just have to create 2 styles in QGIS and stored it in the project, no qml file needed. The 2 different styles has to have different names.

But I don't know if QGIS Server 2.8 has implemented this feature.

[2016-02-15 09:39] rldhont commented on #252
Hi @rmarzocchi84, not yet.

If you're interested in it, follow #37

I close this issue because the new discussion is a duplicated one and it's different from the title.

[2016-02-15 09:39] #252 closed

[2016-02-15 09:42] rldhont commented on #247
Hi @jaitor1, Thanks for report this issue. Is it the same as #108 ?

[2016-02-15 09:46] rldhont commented on #243
Lizmap can't query a group as an external WMS server because a group is not a True layer.
If you use Group as layer, you probably want that QGIS server merges layers, isn't it ?
If not, why did you do this ?

[2016-02-15 09:49] rldhont commented on #242
@antoine373 You have to update rights on temp folder. You probably build the cache with an other user than the one used by your server.

[2016-02-15 09:50] rldhont commented on #242
@cristomoya there is an issue in the documentation, `-f` is not supported for capabilities command.

[2016-02-15 10:01] pieri70 commented on #250
Ok, it works as expected!
Thanks

[2016-02-15 10:02] rldhont commented on #239
H @slarosa and @JogicPogic, did you test in LWC 3Beat3 ?

[2016-02-15 10:04] rldhont commented on #238
Hi @lionelbargeot take a look at the Jelix 1.6 documentation:
http://docs.jelix.org/en/manual-1.6

Do not use PDO for Postgresql connection:
http://docs.jelix.org/en/manual-1.6/db/configuration#postgresql-profile

If you think it's useful, you can update the Lizmap documentation:
https://github.com/3liz/lizmap-documentation

[2016-02-15 13:07] slarosa commented on #239
@rldhont tested 3.0b3 (fb79094), unfortunately the issue still persists for me :(

[2016-02-15 14:38] geoek commented on #253
Thanks a lot.
You' re right. It's because this feature is not implement in server 2.8 while it was add in Qgis 2.8 (or 2.6).
Another reason to update its server ...

[2016-02-15 15:25] rldhont commented on #250
Great, I closed this question reopen if needed

[2016-02-15 15:25] #250 closed

[2016-02-16 15:57] antoine373 commented on #242
@rldhont Thank you !
It was indeed a problem with rights on temp folder. As i prebuild cache with "root" user, I had to update rights to my server user.
Now I can say that it's possible to prebuild cache with lizmap 3 and then use it in lizmap 2 !

[2016-02-17 10:07] pieri70 commented on #238
Hello
I'm also interested in this solution.
If you find a way to handle Lizmap roles and credentials in postgres I'll be grateful if you share your solutions.
My only concern is about changes to do on database structure with lizmap WC upgrade. Are they radical and frequent with lizmap changes or the db is almost static as structure?

Thanks
Pietro

[2016-02-17 10:11] mdouchin commented on #238
Hi pietro.
It works indeed, and we use this storage for some of our projects. Since lizmap v3, updates will be handled automatically by Lizmap. When needed, Lizmap will create the new columns or new tables to modify the structure.
Users tables will not change much.

We will try to improve documentation to help with this

[2016-02-17 10:12] pieri70 commented on #238
Super!
Let me know when the documentation will be available.
Thanks!

[2016-02-17 17:23] pcav opened #255 "TypeError: layerConfig is undefined (WMS external layer)"
With WMS external layer, if noLegendImage is False, the project hangs. Toggling it to True solves the issue, but the undelying problem is that LizMap does not correctly construct the GetLegendGraphic url with this type of layer.

[2016-02-18 10:15] nboisteault commented on #243
I did that to have 3 different external WMS layers in a group and showing them one by one based on scale.

[2016-02-18 10:15] nboisteault commented on #255
It is also the case for GetFeatureInfo.

[2016-02-23 14:22] nboisteault opened #256 "Permalink breaks WFS, GetLegendGraphics and GetFeatureInfo"
Lizmap WC : 2.12.1
QGIS Server : 2.8.4

Original interface : http://carto.smiddest.fr/
Permalink : http://carto.smiddest.fr/?zoom=1&lat=5632187.18223&lon=-68734.72743&layers=00000000BFFFFFFFFFFFTFTFT

With permalink, a '%3Fzoom%3D1' parameter is added in WFS, GetLegendGraphics, GetFeatureInfo and GetMap URL. It breaks all URL but not GetMap one.

[2016-02-23 16:28] nboisteault opened #257 "Update google maps version and parameter"
In master we have a javascript warning :
"RetiredVersion, SensorNotRequired: https://developers.google.com/maps/documentation/javascript/error-messages"

Looking at [documentation](https://developers.google.com/maps/documentation/javascript/error-messages) we can see that we should now have :

https://maps.google.com/maps/api/js?v=3&key=mykey

or

https://maps.google.com/maps/api/js?v=3.22&key=myk

[2016-02-23 16:33] nboisteault commented on #257
Here is pull request : https://github.com/3liz/lizmap-web-client/pull/258

[2016-02-23 17:03] nboisteault opened #259 "Error tiles are cached"
This issue is close to https://github.com/3liz/lizmap-web-client/pull/258

Sometimes the first request for a tile is timeouted so we have a nice pink tile.
These wrong tiles are cached and shown again when queried. 404 requests should not be cached.

[2016-02-28 15:35] ilamarengo opened #260 "how to add logos of sponsors in Lizmap header?"
Hello,

this is not an issue but a question.
i am relative new to Lizmap (i am using the 3.0beta3 version) and i had a look a the documentation on line to see if it was explained how to add other logos, e.g. project sponsors or partners, along with that one of Lizmap in the header (see image below).
I didn't find anything so it is possible to have some advice? Alternatively, it would be possible t

[2016-03-01 10:28] josemvm opened #261 "base layers"
Hi,

How can i set the default base layer for a project? is it possible?

Thanks

[2016-03-03 10:58] stuggi05 opened #262 "Ability to collapse / expand Layers at startup"
Hi everybody,

is there any possibility or option in lizmap plugin to set the layer tree at startup as collapsed?

[2016-03-03 11:03] jaitor1 commented on #262
+1

[2016-03-03 11:11] geoek commented on #262
See https://github.com/3liz/lizmap-web-client/issues/245

It is not via the plugin, but it works !

[2016-03-03 14:21] jaitor1 commented on #247
Looks like it could be the same issue, yes.

[2016-03-03 15:00] nboisteault opened #263 "Speed up rendering by caching images and not context"
I think rendering could be speeded up by caching generated images and not serialized context files.
In extra bonus we could then use better image compression than QGIS which has to compress on the fly.

[2016-03-03 15:01] stuggi05 commented on #262
THX, it works!

[2016-03-03 15:11] stuggi05 commented on #261
+1

[2016-03-04 08:25] nboisteault commented on #261
This issue is related to : https://github.com/3liz/lizmap-plugin/issues/30

[2016-03-08 08:51] jancelin opened #264 "lizmap3 bug when a layer is empty"
Hi,
if I ask a postgis layer without entity in qgis2.14 then the web project will not start

 error.log:
file_get_contents(http://127.0.0.1/cgi-bin/qgis_mapserv.fcgi?map=%2Fhome%2FRUCHER.qgs&amp;request=GetCapabilities&amp;servi$ /var/www/websig/lizmap/modules/lizmap/classes/lizmapProxy.class.php     87

Array to string conversion      /var/www/websig/lizmap/modules/lizmap/classes/lizmapOGCRequest

[2016-03-08 14:59] jancelin opened #265 "lizmap3 bug: sort by value the relational value don't work"
reHi,

In lizmap3beta, sort by value the relational value don't work.

[2016-03-08 15:15] jancelin commented on #265
Working with this:

https://github.com/3liz/lizmap-web-client/compare/master...jancelin:patch-2

-      if(strtolower($this->formControls[$fieldName]->valueRelationData['orderByValue']) == 'true')
+      if(strtolower($this->formControls[$fieldName]->valueRelationData['orderByValue']) == '1')

[2016-03-08 16:42] mdouchin commented on #265
Thanks a lot for reporting this bug
I just pushed a commit to fix it. We need to keep 'true' and '1' to be compatible with different QGIS versions.
See  e1737206a1f6ba785fb57633e1f788f526eeddaa

[2016-03-08 16:42] #265 closed

[2016-03-08 17:34] rldhont commented on #204
Correction faîtes pour la futur 3 avec le commit bbc138200ad9fd79f11a2570c22f5176524a5172 [BUGFIX] Update Z_INDEX_BASE after layersadded

Reste à backporter

[2016-03-09 09:19] #262 closed

[2016-03-09 17:01] rldhont commented on #204
Fixed in 550d204

[2016-03-09 17:01] #204 closed

[2016-03-09 17:14] rldhont commented on #257
#258 has been merged

[2016-03-09 17:14] #257 closed

[2016-03-09 17:15] rldhont commented on #259
Which tile is timeouted ? A one comes from QGIS-Server ?

[2016-03-09 17:28] rldhont commented on #256
I think the problem comes from the way you do the redirection. You probably add project and repository parameter not after the '?' but before it and also with a '?'.

Can you review the way you do the redirection, thanks.

[2016-03-09 23:18] josemvm opened #266 "locate by layer doesn't work for number fields"
Is it a bug or a feature?...

Thanks

[2016-03-10 08:11] nboisteault commented on #259
Yes from QGIS Server I think. When request to Postgis is too slow.

[2016-03-10 08:16] rldhont commented on #259
Ok, which lizmap web client version ?

[2016-03-10 08:36] gioman commented on #266
se also https://github.com/3liz/lizmap-web-client/issues/112

[2016-03-10 08:49] stuggi05 commented on #261
It works, THX!

[2016-03-10 09:03] nboisteault commented on #256
This my virtualhost :
`<VirtualHost IP>
        DocumentRoot /var/www/html/
        ServerName www.etiage-dordogne.fr
        ServerAlias etiage-dordogne.fr
        DirectoryIndex lizmap-web-client/lizmap/www/index.php/view/map/?repository=epidor&project=Epidor

</VirtualHost>`

I don't understand why zoom parameter is added but not the other parameter.
I'll take a deeper look at how correctly con

[2016-03-10 09:10] nboisteault commented on #259
Lizmap web client 2.12.1

[2016-03-10 09:13] mdouchin commented on #256
Hi,

I think you should change your virtual host DocumentRoot to point directly to Lizmap www folder, such as

[code]

With this configuration, you won't need any DirectoryIndex option.

Please be aware you need to delete the content of the Lizmap temp/lizmap folder, to clean lizmap installation, for example with

[code]

Then you can reload Apache.

[2016-03-10 09:15] josemvm opened #267 "media folder doesn't accept symbolic links for files"
message: no media file in the specified path

[2016-03-10 09:17] nboisteault commented on #261
You're welcome.

[2016-03-10 09:22] josemvm opened #268 "zoom to coordinates in the search box"
i supose that's possible to search with Google (API) by geographic coordinate system... but not (yet)...

[2016-03-10 09:24] nboisteault commented on #256
It didn't work. With that config how can lizmap be aware of what lizmap project he has to load?

[2016-03-10 09:31] rldhont commented on #256
I think you can use the mod_rewrite to rewrite your URI.

[2016-03-10 09:34] rldhont commented on #256
I found this:
[code]
here http://wiki.apache.org/httpd/RewriteQueryString

[2016-03-10 14:26] #255 closed

[2016-03-14 07:06] pcav opened #269 "WMS version response"
AFAICT,
https://github.com/3liz/lizmap-web-client/commit/1cbae753b089ee5702448e6b3909ceb19688a47d should be backported to 2.* series.
Thanks.

[2016-03-14 17:59] mdouchin opened #270 "Singletile layers are requested twice at startup"
In demo projet Montpellier, for example, layer Quartiers is requested 2 times.
I tested it with a dedicated project with 4 singlet tiled layers, and there are 8 getMap requests sent at startup.

Then when the user zooms in or pan, layers are correctly requested only once per layer.

@rldhont  It seems the map container size changes during startup, which triggers OpenLayers to requests the layer im

[2016-03-14 18:04] mdouchin opened #271 "Singletile layers are asked wich a ratio of 1.5 which increases image size and server load"
For layers with singleTile option to True, we should use a ratio of 1 (or 1.1) to decrease a lot the image to be rendered by QGIS Server, downloaded from server, and displayed in OpenLayers.
By default, if not specified, OpenLayers requires an image 1.5 times bigger

We just have to add a

[code]

in layer configuration (around line 882 of map.js ) when singleTile is on

This would lead to perform

[2016-03-15 09:30] haubourg commented on #271
Thanks for this. Just tested right now, and it works. On my screen image requested was WIDTH=2474&HEIGHT=1501
and now is
WIDTH=1690&HEIGHT=900
. I get image almost twice faster on client side if data is on sqlite (6s vs 3.5s).
With postgres provider with all metadata request overhead, the gain is almost nothing (we keep around 12s by request).
Could that be commited in core?

[2016-03-15 09:38] haubourg commented on #271
More tests:
on postgres test base I sent you (more simple, with table and now need to request data to get metadata), We have time response from 6.5 s with large area against 5 or 5.5 s on smaller area.

[2016-03-15 09:39] mdouchin commented on #270
fixed in 60c6d4b7c71b55e2445dc4520c9804f3d6a97c53

[2016-03-15 09:39] #270 closed

[2016-03-15 10:07] mdouchin commented on #271
@haubourg  Done in last commit 0c185b505401340f38b5c05103ad4848656ea578
I will review other performance improvements in other issues, and with focusing on your data
I will close this issue.

Thanks for pointing this 1.5 ratio out.

[2016-03-15 10:07] #271 closed

[2016-03-15 10:08] mdouchin commented on #271
@haubourg See another morning commit 60c6d4b7c71b55e2445dc4520c9804f3d6a97c53 related to issue #270

[2016-03-15 10:15] haubourg commented on #271
Nice,
tested here and it speed up thing too!

[2016-03-18 09:30] haubourg commented on #239
Hi, same issue here with yesterday's master.
Cheers Régis

[2016-03-18 09:32] haubourg commented on #239
tested with a 2786 rows dataset from postgis. json is import correctly in qgis though (with no geometry)

[2016-03-18 09:39] haubourg commented on #239
reducing table to less than 2000 rows works here

[2016-03-18 09:52] mdouchin commented on #239
Since QGIS Server did not have a way to get only a set of feature ( via an OFFSET parameter) before 2.14, we chose in first approach to get the whole content of the layer data and process it in javascript afterward.

@rldhont added recently the possibility to add an OFFSET in WFS request. We will then be able to paginate the attribute table content server side

At present, it depends a lot of
* th

[2016-03-18 10:26] haubourg opened #272 "document syntax to filter fields shown in atttribute table"
Hi, not sure if it is a bug or a feature request:
 I could'nt find a working syntax for masking fields on attribute table. A tooltip would be sufficient.
I tried those syntaxes :
`field1,field2`
`field1, field2`
`field1;field2`

each time, this lead to a non functional attribute table.

[2016-03-21 09:50] haubourg opened #273 "[feature] allow editing update/delete if primary key is not a serial"
Hi,
currently in 3.0beta, editing is only allowed if primary key is a serial, which is good for inserts and newcomers. Anyway, this kills database model if we want users to only be able to update values (or delete).
Is the reason for this is that there is no edit buffer and error message raising from DB up to the user?

[2016-03-22 10:17] pieri70 opened #274 "Project with Materialized view don't start"
Hello
I am testing Lizmap with materialized views.
data on Postgis/postgres9.4 debian server, lizmap 2.11 and beta3 on debian server.
Qgis server 2.14

I made a simple materialized view, to reproject and simplify a set of feature, like this
***********
CREATE MATERIALIZED VIEW webgis.region_3857 AS
 SELECT region_3045.id,
    st_multi(st_transform(st_simplifypreservetopology(region_3045.geom, 200:

[2016-03-23 07:05] pcav opened #275 "Min scale not honoured"
If I define min scale for the map at 2000, the zoom with google base layer goes down to 1280. This is inconvenient, as it requires an extra zoom level (19) that was in principle excluded by the config.
See for an example:
http://lizmap.faunalia.eu/index.php/view/map/?repository=faunalia&project=pontedera

[2016-03-23 08:24] nboisteault commented on #275
From what I understand and see on your map, you want the min scale to be 2257 and not 1128 (I can't see 1280). Or do you also want to have min scale 2000 available? In this case extra zooms which are not integers would be needed.

[2016-03-23 08:27] pcav commented on #275
I set minscale to 2000, so I would expect to go down to 2257. 1128 is unwanted.

[2016-03-24 19:26] ilamarengo opened #276 "adding a webaddress to the information page"
hello,

i am using lizmap3 and i have noticed that once the qgis project is published online there is an icon for information "i". by clicking on it a new window opens and i can recognise the information i provided in qgis when setting the OWS page of the project.
I tried to replace the http://myserverIP/cgi-bin/qgis_mapserv.fcgi with a url that links to another webpage online and with surprise i

[2016-03-26 19:45] josemvm commented on #275
Hi Paolo,

how did you insert a "permalink" (hyperlink) on the rigth up corner of the map area!?

[2016-03-26 19:51] pcav commented on #275
It's a standard feature of recent Lizmap, I believe.

[2016-03-26 22:59] josemvm commented on #275
Yes, you're right. i didn't notice that...
Thanks

[2016-03-31 15:57] rldhont commented on #269
fixes by commit 9fc817ed7e32068ee796a449ec6e869100053ddc
reopen if needed

[2016-03-31 15:57] #269 closed

[2016-03-31 16:00] rldhont commented on #263
Images are cached if it's defined in configuration.

Can you be more explicit in the type of caching you'd like:
* client/web cache
* server side cache

[2016-03-31 16:04] rldhont commented on #260
You can do it with a simple theme.
it's documented http://docs.3liz.com/en/publisher_guide/advanced_lizmap_config.html#creating-simple-themes
You can enhance it here https://github.com/3liz/lizmap-documentation

[2016-03-31 16:06] rldhont commented on #264
It's not a lizmap but a QGIS Server issue.
Reopen if needed

[2016-03-31 16:06] #264 closed

[2016-03-31 16:09] rldhont commented on #267
hi @josemvm can you be more explicit ?

[2016-03-31 16:14] rldhont commented on #274
hi @pieri70

If your project has been created with QGIS 2.14, this issue is probably due to shortname not supported by Lizmap Web Client.

We have fixe it for 2.12 and 3beta. the next release should work. Can you test directly from source version ?

[2016-03-31 16:17] nboisteault commented on #263
I mean server side cache.
I see files like : /lizmap-web-client/cache/pnrlg/lizmap_pnr_lg/ABC_Enjeux_Faune/EPSG_3857/lizmap___1/lizmap___10/lizmap___102/lizmap___102a/lizmap___102ad/lizmap____4a3856edb956787be5830bf5b4ac779a.cache

It is serialized data files I guess.

[2016-03-31 16:23] rldhont commented on #263
no it's image cache
if you add .png or .jpeg at the end of the file you can open it as an image.

What are you waiting for ?

[2016-03-31 17:17] josemvm commented on #267
hi rldhont!,

i have my installation on linux.

if i set this link "media/SGO.pdf" in Lizmap plugin/Layers/Selected item settings/Link, the Open documentation for the layer works fine.

if the SGO.pdf isn´t a real file but represented by a symbolic link this error message appears "no media file in the specified path" and de SGO.pdf document will not open.

thanks

[2016-04-01 06:39] pieri70 commented on #274
Hello
thanks for response
Sorry for the mess..
The materialized view not showing was a port restriction imposed by our IT managers..
I saw it was a problem common to all layers taken from new postgis server..
Opening 5432 for lizmap server/postgis server made my project working again.

pietro

[2016-04-01 07:40] nboisteault commented on #263
When I change to png, I have an invalid file.
What I'd like to do is to compress more with pngcrush for example as I think QGIS doesn't compress at maximum level because it has to build image quickly.

[2016-04-01 08:41] josemvm opened #278 "export layer to GeoJSON"
hi,

after export a layer to GeoJSON format, i'm trying to load it into qgis desktop (2.14 or old versions) but only the attibute table is imported, the geometry doesn't appear!...

thanks

[2016-04-01 09:39] nboisteault commented on #278
If you open your file it in a text editor do you see geometry data?

[2016-04-01 09:55] josemvm commented on #278
hi Nicolas,

yes i can see the geometry information about my 2 points:

{"type": "FeatureCollection",
 "bbox": [ 16846.937499, -96437.8984385, 17288.093751, -95938.187499],
 "features": [
  {"type": "Feature",
   "id": "ponto_inicio.15",
 "bbox": [ 16849.12242977, -96435.41695063, 16849.12242977, -96435.41695063],
  "geometry": {"type": "Point", "coordinates": [16849.12242977, -96435.41695063]},

[2016-04-01 11:53] nboisteault commented on #278
Do you have a projection? Look at "crs" or "srs" in your file.

[2016-04-01 13:13] rldhont commented on #274
Hi @pieri70,
Does it mean that you open port 5432 and fixe this issue ?
Can you close this issue if it is fixed ?

[2016-04-01 13:16] rldhont commented on #112
Fixed by commit 99fc1ca

[2016-04-01 13:16] #112 closed

[2016-04-01 13:27] #266 closed

[2016-04-01 14:05] josemvm commented on #278
in fact the GeoJSON exported file throught the LizMap doesn't contain srsName/EPSG information unlike GML exported file... i must set the right projection after loading in QGIS.

is it expected to be so?

thanks

[2016-04-01 14:09] nboisteault commented on #278
I don't think it is expected, it should be a bug.

[2016-04-01 14:27] haubourg opened #279 "login from a map does not redirect to the map"
When login from repository project list, ther is no problem.
When logging from a map, I have a bad redirection, project parameter seems absent from url.  I get the error 500.
Tested on master branch revision 50534df

[2016-04-02 11:12] mdouchin commented on #278
Lizmap uses QGIS Server WFS request to export the data. I close this bug here because it is related to QGIS Server, not Lizmap which only acts as a proxy. Please report in qgis-dev mailing list and open an issue in hub.qgis.org with data to help reproduce it.

[2016-04-02 11:12] #278 closed

[2016-04-03 17:40] #279 closed

[2016-04-03 18:09] josemvm opened #280 "locate by layer tool"
the locate by layer tool no longer display/highlight the geometry in Version 3.0 Beta3!?
it only displays a rectangle around the geometry?...

[2016-04-03 22:29] ilamarengo opened #281 "wrong way to display paragraphs in the legend abstract"
this issue has been raised once by #Gioman and hopefully it will be considered as enhancement for the next version of lizmap.
I noticed that with the 3.0beta3 version the divisions of the paragraphs in the abstract of each layer is disregarded when hovering the mouse over the layer names.
example:
instead of:
file created in 2012
the source of data is "Xyz"

you get
file created in 2012 the source